[2018-06-03 12:47] Neo2003 opened #429 "7925 keeps reconnecting every 35/50 secs"
Hi

I use chan_sccp with asterisk for years.
Lately, I had one phone dead (a 7921) which I replaced with a refurbished 7925.

My setup is very small to cover a home: 2 * 7962G + 1 * 7975G + 1 * 7925

While the 7925 has no apparent problem I see lots of disconnection events in logs and it seams to consume the 7925 battery fast.

**Reproduction Steps:**
My sccp.conf (with lines removed) : https://pa

[2018-06-04 09:41] hfroliveira opened #430 "Conference start from AMI Action or CLI"
Hello,

After reading the documentation about [conferences](https://github.com/chan-sccp/chan-sccp/wiki/Conferencing) we have been able to setup conferences correctly using Cisco phones.
I would like to know if is possible to send an AMI action or a CLI command to start a conference call, something like the "Conf" key on the phone does.

By inspecting the available CLI conference related commands

[2018-06-05 16:51] Neo2003 commented on #429
2 days laters, ports are at 4880+ and still increasing:

[Jun  5 18:47:37] NOTICE[9507]: sccp_session.c:648 sccp_session_device_thread: SCCP: Closing session because connection timed out after 31 seconds (ip-address: 192.168.10.254:2000).
    -- SCCP: Accepted Client Connection from 192.168.10.87:4883
    -- SCCP: Connected on server via 192.168.10.254:2000
  == Spawn extension (maison, 100, 4) ex

[2018-06-07 19:58] DarrylHon commented on #429
@Neo2003 I wonder if this could be an Cisco AP config issue. On the 7925, in the WLAN Config settings, try setting "Call Power Save Mode" to NONE. (defaults to U-APSD/PS-Poll)

[2018-06-11 17:37] Neo2003 commented on #429
Thanks for the suggestion @DarrylHon, but it's still the same behavior after changing this setting.
Problem is that after days, it seams to cause asterick to hang.
In the meantime, do you know a way to force a phone reboot every 24H ?

[2018-06-12 00:36] DarrylHon commented on #429
@Neo2003 Oh too bad, I remember observing similar behavior when the handset connected to any AP without U-APSD WMM during our early testing.
Is your handset running the latest firmware? If so, then maybe the issue is outside of asterisk/chan-sccp.
We have a lone eval unit here and it's fairly stable.

[2018-06-13 16:12] PhantomVl commented on #429
You should pay attention to the parameter in sccp.conf
[general]
keepalive = 60 (sec)

You may also need to add the following parameters to the configuration file :
<cnf.xml>
<connectionMonitorDuration>[=keepalive*0.75] </connectionMonitorDuration>
 <srstInfo>
      <name>OFF</name>
      <srstOption>disable</srstOption>
      <userModifiable>false</userModifiable>
      <ipAddr1></ipAddr1>

[2018-06-16 10:53] Neo2003 commented on #429
Many thanks @PhantomVl it works !!
Now the phone is not connecting on 2 ports, but only 1 connection and no more timeout of the 2nd not managed one.
Here is the final cnf.xml file which works properly with a 7925G
https://pastebin.com/tnc0vU2V

For information, can you elaborate a bit on what the section <srstInfo> is?

[2018-06-18 16:39] PhantomVl commented on #429
The possibility that your airnet will intercept connections from 7925. It is a functional from Cisco that provides operation of remote systems. Disabling this feature in the configuration will save you from unexpected problems.
If you use freepbx you should be interested in web add-on : https://github.com/PhantomVl/sccp_manager

[2018-06-25 03:39] AccessDG commented on #410
I'm having the same issues I think... I compiled and loaded the 410 branch but am still getting the same errors...

[2018-06-24 20:22:58] WARNING[5484]: sccp_session.c:1062 sccp_session_check_crossdevice: Session(0x7f00680240e0) and Device Session(0x7f00680235a0) are out of sync.
[2018-06-24 20:22:58] WARNING[5484]: sccp_actions.c:825 handle_register: SEP001B0CDB0D0F: Cleaning previous session, co

[2018-06-25 08:59] PhantomVl commented on #410
In the current version of sccp, after you reboot asterisk, you must reset the token on the wireless phones.

[2018-06-25 11:10] AccessDG commented on #410
These phones are 7941's and 7961's...

[2018-06-25 11:17] AccessDG commented on #410
When I tried to use tokenack I got this error:

Maybe its because the phones arnt wireless.... egardless, it stil doesnt fix my issue

[2018-06-25 13:42] PhantomVl commented on #410
This solution is only for 792x phones....

[2018-07-10 06:05] S199pWa1k9r opened #431 "I do not have video calls between SCCP phones."
Hi All!

I have three phones Cisco CP-8945
Two in the SCCP version and one in the SIP.
I use ASTERISK 13.21 with fixes from http://usecallmanager.nz/patching-asterisk.html

**asterisk version:**
ast*CLI> core show version
Asterisk 13.21.1 built by root @ ast.kubsu.ru on a amd64 running FreeBSD on 2018-07-10 06:12:28 UTC
ast*CLI> sccp show version
Skinny Client Control Protocol (SCCP). Release: 4.2

[2018-07-16 18:39] xrioann commented on #431
I have the same problem (also described here: https://sourceforge.net/p/chan-sccp-b/mailman/message/36351368/).

[2018-07-29 19:54] Ian-morin opened #432 "Hold Ring back/reminder"
Is it possible to implement a hold reminder. I haven't seen it anywhere in the configuration files.
But it would nice if there was an audible tone after the line has been on hold for a minute.

[2018-08-02 12:06] stoyanmarinov commented on #428
I have the same issue. @marek-cerny did you find a solution for it?

[2018-08-18 13:37] ostridge opened #433 "Question how make load = chan_sccp.so to be persistent in fpbx modules.conf"
[Short description of problem here]
In Asterisk 13.22.0  + freePBX GUI ver. 13.0.120.10 The /etc/asterisk/modules.conf is autogenerated - so Where do I add the line ' load = chan_sccp.so ' in order for it to be persistent.
**Reproduction Steps:** https://github.com/chan-sccp/chan-sccp/wiki/FreePBX_Installation
Step 4
1. [First Step] worked thro /chan-sccp/wiki/FreePBX_Installation to step 3
2. [Se

[2018-09-17 11:39] Fedor114 opened #434 "Call Forward and Transfer buttons are missing"
Hi!
We are unable to add cfwdall and transfer buttons.
cfwdall and transfer byttons are enabled in keyset but there is an empty place insted of buttons on phones. We use ip phones CISCO 7965, 7975, 7942 - we have the same problem on any device of this model.
Can anybody healp please.

Thanks in advance.

Fedor

[2018-10-06 13:34] ger-pakon commented on #428
Hey, I've got the same Issue. Two Asterisks a trunked via IAX2. Calls from the secondary Asterisk to its local phones (via SIP) have ever double ringbacks. Calls from the secondary Asterisk to other SIP providers have never  double ringbacks.

Thanks,
Pakon

[2018-11-19 01:05] CRCinAU opened #435 "Unable to build against Asterisk 16.0.0"
When trying to build against asterisk 16.0.0, I get the following errors:

[code]

The compile summary is as follows:
[code]

[2018-11-19 01:10] CRCinAU commented on #435
This basic patch fixes the issue - however I figure this will need to become some kind of conditional to support multiple asterisk versions:

[code]

[2018-11-23 12:07] mpaland opened #436 "Drop support for old (<13) asterisk versions"
The [version table](https://wiki.asterisk.org/wiki/display/AST/Asterisk+Versions) shows the actual supported asterisk versions.

IMHO the code can be simplified by dropping support for anything below asterisk version 13.

It is not adviseable at all to use any asterisk version smaller than 13 by now, cause they won't get any security fixes anymore.

[2018-11-26 01:35] #435 closed

[2018-11-26 01:36] dkgroot commented on #435
@CRCinAU
Thanks for reporting the issue. The main issue was that ast-16 was not yet detected by the configure script and did not have it's own ast116 files. This has been fixed now.

[2018-11-26 02:08] dkgroot commented on #430
Currently there is no buildin command start an sccp-conference (neither via CLI or AMI). You could of course send the appropriate SoftKey using an xml-push, but that's not very nice (but it might help you for now).
Can you tell me a little more about your intended use-case for this. If you want to start and 'empty' conference, with only one moderator device in it, that may be doable. Scripting the

[2018-12-03 19:41] sdstorts opened #437 "Record feature works in one direction only"
When placing or receiving calls on a 7945/7965 Cisco phone with sccpfeature (monitor) enabled on the second line, the recording only works for the channel the call was placed from.

Reproduction Steps:

    [Place call from phone with Record(monitor) sccpfeature as second button on phone, then press the record button.]
    [Place call to phone with Record(monitor) sccpfeature as second button on p

[2018-12-14 12:17] #127 closed

[2018-12-14 12:17] #395 closed

[2018-12-15 01:46] xrioann commented on #431
I was testing a few versions. Seems that video functionality was working until version 4.1.0 and broken with 4.2.0

[2018-12-23 16:47] #427 closed

[2018-12-23 18:42] #420 closed

[2018-12-23 18:43] dkgroot commented on #420
Sorry it took so long to get this merged.

[2018-12-23 18:54] dkgroot commented on #308
This issue seems to also have been resolved by merging #420

[2018-12-23 18:54] #308 closed

[2018-12-23 19:03] dkgroot commented on #428
@marek-cerny We should be able to figure this out together. Either by doing a "git bisect" (which is pretty simple and fast). Or finding the causing indication in sccp_indications.c. There are a couple of points where we generate ringing tones (using sccp_dev_starttone), so should be pretty easy to figure it out.
Can you give me a hand with this ?

[2018-12-23 19:12] ger-pakon commented on #428
Hey @dkgroot,

I may also can give you further information.

Best,
Pakon

[2018-12-23 21:41] dkgroot commented on #428
BTW: Also logged in on [gitter](https://gitter.im/chan-sccp/chan-sccp), if you have any questions !

[2018-12-23 23:10] dkgroot commented on #432
@Ian-morin
There is currently no implementation for that. There is a flag in the cnf.xml called  <callHoldRingback>1</callHoldRingback> but currently there is nothing implemented to support that to be honest.
I am not really sure what setting that flag in the cnf.xml will produce on the chan_sccp side to be honest (have not tried). It might be simple to implement or could be pretty hard.
Maybe you

[2018-12-23 23:47] rolakron opened #438 "Some outgoing calls are quiet."
Some outgoing calls are quiet.

If I call i.e. time info *60, the call is quiet, phone however shows that the call is answered. If I make a outgoing call to an external number (i.e. mobilephone) I don't hear any call progress tones (ringing tone) but when the call is answered I can talk normally.

But when I press Hold and then Resume the sound starts coming thru.

Version: 4.3.1
Asterisk verson:

[2018-12-24 00:30] rolakron commented on #438
My settings in sccp.conf are:
disallow=all
allow=alaw
allow=ulaw
allow=g729

earlyrtp=progress

[2018-12-24 01:15] dkgroot commented on #438
Ok that sounds ok, do the codecs match up to your other channel driver (same order) ?
What happens if you set earlyrtp to dialing or ringout (is earlier) ? Does that change the behaviour in a way you expect. Did you try the latest develop git revision ?

[2018-12-24 02:06] dkgroot commented on #438
You can set "sccp debug core, channel, indicate, rtp, pbx" and just see if you notice anything in the debug stream that might show the issue with codecs not matching for example.
You can also add "rtp set debug on" to see when rtp is starting to flow on your system. This could help to show if it is an earlyrtp issue or a codec matching issue.

[2018-12-24 02:33] rolakron commented on #438
I enabled debugging and this is what I got when i dialed the number to listen to a radio channel on the phone. The radio channels worked before but are quiet now.
" SEP0023331C1276: (sccp_pbx_softswitch) channel SCCP/1474-00000009 is dialing number 2002
    -- SEP0023331C1276: Set asterisk state Ring (4) for call 9
    -- SEP0023331C1276: Asterisk prodded channel SCCP/1474-00000009.
    -- SCCP/14

[2018-12-24 03:35] dkgroot commented on #438
The interesting thing about the first example is "Using codec: No codec(0)" during Proceed. And "Using codec: No codec(0)" when the call is being CONNECTED. This is very wrong and we certainly need to fix that. I will have to do some tests to see how to reproduce this behaviour over here (Little hard in my lab setup).

The github pull is recent you say, does that mean today, or a couple of days ag

[2018-12-24 04:38] rolakron commented on #438
I did also notice the "No codec"-thing. I didn't test to call the *60 time info, but I assume that it will cause the same issue as well. You can also set up one radio stream reachable via an extension number for testing purposes.

The last one (that is installed now) gives me 95868a58, but I cannot see the older ones (that did work) at all, as I did delete the directory after I compiled the code.

[2018-12-24 04:45] dkgroot commented on #438
I don't live in the US (guess), so *60 doesn't mean anything to me :-) I am guessing you mean the time and weather services you can reach over the phone (right), my development/lab server is not connected to pstn/sip connection though. I will figure something out though.

Ok that means that 9586a5 does entail a recent regression that i will have to figure out. I will look into it and see what i ca

[2018-12-24 05:06] rolakron commented on #438
Ah, sorry for the confusion. :) No, I don't live in US either, the *60 time info is a part of the system. But I'm unsure if it is a part of Asterisk or FreePBX, it's hovever not on the PSTN. I have not configured that part. I can provide you the dial plan for the radio stations?

However, with earlyrtp = ringout, then the radio stations do work (but no ringing tone on outgoing external calls, as e

[2018-12-24 05:13] dkgroot commented on #438
Thanks for the example. Aah you are just listening to MusicOnHold, that's easy to reproduce. Funny that you are answering the call, so it's not like the "This call costs xxx per minute" message you would get from a pstn/sip connection during Progress/Proceed.

What does a call to an outside line look like in debug ? Maybe i will spot the difference. I may have to roll back issue #420 (again) which

[2018-12-24 05:44] dkgroot commented on #438
Ok so earlyrtp=progress works just fine when using it during normal calls. But only reaching the "radio" station gives a problem... right?

Just as a little test. Can you change your dialplan example to:
[code]
Just curious if that would change matters and would work with "earlyrtp=progress". If it does it will give me a headstart fixing this later today.

I am also a little perplexed by your debu

[2018-12-24 06:17] rolakron commented on #438
With the latest chan_sccp the radio channels and the speaking clock are quiet with earlyrtp = progress.
And I don't either get ringing tone on a external call.

Oh, the last part is added here by accident, I struggled with the handset and isn't really relevant for this. Sorry for that. :P

I feel I have to sleep now, I can try to take a look at it tomorrow.

[2018-12-24 06:32] dkgroot commented on #438
did you try my little change to the dialplan, to see if adding progress() in front of answer() makes a difference ? Would be belpfull to know if your checked.
If you are already in bed / asleep, then i will recheck myself :-)  I should have been asleep 7 hours ago :-)

[2018-12-24 13:33] dkgroot commented on #438
@kbstechnologies
- Is that in anyway related to the rtp issue mentioned above ?
- If this is a seperate issue, then please create/open a new issue report. And include a example of sccp.conf with this "sccp user id" in it. I am not really sure what you mean by "sccp user id"

[2018-12-24 14:38] dkgroot commented on #438
@rolakron
I created an issue branch called "issues/438" for you to test. Please do:
[code]
And run your test again (using earlyrtp=progress).

FYI: I was able to reproduce the issue using your little dialplan excerpt. And just for your info, inserting Progress() before Answer() resolved the issue on my system, which gave me a headstart in finding the cause and fixing it.
Please report back if the

[2018-12-24 15:15] rolakron commented on #438
Ok. I can test that. But will be with a little delay from my side, I'll possible have time to test it out tomorrow.
BTW, night time is the best time to get some work done. ;)

[2018-12-24 16:01] dkgroot commented on #438
I already had Alexey test it for me. So you can skip my previous instructions. Patch will be merged in the develop branch in a couple of minutes... That also closes this issue automatically.
if you find it does not work correctly tomorrow (working on christmas ?? ) Then just reopen this issue and let me know.

[2018-12-24 16:09] dkgroot commented on #438
Thanks for reporting the issue and helping me out, to figure out the cause !!

@kbstechnologies please report your issue in a seperate issue report

[2018-12-24 18:17] dkgroot commented on #428
@marek-cerny @ger-pakon @stoyanmarinov
Can you do a test with the current develop branch, just to make sure the issue is not already resolved using the latest changes (issue #420, #308, #410 and #438 were fixed and merged). Before we start on a quest to solve it.

[2018-12-24 19:49] dkgroot commented on #438
:-) Hopefully the issue is fixed for you, and there are no further nasty surprises. That would be a nice ending of the year :-)

[2018-12-24 21:43] marek-cerny commented on #428
Hey @dkgroot. It's great to have you back!

I am not at the office these days to do some thorough testing (as this particular issue requires physical access to the phones). But a very quick test at my home mini-pbx shows that the issue indeed does not happen any more with current develop branch (dbcb927).

For now, you can either close the issue, or keep it on hold until further confirmation. I'll

[2018-12-24 21:52] rolakron commented on #438
Ok. I have tested on another system now, the speaking clock seems to work with earlyrtp = progress, but when I place an external call (in my case to my mobilephone) I still don't get any call progress tone, but the mobilephone rings. Sound is coming thru when I answer the call and works as intended in that way. I may have to point out that the call progress tone (ringingtone) when i call my mobile

[2018-12-24 23:42] kbstechnologies commented on #438
I was only bringing it up because the behavior was similar by the description.  If you are interested in it then I will open it as a new issue I just wrote it up as a limitation adjusted my code to compensate and moved on.

On Mon, Dec 24, 2018 at 7:33 AM -0600, "Diederik de Groot" <notifications@github.com> wrote:

@kbstechnologies

Is that in anyway related to the rtp issue mentioned above ?
If

[2018-12-24 23:46] dkgroot commented on #438
@kbstechnologies
I like to keep issues seperate, so if there is something, open a new one :-)

I still don't fully understand the issue you were trying to report, nor what "sccp user id" you mean.

If you that some of the sccp.conf parameter have a max length, then i fully agree that is the case. Not all strings are unlimited in length. If you want to check how long a string can be, you can use th

[2018-12-25 01:05] rolakron commented on #438
Thanks for the comments in the log.
I can confirm that the phones and the server is on the same network/subnet , so Nonat is a correct assumption. I can check tomorrow and compare the logs from the working configuration and the one that is not working correctly.
I can test your sample configuration and see what results I get.
The busy-tone is played by Asterisk (also in the working configuration)

[2018-12-25 04:32] dkgroot commented on #438
This raises an interesting point. The patch merged a couple of days, was related to fixing some of the issues regarding directrtp handling, and this might be a negative side effect of it. The TRY Partial part is related to one side of the call using directrtp (or trying to) and the other side not supporting it.

Question1: Is this from a sccp->sip-trunk call or from the radio example ?
Question2:

[2018-12-25 04:38] rolakron commented on #438
It's a SCCP-phone placing an external call over a SIP-trunk.
I haven't tried setting directrtpsetup=yes yet on the trunk, I'm going to test that.
I can pull and test that to see what we get.

[2018-12-25 06:20] dkgroot commented on #438
That's strange i don't see any of the debug lines i added in "issues/438_1". At least one extra line should have appeared after ```(asterisk113_get_rtp_info) Asterisk requested EarlyRTP peer for channel SCCP/3001-00000005```. Did you checkout the correct branch (438_1) ? Did you set "sccp debug core, channel, pbx, rtp, codec, indicate." (the rtp flag is the one that is required to show the extra a

[2018-12-25 07:06] rolakron commented on #438
I copy-pasted your commands, but I will check again later today and make shure that I have the correct version/branch.

[2018-12-25 08:56] ger-pakon commented on #428
Hey,

i've just tried the newest branch. *Should* be fixed, now, but i've hadn't enough time to test it very well.

Maybe someone else has a little bit more time to test it :-)

greetings,
Pakon

[2018-12-25 17:18] dkgroot commented on #438
The debug samples you gave have different ip-ranges, so these are completely different machines and phones (right) ?

I have figured out a way to reproduce the issue, so that's good.
I also found a location in the source which i can revert to a previous situation which makes everything work. Which means startMediaTransmission as soon as the openReceiveChannel has been opened, but the whole point o

[2018-12-25 17:20] dkgroot commented on #428
@ger-pakon
I also ran into the issue on one of my systems, which made it a little easier for me to fix it and test it. So it should be ok. Let's close the issue for now.
Thanks all of you for reporting/testing and being quite patient !
Merry Christmas !

[2018-12-25 17:48] dkgroot commented on #438
No matter, i was finally able to reproduce the issue (Had to set up a sip trunk etc etc...). This is always the biggest hurdle for me to cross. Once i am able to reproduce the issue, i don't have to stare at endless pieces of supplied debug (with strange ip-addresses which it is hard for me to reason about ) :-).

[2018-12-25 17:56] rolakron commented on #438
I know what you mean. It's always easier (and way faster) to have the faulty system available when there is need to troubleshoot something.

[2018-12-25 18:16] ger-pakon commented on #428
@dkgroot

Thank very much you for your work and merry christmas.

Greetings,
Pakon

[2018-12-25 19:01] hhornung opened #439 "Merge branch 'issues/pickupcontext_per_line' into develop (typing error)?"
I think there is a typing error in /src/sccp_config_entries.hh

line 216 "directed_directed_pickup_context" should be "directed_pickup_context"

otherwise message appears:

[2018-12-25 19:43:09] NOTICE[13379]: sccp_config.c:2762 sccp_config_getConfig: Config file 'sccp.conf' loaded.
[2018-12-25 19:43:09] NOTICE[13379]: sccp_config.c:706 sccp_config_object_setValue: SCCP: Option Description: contex

[2018-12-25 21:57] #439 closed

[2018-12-25 21:58] dkgroot commented on #439
@hhornung Thanks a lot for noticing this and reporting it. Issue has been fixed now :-)

[2018-12-25 22:00] dkgroot commented on #428
@stoyanmarinov
Same to you :-)
I noticed some of the double progress indications as well. I am currently working on #438 which deals heavily with Progress/Proceed indications, so i am sure i will get around to it.

[2018-12-26 13:33] dkgroot commented on #438
@rolakron
Current Analysis:
 - The current develop branch (and 438_1 for that matter) removed the starting of rtp sending by the outbound phone during earlyRTP. This makes sense, because it only has to listen and it does allow us to more easily adapt to changes in later stages.
 - This does has a negative side effect though, if there are any firewalls an route they could block incoming RTP. We are

[2018-12-26 16:07] dkgroot commented on #438
@rolakron
You can either store the sample in a file name "patch-file" in the chan-sccp root directory (not in the src dir). and use
```git apply --reject <patch-file```
Or you can simply got into src/sccp_channel.c and make the small change yourself.
I have not made a commit out of it, to keep the history clean.

[2018-12-26 16:12] dkgroot commented on #438
@rolakron It might help to also sign in to out [gitter chat](https://gitter.im/chan-sccp/chan-sccp) to help speeding up the issue handling a little :-)

[2018-12-27 16:20] rolakron commented on #438
Ok, nice! I will test it at some point when I have time. :)

[2018-12-27 16:41] dkgroot commented on #438
I figured out a nice way to do it.
Briefly startmediatransmission to punch open bi-directional rtp flowing during early rtp
Once the first packet has been receive from the phone (and been transferred to the remote side),
the mediatransmission can be closed again until further notice. We makde sure the rtp port is
not closed though, so that it will remain the same.
You can forget about the patch i

[2018-12-27 16:54] dkgroot commented on #438
Debug:
[code]
Dialing a remote sip channel
[code]
Notive still using TRY_PARIAL
[code]
openReceiveChannelAck -> startMediaTransmission
[code]
startMediaTransmissionAck
[code]
One single RTP packet has been received by astersk from the phone. This packet is send through the firewall to the remote side
[code]
We can close media transmission now, because the firewall has been punched open by this sin

[2018-12-28 03:00] rolakron commented on #438
I will test that tomorrow! :) Thank you!

[2018-12-28 18:45] dkgroot commented on #438
(FYI: these commits with the repeated same name, are mainly because of rebasing on top of changes in the development branch (making merging later on a little easier), so don't worry about that).

[2018-12-29 17:48] rolakron commented on #438
I pulled the latest of 438_1 now and it seems to work as it should. I hear the call progress tones now when I call my mobilephone. Thank you! :)

[2018-12-29 20:11] dkgroot commented on #438
@rolakron
Happy to hear it works !

Note: I am still not 100% sure if what we're doing is the correct/right thing to do.

Old behaviour:
- On earlyrtp request
- Send OpenReceiveChannel to the phone
- On OpenReceiveChannelAck:
  - Transmit the new RTP ip-address to the remote end
  - Send StartMediaTransmission to the phone
  - On StartMediaTransmissionAck, asterisk would see the incoming RTP Packe

[2018-12-30 00:43] rolakron commented on #438
First test. I encountered som errors, the call disconnects immediatly after I have dialed the speaking clock (*60):
[code]

Here the error occurs:
[code]

[2018-12-30 01:11] dkgroot commented on #438
Ooh my this is the wrong order of events:
It should be:
Srv->Phone: OpenReceiveChannel (Request)
Phone->Srv: OpenReceiveChannelAck
Srv->Phone: StartMediaTransmission (Request)
Phone->Srv: StartMediaTransmissionAck

Under normal circumstances, OpenReceiveChannelAck handles the calling of StartMediaTransmission.
In an addition last week i accidentally changed this behaviour slightly during call_answ

[2018-12-31 12:43] hhornung opened #440 "error messages for each incoming call"
with the newest trunk I receive the following messages for each incoming call:
2018-12-31 13:24:11] ERROR[11660][C-0000000b] translate.c: Cannot determine best translation path since one capability supports no formats
[2018-12-31 13:24:11] WARNING[11660][C-0000000b] ast113.c: SCCP/sccp-00000003: Zero Native Codecs[2018-12-31 13:24:11] ERROR[11660][C-0000000b] astobj2.c: FRACK!, Failed assertion us

[2018-12-31 14:39] dkgroot commented on #440
- What was the previous revision you were using, before this one?
- I need a little bit more debug (context) to see where/when this is happening, can you collect some debug log (for one of these calls) with "sccp debug core, channel, pbx, codec, rtp" set.
- Can you try the "issues/438_1" branch to see if that resolves the issue (it is close to being merged).
[code]

[2018-12-31 15:19] hhornung commented on #440
I have installed 438_1 but the problem is the same:
[2018-12-31 16:07:28] ERROR[27085][C-00000012]: translate.c:1384 ast_translator_best_choice: Cannot determine best translation path since one capability supports no formats
[2018-12-31 16:07:28] WARNING[27085][C-00000012]: ast113.c:1193 sccp_wrapper_asterisk113_allocPBXChannel: SCCP/sccp-00000001: Zero Native Codecs[2018-12-31 16:07:28] ERROR[270

[2018-12-31 16:03] dkgroot commented on #440
OOh boy, that was just before #420 got merge (which i was a little afraid of). Please give me some extra info:
- is this a SCCP->SCCP call or does it involve another channel driver (if so, which one).
- What are your allow/disallow settings for the two sides ?
- I need the debug log for a single call, with "sccp debug core, channel, pbx, codec, rtp" to figure out the flow of events
Looking at the

[2018-12-31 17:00] sdstorts commented on #437
Just an update on this: I tried the update c95a6fc1a868f932f5ceffd3baa78b3b68314b73 and can confirm that this issue is not happening anymore.  Thanks so much for your help on this!

[2018-12-31 17:04] dkgroot commented on #437
@sdstorts thank you very much for reporting this back. Seems we are slowly moving in the right direction !

[2018-12-31 17:04] #437 closed

[2018-12-31 17:06] dkgroot commented on #436
Closing this 'issue' until further notice !!

[2018-12-31 17:10] dkgroot commented on #434
@Fedor114
Do the empty buttons have any effect when pressed ?
That is quite peculiar. It would require quite a bit of debugging to figure out what is going on in this case. Are you up for that ?
FYI: have you tried a clean install of chan-sccp and a factory reset of one of these devices ?

[2018-12-31 17:12] zipiju opened #441 "One way audio when call originates at SIP end (similiar to #420)"
Hello Diederik,

With the latest commit 05a12e6 there is one way audio when the call originates on alaw SIP end (alaw SIP end can hear SCCP g722 end but SCCP g722 end cannot hear alaw SIP end).
Calling from SCCP g722 to alaw SIP works ok.
Asterisk is showing two different codecs on one end and partial (one-way) translation on the other end, please see below.

I was on issues/420_1 branch for a whi

[2018-12-31 17:31] dkgroot commented on #441
@zipiju
Does issues/420_1 still work in this scenario ? If so i will check the difference between 420_1 and 420_2. Maybe i made a mistake merging the 420_2 branch instead. Hopefully the difference between branches are not to big.
I will try to check it out in the coming 1-2 days.

[2018-12-31 17:39] dkgroot commented on #441
Maybe you can also include the logging for a single call setup that fails (sccp debug core, channel, pbx, rtp, codec) i think that would help, once i get around to looking at it (1-2 days)

[2018-12-31 19:12] dkgroot commented on #440
[hhornung debug log](https://github.com/chan-sccp/chan-sccp/commit/05a12e6b324445a50d482b435b5eed12665ec8fc#commitcomment-31809373)
I see where it is going wrong, not 100% sure yet how. But it looks quite intriguing.

[2018-12-31 21:00] dkgroot commented on #441
Looking at the first bit of the debug log, this is the same problem reported in #440
I will focus on this first bit, to see how to resolve the issue.

If need be you can go back to revision:22e7f18fca, just before the 420_2 tree was merged in.

[2018-12-31 21:01] #441 closed

[2019-01-01 14:06] dkgroot commented on #440
- Found the comma (",") issue, which was just a typo.
- Fixed the issue where multiple lines are dialed at once, including an SCCP line that is currently not connected to a device (We should give up early on this one, continuing the probe).
- Fixed the issue reported in #441 where codec selection failed because of reduced preferences: returned "[]"
This should hopefully fix the fallout from mergin

[2019-01-01 17:12] hhornung commented on #440
I can confirm that the problem (#440) is fixed now :)
I wish you a happy new year and all the best!
ciao
Holger

[2019-01-01 17:13] zipiju commented on #440
I can confirm this fixed the one-way audio as described in issues/441.
Calling both ways with or without transcoding is now working, I've tried:
- SIP alaw to SCCP (C7965) g722 and the other way
- SCCP g722 to SCCP g722
- SIP g722 to SCCP g722 and the other way
- SIP alaw trunk to SCCP g722 and the other way

Thank you!

[2019-01-01 17:15] dkgroot commented on #440
Thank you guys, for testing this. I will merge it into develop (Which will dissolve the issues/440 branch) !

[2019-01-01 17:16] #440 closed

[2019-01-01 18:19] dkgroot commented on #438
I have done some more tests... And come to the conclusion that 9fa377e57 was not such a good idea. I have reverted that change and committed it.
I think issues/438_1 should now be working for you without the phones locking up after a number of calls.

[2019-01-01 18:41] dkgroot commented on #440
BTW: If you require earlyrtp=progress to work, you should have a look at issues/438_1, this will land in the "develop" branch shortly, when it has been tested / reported to work.

[2019-01-03 08:46] mscdex opened #442 "Missing voicemail updates from stasis"
I'm not sure if there is something that can be done at the chan-sccp level for this or not, but we recently upgraded from Asterisk 11.23.0 to 16.1.1 and we noticed that MWI was no longer being updated (consistently). After some debugging, it seems that the stasis subscriptions for mailboxes are only sometimes notified. For now, I've had to explicitly disable stasis support in config.h and use poll

[2019-01-03 22:58] dkgroot commented on #438
Rebased on "develop" branch (which already contains a partial fix to the earlyrtp issue)

[2019-01-04 03:53] mscdex commented on #442
I just compiled 353be6d7cb0cd7e6c63b9472a8c6a07b84afc054 and loaded it and I'm still seeing the same behavior unfortunately. Another extension calls, leaves a voicemail, MWI light comes on, dial VM, delete message, hang up, MWI light stays on.

[2019-01-04 05:14] mscdex commented on #442
After more digging it's interesting that AMI connections see the MessageWaiting event when the voicemail is deleted.

[2019-01-04 05:40] dkgroot commented on #442
To be honest before "fixing" the issue, i did not even check if i could reproduce the issue on my system.
I however was able to leave a voicemail, see the mwi light come on, then pressed the voicemail button, and listenend to comedian mail, pressed 7 to delete. hungup and the light went off. I only did two tests, but it looked like it worked and i was pleased with myself :-) Apparently to early.
C

[2019-01-04 05:45] dkgroot commented on #442
Can you perform a "sccp show mwi subscriptions" before leaving a voicemail, after leaving a voicemail and after deleting the voicemail. That might show that we do get the notification and handle it, but somehow skip switching off the light. Or that we don't get the deletion event at all (fyi there is no deletion event perse, we just get an update for the new/old vm count, and should adjust accordi

[2019-01-04 06:01] mscdex commented on #442
I will get it sometime tomorrow.

Right, I wasn't sure where the problem lies, but acknowledging that AMI sees the event (it subscribes to the same `ast_mwi_state_type()`, although in a different way) lets us know that the event is indeed being sent out.

I've checked and `sccp_mwi_event()` only gets called the one time, after the voicemail is left. After that it never gets called again. I tried v

[2019-01-04 07:14] mscdex commented on #442
The device is already registered a fair amount of time before I leave the voicemail message, so I am pretty sure the event emitted after the voicemail is left is not related to the sccp device registration event.

When we upgraded from 11 to 16, we did not touch our /etc/asterisk/*.conf files at all, although we did also update FreePBX (from 13 to 14), which may have made some changes on its own (

[2019-01-04 07:19] dkgroot commented on #442
I guess we will have to wait, until you have time to gather the sccp show output and the debug log and hope we will figure it out. Updating to things at the same time, always has the potential to bring surprises. I just copied the voicemail.conf & sccp.conf from asterisk-13 over, so zero change there :-)

[2019-01-05 04:36] mscdex commented on #442
Here is the information from develop@c1ff984 and Asterisk 16.1.1:

BEFORE VOICEMAIL LEFT
======================

[code]

VOICEMAIL BEING LEFT
====================

[code]

AFTER VOICEMAIL LEFT
====================

[code]

DELETING VOICEMAIL
==================

[code]

AFTER VOICEMAIL DELETE
=======================

[code]

[2019-01-05 04:39] mscdex commented on #442
It is a production installation. I noticed in one of the other channel drivers they do check the stasis cache first before calling out to the `inboxcount()` API. I'm assuming because `inboxcount()` hits the filesystem and is less efficient? Perhaps it would be a good idea to implement this in chan-sccp as well for when `inboxcount()` is called?

[2019-01-05 18:18] dkgroot commented on #442
@mscdex
We currently support the asterisk-1.6/asterisk-1.8 method using inboxcount (ie: polling), asterisk-11 HAS_EVENT method and the >asterisk-13 HAS_STASIS methods. We only do inboxcount if HAS_EVENT and HAS_STASIS are not available.

Can you do "manager set debug on" and leave + remove another voicemail. The AMI event should be inserted into the same debug stream so we can see that they are be

[2019-01-05 18:19] dkgroot commented on #438
@rolakron Reported back that "develop" seems to be ok now. Calling the issue closed. The issue will be closed later on, when i have checked if anything can be salvaged from the issue/438_1 branch.

[2019-01-06 18:02] hhornung opened #443 "warning in sccp_refcount.c (commit 1becc03)"
asterisk-version 13.24.1

  CC       libsccp_la-sccp_refcount.lo
In file included from common.h:43:0,
                 from sccp_refcount.c:41:
sccp_refcount.c: In function ‘sccp_refcount_find_obj’:
define.h:261:55: warning: initialization discards ‘const’ qualifier from pointer target type
         const typeof( ((type *)0)->member ) *__mptr = (ptr);    \

[2019-01-06 21:39] dkgroot commented on #443
@hhornung Thanks for reporting this slight regression, trying to figure out the best way to fix this one :-)

[2019-01-06 23:45] #443 closed

[2019-01-07 17:03] mmguglielmi opened #444 "Capture Group problem"
Hello to everybody!
I'm new in this group, and not very experienced in sccp channels.
Thanks in advance for reading

My PBX: Asterisk 11 (64 bits)
3 networks: phones, trunk, corp network
At first, I tried with SCCP stable version 4.2.3, and then updated to beta 4.3, and the problem persists.

I've a problem with transferences. Extension 100 calls to ext 101. Ext 102, press button "capture group",

[2019-01-07 17:46] dkgroot commented on #444
Hi Marco,

When you say "capture group" i am interpreting this as gpickup, am i correct ? You say the phones freeze, does asterisk crash, or is it just that one phone that does not react to further input ?

Please make sure you did a ```git clone https://github.com/chan-sccp/chan-sccp``` and you are currently on revision:d8bef763 using ```git log -n1```. That way we know we are looking at the same

[2019-01-08 08:46] mpaland commented on #431
http://usecallmanager.nz is a very cool site with lots of 79xx config information I didn't know.
Thanks for sharing this!

[2019-01-08 18:22] dkgroot commented on #431
@S199pWa1k9r @xrioann @davidded
Got inbound and outbound video working again in branch issues/431 :-)
Also updated the default resolution to the biggest possible (non-select-able for now)

[2019-01-08 18:23] dkgroot commented on #431
Doesn't mean you should switch to chan_sip+usecallmanager and never look back (I hope) :-)

[2019-01-08 18:48] xrioann commented on #431
Thank you Diederik, no worries about it taking time. Your work with sccp has helped me a lot with or without video calls. Will try it tonight hopefully!

[2019-01-09 00:38] dkgroot commented on #431
Major fix was required for sccp_config.c to be able to parse video codecs correctly. It previously caused a segfault when setting a video codec in global allow/disallow. That one has been resolved in the last commit.
We should be getting back on track regarding video :-)

[2019-01-09 00:39] dkgroot commented on #369
This one should be resolved in current develop branch.

[2019-01-09 00:39] #369 closed

[2019-01-09 00:41] dkgroot commented on #373
@marcelloceschia @davidded
Can you guys reproduce this issue ? Do you have a suggestion about how to resolve the issue.

[2019-01-09 00:42] dkgroot commented on #403
I can reproduce the issue now. Have not had time to look into a possible solution just yet

[2019-01-09 06:38] dkgroot commented on #442
@mscdex Maybe you can just attach an excerpt of your sccp.conf & voicemail.conf so i can recreate the issue on my local development system, that might speed things up a little.

[2019-01-09 14:10] mmguglielmi commented on #444
Hi Diederik
Thanks for your quick answer!

I've to reformulate my problem, because is wasn't well described before.

My OS es 32 bits

At first, I installed with SCCP stable version 4.2.3. At this moment, I'd a problem with transferences. Extension 100 calls to ext 101. Ext 102, press button "capture group" in the phone, and the PBX not response anymore. Phones get freeze. And I don't have any way

[2019-01-09 18:07] mscdex commented on #442
@dkgroot Here are the "full" files (only other extensions/devices removed):

[sccp.conf.txt](https://github.com/chan-sccp/chan-sccp/files/2742023/sccp.conf.txt)
[voicemail.conf.txt](https://github.com/chan-sccp/chan-sccp/files/2742024/voicemail.conf.txt)

[2019-01-09 18:23] dkgroot commented on #444
Hi Marco,
Can you show me the git revision you are currenty on ?:
[code]
Just to make sure we are looking at the same version/revision.
Please do use ```git clone``` as shown in a previous comment and not one of the old .tgz files.
(We should really clean that old stuff up, that might be confusing, sorry about that).

I have looked at the debug log, you attached. And it looks like you are using an

[2019-01-09 21:11] dkgroot commented on #442
Using your voicemail.conf i can reproduce the issue. Looking into it now

Note: when loading your config a couple of small errors/warnings are displayed (like maxsilence > minsecs for example), but this should not be the cause.

[2019-01-09 23:54] dkgroot commented on #444
@mmguglielmi
If you were already correctly using the github repo, you might have run into an problem with codecs which i accidentally created yesterday (not all the preferences you set, were included during config loading). I just commited a fix (6f46d1e) for that.
So a ```git pull``` should get you back on track.

[2019-01-10 01:46] dkgroot commented on #444
@mmguglielmi
If you were already correctly using the github repo, you might have run into an problem with codecs which i accidentally created yesterday (not all the preferences you set, were included during config loading). I just commited a fix (6f46d1e) for that.
So a ```git pull``` should get you back on track.

[2019-01-10 12:08] mmguglielmi commented on #444
Thanks a lot!
I'm using old .tgz file you mentioned. So, I'll start with git, and I tell you the result

[2019-01-10 18:17] dkgroot commented on #442
When the line is first created we subscribe to the stasis_event for mwi. And we even get the first event, but all subsequent events never seem to reach us. I still have not been able to figure out what is wrong. Several guesses:
 - Do we forget to flush the queue of event (doesn't look like it)
 - Are we subscribing to early, before the endpoint is actually registered (sounds reasonable, difficult

[2019-01-11 06:36] mscdex commented on #442
I just tried commenting out everything in [general] in voicemail.conf with develop@b553664, followed by a `voicemail reload`, and the MWI still doesn't go off after deleting a message. Very strange....

[2019-01-11 16:41] dkgroot commented on #442
@mscdex
I finally got it back into a working condition (tested under asterisk-13 for now, will run asterisk-16 tests later). Quite a bit of work was done (some functional, some cleanup). Not 100% sure why it is working now, but it does.
One addition the "sccp show mwi subscriptions" out put was extension to show the asterisk subscription uuid. Which you can use for "stasis statistics show subscrip

[2019-01-11 18:16] mpaland commented on #420
Hi @dkgroot ,
is/was this 420_1 branch already/really merged?
I'm using the develop version from Jan 07 and got one way audio problems again. 😞

[2019-01-11 19:08] dkgroot commented on #420
@mpaland Actually 420_2 was merged (in revision d0708a6) on jan 1 + some corrections afterward.
I have been doing quite a number of inbound/outbound calls both sccp-sccp and sip-sccp, and have not noticed one way audio.
If you are on the current revision and you still see the the issue, it might be a good idea to start a new issue (and link back to this one by mentioning it). That way we get a fre

[2019-01-11 20:14] mmguglielmi commented on #444
I've upgrated as you said, and voala!
It's working like a charm!
Thanks a lot for your support
Sorry by my mistake in the download

[2019-01-11 21:04] dkgroot commented on #444
Thanks for the update ! Closing this issue. Happy to help

Note: If you are running on a non-production/home machine, you can keep up to date by just doing ```git pull``` once every couple of days/weeks. On an actual production machine it's a good policy to run behind a couple of weeks and check the issues / git log before pulling. In a production environment i recommend having a staging machine t

[2019-01-11 21:04] #444 closed

[2019-01-12 00:53] dkgroot commented on #442
These latter commits are just some cleanup

[2019-01-12 05:01] mscdex commented on #442
I just tried issues/442@9e960fc and that seems to work with my limited testing. Thanks for working on this! I will chime in if I hear of anyone having any issues.

[2019-01-12 05:03] mscdex commented on #442
Oops, I spoke too soon. I noticed that while the handset light goes off, the indicator on the screen still shows a flashing envelope next to the line extension.

[2019-01-12 05:13] mscdex commented on #442
Also when I do a `sccp show mwi subscriptions` it still shows 1 new voicemail.

[2019-01-12 17:11] dkgroot commented on #442
I am already pretty happy that the event is arriving again...
The calculation of the number of # messages, taking shared line into account is somewhat messy (to say the least), and i might have messed one of them up while working on it.
Will have another look, thanks for the heads up !

[2019-01-13 19:18] dkgroot commented on #442
Most of the sccp_mwi.c is pretty ancient (ast-1.6.2) and shared line is complicating things quite a bit. I am thinking about an overhaul, to see if that:
- fixes the issue
- improves code readability/quality
- simplifies the implementation
It will take 1-2 days to finish though, hope you can bare with me.

[2019-01-13 19:30] mpaland opened #445 "Always one way audio on some incoming calls"
One way audio on incoming call. Caller can hear me, (outbound audio okay), but I can't hear the caller (no inbound audio).
Problem can only be observed on certain callers, but if they call, there is always one way audio (not randomly).
Other callers have no problems (works every time).
Assumption: It happens when calling party is wants/needs alaw codec.

**Further info**
Taking the call on a conne

[2019-01-13 19:33] mscdex commented on #442
No problem, polling with a short interval is working good enough for now.

[2019-01-13 21:59] dkgroot commented on #445
I guess i did not test the multiple destination scenario.
I think i know what is happening:
- The codec selection looks pretty good (which was what 420_2 was all about).
- Codecs (ie compressionType) is only one party of sending and receiving rtp though, there is also the assigned rtppayloadtype. In this case the outbound sip call has set this up as type "8". However skinny is using rtppayloadtype

[2019-01-13 22:39] mpaland commented on #445
@dkgroot, thanks a lot for giving feedback to this issue so fast.
As this is still related to #420, I close this, please reopen #420 for further tracking.
Sorry for creating trouble, again.

[2019-01-13 23:13] dkgroot commented on #445
No trouble at all, i think i am the cause of the trouble not you :-) (I thought i asked you to open a new one in #420). I just added a link to the other issue for reference). It is only partially related to the old #420 issue (AFAIK), same call, same one way audio, but a different reason :-) Continuing with a new issue and a partially new slate.

[2019-01-16 02:45] dkgroot commented on #442
@mscdex Just noticed a small memory corruption issue still left behind, so maybe skip the testing until i have had a look and fixed it.

[2019-01-16 12:05] mpaland commented on #445
Here is another one way audio trace with rtp information when calling from my mobile.
No inbound audio, outbound working fine.
For testing, I configured both 7975 phones like:
[code]
to make code negotiation simple.

[code]
So, instead of the (forced) alaw codec, slin is taken.

If I configure the phones like
[code]
I get:
[code]
This is okay, both endpoints support g722, which is taken.

[2019-01-16 13:04] mpaland commented on #445
And here is just another trace from the German *htp* provider, this time with
[code]
but still **only one way audio**. Which is really strange, because alaw codecs are selected.
[code]

[2019-01-16 18:59] dkgroot commented on #442
@mscdex Found and corrected the memory issue :-). Running some more tests, to check the mwi total count is correct.

[2019-01-16 22:41] dkgroot commented on #442
@mscdex As far as i can tell the new implementation is working. Can you give it a test run ? (FYI: still in the "issues/442" branch).

[2019-01-17 16:08] dkgroot commented on #445
@mpaland From reading the transcript of all three calls it should have worked.
- Call 1: It could have choossen alaw instead of the requested g722, to revent transcoding. But it did end up with transcoding which should have been working as well.
- Call 2: Looks ok
- Call 3: Here we do end up with alaw and no transcoding, but you are still having audio issues.

Things i noticed:
- In the RTP setup

[2019-01-17 23:16] darkponay commented on #442
Hi,
I have experienced the same problems with MWI. I have installed the latest version of Asterisk (16.1.1) and tried issue/442 as mentioned earlier.

`voice14*CLI> sccp show version
Skinny Client Control Protocol (SCCP). Release: 4.3.1 issues/442 - 733492fM (built by 'root' on '2019-01-17 21:50:13 UTC')`

Here are the steps of my test :
1. Check Asterisk and SCCP MWI count => 0 in each case.
2. C

[2019-01-18 02:18] dkgroot commented on #445
@mpaland
I have an initial fix, that seems to work on my system in branch "issues/445". Could you give it a try, just to see if it fixes the issue.
[code]
Note: not production quality yet, still some cleanup work to be done !
Also it currently picks any codec the other side has to offer and it might not be the best one. I have already figured a nice way/location to do that, but requires some more

[2019-01-18 02:32] darkponay commented on #442
Oh sorry, it's one of my first time with the command line. I come from XiVo/Wazo and then FreePBX (with your insanely great module). i will redo the same operations after issuing the debug command. I'll be back in 15 or 20 minutes, the time for me to set up everything.

[2019-01-18 02:58] dkgroot commented on #442
No problem.
BTW if you are referring to the [freepbx plugin](https://github.com/PhantomVl/sccp_manager), that was created by @PhantomVI :-)
I will be asleep by then, but will checkout you report in the morning !
A broken virtual machine is not as bad as real hardware i guess. Advice: when you have a VM, make snapshots often, so you can roll back easily.
Would love to hear more about your Xivo/Wazo

[2019-01-18 03:14] darkponay commented on #442
I'm doing the test now. It runs on Hyper-V so i have to be veeeery careful with snapshots and Linux... :D
I do the config manually, i've never been able to make it work with the realtime db, and dont really want FreePBX, i find it more complicated than editing some config files by myself as a beginner !

[2019-01-18 03:32] darkponay commented on #442
It's done !

https://pastebin.com/6cmnug71

[2019-01-18 03:42] dkgroot commented on #442
And here is the problem:
[code]
We update the device mwi calculations (sccp_device_setMWI), which is good, But we "forget" to call sccp_device_indicateMWI, so the result of the calculation is never shown. Should be pretty easy to fix, and i will give it a go tomorrow.
Already happy to see that the asterisk event is received correctly, and that the calculation is correct so far.

BTW: I have looked

[2019-01-18 03:55] darkponay commented on #442
No they told me they won't touch it anymore and they focus on their new REST APIs and web interface. They also explained me that is not required by their customers so it has a very low priority. I came to your program because i had a UC540 last year, and when you try the Shared lines, SLA and BLF, you can't go back ! I will go to sleep (i'm in France, it's almost 5am now). I came to Asterisk 16 af

[2019-01-18 19:00] dkgroot commented on #442
@mscdex / @darkponay
There were some more recent changes in asterisk-16 in the last 7 days, involving stasis and app_voicemail. I updated / Recompiled / Recompiled chan_sccp and Ran the following Test:

- Made sure all mailboxes were empty
- Restarted Asterisk
- Left two Voicemails:
  - Phone Lamp is On
  - Line Icon shows Voicemail Icon blinking
  - StatusMessage says "You have 2/0 voicemails"
-

[2019-01-18 23:50] darkponay commented on #442
Hi,
Just tested on my yesterday's machine : https://pastebin.com/BfTKr0yE
I can't test with shared line for the moment, i only have 2 phones available.

[2019-01-19 02:17] dkgroot commented on #442
I always use [asterisk git repo](http://github.com/asterisk/asterisk directly), i guess the tar.gz may not have been updated yet. Which would mean you are still on some older revision i guess. And you are only receiving "(mwi::pbx_mwi_event)" once, but you should be getting it for each and every voicemail change.

If you could pull the latest asterisk revision from the repo directly and check if t

[2019-01-19 02:20] dkgroot commented on #445
@mpaland Some time ago asterisk dropped support for setting a bridge handler on a channel via .bridge. I assumed that .earlybridge was also removed at that time, and removed that as well, in retrospect that was a mistake. Has been readded now, which should help with earlyrtp and directrtp issues.

[2019-01-19 12:31] darkponay commented on #442
It wooooorks!
https://pastebin.com/xVCcBSzm

Two messages leaved : Lamp+enveloppe+"2/0"
one deleted : Lamp+enveloppe+"1/0"
Last deleted : no lamp, no enveloppe, and bottom line cleared.

One caveat, i tested with mwioncall=off for the test. lamp stays on while calling voicemail, but it switches off when calling a phone.

[2019-01-19 19:17] dkgroot commented on #442
@darkponay
I guess you tested with the latest asterisk repo ast-16 revision (right) ? So that means there was a "little" bug in asterisk-16 instead of chan_sccp (and all the redesigning wasn't even necessary). Still like the new code a lot better, so we will be keeping it i think.

Pushed a fix for the mwioncall issue.

[2019-01-19 19:52] mscdex commented on #442
I don't see any commits since 16.1.1 that would affect this though. For stasis it was just printf and ABI fixes and for voicemail it was simply adding a missing channel variable for urgent messages. I haven't had time lately to try asterisk 16 head or the changes in here unfortunately.

[2019-01-19 19:59] dkgroot commented on #442
As soon as @darkponay updated to latest, everything started working again. Asterisk-16 started failing when the stasis_filter method was added (about 4 months ago if i am not mistaken). Not sure if we should investigate any further(i did try to find the cause, by looking at the asterisk diffs) to find out what is really behind the issue. Doing a git bisect on asterisk+chan_sccp is a little annoyin

[2019-01-20 00:55] mscdex commented on #442
I have not had a chance to try out the issues/442 branch lately. I downloaded from Asterisk 16.1.1 from the Asterisk website at the time, but it should be same contents as the release tarball from their github.

[2019-01-20 00:57] dkgroot commented on #442
I downloaded and compiled 16.1.1.tgz and will do some tests with it tomorrow. Hopefully we are all good to go, if not I will figure it out. Thanks for the update !

[2019-01-20 10:20] dkgroot commented on #442
@mscdex
When running 16.1.1.tgz (from gh releases page) i sometimes got the same behaviour where events would stop arriving. I have added a fix in 3f9cfb6. Next to the regular mwi events we also receive subscribe/unsubscribe events over the same event channel (even after having set the filter). On this events i now pull information from the stasis_cache and that seems to fix the issue (please don'

[2019-01-21 14:55] darkponay commented on #442
Hi,
just installed asterisk 16.1.1 from the tar.gz. then installed chan-sccp (develop ;-)) and checkout issues/442.

Here is the log (show version at start):
https://pastebin.com/VkRsTTbZ

Lamp, enveloppe and message stayed off all the time.

[2019-01-23 11:14] ianmca opened #446 "Transfer fails from incoming pjsip call"
I can't transfer an incoming SIP call, but a chan-sccp call transfers OK.

Reproduction is reliable for me... if i make an inbound call via PJSIP or via chan SIP into asterisk, onto an SCCP extension.
1. Answering the inbound call as normal is OK.
2. Press the Transfer button on a 7975 or 7965

Result.
The first call shows on the 7965 screen as if it is on hold.
The phone shows as if it is ready t

[2019-01-23 11:34] dkgroot commented on #446
@ianmca
I managed to fix the crash issue (that was a slight regression on my part). I was able to perform serveral transfers though without a problem using asterisk-16.1.1 (after committing the fix mentioned). Can you retest with the latest revision ?

[2019-01-23 12:19] ianmca commented on #446
Hi @dkgroot , I have attached the debug with hopefully debug set correctly. The nothing to dial - invalid number is exactly the behaviour i'm seeing, but i'm not getting an opportunity to enter in a number at all.

[debuglog2019-01-23-01.txt](https://github.com/chan-sccp/chan-sccp/files/2787170/debuglog2019-01-23-01.txt)

[2019-01-23 16:58] mpaland commented on #445
Further info: Dialing of any internal numbers like "42" (VM) or "*60" MOH test playback results in a crash:
[code]

[2019-01-23 19:56] dkgroot commented on #446
I think this is the clue i was looking for "Cannot transfer a dialplan application, bridged channel is required on SCCP/271-00000004" in line 154 of you log.
Now we need to figure out why you are seeing this and how i can reproduce this. Tomorrow, I will create a new branch called "issues/446" and add some debug statements, to figure out how it is your system gets to this state.

[2019-01-23 21:18] dkgroot commented on #445
Hi Marco, This last one was a stupid mistake on my part, i has been corrected this morning (assuming this was using the develop branch (right ?).

[2019-01-24 10:03] ianmca commented on #446
Thanks Diederik,

I’ll watch out for the branch and give it a run to get the debug..

I think bridging is working in general, because I have the 7975 set on G722 and a G711 trunk so there is definitely bridging and transcoding taking place in asterisk.  I had a bit of transcoding problems when I first installed – it seemed to struggle to negotiate any codecs that were listed in the general section

[2019-01-24 16:04] dkgroot commented on #446
@ianmca
FYI: This branch is asterisk-13 only (meaning it's only focused to fix the DIAL(SIP/123&SCCP/321) issue in asterisk-13) for the moment, once we find the solution, we can replicate the changes to the other asterisk versions. Also note that the codec selection issue that marco is having seems to be related to his SIP provider sending back Progress before Ringing, which alters the order of ev

[2019-01-24 16:08] dkgroot commented on #446
@ianmca Have not had time today, to look into this issue yet (sorry about that). It's curious that i was not able to reproduce the issue using asterisk-16 so far. I will let you know as soon as i have an update.

[2019-01-24 17:20] dkgroot commented on #445
Pushed a temporary for for the FRACK! issue.
Please let me know if the current version, fixes the one way audio you got before.

[2019-01-24 17:52] dkgroot commented on #446
@ianmca
Hi Ian,
I added a couple of lines of debug to figure out what is missing during transfer. Can you do
[code]
And run another test (with the same debug setting) please.

[2019-01-25 10:07] ianmca commented on #446
Hi, I've attached the debug log. Hope it helps.

[debuglog2019-01-25-01.txt](https://github.com/chan-sccp/chan-sccp/files/2795595/debuglog2019-01-25-01.txt)

[2019-01-25 16:32] dkgroot commented on #446
Hmmm, not as much as i had hoped :-( It does show the function that actually fails (namely: retrieving the bridged channel, which is the remote/opposite side of the call we are trying to transfer). It does however not explain why.
Little question: Which asterisk 16.1.1 version are you using (git clone -b 16 / git releases 16.1.1.tgz or asterisk-16.1.1.tgz from asterisk.org ? If i know which one, i

[2019-01-25 16:54] ianmca commented on #446
Hi,

I downloaded the 16.1.1 tgz from the asterisk website. I also tried the 15.7.1 tgz from the website and had the same result.

I’ll send you the pjsip.conf and sccp.conf privately. I don’t think it’s related to pjsip.conf because I tried moving from pjsip to sip and that didn’t make any difference. I don’t think there’s anything too private (no passwords etc.) so I’m probably OK to send you my

[2019-01-25 18:03] dkgroot commented on #446
Can you provide me with the url you used (maybe that would have been the better question :-))

[2019-01-25 18:10] dkgroot commented on #431
@xrioann Ok it's clear what's happening here. I older versions we only provided some video support when using the h264 codec. Only in this 431 branch i added h263 as a potential option, but i could not really test it, because the 8945 only supports h264.
Do you have `allow=h263` in your sccp.conf for this device ? If so, it's a little strange why it would not show up in the video preferences.

BTW

[2019-01-25 19:46] mpaland commented on #445
Hi Diederik,
yesterday I tested the latest branch version and you are right, the FRACK issue is not happening in every call, I thought it was my problem, but as you confirm it, it makes sense.
Calling/getting called with the htp provider does work now! alaw coded is selected. Very good! 👍

I tested your latest temp fixes in /445 today and the FRACK problem is gone by it.
Problem is still, that the

[2019-01-25 20:22] dkgroot commented on #445
Hi Marco,
Sorry it's a bit of a slow process, but we are making progress.
- [x] Codec selection on early progress, seems to work
- [x] Frack issue prevented (but not really solved, in the sense that it is not clear why this destroy was not allowed. The moment of the frack (after hangup) makes it hard to debug why a payloads_destroy at call setup is causing this.
- [ ] The dialing 42 in voicemail s

[2019-01-25 21:46] mpaland commented on #445
Hi Diederik,

locking the phone to the alaw codec doesn't change the DTMF issue.
[code]
dtmfmode" & "force_dtmfmode are both not defined in my sccp.conf, so it will be using the default, I guess.
I'm using a 7975 phone with the following setup:
[code]

I'm going to test your latest fix tomorrow. Great work so far!

[2019-01-25 21:57] dkgroot commented on #445
Ok thanks for the details... Will wait until you have tested the latest commit to see if something still needs to be done. I think the partial revert of the dtmf code, might already do the trick.

Toi toi toi

[2019-01-26 13:16] mpaland commented on #445
Hi Diederik,
I've tested latest abe16202b9961b3e291e0045f6b49320dac07151 and DTMF works fine again! Great!

I stay on this /445 version so far and would like to do/get some more phone calls for testing next week. If all works fine, I close this issue.

Getting closer to the next release! 🎉

[2019-01-26 17:31] dkgroot commented on #445
@mpaland
I created a temporary "issues/445_1" branch which implements the same behaviour as issues/455 with a minimal number of changes. It fixes the frack issue nicely/correctly. Can you please give this one a try, to see if it works exactly like issues/455 without any negative side effects ? If so, we can replicate it to the other asterisk and merge it.
I took this route as it was faster and did

[2019-01-27 12:20] mpaland commented on #445
Hi Diederik,
I updated to `issues/445_1`; DTMF is working, no FRACK issue. First impression is fine! 👍
But there seems to be a new issue concerning MWI, upon cleaning the inbox the MWI light stays on. I have to investigate this a little further...
Can test the htp provider not before tomorrow, cause today nobody is in. Keep you informed the next week. Again, thanks a lot!

[2019-01-27 15:33] dkgroot commented on #445
Hi Marco,
Super, that's good to hear.
The mwi issue is being handled in a separate issue (#442), was caused by a chang in asterisk and it is already fixed, just waiting for it to be tested/checked.
I will wait for your confirmation tomorrow. In the meantime i will replicate the ast13 changes in 445_1 to the other asterisk versions, so we are ready to merge this back to the main branch.
Thanks for

[2019-01-27 16:05] dkgroot commented on #442
@mscdex I would like to merge this new version (even if there are a small number of asterisk versions that it still does not apply to). Can you confirm that it works against the asterisk 16 branch correctly (even though 16.1.1 does not) ? If so we should be ok, by the time 16.1.2 is release (in 3-4 weeks).

[2019-01-27 16:06] dkgroot commented on #431
I will have to ask for @davidded assistance on the h263 codec,  because i think he has one of these tandberg/7985's as well.

[2019-01-27 23:08] dkgroot commented on #445
@mpaland If you have a pre-java phone (like 7960) hooked up to your setup, can you check if DTMF works correctly with it too (just trying to make sure), if not i would have to connect one and run some trials. I do have a patch in the pipeline, that might do a better job using skinny dtmf on these old devices (not committed yet).

[2019-01-28 10:37] ianmca commented on #446
Hi Diederik, I've tried building from
http://downloads.asterisk.org/pub/telephony/asterisk/asterisk-16-current.tar.gz

but i have also tried building against the latest asterisk 15 and the lastest asterisk 13, both downloaded off the asterisk website as .tar.gz files and they all give the same result.

Over the weekend I also installed the old version (asterisk 11) and a very old chan_sccp (2014-1

[2019-01-28 11:03] ianmca commented on #446
Hi,

I've also tried going back to an older release - i'm getting the same issue on release 4.2.3 of chan-sccp with asterisk 13.24.1, so it doesn't seem to be a particularly new problem.

[2019-01-28 17:09] mpaland commented on #445
@dkgroot, indeed I have an ancient 7960, reactivated it and flashed the latest SCCP firmware.
Can confirm that DTMF is working fine (with latest 445_1 branch).

FYI, I had a general INCOMING audio issue on a G524 phone (but not on 7970/7975). Upon the phone switched to any in-band audio (off-hook, dial a number etc.), there was an extremely loud white noise.
This is fixed by 445_1, too. DTMF is wo

[2019-01-28 20:02] dkgroot commented on #445
Great, will be merging this version tonight, which will also close this issue !
Thanks a lot for your help, detailed debug and testing !

[2019-01-28 20:06] #445 closed

[2019-01-28 20:11] dkgroot commented on #445
@mpaland Hi Marco,
issues/445_1 has been merged (and issues/445 has been removed)

There are two small
[code]
sections in pbx_impl/ast113/ast113.c. If you still have the G524 and 7960 still attached, would you mind activating these small sections and give it a go. I am hoping DTMF will still work and use the special CISCO DTMF RTP Frames instead of running real inband. It it works, i would love to

[2019-01-28 20:13] ianmca commented on #446
Hi.

Is there a way I can send you the config files without posting them publicly?

[2019-01-29 16:56] mpaland commented on #445
Hi @dkgroot,
I took https://github.com/chan-sccp/chan-sccp/commit/724b8109922789c8b0f07a40b763c5ebe67089f8 and enabled both *untested* sections.
DTMF is working fine on all phones (SPA524 and 7960 are installed for testing purpose now).
Unfortunately there's a regression concerning the FRACK issue.
I attach a call from the 7960 the the VM, pressing a few numbers and ending the call.
[VM 7960.txt](

[2019-01-29 17:46] dkgroot commented on #445
Hi Marco,
THanks a lot for checking that out. Great that it works, and it also sheds some light on the cause for the FRACK issue from before. I will not enable this just yet, until i figure out the FRACK issue.
Thanks so much for this extra bit of info !

[2019-01-29 21:54] dkgroot commented on #446
Building an asterisk-16 directory using your config files, to see if it is able to reproduce the issue you are seeing.

[2019-01-29 23:00] dkgroot commented on #446
@ianmca Using your asterisk config files (without changing my cnf.xml files) i can reproduce the behaviour you have been seeing, so that is a step in the right direction, now i need to figure out what is going on, and how to fix it.

[2019-01-30 07:02] mscdex commented on #442
I've been swamped and haven't had time to install another version of Asterisk to test. I'm not sure if I'll be able to test until next week some time maybe.

[2019-01-30 09:36] dkgroot commented on #442
@mscdex If anybody else tests/checks it before you get around to it and approves it could get merged beforehand, otherwise i guess we will have to wait for you :-)

[2019-01-30 19:56] ianmca commented on #446
@dkgroot just wondering if its something related to bridging and transcoding more than something specifically related to the sip channels. I did try both chan sip and Pjsip but they both had exactly the same result. I have all our sccp phones on the same codec but all the sip trunks are G711. I tried adjusting (removing) some cha sccp config file entries (things like incoming call limit) but haven

[2019-01-31 00:33] dkgroot commented on #446
Using you config it even happened when doing a transfer of an incoming sccp call. It might wel be a bridge setting (that would make sense based on the error' we are seeing). But I have not had time to figure it out yet.

[2019-01-31 06:09] ojaksch commented on #442
...and he did, but it doesn't worked as expected. Got a call on voicemailbox yesterday (Line 21, see below), after setting up module issues/442. I then listened to to the message, deleted it, but MWI led is still lit.

And this is weird:

+------------------------------------------------------------------------------------------------------+

Line 11 **still has** an unheared voicemail and it's MW

[2019-01-31 06:54] dkgroot commented on #442
@ojaksch Not so weird if you read the rest of this thread. Some versions of 16.1.1 seem to have this behavior and others do not, or there is a voicemail/stasis setting we have not figured out yet. Using the latest asterisk-16 development branch however behavior returns to normal again. The new sccp_mwi.c implementation does not seem to remedy this odd behavior, but it does seem to run correctly wi

[2019-02-01 10:03] mrdoger commented on #431
I tried to compile with issues/431. But I got a build error
        git clone https://github.com/chan-sccp/chan-sccp chan-sccp
        cd chan-sccp
        git pull
        git fetch -a
         git checkout issues/431
         ./configure --enable-video --enable-conferencing
         make
`
 CC       libsccp_la-sccp_mwi.lo
sccp_mwi.c: In function 'sccp_mwi_addMailboxSubscription':
sccp_mwi.c:545:

[2019-02-01 16:06] mpaland commented on #442
Tested issues/442 with 13.24.1
There is an issue with MWI activation. When I generate a new VM message, the new message is not recognized. `New` is still 000. Should be 001.
[code]
When I restart asterisk (reload is not enough), it is updated, MWI light is on.
When I hear the msg, light goes off, that's fine.

[2019-02-01 21:50] mpaland commented on #442
Hi Diederik,
okay, I thought that only 16 is affected, not 13. Going to retest this with the latest 13 branch. Thanks for clarification.

[2019-02-02 09:47] dkgroot commented on #442
No problem. thanks for retesting. When it does work with the latest stance we are a step closer !

[2019-02-04 05:13] beta2k1 commented on #433
You need to make the changes through the Asterisk Modules menu under Admin.  Add chan_skinny.so to the exclusions list and add chan_scco,so to the manually loaded list.

[2019-02-04 10:20] dkgroot commented on #433
@ostridge I am assuming that that answers your question. Closing this issue.
@beta2k1 thanks a lot for helping with this one !!

[2019-02-04 10:20] #433 closed

[2019-02-07 23:14] j-wauters opened #448 "Some sounds not playing"
When dialing out I do not here ringing on my sccp channels.  It works fine dialing from a sip client to the same outbound number.

[2019-02-07 23:16] j-wauters commented on #448
SCCP version 4.3.1 and asterisk 15.5 and freepbx 14

[2019-02-08 08:40] dkgroot commented on #448
@j-wauters
I have a couple of small questions:
- Which chan-sccp revision are you using ?
- When ringing out to some extension, you don't hear the remote ringing sound through the receiver/hook, correct ?
- What is sccp.conf earlyrtp set to ?
- Which codec are you using during the call (specific codec or any/all) ?
- Can you provide the CLI debug output for one call, with "sccp debug core, device,

[2019-02-08 22:34] j-wauters commented on #448
I think I have it fixed thanks to your post.  Early RTP was set to none.  I changed this to progress in SCCP manager and it is working now.  What should this be set to?

Internal calls were working fine, just sounds external were not.  I noticed that internal messages were not working either.  I would dial an internal extension that didn't exist and I would not hear the "your call cannot be comple

[2019-02-09 03:39] kbstechnologies opened #449 "Problem Installing 4.3.1 on Asterisk 16"
[Short description of the problem here]
Installing 4.3.1 on Asterisk 16

Can you guide me to what I need to modify to get this install to complete?

**Reproduction Steps:**

1. [First Step]
./configure
2. [Second Step]
make
3. [Other Steps...]
make install
**chan-sccp version:** (include revision and/or branch if relevant)
 4.3.1
**asterisk version:** (include revision and/or branch if relevant)
A

[2019-02-09 07:28] dkgroot commented on #442
I am going to merge issues/442 because it works and the code looks a lot better. It does not actually solve the issue with regard to this intermediate asterisk version which seems to be a little bit broken. But that should be corrected by the next release.

[2019-02-09 07:35] dkgroot commented on #449
@kbstechnologies
Where did you get this version from (tgz / url) ? You might have noticed that it "detected" asterisk-16 as asterisk-14, which should have cause some alarm bells.

What you should do:
[code]
This will get you to the current version and it should be able to detect it and build correctly.

[2019-02-09 07:42] dkgroot commented on #448
@j-wauters It should always be set to Progress (unless you know exactly what you are doing and why). Progress makes sense, because that is the event that occurs shortly after dialing a number, when you want to be able to hear messages like "This call is going to cost 50 cents per minute" or other inband ring events.
The sccp_manager event by @PhantomVI is not directly related to chan-sccp but we a

[2019-02-09 07:43] #448 closed

[2019-02-09 07:47] #442 closed

[2019-02-09 10:36] mpaland commented on #442
That's perfectly fine.
Fixing/working around that kind of asterisk bugs is IMHO out of scope here.
And fixed asterisk rc1 versions are already released.

[2019-02-09 11:00] dkgroot commented on #442
@mpaland Thanks for the update, i had not even noticed (yet) :-)

[2019-02-09 15:11] kbstechnologies commented on #449
I downloaded this one from git hub here. https://github.com/chan-sccp/chan-sccp/archive/v4.3.1.tar.gz

Just did from the clone and when I got to make, it errored with

  CC       pbx_impl.lo
cc1: warning: command line option "-Wenum-compare" is valid for C++/ObjC++ but not for C
In file included from ../../src/common.h:44,
                 from pbx_impl.c:12:
../../src/forward_declarations.h:56: e

[2019-02-09 15:13] kbstechnologies commented on #449
Nevermind I was in the wrong box - Clone version worked.

[2019-02-09 15:13] #449 closed

[2019-02-09 17:49] dkgroot commented on #449
Thanks for closing the issue. Hope everything works out for you !

[2019-02-12 06:37] dkgroot commented on #442
chan_sip having [similar issue with mwi](https://issues.asterisk.org/jira/browse/ASTERISK-13145?focusedCommentId=246203&page=com.atlassian.jira.plugin.system.issuetabpanels:comment-tabpanel#comment-246203) after update to latest 13 revision. Confirming the issue.

[2019-02-12 17:07] ianmca commented on #446
@dkgroot  I've made a bit of progress.... there was a noload bridge_simple on modules.conf on the config files that i sent you. Possibly a typo of mine or something i did while trying to debug a related problem... Making that noload a load fixes at least part of the problem. I'll try a bit more tomorrow

[2019-02-12 18:27] dkgroot commented on #446
@ianmca That explains a lot. Maybe you should just switch to the automatic loading. The automatic loader checks if it sees a config file for the particular module, if it is not present the module will not be loader. All other dependent modules will.
In the meantime, i should update chan-sccp to require the bridge modules (including the other ones for parking, conference etc), i will check that out

[2019-02-13 10:53] ianmca commented on #446
@dkgroot - I'm not sure if i should raise this as a separate issue or continue this one...

I'm now seeing one way audio when i call from a SIP line into an SCCP line where a transcode is needed, and no audio when calling from SCCP to SIP where a transcode is needed.

If i match all the codecs so that there's no transcode needed all works perfectly.

I have more detail on this - would you like me

[2019-02-13 10:56] dkgroot commented on #446
Always open a new issue if it is unrelated :-)
In the meantime i will check transcoding, to see if i can easilty spot what might be causing this..

[2019-02-13 10:59] ianmca commented on #446
Yes i think it should be closed.

I haven't tried and SCCP to SCCP with transcode so I'll try that on my test system.

[2019-02-13 11:00] #446 closed

[2019-02-13 11:03] dkgroot commented on #446
And during the call, please include:
[code]
Output

[2019-02-13 11:11] dkgroot commented on #446
Removed unrelated message
Added a commit to add module requirements for
- bridge_simple, bridge_holding (transfer)
- bridge_softmix (conference)
To prevent issue #446

[2019-02-13 11:52] ianmca opened #450 "missing audio when codec translation needed"
Audio missing when codec translation needed
chan sccp develop
asterisk 16.1.1

I have tried this a number of different ways.. here's the easiest probably to find.
I have two SCCP phones, one as line 271, one as line 273.  I set both to different codecs.
Similar happens if the other device is a SIP trunk to another local asterisk.

Device hosting line 271
No codec specified on the device, or on the

[2019-02-13 11:55] dkgroot commented on #450
Is there any change of you running tests with a stock asterisk config. After the transfer issue caused by missing bridge module, i am a little afraid there might be some other changes in the asterisk config files that might be responsible. I am not seeing these issue with pjsip->sccp , sip->sccp nor sccp->sccp calls.

[2019-02-13 12:52] ianmca commented on #450
Stage 1: asterisk make samples, and copied over my extensions.conf and sccp.conf... problem still exists.

Stage 2: Delete all in /etc/asterisk.    Asterisk make samples, chan sccp make clean ./configure make make install.
sample extensions.conf added to new context to minimise changes
[iantest]
exten => 271,1,Dial(SCCP/${EXTEN}/ringer=inside)
exten => 273,1,Dial(SCCP/${EXTEN}/ringer=inside)

samp

[2019-02-13 12:56] ianmca commented on #450
core show translation
         Translation times between formats (in microseconds) for one second of data
          Source Format (Rows) Destination Format (Columns)

           ulaw  alaw   gsm  g726 g726aal2 adpcm slin8 slin12 slin16 slin24 slin32 slin44 slin48 slin96 slin192 lpc10  ilbc  g722 testlaw  opus silk8 silk12 silk16
     ulaw     -  9150 15000 15000    15000 15000  9000  17000  17000

[2019-02-13 12:59] dkgroot commented on #450
@ianmca Adding opus should be absolutely fine. Still wondering why i cannot reproduce this. I will do some more testing. You are running on asterisk-16.1.1 still, or did you switch to asterisk-16 (develop branch) ?

[2019-02-13 13:03] dkgroot commented on #450
You are running the latest chan-sccp (git pull), right (so that we are looking at the same stuff) ?

[2019-02-13 13:09] dkgroot commented on #450
Here a call on my asterisk-16.1.1 with chan-sccp revision 06b3940e

moviebox*CLI> sccp call SEPE0D173E11D95  98041
[code]
moviebox*CLI> sccp answer SCCP/98041-00000007  SEP0023043403F9
[code]
moviebox*CLI> sccp show channels
[code]
moviebox*CLI> core show channel SCCP/98031-00000006
[code]
moviebox*CLI> core show channel SCCP/98041-00000007
[code]
moviebox*CLI> sccp onhook SCCP/98031-00000006
[cod

[2019-02-13 15:22] ianmca commented on #450
It's something on the asterisk side... when I drop back to asterisk 13.24.1 with the same chan_sccp i'm getting transcoding working properly, but i'm seeing an error message appear...

[Feb 13 15:06:42] ERROR[22683][C-00000000]: translate.c:1384 ast_translator_best_choice: Cannot determine best translation path since one capability supports no formats

However the behaviour is correct. The core sh

[2019-02-13 15:28] dkgroot commented on #450
@ianmca I think that might be a helpfull warning. I need to figure out where `ast_translator_best_choice` is being called from. Can you check if that warning appears during the RINGING indication (before you answer the call) (ie: from `pbx_retrieve_remote_capabilities`) ? I think that's the only time it's called.

[2019-02-13 15:39] ianmca commented on #450
Asterisk 15 (and 16) is now crashing when I put different codecs on the the two SCCP extensions...

   -- SEP002414B37BBD: Getting the active channel on device.
    -- SEP002414B37BBD: No active channel on device.
    -- SEP002414B37BBD: Indicate SCCP new state:RINGING, current channel state:DOWN on call:SCCP/273-00000002, lineInstance:1 (previous channelstate:DOWN)
    -- SEP002414B37BBD: Clear t

[2019-02-13 15:40] ianmca commented on #450
Sorry i didn't see your last comment... will do what you suggest tomorrow morning.

[2019-02-13 15:42] dkgroot commented on #450
Please give the issues/450 a try tomorrow.
I noticed the crash as well :-) I am looking how to solve that, and will push another update to issue/450 when i find it.

[2019-02-13 15:46] ianmca commented on #450
i'll do that... do you want me to test issues/450 on asterisk 13 or a later version?

[2019-02-13 15:53] dkgroot commented on #450
the 13 that you had should be fine, just want to make sure it takes care of the warning message you got before.

[2019-02-13 17:09] ianmca commented on #450
Had a chance to do it today... I can't see any difference unfortunately. Here's my console output.

I definitely deleted all the old modules and i'm really sure i have built the right version  (chan-sccp-issues-450)

I've sent you more of the log in case it helps get context. It does seem to be during the ringing, and earlyrtp is progress.

Ian.

asterisk1*CLI> sccp call SEP002414B37BBD 271
Starti

[2019-02-13 17:13] dkgroot commented on #450
Just now pushed another update which fixes the crash and it looks like it does a better job dealing with the transcoding case as well.

[2019-02-14 10:26] ianmca commented on #450
Hi, yes no problems connecting to the chat... but here's the initial testing.

Demo config files... Make & receive calls across 2 codecs to enfore transcoding (one SCCP phone forced to G722, one to G711a)... Works

Reloaded own test configs, including SIP trunk to our live asterisk.
Make & receive calls across 2 codecs. Works.
Incoming G711a SIP to G722 SCCP. Works

Move both SCCP phones onto G722

[2019-02-14 10:28] dkgroot commented on #450
@ianmca, sounds like time to merge this one too, thanks for reporting and helping out with the testing.
Did you these tests in both asterisk-13 and asterisk-16 (because of the backport) ?

[2019-02-14 10:33] ianmca commented on #450
@dkgroot I haven't tested on asterisk 13 I can do.  What should I be looking for on 13? Is it the removal of that warning message?  Thanks so much for your debugging and your development.  Hopefully the fix will help lots of people as well as me!

[2019-02-14 10:36] dkgroot commented on #450
@ianmca:
- I just merged the changes back into develop (this also removed the 450 branch).
- Removed the temporarily added debug output
- The check for asterisk-13 would just be to make sure there are no regressions

[2019-02-14 10:38] #450 closed

[2019-02-16 21:12] dkgroot commented on #442
@mpaland @mscdex @ojaksch
Releases today:
Asterisk 16.2.0 Now Available
Asterisk 13.25.0 Now Available
Can you guys please recheck when you upgrade to these version.

[2019-02-17 11:48] dkgroot commented on #436
@mpaland Just sent a notice to the mailinglist that older asterisk version support will be deprecated and removed beginning next month. Knowing users they will only start reposponding after the fact though :-)

[2019-02-18 11:24] dkgroot commented on #436
Deprecation of Asterisk-15 was reverted (because it's still actively used by FreePBX), it should be deprecated by 2019-10-03 which is it's EOL date.

[2019-02-18 16:45] mpaland commented on #436
What about 11?
It should be deprecated as well cause it's not getting any security fixes for over 2 years now - and there had been many security related issues...

[2019-02-18 16:49] mpaland commented on #442
I updated productive to 13.25.0 and latest development version today.
Have to do some tests and observe the behavior. I post the results here. Stand by...

[2019-02-18 17:41] dkgroot commented on #436
Hi Marco,

I do fully agree with you. Some people might need it as a stepping stone from 1.6.2, 1.8 or 10 for example. Also because it was an LTS version, there might be more people stranded on one of these LTS versions. Chan-sccp should not be help responsible for the choices people make. We could/should plan a deprecation for 11 as well though, maybe it should coincide with the next round in oct

[2019-02-18 17:42] dkgroot commented on #442
ay ay sir, standing by :-)

[2019-02-20 02:05] beta2k1 commented on #436
Biggest group of stranded users I think will be those on Elastix, they topped out at 11.21 before switching the platform to 3CX.  Not sure if there's an easier way for them than taking a FreePBX backup, rebuild and restore or not.

Also not sure how many of us there are running FreePBX derivative PBXs :)

Either way, don't count me as an objection, I've already been wanting to rebuild the ones I w

[2019-02-20 04:03] driods commented on #436
I agree with beta2k1. We have been using Elastix  - asterisk 11.2x for over four years. Rock stable.
I am sure there are many more users out there who would be reluctant to migrate/upgrade.

[2019-02-20 13:47] dkgroot commented on #436
@driods  @beta2k1 Appreciate your input guys. Not saying 11 will be dropped right away.

I am guessing/assuming that when they don't update their asterisk-11 instances, chances are high that they are not touching their chan-sccp revisions/versions either (right). So us deprecating support for ast11, would not hinder them at all, in their continued use.

I do worry for them (a little) though, as th

[2019-02-20 21:27] driods commented on #436
You are right D, however after rethinking , we have decided it's wise to move forward to newer versions of asterisk.
Will keep you updated ? Thanks for all your support.

From: "Diederik de Groot" <notifications@github.com>
To: "chan-sccp/chan-sccp" <chan-sccp@noreply.github.com>
Cc: "driods" <avarghese@fremantlecc.wa.edu.au>, "Mention" <mention@noreply.github.com>
Sent: Wednesday, 20 February, 20

[2019-02-20 21:43] dkgroot commented on #436
@driods I would say, something good came out of the the deprecation threat :-) Good luck with the upgrade. Please use an intermediate test/staging machine, so you can switch over slowly + after thorough testing/checking.

[2019-02-22 12:29] dkgroot commented on #408
@bcharkansas
Zero reply about this issue report since opening date. Closing this issue

[2019-02-22 12:29] #408 closed

[2019-02-22 12:30] dkgroot commented on #418
@AccessDG
No reply since opening this bug report. Closing the issue.
If the issue is still there please reopen

[2019-02-22 12:30] #418 closed

[2019-02-22 12:33] dkgroot commented on #400
No reply since opening this bug report.
Not sure if the issue is still there, if it is please reopen.
Closing the issue.

[2019-02-22 12:33] #400 closed

[2019-02-22 12:34] dkgroot commented on #376
No reply since issue opening.
If the issue still persists, please reopen.
Closing the issue.

[2019-02-22 12:34] #376 closed

[2019-02-22 20:50] mpaland commented on #442
I couldn't observe any problems with 13.25.0 this week regarding the mailbox and one way audio problems.
Excellent work, Diederik, really appreciate that!

[2019-02-23 13:45] dkgroot commented on #442
Hi Marco,
Thanks a lot for the update/feedback. I am so happy that everything is back in working order. Even though it was an asterisk regression, i think replacing the ancient sccp_mwi.c implementation was a beneficial side effect (progress).

[2019-02-24 00:19] aselafernando opened #451 "Unknown Dependencies"
Latest git, v4.3.2-gamma & v4.3.2-beta fail to load in Asterisk 16.2.0 with the error:
[code]
v4.3.2-alpha loads fine

Asterisk & Chan SCCP are both cross compiled for Cortex A8 ARM, no errors when cross compiling

modules.conf attached

[modules.txt](https://github.com/chan-sccp/chan-sccp/files/2897428/modules.txt)

[2019-02-25 18:40] dkgroot commented on #451
@aselafernando
I changed the required module for chan-sccp to:
- app_voicemail
- bridge_simple
- bridge_native_rtp
- bridge_softmix
- bridge_holding
- res_stasis
- res_stasis_device_state

To prevent other issues some people experienced during transfer/conference etc. So i you can make sure these modules are loaded, you should be ok. I had hoped the asterisk warning about missing requirements woul

[2019-02-25 18:51] dkgroot commented on #451
I have updated this [wiki page](https://github.com/chan-sccp/chan-sccp/wiki/setup-asterisk) to include the same requirements. Also added this list to the README.md front page.

[2019-02-26 10:21] aselafernando commented on #451
I just checked the modules on 16.2.0 and res_stasis and res_stasis_device_state are included in the base installation.
I will cross compile the latest git release of Chan SCCP this Thursday and will check if it loads with all the required modules listed.
When you say older version of asterisk - 16.2.0 is the latest :P

Haha yeah it was a bit of a struggle at the start to work out how to cross comp

[2019-02-26 14:01] dkgroot commented on #451
16.2.0 is latest, woops :-)

res_stasis is required for app_voicemail to be able to communicate correctly. res_stasis_device_state is also required to be able to query/update device state (related to hints). It's a little strange that asterisk was willing to work correctly without those two :-)

FYI: You can also run asterisk:module.conf with autoload=yes. It will load all modules for which there

[2019-03-01 16:33] gthompsongcsc commented on #402
I have 6921 phones and Cisco Call Manager 7.2 here. I can provide the tcpdump if someone can provide directions on how to get that dump... Is it as easy as using Wireshark and capturing packets between CUCM and the Phone while pressing the DND button?

[2019-03-01 16:58] dkgroot commented on #402
@gthompsongcsc Yes that would do the trick nicely.

Could you maybe start the wireshark capture, and then restart the phone, so that we also get the registration messages as well.

There might be some other issues with 69xx, so it would be really nice to have someone with a cucm on hand (even if it is a little older). For example not all status messages are displayed on the 69xx phones (when used

[2019-03-02 19:01] IntergalacticQuasar opened #452 "EndCall SoftKey on the receiver rejects the calls and hangs the call, but does not hang up the call initiator"
When phone A initiates a call to phone B and makes the phone B ring, if phone B wants to reject the call before answering it, by pressing EndCall softkey, phone B stops ringing and the call is hanged up on phone B, but phone A doesn't hang up the call. Even though phone A doesn't immediately hang up the call when EndCall softkey is pressed on phone B, it eventually does so after 10 seconds, and du

[2019-03-02 19:37] dkgroot commented on #452
Thanks for the detailed problem explanation. I will try to replicate the issue on Monday/Tuesday and see how we can fix the issue.

[2019-03-02 19:46] IntergalacticQuasar commented on #452
Thanks for a very quick reply. Really looking forward to your diagnostics.
By the way, really awesome project. Absolutely amazing 👍 :)

[2019-03-02 19:57] dkgroot commented on #452
Thanks !
Don't worry about the "Strict RTP Learning". That's part of the normal behaviour after starting an RTP-Server (even if there is no connection yet).
The 'normal' behaviour (for chan-sccp) is to play back busy or congestion when the remote party hangs up for about 10 seconds, before hanging up the caller (so that have an audio clue about what is going on). This does seem to be tried by your

[2019-03-02 20:35] IntergalacticQuasar commented on #452
Sorry for not including chan_sccp debug logs. Here it is:

**Caller phone (phone A) offhook:**

[code]

**Dialling callee (phone B) from phone A:**
[code]

**Rejecting the call on phone B (callee) by pressing softkey EndCall:**
[code]

**Phone A hanging up the call after 10 second:**
[code]

Hope these information was what you were looking for.

[2019-03-02 22:19] dkgroot commented on #452
Updated the original issue report with your debug output. Thanks ! And no need to be sorry :-)

[2019-03-02 22:27] dkgroot commented on #452
Looking at your debug log I noticed this:
We did open the receive channel on the caller.
But just before processing the Congestion, we ran sccp_channel_closeAllMediaTransmitAndReceive, closing the RTP stream again. This cause you not to hear any more signalling events. This should be corrected. Thanks for the detailed information. Will be helpfull when correcting the error, beginning of next week.

[2019-03-02 22:49] IntergalacticQuasar commented on #452
WOW! It was super fast. Really appreciate your determination. I am very grateful for your help. Thanks for taking your time looking into this issue.

I'll try it and keep you posted. Just hope not to break anything dramatically 😉

[2019-03-02 22:51] dkgroot commented on #452
It was a tiny commit, and it just got smaller (pushed another commit), so the side effects should be contained :-)

[2019-03-02 23:17] IntergalacticQuasar commented on #452
This was my first issue reporting ever. I always was pissed off by people not spending enough time preparing the issue report and expecting a perfect fix in no time, so tried my best to explain the problem as clearly as possible. Really glad that I was able to communicate this across.

Following your directions, I applied the patch (at least I hope I have), but it hasn't made a difference.
Here ar

[2019-03-02 23:34] dkgroot commented on #452
I noticed this line:
[code]
Which should not be possible after the patch. I will test the patch myself, to confirm.

If need be you can create a new test clone, using `git checkout -b issues/452 https://github.com/chan-sccp/chan-sccp chan-sccp_452`. If that is easier :-)

[2019-03-02 23:39] IntergalacticQuasar commented on #452
Well, it is past 3:00am here and I'm like 75% sleep! No wonder if I've screwed something up!
I'll definitely look into it more carefully tomorrow and keep you posted.

Cheers mate

[2019-03-02 23:40] dkgroot commented on #452
Sleep tight for now, we will continue tomorrow. Could also be i missed/overlooked something. I was not able to test my patch just yet (other stuff going on).

[2019-03-03 00:49] dkgroot commented on #452
My Call Log with issue/452:

98031 Calls 98041
[code]
98041 declines the incoming call:
[code]
This seems to work fine (after the patch). I am guessing you did not switch branches correctly (somehow).

[2019-03-03 09:29] IntergalacticQuasar commented on #452
Great to here you've fixed it. Congratulations 👍 :) Mine is still broken though. I'm definitely doing something wrong. To be upfront, I'm on FreePBX 14.0.5.25, with SCCP_Manager 13.0.0.4 installed.

Now, I'm sure that I'm on the correct branch:
[code]
Also, by looking at the timestamp of chan_sccp.so, it seems that it has been correctly replaced by the newer version:
[code]
But on the asterisk-cli

[2019-03-03 10:25] dkgroot commented on #452
@IntergalacticQuasar
Intriguing...
Can you please log on to our [gitter chat](https://gitter.im/chan-sccp/chan-sccp) so i can help you directly and see if we can figure this out.

[2019-03-03 10:30] IntergalacticQuasar commented on #452
Sure, thanks for helping me with my particular case.  Highly appreciate it.

[2019-03-03 10:30] dkgroot commented on #452
See you in gitter in a moment :-)

[2019-03-03 14:50] ojaksch commented on #442
Updated my SuSE Leap 42.3 to Asterisk 16.2.0 at friday. Made some calls to my own voicemail account today and everything seems to work fine now. Hooray!

[2019-03-03 17:52] #452 closed

[2019-03-03 17:54] dkgroot commented on #452
Thanks a lot Intergalactic for reporting the issue and all your help/testing/checking etc.
Issue has been resolved and the temporary branch has been merged back into the develop branch.

[2019-03-03 17:59] dkgroot commented on #442
You are out of luck oliver. There was a 'major' bug found on the asterisk side and they released a fix and an immediate release '16.2.1' so you have to do it all again :-)

[2019-03-04 08:53] ojaksch commented on #442
Hah! Bad luck for the f*ck'in early bird :-) But as zypper is my friend this was done in seconds.

[2019-03-04 10:00] IntergalacticQuasar commented on #452
My absolute pleasure. It was really great interacting with such a great and smart person about a fantastic project, and I'm really glad you found the bug worthy of fixing and helping me and others.
Keep up the good work mate :-)

[2019-03-04 11:16] dkgroot commented on #452
No problem and happy we found a long lasting one in the process :-)

[2019-03-06 02:12] darkponay opened #453 "One way audio with g722 and g729"
Hi everyone!
I have a little problem with using two codecs. My set up is a Alaw only trunk, Cisco 7975 and 7945 with XML enabled G722 and several phones over the network (some OpenVPN interconnected pfSense gateways).
One of us has a low bandwidth internet connection, and we have sometimes cracks, and a lot more while using conference. We tried to use G729 and it was a lot better for the quality o

[2019-03-06 02:41] darkponay commented on #453
Separate message to avoid messing everything up...

**sccp show channels :**
[code]

**core show channels :**
[code]

**core show channel SCCP/8941-00000015 :**
[code]

**core show channel SCCP/9912-00000014 :**
[code]

[2019-03-06 08:25] aselafernando commented on #451
Tested and all is working now when loading all the modules you specified :)

I actually created a script some time ago that does the asterisk compile and the chan-sccp compile. To be fair the chan-sccp cross compile is pretty simple once asterisk is compiled.

I use the crosstool-ng for installing the cross compiling toolchain. There's no reason why by modifying the variable TARGETMACH that you co

[2019-03-06 08:25] #451 closed

[2019-03-06 10:49] dkgroot commented on #451
Thanks for checking and the update !

Very clean looking script :-)
FYI: the script's setting of  asterisk.conf is correct, but the README has " = " instead of " => " for the path entries (which is wrong AFAIK). This is an ancient asterisk-1.8 mistake, which you might want to correct.

[2019-03-06 11:06] aselafernando commented on #451
Haha thanks and that's right mixed up the = and =>!
Cheers for the pull request. It has been merged :) 👍

ArchLinux also has the AUR for compiling Asterisk https://aur.archlinux.org/packages/asterisk however I don't use it as compiling on the BeagleBone Black (BBB) would be super slow, and it only has 2GB of internal space haha

What I have done is inserted a microSD card in the BBB which stores t

[2019-03-06 19:32] dkgroot commented on #453
@darkponay
Create an initial (ast1.6 only) fix for the issue.
- Have only looked at the remote codec retrieval (remoteCapabilities) part for now. It's now allowed from both sides of the call.
- Have not yet focused on preventing having differing incoming and outgoing codecs which happened on `SCCP/9912-00000014`.

I pushed this fix to a new branch "issues/453". Can you give it a go ?
[code]

[2019-03-07 02:45] darkponay commented on #453
Hello,
You are so efficient! Thank you for helping with this problem!

Just compiled issue/453. It's not yet perfect, but a lot better.

**What i have tried :**
Say we have G729 phone and G722 one (in fact, allowed for G722 and 729)
**-Voicemail :** Still Ok (G729 only for this phone)
**-Outbound call :** Still Ok (G729 transcoded in Alaw for my trunk)
**-Internal (from G722 to G729) :** Still qui

[2019-03-07 16:25] dkgroot commented on #453
Fixed: Codec selection on inbound sharedline->channel could end up using an inappropiate codec, which was not permitted in the devices preferences.
Extended debug logging for codec selection, to show the difference between channel and device preferences.

[2019-03-08 12:06] darkponay commented on #453
Hi everyone,

chan-sccp updated.

**The config:**
in sccp.conf, under _[general]_ :
_disallow=all
allow=g722,g729_

**Nothing else in the config regarding codecs except one test device :**
_disallow=all
allow=g729_

**Note :** The test device in G729 has one shared line. This line is shared between the G729-only phone and other phones without the codec restriction.

**What i have tried :**
Say we

[2019-03-08 14:14] S199pWa1k9r commented on #431
Thank you Diederik, issues/431 works great!
But the current issues/445 does not work at all.

[2019-03-08 16:05] darkponay opened #454 "ConfList: initiator name replaced by conference name"
Hi!

A little bug seems to happen with the conflist, like in the screenshot below :
![screenshot](https://user-images.githubusercontent.com/18644554/54038228-4c3b6d00-41c0-11e9-81ca-97ca02244b9c.png)

As you can see, the initiator name is replaced by "Conference 101". Hopefully everything works, it is just a problem in displaying the name. All the functions work properly.

Changing Asterisk or cha

[2019-03-08 16:47] dkgroot commented on #431
@S199pWa1k9r I will see how to merge 431 into the current develop tree... I will require a little bit more work. Thanks a lot for checking / testing it !
Much appreciated

[2019-03-08 20:31] dkgroot commented on #454
@darkponay
Can you give issue/454 a try please
Merci bien !

[2019-03-08 21:20] dkgroot commented on #431
@S199pWa1k9r
Step one... rebasing issues/432 branch ontop of the develop branch changes...
I had to do some manual merging... Everything still compiles AFAIK.
Can you give it another go, to see if everything is still compatible and works correctly ? Including video ?

[2019-03-09 02:18] dkgroot commented on #453
orig | dest | trans | works | note
 ------ | ------- | ----- | ----- | -------
A | B | no | yes | G722>G722
A | C | yes | yes | G722>G729
B | A | no | yes | G729>G729 should be G722
C | A | yes | yes | G729>G729
B | C | yes | no | G729>G729
C | B | yes | no | G729>G729

[2019-03-09 12:27] darkponay commented on #454
Hello!
For the moment, it seems perfect, I tried basic 2 members and 3 members conference, some hold/resume operations, promote as moderator and demote, and it is still the right name shown for the initiator!

[2019-03-09 12:36] dkgroot commented on #454
Thanks for reporting the issue and testing the result. Solution has been merged !

[2019-03-09 12:36] #454 closed

[2019-03-09 14:24] dkgroot commented on #453
A = G722

B = G722
C = G729
B and C = shared line

orig | dest | trans | works | note | new state
 ------ | ------- | ----- | ----- | ------- | --------
A | B | no | yes | G722>G722 | still fine
A | C | yes | yes | G722>G729 | still fine
B | A | no | yes | G729>G729 should be G722 | fixed
C | A | yes | yes | G729>G722! | still fine
B | C | yes | no | G729>G729 | fixed
C | B | yes | no | G729>G729

[2019-03-09 14:33] dkgroot commented on #453
@ianmca @mpaland
Could you guys give this branch a try, to see if there is any regressions ? It looks like it does a better job at late codec selection especially in mixed / sharedline instances.

[2019-03-09 18:14] dkgroot opened #455 "Call Forward on Shared line"
Latest asterisk 13 and 16
Only happens if one of the shared line members forwards the call
Generates a Frack ! in current or subsequent channels
[code]

[2019-03-09 18:15] dkgroot commented on #455
Create a branch for testing: "issues/cfwdsharedline"
Contains initial fix for the issue. Still needs more work

[2019-03-09 18:47] darkponay commented on #453
Hi everyone,
I did new tests with b7f4e39.

There is still a problem :

A = G722

B = G722
C = G729
B and C = shared line

orig | dest | trans | works | note
------ | ------- | ----- | ----- | -------
A | B | no | yes | G722>G722
A | C | yes | yes | G722>G729
B | A | no | yes | G722>G729 **should be G722 on both sides**
C | A | yes | yes | G729>G729
B | C | yes | no | G722>G729
C | B | yes | no |

[2019-03-10 02:56] darkponay commented on #453
Here are logs corresponding to my last post for C>A :

8941 is the line on A
9912xx is the shared line (the C phone is the G729 one)

As we can see on the phone status and here, both side are in G729.

**sccp show channels :**
[code]

**core show channels :**
[code]

**core show channel SCCP/8941-00000008 :**
[code]

** core show channel SCCP/9912-00000007 :**
[code]

**Logs :**
[code]

[2019-03-10 03:13] darkponay commented on #453
Sorry for multipost, i less the mess like this :)

Now there are logs corresponding to B>A :

8941 is the line on A, still the G722 phone
9912xx is the shared line (the B phone is the G722 one)

On the phone status, we can clearly see B is in G722 and A is in G729.

**sccp show channels :**
[code]

**core show channels :**
[code]

**core show channel SCCP/8941-0000000C :**
[code]

**core show chan

[2019-03-10 09:20] dkgroot commented on #453
When looking at the preference for A in the first example. it looks like A has both G722 and G729 enabled, so that changes the outset and it makes the choice a valid one (it's not similar to the case we were testing before (One pref per device)).

With the second call, we are transcoding and both parties can do both G722 and G729. There was no real need to transcode in this case. So i agree. we co

[2019-03-10 11:47] darkponay commented on #453
I put the three phones, just in case :)

**Phone A :**
[code]

**Phone B :**
[code]

**Phone C :**
[code]

[2019-03-10 21:56] dkgroot commented on #453
@darkponay @mpaland @ianmca
I created a second branch called "issues/453_1" which incorporates the idea of moving the codec preference to the line level instead of at device level. This initial version, still allows for either setting, but when line preferences have been set, they overrule the device ones. The new version seems to be very succesfull at reducing complexity when dealing with shared

[2019-03-10 22:10] ianmca commented on #453
Hi Diederik.
Sorry I was away from email.

Would you like me to test the issues/453_1 branch?

I’m not using g729 anywhere but am using G722 and G711a

Do I need to adjust my config then to move the codec preferences from the devices to the lines?

Sent from my iPhone

On 10 Mar 2019, at 21:56, Diederik de Groot <notifications@github.com<mailto:notifications@github.com>> wrote:

@darkponay<https:/

[2019-03-10 22:12] dkgroot commented on #453
Hi Ianmca,
When you have checked out the 453_1 branch and you leave the sccp.conf like it is now, everything should still work correctly as it did before (might make a better codec decision here or there).
You can change the sccp.conf and move some or all device preferences to the line level if/when you like. This change is most benefitial for any sharedlines you might have.

[2019-03-11 13:38] gthompsongcsc commented on #402
@dkgroot Sorry this took so long.. But here is a capture of the 6921 Registering to CUCM. I then Toggle DND on and off 5-6 times, and then turn on Call Forwarding a couple of times... Let me know if you need anything else.

[Cisco6921Cap.pcapng.zip](https://github.com/chan-sccp/chan-sccp/files/2952415/Cisco6921Cap.pcapng.zip)

[2019-03-11 13:47] dkgroot commented on #402
Would also love to see a "call transfer" and "missed call", ". It's mostly the stuff that's not working very well with chan-sccp and 69xx phones. The biggest thing seems to be the missing control over the status line.

[2019-03-11 14:01] gthompsongcsc commented on #402
@dkgroot Here ya go.. Missed call and Transfer. Same IP info as above.

[6921MissedCallandTransfer.pcapng.zip](https://github.com/chan-sccp/chan-sccp/files/2952504/6921MissedCallandTransfer.pcapng.zip)

[2019-03-11 14:05] dkgroot commented on #402
Wow, that was quick... I am not even half way through the first one :-) Much appreciated. It will take a while to dig through it all :-). And it will hopefully improve our 6921 support.

[2019-03-11 14:07] gthompsongcsc commented on #402
Great, I am looking forward to it, I have about 150 6921's in use and would love to switch from SIP to chan_sccp for them.

[2019-03-11 14:08] dkgroot commented on #402
If you have some time, it might be easier to use [gitter chat](https://gitter.im/chan-sccp/chan-sccp)..if you like of course

[2019-03-11 14:51] darkponay commented on #453
Hi,
For these tests, i was all the time in issues/453_1 - **d706d0c** except for VM tests which has been made in **3f6d892**.

Some of the tests have been done again after changing revision.
Asterisk has been restarted between tests/revision change.

With the device config :
**- general :** disallow=all / allow=g722,g729
**- Phone A :** no codec pref, classic line x
**- Phone B :** no codec pref,

[2019-03-11 15:02] dkgroot commented on #402
Already found two interesting things... that i need to test.
The ForwardStatRes message uses different values to activate the callforward (2 and 8), where we use 4 for all of them. I need to run some tests to see if that makes a difference. Have not got a clue about that these number do beyond switch the forward on (ie: they are higher that 0).
Question: When callforward is active on the phone doe

[2019-03-11 16:42] darkponay commented on #453
We are actually playing (without logging every actions) with some functions like hold, conferencing, transfer attended or not, Dirtrfr, and it works all the time. Actual config is g722,g729 allowed in general, and g729 forced on the line of my interlocutor.

[2019-03-11 17:17] dkgroot commented on #402
@gthompsongcsc Thanks to your tcpdump, i made the first small changes in a new git branch called "isssues/402"
You can give it a try using:
[code]

(please do this on you test system and not production (as always).

[2019-03-12 16:23] dkgroot commented on #402
Status Update:
- 69xx dnd status fixed... using a popup and a building dnd message only (no more fancy "<<<")
- 89xx does now show the dnd state, but only briefly :-( so this still needs work. Why might be able to show the permanent state on the line button instead (red cross or something)
- 79xx lots it's fancy "<<<" and uses the more relaxed/demure "DND (busy)" / "DND (silent)" in tristate mode.

[2019-03-13 14:25] dkgroot commented on #428
@marek-cerny  Reopened / Issue is back

[2019-03-13 14:28] marek-cerny commented on #428
Based on our gitter conversation, I'd like to report that the issue is back with "v4.3.2-gamma" release, also with the current "cae1a5f" head and even with "issues/453_1" branch.

When I go back to the "dbcb927", the problem does not happen.

[2019-03-13 14:34] dkgroot commented on #428
Test using: "same => n,Dial(PJSIP/${EXTEN}@provider-trunk,55,t)"

[2019-03-13 14:56] dkgroot commented on #428
@marek-cerny
FYI: You might want to check the meaning of the 't' parameter.. It means that the called party can transfer calls using DTMF. I think you want to set 'T' when dialing outside, allowing the caller to transfer using DTMF. Using 'T' and or 't' is inherently dangerous, and maybe neither should be used (ie: not necessary with sccp anyway).

[2019-03-14 09:07] marek-cerny commented on #428
@dkgroot
Hey Diederik.

I've run `git bisect` in an attempt to narrow it down. I've never used that tool before - hopefully I understood the process. Here is the result:
[code]

Also, thanks for the hint regarding Dial() parameters.

[2019-03-14 13:10] dkgroot commented on #428
@marek-cerny
It would be easy to verify if you did it correctly, the commit before the one your found (353be6d) should be working all-right, and then moving forward to it (dc3b2fe), should make the issue appear again. Can you do that verification ?

You are right that the change is really small which is very positive. Looking at the content of the patch, it's not easily apparent to me how it would

[2019-03-14 13:36] marek-cerny commented on #428
@dkgroot

Yep, I can confirm that.

Proper single ringback with [353be6d](https://github.com/chan-sccp/chan-sccp/commit/353be6d7cb0cd7e6c63b9472a8c6a07b84afc054).

Double ringback with [dc3b2fe](https://github.com/chan-sccp/chan-sccp/commit/dc3b2fe17e5766b87d06d044fa7e08e172162ea5).

And once again single ringback with "issues/428_1 branch".

[2019-03-14 14:02] dkgroot commented on #428
@marek-cerny I don't understand how it fixes it (yet) it will require a little more indepth research... but at least we can make it work... and you can use the "issues/428_1 branch" for now :-)

[2019-03-14 15:16] darkponay opened #456 "PickUp and GPickUp softkeys problem with shared lines"
Hi everyone,

We have found a little problem with PickUp and GPickUp softkeys while you are on call on a shared line.

Say we have two phones sharing the same line.
1. I call someone (no matter who, internal or not) from Phone A. (It also work if receive the call)
2. I can see on Phone B the caller ID i am with from Phone A.
3. I press the Phone B's line button, which will show me the right softke

[2019-03-14 18:02] dkgroot commented on #456
Pretty minor issue, but should not be hard to fix. We can just disable the softkey at this stage, preventing the press in the first place.

[2019-03-14 19:04] dkgroot commented on #402
Add Relation to #404

[2019-03-14 20:40] #456 closed

[2019-03-14 20:46] dkgroot commented on #456
Pushed commit a534c76 on your issue (#456)
It fixes three things:
1. It checks if the device performing the pickup is the same one as the one dealing with the call (sharedline issue)
2. general shared issue: before putting a previous channel on hold to create a new call, we should check if the event came in through the device requesting the new call (related to no 1).
3. Allow you to do a pickup/g

[2019-03-14 22:40] dkgroot commented on #428
@marek-cerny Can you check which part of the small change does have the actual impact (ie: the change in sccp_channel.c or the one in sccp_pbx.c) ?

[2019-03-15 10:57] dkgroot commented on #453
Reported by @ianmca in the chat :
1. I've been running it successfully. I've generally had no complaints from users;
2. however I did have one asterisk crash yesterday afternoon, but I haven't been able to get to the bottom of exactly what happened....
3. I have moved codec choices over to the lines in a template (after the crash), and that seems to be all OK.
4. Only two things i'm noticing... on

[2019-03-15 11:06] #453 closed

[2019-03-15 11:06] dkgroot commented on #453
Thanks everyone working on this... the eagle has landed :-)

[2019-03-15 12:46] dkgroot commented on #402
Merged the issues/402 branch into develop to get the current 69xx/89xx related fixed into main stream. Will continue exploring the issue when greg get's back

[2019-03-16 17:41] dkgroot commented on #431
Created a fresh new branch called "issues/431_1".
And ran a number of tests:
SIP->SCCP
SCCP->SIP
SCCP->SCCP
And they all seem fine.

The debug logging for video handling has been extended quite a bit, to show exactly how/where we are handling video.
There is still a little more to.. But the major part is already working.

Please give it a try:
[code]
Please use "sccp debug core, pbx, indicate, cod

[2019-03-16 20:59] dkgroot commented on #431
Tests:
\-  unknown/needs checking
n/a not applicable
ok = ok / works
x = not ok
ast = cause by asterisk

test                       | single line | shared line | comment
----------------------- | --------- | --------- | -----------
videomode softkey | -  | - |
hold/resume          | ok | - |
leave voicemail      | ok | - |
playback voicemail | ast | - | see below (*)
callforward            | -   |

[2019-03-17 14:48] dkgroot commented on #402
Note: Setting DND on the 8945 will show a popup for about 5 seconds and is then dropped again... on every user action the popup re-appears. it's not perfect but at least the user is informed. Switching DND off also generates a similar popup. However i noticed only yesterday, that the "Do not disturb is not active" message keeps re-apparearing after each user interaction, which is wrong.
I have not

[2019-03-18 22:48] dkgroot opened #457 "sccp_astwrap_allocPBXChannel causing segfault when codecs of requestor match none"
sccp_astwrap_allocPBXChannel causing segfault when codecs of requestor match none

Reported by: Ian McAlees

Backtrace:
[code]
Tested asterisk=16

[2019-03-18 22:55] dkgroot commented on #457
@ianmca Created an asterisk-16 related branch for you to test "issues/457"

Prefered: if know the calling/called parties involved and so you can easily reproduce the issue on a test machine.

[2019-03-20 20:38] dkgroot commented on #457
Required tests

GLOBAL: alaw             <-- instigator for some of the issues encountered
SEPAAAAA : 1234 has g722 & alaw
SEPBBBBB : 4321 has alaw
SEPCCCCC : 5555 has g722
SEPDDDD : 1111 has ulaw

SIP : 8888 has alaw
Test: | expected | transcode | actual
-- | -- | -- | --
SCCP->SCCP |   |   |  
1234 -> 4321 | alaw | no |  
4321 -> 1234 | alaw | no |  
5555 -> 1234 | g722 | no |  
5555 -> 4321 | a

[2019-03-24 10:20] eyatsko opened #458 "7940_7914 BLF+Pickup Great Problem"
Cisco Phone 7940 with addon 7914 doesn't work as expected: when monitored line gets a call pressing 7914 button doesn't pick up the call instead it shows "External Call" on 7960's display.
At the same time pressing the speeddial button on 7960 with THE SAME configuration shows "Call to ..." and if to press Dial SoftKey it actually picks up! Different behavior on coupled devices.

chan_sccp 4.3.0_T

[2019-03-24 13:51] dkgroot commented on #458
@eyatsko
Can you tell me the branch and revision of chan-sccp you are using (sccp show version). Have you tried the latest current version (ie: `git clone https://github.com/chan-sccp/chan-sccp chan-sccp_develop`) ?

Is the SEP00070E578F4F the 7940 or 7960 (FYI: In the devicetype you declared it as 7960). As far as i know the 7940 and 7960 should be (mostly) the same hardware and firmware except f

[2019-03-24 18:13] dkgroot commented on #458
@eyatsko Maybe you could join us in the [chan-sccp gitter chat](https://gitter.im/chan-sccp/chan-sccp), and ask for @PhantomVI. He is also from Russia and has a number of 7960 and 7940 with addon modules. That could help.
Also have you tried just assigning a simple line to the addon module instead of depening on speeddials + dialplan + hints. Might be good to start with something simple and easy a

[2019-03-24 21:37] eyatsko commented on #458
Hello dkgroot!

1) sccp show version gives:
  Skinny Client Control Protocol (SCCP). Release: 4.3.2 develop - aaace51M (built by 'root' on '2019-03-23 23:16:41 UTC')

2) SEP00070E578F4F is 7960 + 7914, and is seems that connection is good. I double checked.

3) sccp show device SEP00070E578F4F
[code]

4) sccp debug core, action, softkey, feature - doesn't show anything while I' pressing during a c

[2019-03-25 01:39] dkgroot commented on #431
Issued a new branch called "issues/457_431_1" which contains the changes from #457 and the changes from #431_1 (on top).

[2019-03-25 18:55] dkgroot commented on #458
@eyatsko Was Alex (@PhantomVI) able to help you, figure out what went wrong ?

[2019-03-25 19:13] eyatsko commented on #458
Hello!

I'm waiting for his reply. :-) I became able to ask just this evening. An hour ago.

[2019-03-25 19:41] dkgroot commented on #458
Ok good luck.. He can be quite busy some days :-)

[2019-03-31 10:48] KCross84 opened #460 "Oops! on editing extension/phone"
When you create a new phone in SCCP Manager or edit a phone marked as *NEW*, settings are saved. However, when you click the pencil icon to re-edit a phone, you get the following error:

Whoops \ Exception \ ErrorException (E_WARNING)
Invalid argument supplied for foreach()

**Reproduction Steps:**

1. Create a phone in SCCP manager or connect a phone with Hotline service activated.
2. Enter the s

[2019-03-31 17:07] PhantomVl commented on #460
This problem is caused by an error or bug in "sccp_manager".
Most likely this is due to some change in the internal formats of codecs freepbx.
If it is convenient for you, let's move the discussion of this problem to the chat https://gitter.im/sccp_manager/community

[2019-03-31 18:03] dkgroot commented on #460
@PhantomVl Thanks for picking up on this one. I was a little confused about the content, because it is not related directly to chan-sccp :-) Can/should we move this issue to https://github.com/PhantomVl/sccp_manager ?

[2019-04-11 17:08] dkgroot commented on #457
The "issues/457" branch has been merged into "develop" closing this issue

[2019-04-11 17:12] dkgroot commented on #431
I have merged "issues/457" into develop
I have rebased "issues/457_431_1" on top of the new develop branch, and renamed it to "issues/431_2"

So if you are interested in having video support, please jump to "issues/431_2" and give it a go !

[2019-04-16 22:05] dkgroot commented on #460
Closing this issue on here, for now ! I think it was already resolved on sccp_manager.

[2019-04-16 22:05] #460 closed, assigned to nobody

[2019-04-16 22:06] dkgroot commented on #458
@eyatsko Was this issue resolved in the meantime ? Can i close this issue report here ?

[2019-04-18 05:42] KCross84 commented on #455
I got this error as a result of trying to use the WB2 paging method as I am not yet able to install PAMI. I installed this branch and things are finally working and seem stable for the moment.

[2019-04-23 12:44] #431 closed

[2019-04-23 12:47] dkgroot commented on #431
The Branch "issues/431_2" was just merged into develop. We should now have video support back in the main tree.
Thanks @darkponay for testing the last branch extensively.
Thanks you all for test/checking and your patience.

[2019-04-26 09:31] dkulemin opened #462 "Disable cfwdall from CLI"
Hi!
Is there a way to disable call forward all for line from CLI? Tried command "sccp set device SEPXXXXXXXXXXXX cfwdall off", but it just makes CFwdALL service unavailable from device and call forwarding is still enabled.

Thanks!

[2019-04-27 04:36] dkgroot commented on #462
That sounds like a regression.. I will have a look at it tomorrow, to see what i can do.

In the meantime you might consider doing:
[code]
For all the devices in question, that should also do the trick.
Sorry about the inconvenience.

BTW: You are welcome to join us at [gitter chan-sccp chatroom](https://gitter.im/chan-sccp/chan-sccp) :-)

[2019-04-27 09:51] dkgroot commented on #462
@dkulemin There currently is no method implemented to set/remove callforward from device/lines on the CLI. In retrospect i think that's a flaw that should be corrected, but it will take me a little bit to add it. Thanks for bringing it to my attention. I will let you know as soon as we have something.

[2019-04-27 17:08] dkgroot commented on #455
@KCross84 Is this still the case, did we not move you back to the development branch ? What is the problem with PAMI... And have you had a look at http://github.com/dkgroot/PAMI (fork) ?

[2019-04-29 06:07] dkulemin commented on #462
@dkgroot Thanks for the answer! And thanks for inviting in chatroom :)

[2019-04-29 13:15] dkgroot commented on #462
I will try to make some time to add this little feature somewhere this week. You should be ok, using the database solution for now i guess.

Background Info: the astdb is used to store these settings temporarily so that we can recover them after an asterisk restart. So to get rid of them, you have to clean them out manually and restart chan-sccp or the device in question.

[2019-05-01 14:29] dkgroot commented on #462
Added CLI sccp callforward <lineName> [deviceid] [none|all|busy] [destination]
Added AMI SCCPCallForward: Line, Device, Type, Destination

Example:
[code]
@dkulemin Thanks for reporting the issue.

[2019-05-01 14:30] #462 closed, assigned to dkgroot

[2019-05-08 20:31] darkponay opened #464 "Conference barge issue after hangup"
Hi,

We have a little issue with barging.
Say we have three phones and two lines. For example A1, B1 and C2 (where letter is the phone and number is the line).

B1 and C2 are discussing each other about their all new Chan-SCCP install and its cool features.

A1 see the line button with a red light, press on it, and then press barge softkey. The A phone will go off hook and join the B1/C2 conversat

[2019-05-08 21:07] darkponay opened #465 "Interfaces glitches"
Hi,

We noticed some interface glitches in some situations :

- [x] Barge
When you barge into a call and then you leave, the remaining users (the "caller" of the initial call) will see "Barge From XXXX" in the bottom line until the end of their call. It should probably be "Barge from XXXX" and showed only when necessary. It should disappear after the barge end.

- [x] Call Waiting
When you are on

[2019-05-08 21:42] dkgroot commented on #465
In all of these instances we do display the prompt with a timeout already, and on my phones this timeout is followed. Meaning the message goes away after 5-8 seconds. We need to figure out what might be causing this effect on your phones.
Not sure where to start investigating this.

[2019-05-13 16:00] TheCranston opened #466 "ATA devices don't receive MWI"
When using ATA186 on CUCM it is able signal Message Waiting Indication using a stuttering dialtone (audible mwi).
Using chan_sccp this currently does not work.

[2019-05-13 16:03] dkgroot commented on #466
Create a new branch called "issues/466_mwi"
Note1: Solution has not been tested by me.
Note2: I did not know which dialtone to use to create a "stutter". For now i picked "SKINNY_TONE_RECALLDIALTONE" (which was not yet in use for anything).

***Git***
_Checkout this temporary branch_
[code]

_move back to develop afterwards:_
[code]

Thanks for reporting the issue. Let's see if this quick solution

[2019-05-15 00:08] dkgroot commented on #466
https://sourceforge.net/p/chan-sccp-b/mailman/chan-sccp-b-discussion/thread/CAMZpLiUF0DqPHxY_zrd%2BLKEZSVeOejpysN9Qk9Lco_HEhxA7KA%40mail.gmail.com/
https://www.cisco.com/c/en/us/td/docs/voice_ip_comm/cucm/admin/11_0_1/featureConfig/cucm_b_feature-configuration-guide-1101/cucm_b_testmap_chapter_01110.html#CUCM_TK_C9B41467_00

I had a look in the Local Files (g3-tones.xml / g4-tones.xml and gateway-

[2019-05-15 13:26] dkgroot commented on #466
Little progress: @TheCranston got CallerID working by setting the `CallerID Method` in the ataxxxxxx.cfg file to US standard settings. No fix for the mwi yet.

[2019-05-15 14:23] dkgroot commented on #464
Thanks for the entertaining narrative :-)

I need a little time to fix up the exception cases.

[2019-05-15 23:00] #464 closed, assigned to dkgroot, darkponay

[2019-05-15 23:00] dkgroot commented on #464
Fixed the issue (for shared line barge). Now the channel can be barged into again, after the first time.
Thanks for reporting the issue.

[2019-06-13 14:00] SeSti4 opened #467 "Asterisk segfault"
Hello, i'm using:

FreePBX 14.0.5.25
Asterisk 13.22.0
Sccp ver.4.3.1 r433 Revision :10561
Sccp Manager V.13.0.0.4

On phones used last firmware from cisco.com

Very often there is a problem.
Asterisk going to segfault ...

Asterisk Log is:
[2019-06-03 15:28:49] VERBOSE[10094][C-00000000] app_dial.c: Called PJSIP/telnumber@AddPac-Murom
[2019-06-03 15:28:49] VERBOSE[10094][C-00000000] app_dial.c: PJ

[2019-06-13 16:07] dkgroot commented on #467
@SeSti4  Thanks for reporting the issue !
The version/revision you are using is a little older. Can you clone the latest chan-sccp develop branch and see if the issue has already been resolved.
[code]
If you still get this segfault, it would at least have the correct line number to help me pinpoint the issue.
Mind you this might require also upgrading sccp_manager.

 BTW: You can talk to us direct

[2019-06-14 08:39] SeSti4 commented on #467
Ok! Thanks to help.
I will try to update the module, but I can check it only in two weeks.

and ... 729 codec i don't use. Only 711 (ulaw alaw)

[2019-06-14 21:35] dkgroot commented on #467
Ok... Sorry for the inconvenience. Do monitor your system in the meantime, to see if there is some logical set of circumstance that would cause this error. If you notice a way to reproduce the issue, let us know.

[2019-06-26 12:15] LeePorte opened #468 "undefined symbol: __ast_test_status_update"
having downloaded the chan-sccp package from  http://ppa.launchpad.net/chan-sccp-b/ppa/ubuntu it is unable to be loaded by Asterisk 16

I have checked ownership and permissions on `/usr/lib/asterisk/modules/chan_sccp.so` and these have been corrected.

**Reproduction Steps:**

1. Install Asterisk 16 from ubuntu repos
2. install chan-sccp from PPA
3. disable chan-skinny in /etc/asterisk/modules.con

[2019-06-26 19:51] dkgroot commented on #468
Hi Lee,

To be honest it has been a while since i tested the ppa's on my local system :-)

When using a package from ppa/launchpad, you need to make sure you use the asterisk version this module was compiled against. And it has to be an exact match.
So looking at the [build log](https://launchpadlibrarian.net/422794979/buildlog_ubuntu-bionic-amd64.chan-sccp_4.3.2.10626.a5e4b15~bionic_BUILDING.txt.

[2019-06-26 20:05] LeePorte commented on #468
I've built it locally and it's starting now.

I think updating the Readme would be a good idea. Any thoughts about deprecating the PPA?

Cheers

Lee

[2019-06-26 23:58] dkgroot commented on #468
I have been using the ppa build system mostly as a sort CI, because it's so easy to build for. Give it a debian pkg description and off it goes. And it builds it for a lot of platforms :-). So i actually use it, but not for what it is meant for. I will try out the chan-sccp.deb file this week, to see if it is actually usable as intended and then update the readme.md and wiki to give some guideline

[2019-06-26 23:58] #468 closed, assigned to dkgroot

[2019-07-06 00:57] Bikkies opened #469 "checkACL denies device over VPN when it should be permitted"
I'll pop the explanation below, but I'll chuck the problem and my awful hacky solution up here to get to the point quicker.

**Problem:** For some reason the checkACL function was denying a phone that should have been allowed according to the rules. The only thing that I can think of is because it was connected over a VPN, but the server should basically just see it as just being on the same LAN r

[2019-07-06 02:37] dkgroot commented on #469
Hi Bikkies,
Thanks for the report, and sorry to see you ran into this. It will be a little hard for me to exactly replicate your circumstance / network layout etc. But i will have a look at the code (this weekend) and see if i can find anything. If i do, i will create a seperate branch called 'issues/469' and report back to you. That way we can work on the issue together (without bothering anyone)

[2019-07-06 12:06] dkgroot commented on #469
Hi Bikkies,
I have re-enabled / added some debug output, so we can trace what's going on, and how chan-sccp is coming to the conclusion the devices ip-address it outside the deny/permit range.

***Git***
_Please checkout this temporary branch_
[code]
And set:
[code]
Then restart the device and post the device registration CLI output from the first socket connection to the checkACL being denied. If

[2019-07-06 13:16] Bikkies commented on #469
I've checked out that branch and here is the output from the log for two connection attempts. They both look the same, but I noticed both do a netmask check right at the start and accept the connection, but then go on to deny it a bit after.

Also yeah I did try setting some network allows on the device itself but that didn't help and a set it back to inherit afterwards.

Here's the output I got,

[2019-07-06 15:51] dkgroot commented on #469
Woops that was my bad. I created the new branch, but forgot to push the new content :-) Pushed 05a51b0 now.

And yes the ACL's are checked twice (sort of), first to check if you are allow to connect to the network socket against the [general] deny/permit. Once you pass that, and the device sends a Register Request, the ip-address is checked against the device's deny/permit (which can be inherited

[2019-07-07 09:48] dkgroot commented on #469
[code]
The phones's ip is masked by the vpn connection, the origin of the connection is now coming from the FreeBSD machine providing the VPN service
[code]
If you add 192.168.33.0/255.255.255.0 the device would have gotten through. Although i must admit the debug output is a little confusing. From the asterisk perspective the connecting is coming in from 192.168.33.0. Not all VPN's work in the sa

[2019-07-07 15:06] dkgroot commented on #469
Ok we figured it out. There was both a /etc/asterisk/sccp_hardware.conf and an entry in the realtimedb. Apparently chan-sccp took both, and added them together. In the old sccp_hardware.conf, the port was still blocked and the conclusion made by chan-sccp was the right one in the end.

I however have added a small addendum to our FreePBX wiki, to add a little warning, to use either or, not both to

[2019-07-07 15:06] #469 closed, assigned to dkgroot

[2019-07-29 17:56] dkgroot commented on #467
@SeSti4 Any progress ?

[2019-07-29 17:59] dkgroot commented on #466
@TheCranston Have you had a change to give this a try ?

[2019-07-29 18:35] TheCranston commented on #466
Diederik,
I gave up on the Audible WMI (Stutter tone when the handset goes off hook)… SCCP handles this very differently compared to a SIP endpoint.  One day I’ll revisit it..
-Ben

[2019-07-29 21:56] dkgroot commented on #466
Should we close this issue for now (so you can reopen it in 2025 :-)

PS. Haven't [heard from | seen you in the chat] in a while, hope everything is ok !

[2019-07-29 21:56] #466 closed, assigned to dkgroot

[2019-07-30 03:00] TheCranston commented on #466
Please close it for now, yes.  Perhaps in 2025 I’ll get back around to it.  Just trying to keep my head above water right now.

[2019-07-30 06:33] SeSti4 commented on #467
@dkgroot Hello, i`m update to "Release: 4.3.2 develop - 3dbf2ceM"
3 week without segfault =)

[2019-07-30 11:30] dkgroot commented on #466
@TheCranston Sorry to hear you are in a spot of trouble (sounds like), lots of luck with that. When you do have a little more time, do give me a shout in the chatroom if you like ! Keeping fingers crossed for you !

[2019-07-30 11:34] dkgroot commented on #467
@SeSti4
Thanks for the update, that's really nice/good to hear. I did make a two small commit's since then, so you might want to give them a try in good time (preferably on a separate machine/instance).

I guess we can close this bug report then (for now).

[2019-07-30 11:34] #467 closed, assigned to dkgroot

[2019-07-30 11:35] dkgroot commented on #467
@davidded The current `develop` branch is what @SeSti4 was using (2 commit's behind) and he was also having some trouble. You both moved to the head and are now trouble free, so the special/temp branch i created for you (David) might not be required.

[2019-08-19 12:44] dkgroot commented on #455
Updated branch "issues/cfwdsharedline"

***Git***
_Checkout this temporary branch_
[code]

_move back to develop afterwards:_
[code]

[2019-08-19 12:52] dkgroot commented on #455
@nikolaciprich Please have a look/update if you can

[2019-08-21 21:41] thelan opened #470 "Missing dependencies on Fedora 30 / Asterisk 16.4"
Unable to load module due to missing dependencies

It seems that the modules has been splitted (plain/imap/odbc)

See: https://src.fedoraproject.org/rpms/asterisk/blob/f30/f/asterisk.spec#_683

**Reproduction Steps:**

1. Install Asterisk from fedora 30
2. Compile and install chan-sccp
3. Load the module

**chan-sccp version:** develop (3f6571112b902813c313747ff37fc567f78658c9)

**asterisk version

[2019-08-22 11:41] dkgroot commented on #403
***Git***
_Checkout this temporary branch_
[code]

_move back to develop afterwards:_
[code]

[2019-08-22 12:21] dkgroot commented on #470
@thelan Hi Julian,

Thanks for reporting this issue and figuring out a potential fix.

I dropped "app_voicemail" as a requirement, and moved it into ".optional_modules". That should take care of it. Note: I was not able to find 'app_voicemail_plain' anywhere in  the asterisk source, so not sure where this is coming from.

The commit will auto close this issue, if the issue does continue, please re

[2019-08-22 12:22] #470 closed, assigned to dkgroot

[2019-08-22 16:03] #403 closed

[2019-08-23 16:28] #373 closed

[2019-08-23 16:28] dkgroot commented on #373
Merged into develop

[2019-08-23 17:15] dkgroot commented on #244
both h263 and h264 supported now

[2019-08-23 17:15] #244 closed

[2019-08-26 11:55] dkgroot commented on #465
@darkponay
Regarding recording calls, you can also use/add the 'monitor' softkey. This softkey will switch to show you the state of recording.
The number of supported icons on Feature buttons is very limited so we had to use what was available. Did not know they would not be supported on the Addon at all.

[2019-08-26 17:08] hedgehog1029 opened #471 "7942 phone not responding properly after sitting for some time"
After sitting for some time untouched, pressing "New Call" or one of the line buttons does not properly start a new call - a small speaker icon

**Reproduction Steps:**

1. Wait some time without touching the phone
2. Try pressing a line button or the New Call softbutton
3. Observe that a normal call is not started, the line button is not lit, and a small speaker icon is present in the bottom left

[2019-08-26 17:38] dkgroot commented on #471
I just notice you are running asterisk-15, is that intentional ? Can you tell me the current chan-sccp revision number you are using. I just want to make sure that's up to date. You said you where running the pre-build chan-sccp rpm's (right ?)

[2019-08-26 17:56] dkgroot commented on #471
Can you please attach the same debug log but with 'message' as extra debug param. That might shed some light.
You say 'After sitting for some time untouched'... How long would that normally be ?

[2019-08-26 18:28] hedgehog1029 commented on #471
Here's the log with `message` switched on: https://paste.dimdev.org/efegehegoq

The time before this behavior is seen again seems random - sometimes it takes hours, sometimes minutes, but if you're actively using the phone it doesn't seem to reoccur.

[2019-08-26 19:17] dkgroot commented on #471
Hmmm. i am not seeing the `message` output in there. I should look something like this:
[code]
For each and every TCP message send to and from the phone

[2019-08-26 19:23] dkgroot commented on #471
Ooh i am seeing the sccp_session_send2 part, but not the hex dumps underneath. They got filtered out somewhere.

[2019-08-26 19:25] dkgroot commented on #471
looking at it again: It looks like the device send us a 'Accessory Status Message'... And apparently it's expecting us to respond to that somehow. That could make sense. The question is, what should we send back. I don't know of a proper response to a `Status` Message (Normally we have Request/Response or Status messages, the latter don't have a response not require one).

[2019-08-26 19:36] dkgroot commented on #471
Reading a little further down, stuff is getting worse
[code]
The Update Capabilities message normally only comes ones, shortly after registering, not in the middle of a call. Also just before it's complaining that it's not receiving the normal amount of data. I think we might have a different problem all together.

A TCP stream has to be a continues stream of data (without any errors). Once the se

[2019-08-26 19:42] dkgroot commented on #471
Can you post your sccp.conf here as well, there might be something in there, that sheds a light. I don't have a 7942, but the 7962 is close enough (i think) and could try your config on it.

[2019-08-26 20:01] hedgehog1029 commented on #471
here's my sccp.conf: ....

[2019-08-26 20:04] dkgroot commented on #471
Nice and clean / short... Nothing in it really. Just the way i like it.

Did not see anything that stood out.. If you like you can remove the link, if you don't want it fully public. Thanks

[2019-08-26 20:05] dkgroot commented on #471
The tcpdump might clarify what is going on.  We would need the corresponding debug log excerpt for that tcpdumped call at the same time, so we could match them up, and see where they go out of alignment (if that is the case).
I am sorry to put you through all this hassle

[2019-08-29 10:23] dkgroot commented on #466
@TheCranston The patch created above was pretty small and should not have any negative side effects. So i merged it into the main tree. When/if you get a chance to have another look at MWI on the ATA, to see if stutter works, give me a shout.

[2019-08-29 10:34] dkgroot commented on #402
@gthompsongcsc @gplindstrom
According to the 8945 manual, the DND popup is how this phone is supposed to work. With one difference that when DND is active the change the line light to AMBER. I have not figured out how to make that happen through. For now we just popup the DND warning when you go OFFHOOK/ONHOOK, so the user is aware.
We do have someone with a CUCM now and he is checking out if he c

[2019-08-31 00:11] dkgroot commented on #458
Any progress ?

[2019-08-31 00:16] dkgroot commented on #455
Issue should be fixed, including the continues ringing reported.

[2019-08-31 00:18] dkgroot commented on #430
No response

[2019-08-31 00:18] #430 closed

[2019-09-03 00:21] mmguglielmi opened #472 "Capture ext between SCCP and SIP"
I can't capture between SCCP and SIP

**Reproduction Steps:**

1. ext 101 ring (SCCP)
2. 101 answer, then transfer ext 200 (SIP)
3. ext 212 (SCCP) try to capture (with *8 or CISCO capture  button), and not work
I attach asterisk log of both ( *8 and capture button)

Should I have any special consideration in config?

[with ast 8.txt](https://github.com/chan-sccp/chan-sccp/files/3567295/with.ast.8.

[2019-09-03 00:35] dkgroot commented on #472
Hi @mmguglielmi ,

If by "capture" you mean gpickup/pickup. You can use so called directed pickup by pressing the PICKUP and entering the number of the RINGING extension you would like to answer (you need to make sure that the correct directed_pickup_context matches the SIP context of the call you would like to answer).

Or if you want to use GPICKUP, you need to make sure that:
the sccp line you

[2019-09-09 21:40] rofferman opened #473 "Caller ID not transferring on blind transfer using transfer softkey"
When I transfer a call using the transfer softkey the caller id of the inbound caller is not sent with the call, instead the name of internal extension is sent.
If I use ## to transfer the call is transferred with the caller id information correctly

I am using freepbx with asterisk 16.

This was working up until a few weeks ago.  I cannot figure out what has changed

[2019-09-09 21:49] dkgroot commented on #473
@rofferman
I am not sure which revision might have caused this. Most resent commit merges are only done after quite a bit of testing, to prevent regressions. I am not a 100% sure, what you mean by `internal extension` to be honest. An example (either as image or text) of the shown callinfo would have been more helpfull.

Would you be able to do a `git bisect` to figure out which commit cause the r

[2019-09-09 21:58] rofferman commented on #473
For example  a call comes in with the caller id of the incoming caller.. The caller is transferred to another phone in the building. The original caller id showing the callee is overwritten by the extension that is transferring the call. So the phone that the call was transferred to is showing the extension of the phone that transferred the call.

I can get some log information uploaded tomorrow a

[2019-09-09 23:23] dkgroot commented on #473
If you set "`sccp debug core, channel, callinfo`" the debug logs should be helpfull. I would have to see the before and after though (so the old situation and the new). And please do include some details about the devices and lines taking part in the call. Otherwise it's difficult to figure out what is what (for someone outside your network).
If you can do a `git bisect` that would be most helpful

[2019-09-10 17:18] rofferman commented on #473
[sccptosccp.txt](https://github.com/chan-sccp/chan-sccp/files/3596928/sccptosccp.txt)
[sccptosip.txt](https://github.com/chan-sccp/chan-sccp/files/3596931/sccptosip.txt)
 I am attaching the two asterisk logs i captured and am working on getting some other logs.
When i transfer from SCCP to SIP the callerid transfers correctly, it seems only be when i am transferring SCCP to SCCP that it does not.

[2019-09-10 17:23] rofferman commented on #473
[sccptosccpdegugon.txt](https://github.com/chan-sccp/chan-sccp/files/3596949/sccptosccpdegugon.txt)
Sorry I forgot to have debug on.. Here is the SCCPto SCCP log with debug turned on

Here is the version I am using
Skinny Client Control Protocol (SCCP). Release: 4.3.2 develop - ed9fbdbM (built by 'root' on '2019-09-09 15:48:43 UTC')

[2019-09-10 22:02] dkgroot commented on #473
@rofferman Thanks for the debug logs, but i do need a little more help.

Per debug log, i need to know who is calling who (which phone to which phone). Then which phone is transfering the call, and what the callerid is that you are seeing and what you would have expected.

Example : SIP:A is calling SCCP:B at extension 111. B transfers the call blindly to C using Transfer softkey. When A is connec

[2019-09-11 13:04] #92 closed

[2019-09-11 13:09] dkgroot commented on #472
@mmguglielmi Any update ? Can this issue report be closed ?

[2019-09-11 13:09] dkgroot commented on #471
@hedgehog1029 Hi Henry, any update ?

[2019-09-11 14:05] mmguglielmi commented on #472
Hi @dkgroot
Thanks for asking
We're doing few more test, and I'll update
The problem continue, but I want to give you more info...
Thanks a lot

[2019-09-11 22:29] rofferman commented on #473
I am calling 812-492-3538 which is the DID for  SCCP phone 3538 from my cell phone. Blind Transferring the call to SIP 3591 using transfer softkey on SCCP phone 3538. when the transfer is in progress it is showing the correct caller id from my cell phone(original incoming call) on SIP 3595.

I am using the same structure as above to test from SCCP to SCCP. The only difference is that SIP 3591 chan

[2019-09-11 23:53] rofferman commented on #473
I have found that this way works, but it used to simpler than this

**If you really want to maintain visibility of the Caller ID, the simplest way we have found is to put the call on hold, grab a line and call the party the call is for, and if they want it, hang up and blind-transfer the call.**

[2019-09-15 11:33] dkgroot commented on #458
Closing issue report for now. Please reopen if/when required.

[2019-09-15 11:33] dkgroot commented on #458
Closing issue report for now. Please reopen if/when required.

[2019-09-15 11:33] #458 closed

[2019-09-15 11:39] dkgroot commented on #434
No response for some time ! We closed this issue for now.
If/when necessary, do reopen the issue please.

[2019-09-15 11:39] #434 closed

[2019-09-15 11:40] dkgroot commented on #428
No response for some time ! We closed this issue for now.
If/when necessary, do reopen the issue please.

[2019-09-15 11:40] #428 closed

[2019-09-15 11:52] dkgroot commented on #426
@marek-cerny Would you mind checking the current latest version. I have done some work on caller id handling in the last couple of weeks.

What should work.
Outgoing call:
 - [X] Set(CHANNEL(CalledParty)=XXXX)
 - [X] SCCPSetCalledParty(XXXX)
 - [X] Set(CALLERID(all)=XXXX)

Incoming call (Before Dial()):
 - [ ] Set(CHANNEL(CalledParty)=XXXX)
 - [ ] SCCPSetCalledParty(XXXX)
 - [X] Set(CALLERID(all)=

[2019-09-15 11:57] dkgroot commented on #402
After some heavy experimenting using the 8945 phones (on CUCM). We were not able to change the light status of the line button (as the phones manual portrait), so we are assuming this was never actually implemented.

We have decided, that using the "Popup Method" (described above / added some months ago) is as much as we can achieve on the 8945 (for now).

Closing this issue. Thank you for reporti

[2019-09-15 11:57] #402 closed

[2019-09-18 08:58] anutator opened #474 "Russian letters in phone description, year - four digits"
I have russian locale with buttons in Russian.
Button labes in Russian, everything is Ok.
But I can't get phone description in russian - get dirty symbols. So I have to white it in English (Surname and phone number).

The second question: tried D/M/YY but can't get year 2019, only 19.

**chan-sccp version:**  - the latest
**asterisk version:** Asterisk 16.5.0
phones - 7911, firmware - the latest S

[2019-09-18 11:21] dkgroot commented on #474
@anutator Thank you for reporting the issue.

I have looked at the code (sccp_action.c:1553 / sccp_protocol.c:1312) and we use the same locale conversion code for the description and the line button labels.

Do you have something like this line in your sccp.conf ?
[code]
It could be that the 7911 is just broken in this way. I don't have any 7911 around anymore. I do have 7960/7970 phones, which di

[2019-09-18 12:20] ojaksch commented on #474
Yes, I'm using a 7911/sccp phone in my kitchen and can check this out later
this day.
I setup the date field in sccp.conf as dateformat = D.M.Y in [general] and as
<dateTemplate>D.M.YY</dateTemplate> in *.cnf.xml which displays the date
"HH:MM DD.MM.YY" at least on my 7960s and 7970s using locale German_Germany/
de_DE
-
Oliver

On Wednesday, 18 September 2019, 13:21:09 CEST you wrote:

[2019-09-18 13:00] dkgroot commented on #474
@ojaksch
Thanks Oliver. Maybe you can add "öß" to the description on that phone, to see if they come out correctly (when testing).

Note to @anutator: In germany they separate dates using "." so that format is the norm there. If i am not mistaken, this is also the case in the Russian Federation (correct?).

[2019-09-18 13:10] ojaksch commented on #474
Will name the device "Küche" (Kitchen) later then. But if I remember correctly
I did this at first setup of the 7911 which hasn't worked - that's why it's
name is "Kueche" at the moment.

[2019-09-18 13:12] dkgroot commented on #474
@ojaksch Isn't transliteration wonderfull :-) Thanks for helping out / checking BTW !

[2019-09-18 13:14] ojaksch commented on #474
It IS, indeed! And always at service as you know :)

On Wednesday, 18 September 2019, 15:12:23 CEST you wrote:

[2019-09-18 14:21] dkgroot commented on #474
Current status on 7911
![7911](https://files.gitter.im/PhantomVl/wx7y/thumb/izobrazhenie.png)
(img provided by @PhantomVl)
Current status on 7961
![7961](https://files.gitter.im/PhantomVl/5rjT/thumb/izobrazhenie.png)
(img provided by @PhantomVl)

Top Row DisplayLabel (ie: device description) should have said: "Дима"
We are sending the string correctly in UTF8 format, which java should be able to d

[2019-09-18 16:28] dkgroot commented on #474
@anutator
We did some more tests (with german locale).
On the 7970 (java) description works (UTF8)
On the 7960 (pre-java) description works as well (UTF8 Converted to CodePage)
On the 7911 (java) description doesn't work (send in UTF8, which should have worked)

To be honest, with the low number of people using this type of phone, and no real idea about what might be causing this, we should maybe

[2019-09-18 18:22] anutator commented on #474
Yes. I tested D.M.YY and also see 18.09.19 instead of 18.09.2019.
And in upper right corner as on screenshot (provided by @PhantomVl). Also use utf-8 in SEP file.

This is not critical. I also can write in English. Besides on CUCM we only have the number on upper right corner but I'd like to see surname using command sccp show devices.

[2019-09-18 18:40] anutator opened #475 "Autoprovision"
Simple script to make SEP files from sccp.conf
Not an issue))
Maybe you can make it better ant correct my script, because I am the beginner in Linux.
You must create templates in /tftpboot for different phone models and default template when somebody doesn't use template such as (7911) in sccp.conf
[code]
etc.

In sccp.conf at first I make templates for phones and lines.
[code]

Then I add phones

[2019-09-18 19:16] dkgroot commented on #475
@anutator
Very nice idea !
This might be something for our wiki, btw (if you like).

I just had a little idea for you, to make it easier to parse things separately (and sync later on):
sccp.conf
[code]
You can then can create a SEPxxxxx.conf file per device and a LINExxxx.conf file per line.

Also you can set
[code]
Putting this in seperate files makes it really easy to verify if you have created

[2019-09-18 19:27] dkgroot commented on #475
Some suggestions:
[code]
I kept all the functionality of your script, just added some safefy checks and clean handling.

[2019-09-18 19:31] anutator commented on #475
Thank you for ideas!

I use this options in model templates:
[code]

[2019-09-18 19:33] dkgroot commented on #475
Yes that would work, and nice to see somebody understanding and using asterisk config templates :-)
I have my config in the realtime database (postgres), so can't really use your script. But i have something similar.

Note: I did not want to criticize your script.  You mentioned you were new to linux/unix/scripting, and i thought i could help you by showing a couple of simple small improvements. Y

[2019-09-18 20:32] mmguglielmi commented on #472
Hi @dkgroot
We were making a mistake in the config you suggested
It's working now
I really appreciate your answer
Thanks a lot

[2019-09-18 20:56] dkgroot commented on #472
Ok, thanks for the update. Good luck using chan-sccp !
Closing this issue

[2019-09-18 20:56] #472 closed, assigned to dkgroot

[2019-09-18 21:06] dkgroot commented on #474
Aah so on CUCM, that corner is filled with the `primary line number` ie: ascii only. That explains a lot. i did not know that. They might use the shorter date format, to preserve space, it is a pretty small display already.

[2019-09-23 11:19] anutator opened #476 "Everyone is busy"
Last week I registered SCCP phones. For example line 1125 — two phones, 7911 and 7925.
Today I can't call them (restarted Asterisk) —  Everyone is busy/congested at this time (1:1/0/0)
When I change incominglimit=2 to incominglimit=10, and sccp reload, I can call 1125. When I return incominglimit=2, busy signal again. Why phones are busy?

[code]

sccp.conf
[code]

**chan-sccp version:**latest
**a

[2019-09-23 13:05] dkgroot commented on #476
@anutator
Can you show `sccp show lines` or `sccp show channels`, which shows the number of channels ('Ch' column) before you make the call.

I just changed the debug output in the last commit (above) to display the number of calls and the incominglimit, before checking. I did not alter the measurement or the action taken. So now it will display `-- SCCP/98041: Number of Calls:1, Incoming calls li

[2019-09-23 13:44] dkgroot commented on #476
We could make this change, to only count incoming channels on this line and then compare that against the l->incominglimit. That might be more accurate.
[code]
If you like, you can give this patch a try, by storing the content in a file (let's call the file incominglimit.patch) and doing:
[code]

Still not taking into account shared line members though, as that would be rather complex and would re

[2019-09-24 07:38] anutator commented on #476
I can make calls from 1125, but can't receive.
This state when Cisco 7925 and 7911 are idle:
[code]

[2019-09-24 10:08] dkgroot commented on #476
Ok that shows the cause. You have four channels that have not really been ended/hungup/removed. This is not a good sign, this means we have a problem in chan-sccp. You will have to send me the asterisk "full" debug file, to see what happened with these channels. When you reload chan-sccp/asterisk and try again, the number of calls will be 0 again, and it should work.

Note: we need to figure out w

[2019-09-24 12:16] dkgroot commented on #476
BTW: I noticed that the `sccp show channels` doesn't look very nice when using russian locale, so i pushed a fix for that (12a2928) :-)

[2019-09-25 14:00] dkgroot commented on #474
Shall we close this issue report, in the assumption that the display is limited and cisco made these decisions for us ?

[2019-09-25 14:03] dkgroot commented on #475
Thank you for the script / insight. I think the best way forward for it would be a page on our wiki (if you need help let me know), or merging this type of solution into [provision_sccp](https://github.com/dkgroot/provision_sccp).

Note: Will be closing this issue report in 1 week, as it is not really an issue (to be honest).

[2019-09-26 13:30] berean-sc opened #477 "Crash with IPv6"
Using latest development version of chan-sccp, Asterisk crashes when calls are initiated or received from the SCCP endpoint using IPv6. Following the log, it appears to happen as soon as media is engaged.

Log end:

[code]

gdb bt full from core file:

[code]

This is on an older version of Asterisk that ships with Debian 8: Asterisk 11.13.1~dfsg-2+deb8u6 . I understand if you do not want to suppo

[2019-09-26 13:32] dkgroot commented on #477
@berean-sc
I have been doing some refactoring in the last couple of days/weeks, so this one might have slipped through.
Can you help me out, by doing a `git bisect` to find out the exact revision introducting the issue ?

[2019-09-26 13:35] dkgroot commented on #477
The backtrace supplied is not really usable to be honest.

For example:
`#8  0x00007fdb0be77307 in sccp_astwrap_rtp_write (ast=0x6,`, an `ast` pointer should be a pointer not some random integer. So something must have gone wrong between the crash and the backtrace (for example updating and recompiling the source).

Thanks though for taking the time/going through the trouble of trying to supply a

[2019-09-26 13:45] berean-sc commented on #477
gdb tells me: warning: .dynamic section for "/usr/lib/asterisk/modules/chan_sccp.so" is not at the expected address (wrong library or version mismatch?)

However, this core does correspond to the version of asterisk and the chan_sccp that were and are now in place.

The crash happens every call.

I first tested ipv6 yesterday on the chan-sccp dev version I had compiled 22 August. When it crashed,

[2019-09-26 13:47] dkgroot commented on #477
So the 22 august version crash and the current one crashes every time ?
BTW: `git log | grep bc3e370` doesn't give me any result, so not really sure what branch you are on. It says 'develop' but i cannot find it.
Maybe i did a rebase in the meantime, and we are on separate branches (my bad/sorry for that). To make sure that's not the case, please do a clean `git clone`.

[2019-09-26 13:49] berean-sc commented on #477
Oh no! I accidentally merged something local into my git pull yesterday. Let me clean it up and try again to make sure I didn't cause all this.

[2019-09-26 13:50] dkgroot commented on #477
Aah ok, that explains it :-)

[2019-09-26 13:50] dkgroot commented on #477
If you like we can switch to https://gitter.im/chan-sccp/chan-sccp and work on it live

[2019-09-26 14:14] berean-sc commented on #477
Now using the clean version, new bt as follows seems to have more useful information. Thanks for the offer of live debugging but unfortunately I have to stop for now and come back to this task later. I will ping you on gitter later, thanks again!

[code]

[2019-09-26 14:21] dkgroot commented on #477
that looks a lot better, will look into it. And currently trying to switch my 7970 to ipv6 mode (and it doesn't want to read my new SEP :-)).

Note1: There is only one sccp related function (`sccp_astwrap_rtp_read`) in the backtrace, most of this is happening in asterisk code (including the final crash).
Note2: The rtp address (in #7/`ast_rtp_read`) looks like rubish (uninitialized data), which sh

[2019-09-26 17:04] dkgroot commented on #477
If you have to change to update asterisk-11 (latest revision) or even upgrade to >= asterisk-13, that would be my advice as first step. Based only on the backtrace you provided i think it might be an asterisk/pjproject issue.

[2019-09-26 18:43] berean-sc commented on #477
I agree. I will plan a system upgrade to include a supported version of Asterisk. It is not worth further investigation to make this work on an obsolete Asterisk system. Thank you. I will start a new ticket if my problems persist on modern Asterisk.

[2019-09-26 18:43] #477 closed, assigned to dkgroot, berean-sc

[2019-09-26 18:49] dkgroot commented on #477
There might be a quick path, if you are also behind on asterisk-11 revisions, maybe try latest. I do know ipv6 used to already work on asterisk-11 back-when.
Another thing you might be able to do, is check is sccp->sccp or sccp->chan_sip works (circumventing pjproject).

But yes, asterisk-11 is out of support, and we only maintain a `compiling` version. I don't regularly test anything on it (just

[2019-09-26 20:50] billsimon opened #478 "'video_codec' undeclared"
Compiling latest pull from branch develop (4d4927a29feb7ad5f4c095ee1b84bce7fc96b88a) against Asterisk 16:

[code]

[2019-09-26 20:59] billsimon commented on #478
Looks like the declaration of `skinny_codec_t video_codec` is wrapped in an #if macro (line 1638) but line 1733 is not, resulting in the error if the condition is false.

[2019-09-26 21:22] billsimon commented on #478
Confirmed that wrapping ast116.c line 1733 with `#if ... #endif` produces a successful build.

[2019-09-26 21:57] dkgroot commented on #478
@billsimon
Thanks for reporting the issue (and researching the cause) !
Committed the fix.
Sorry for the inconvenience.

[2019-09-26 21:57] #478 closed, assigned to dkgroot

[2019-09-30 21:11] bfranske opened #479 "Building Debian Package"
I know you used to provide Debian packages through the OpenSUSE build service but it doesn't look like they are available for Debian 10 / Asterisk 16.2.1~dfsg-1+deb10u1.

I am trying to 1) Build chan_sccp for this environment and then
2) Build it as a dpkg so I can deploy it easily to several other systems

But I'm having difficulty with both of these things. ./configure is working correctly as fa

[2019-09-30 21:20] bfranske commented on #479
Figured out the make problem was something corrupt in my source archive. I have re-pulled the git repo and it then built correctly. The `make deb` is still not working though.

[2019-09-30 22:37] dkgroot commented on #455
Reimplemented handling of sharedline callforward:
-  Fix sharedline callforward
-  Fix ringing channel
-  Fix ao2_reference count
-  Fix ast_module_ref/unref
----
Created new branch "issues/cfwdsharedline2" for testing

Git
Checkout this temporary branch

git pull
git fetch -a
git branch
git checkout issues/cfwdsharedline2
./configure [....]
make -j4 && make install && make reload

move back to de

[2019-09-30 22:48] dkgroot commented on #479
@bfranske

Not sure what is going on there. it build fine on my ubuntu system, which ought to be compatible for the most part. What are the exact errors when you do `dpkg-buildpackage -rfakeroot -us -uc` on the command line from the chan-sccp directory.

BTW: we also have a Launchpad PPA repo, which might work for debian as well. Note you will have to read the ppa build log, to figure out the exac

[2019-09-30 23:02] dkgroot commented on #479
OpenSuSE Build Service is building 'Debian-10' packages
Updated the README to show the path

Note: You need to make sure you use the exact same asterisk package used by the openSuSE Build Service, so do check the build logs !

Last build was using : 'asterisk-dev-1:16.2.1~dfsg-1+deb10u1' so make sure you have that exact same version installed.

[2019-09-30 23:14] bfranske commented on #479
Awesome! I'm glad to have pre-built packages available for Debian again! I can fumble my way around Debian package creation but it's definitely not my area of expertise. I'm going to be using this package in class with students in a few weeks so it's much nicer to have a pre-built package they can download.

For what it's worth I did play around with it for a couple more hours and got it to build

[2019-09-30 23:15] dkgroot commented on #479
Just a couple more seconds before you start downloading.. it's still (re-building) latest revision...

[2019-09-30 23:18] dkgroot commented on #479
I was expecting something like that would be the case. Debian and Ubuntu are mostly the same, but there a small differences. On the opensuse buildserver we generate a fake changelog on the fly, so we don't actually use the one from source.
Not sure what would be the nicest way to update our Makefile, to include this distinction.

What are the students going to use chan-sccp for if i might ask ?

[2019-09-30 23:25] bfranske commented on #479
I teach an "IT Services & Applications" course at a local college in a Computer Networking & Security program. 1/3 of that course is related to VoIP services, 1/3 to Virtualization, and 1/3 to Cloud Services. In previous years I have done the VoIP portion with Cisco CUCM but want to transition to using Asterisk, mostly because I prefer open source but also because it's likely many of them will be

[2019-09-30 23:36] dkgroot commented on #479
Very interesting use case :-)
Setting-Up and configuring chan-sccp is a lot simpler than getting CUCM to do your bidding, so i guess the student will welcome the reprieve :-)

I found a little issue in Makefile.am causing an error during the generation of revision.h, causing all builds on build server to fail (with the latest package). Trying to fix it right now.

Think i figured it, rebuilding...

[2019-10-01 00:41] dkgroot commented on #479
It took quite a number of tries, to figure out what was wrong with the build script regarding .revision and revision.h but it's building again.

[Build Progress Monitor](https://build.opensuse.org/project/monitor/home:chan-sccp-b:asterisk-16)

A little heads up, regarding shared lines (Not sure if you use them). I would not recommend creating a shared line for a whole classroom, that might not be

[2019-10-01 00:55] dkgroot commented on #479
Reopen to check if we need to look into the "make deb" issue on debian, or just leave it as is ?

[2019-10-01 15:12] m-rey opened #480 "openSUSE name is misspelled in the readme file"
`openSUSE` is written as `OpenSuSE` in the readme file.
The spelling can easily be checked by pressing the openSUSE links and checking that the linked openSUSE website spells it `openSUSE`

[2019-10-01 15:34] #480 closed, assigned to nobody

[2019-10-01 15:36] dkgroot commented on #480
I think there was a time (way back when) when it was the other way around. Then again Suse has changed their name a couple of times :-)
Thanks for the Issue and subsequent PR though ! Merged !

BTW: These kinds of small PR's are always welcome :-)

FYI: Kurz nachgeschaut, und: S.u.S.E. war (anfangs) ein Akronym für "Software und System-Entwicklung". Nach der Übername durch Novell, hat der Name sei

[2019-10-04 22:47] #455 closed

[2019-10-04 23:23] dkgroot commented on #455
@kc2vrj Thanks for helping to test this
@nikolaciprich The new cfwdsharedline branch has been merged into develop so you should be ok.

[2019-10-05 01:35] dkgroot commented on #479
@bfranske
I updated the debian/changelog file, and it should now work for both debian and ubuntu. Closing this issue for now. If there is still issue when you use `make deb` on debian, please let me know.

[2019-10-05 01:35] #479 closed, assigned to dkgroot

[2019-10-05 01:36] dkgroot commented on #476
@anutator Any update ?

[2019-10-05 01:36] dkgroot commented on #474
@anutator Any update ?

[2019-10-05 01:38] dkgroot commented on #475
@anutator
Thank you for your contribution. Nobody will find the script sample in our issue database though. So please consider writing a post on our wiki or move this script into the provision_sccp repository.

Closing this issue report for now.

[2019-10-07 10:46] anutator commented on #476
Yes. I installed CentOS 8 (many chanes including MariaDB, difficulties with repo), tftp using systemd socket, Asterisk 16.6.0 rc (release candidate) and the latest chan_sccp. I  registered only one phone without Wi-Fi phones. Maybe something wrong in configuration
I can ring but if I try to make call to SCCP phone I get error, phone is busy.
[code]

[code]

Every new call tries to add new channel:

[2019-10-07 10:59] anutator commented on #476
Debug
[code]

[2019-10-07 11:24] anutator commented on #476
I think I could fix this problem.
chan_sccp doesn't work with string
`allow=!all,alaw,ulaw,g729`
It reques only:
[code]

[2019-10-07 16:14] anutator commented on #474
Cisco 7925 has other issue - 1919 instead of 2019.
You can close issue. I think that old models have bugs.

[2019-10-07 18:04] anutator commented on #438
I also have problems and don't hear ringing tone. When I set earlyrtp=dial I can hear ringing tone while calling to sccp phones but I don'hear tone while calling to Queue with sccp phones an calling mobile numbers. When I set earlyrtp=progress I don't hear any ringing tones - to sccp phone (wired or wifi, doesn't matterr), queue, mobile (sip trunk with provider).

[2019-10-07 19:31] dkgroot commented on #474
@anutator the 7925 issue sounds really wrong. Can you check the cisco firmware page for this device. it should show that this issue exists (i would think)

[2019-10-07 19:39] dkgroot commented on #438
earlyrtp and what it does:
- It will start the incoming rtp flow at the first indication set by earlyrtp=xxxx. So in the cause of the default (ie: progress) that will happen between after starting the dial out and before the call is connected. This way (if everything is working correctly) we should be able to hear any dialtone, ringtone and or announcements produced by asterisk or the remote side.

[2019-10-07 19:42] dkgroot commented on #476
@anutator
Sorry to hear you had so much trouble setting up your new system :-(

Did changing "allow=!all,alaw,ulaw,g729" to
[code]
Fix the issue. I will check out the allow/disallow string parser to see what is going on. I personnally don't use the abbreviated for (to be hones).

[2019-10-07 21:29] dkgroot commented on #476
[Oct  7 23:38:38] WARNING[14436]: sccp_codec.c:259 int sccp_codec_parseAllowDisallow(skinny_codec_t *, const char *, int): Cannot allow unknown codec '!all'
When i use "allow=!all,alaw,ulaw,g729" in my config, i get a warning:

[Oct  7 23:38:38] NOTICE[14436]: sccp_config.c:1441 sccp_value_changed_t sccp_config_parse_codec_preferences(void *, const size_t, struct ast_variable *, const sccp_config_

[2019-10-07 22:19] dkgroot commented on #476
Hi @anutator I changed the disallow/allow codec parser to support 'allow=!xxx,xxx'.

***Git***
_Checkout this temporary branch_
[code]

_move back to develop afterwards:_
[code]

That should hopefully improve/fix the issue `allow=!all,ulaw,alaw` part of the issue. I need a little time to figure out the other part, where channels are not terminated correctly.

[2019-10-08 00:37] dkgroot commented on #476
I looked through your last debug log.. And it does look correct, in the sense that on an incoming call, a new sccp_channel object is created (which get's tied to the backing asterisk channel), this sccp_channel is needed so we can store extra data needed for sccp handling. Once the refcount for this sccp_channel goes down to 0, it is finalized and destroyed. This happens nicely during the hangup o

[2019-10-08 01:08] dkgroot commented on #476
If you send me you sccp.conf (and extensions.conf if not using freepbx) then i can see if i can run your config on my machine, to see what is going on. I don't use freepbx, so simulating that would be (to) difficult.

[2019-10-08 08:03] anutator commented on #438
Thank you.
Queue is not a problem, I add Answer().
For other calls I changed earlyrtp.

[2019-10-08 12:26] dkgroot commented on #438
@anutator When i call i Queue, i normally set Progress() before it, which i think is a better indication to use in this case, but Answer() should also work.

Without Progress() or Answer() before it, there should have been a simulated ringing sound though, and this is not the case, so i need to figure out what is going on here. Thanks for making me aware of this.
_Update: I just read the asterisk

[2019-10-08 13:17] dkgroot commented on #438
@anutator
https://wiki.asterisk.org/wiki/display/AST/Early+Media+and+the+Progress+Application
This clarifies that Queue() should have Progress() before it, as different phones will behave differently without it.

The advantage of this, is that calls with Progress() status will not have been formally answered, and can easily be redirected to a new destination. In PSTN terms, there should be not cha

[2019-10-08 13:22] dkgroot commented on #438
Can you show me the call to your mobile device with 'sccp debug core, channel, pbx, codec, indicate' set, maybe there is something in there.

[2019-10-08 14:09] anutator opened #482 "Suddenly SCCP phones reload"
There is very critical problem. Reloaded today several times. There are only several phones (less than 10) registered on Asterisk and I can't add all phones due to this problem. Sometimes all phones  (even idle) are reloaded and we can't answer a call in queue. I noticed that it happend during incoming call to queue.

Cisco 7911 phones.
**chan-sccp version:** the latest (installed last friday)
**a

[2019-10-08 14:17] dkgroot commented on #482
@anutator

It depends if you have the logger.c: `full` log enabled and what your default `sccp debug flags` are (to monitor devices / sessions and keepalive, do set 'sccp debug core, device, socket').

No it should not be related.

Skinny phones use TCP as there connection medium (different then most other voip protocols which use UDP). Because of this, the phones needs to remain connected all the

[2019-10-08 14:28] anutator commented on #482
Is it critical - incoming message is smaller?
[code]

[2019-10-08 15:33] dkgroot commented on #482
Yes that is really strange, a keepalive message should be 12 long and not 13. That might indicate that we are dealing with a different problem. Everything in TCP is handled as one continous long stream of bytes.

Let's say:
Message1 = 20 long
Message2 = 12 long
And let's say we read the first message wrong and interpret it as 16 long (for some reason), then the remainer of that first message, woul

[2019-10-08 16:18] dkgroot commented on #482
Related Issue #424 also "about restarting 7911 phones"
Could it be that you have older/newer firmware on these phones as the issue report suggests ?

If that is the case, you could try up/downgrade the phone and restet. When that solves the issue, Chan_sccp should start checking the firmware on the phone and report incompatibility to prevent the issue from popping up in the future.

[2019-10-09 09:28] anutator commented on #482
It seems that Asterisk was reloading.
I found errors in /var/log/asterisk/messages:
[code]
Added noload for this modules to modules.conf and now all in test.

I found errors in sccp.conf  from log /var/log/asterisk/messages
[code]
I commented options from my old config:
[code]

New parameters with annotation:
[code]

What is dfmfmode by default - rfc2833?
Now I restarted Asterisk and Linux and i w

[2019-10-09 11:59] dkgroot commented on #482
@anutator
It's always a good idea, to check the sccp debug output, when loading a 'new' sccp.conf file or a newer version of the chan_sccp module. Things might have changed, and we try to let the administrator know. First we deprecate support for a parameter, and later that parameter is made obsolete.

The `conf/sccp.conf.annotated` is just to let you know which parameters are available, not to be

[2019-10-09 12:08] dkgroot commented on #482
The changes you made are good but they should not have any impact on the 7911 devices restarting problem. You need to have a look at the issue #424 an change the firmware on the 7911 to match theirs to resolve the issue.

I re-read the #424 issue and it looks like @uha666 made three changes, he was running 8.4-2S and he upgraded to the latest firmware 9.4-2SR3 (from my provision_sccp project on gi

[2019-10-09 14:50] dkgroot commented on #482
@anutator
Does `sccp show device SEPxxxx` show 'Image Version' for the 7911 ? If so we can use it to detect and check the minimal Firmware Image Version we require to get around the '87 (ie:0x57)' message issue reported in #424.

Other Reading Material Regarding Keepalive:
- [chan_sccp wiki](https://github.com/chan-sccp/chan-sccp/wiki/Unregister%2C-ReRegistering%2C-Keepalive-issues)
- [cisco wiki]

[2019-10-09 19:07] dkgroot commented on #482
Added a new wiki page about [obsolete and deprecated parameters](https://github.com/chan-sccp/chan-sccp/wiki/Deprecated---Obsoleted-Parameters), which might help people sort this out.

Thank you for giving me the idea to write a wiki page about it !

[2019-10-09 20:19] rofferman opened #483 "Phones are registering but lines are not."
Cisco 7900 phones are regisering thru tftp, but the lines are not registering. Is this a problem with my realtime database?

asterisk 16.51
FreePBX 15
chan-sccp  Release: 4.3.2 develop - d2a6837M

I will get some debug info and post it in a minute

[2019-10-09 20:22] rofferman commented on #483
[code]

[code]

[2019-10-09 20:25] dkgroot commented on #483
@rofferman
Checks to do:
1. check if the devices in the realtime database are accessible, using `realtime load sccpdevice name SEPxxx`
2. check if it is returning the content of the sccpdevices table or the sccpdeviceconfig table (the one generated by the view (as intented). Ie: it should be containing the 'button' entries.
3. check if the lines in the realtime database are accessible, using `real

[2019-10-09 20:28] rofferman commented on #483
realtime load sccpline name 3595
                   Column Name  Column Value
          --------------------  --------------------
                            id  86
                           pin
                         label  setup
                   description  setup <3595>
                       context  from-internal
                 incominglimit  6
                      transfer

[2019-10-09 20:29] dkgroot commented on #483
Was realtime working for you before, or are you just starting to use it now ? Did you make any alteration to the tables, if so you need to drop the sccpdeviceconfig view and regenerate it (That does not happen automatically).

[2019-10-09 20:31] rofferman commented on #483
realtime load sccpdevice name SEP00260BD75EFB
                   Column Name  Column Value
          --------------------  --------------------
                        button
                          type  7942
                         addon
                  _description  Test Setup
                      tzoffset  00
                  imageversion
                          deny

[2019-10-09 20:32] dkgroot commented on #483
[code]

This last part is coming from the correct view name sccpdeviceconfig, but it looks like it cannot find a match between the sccpdevice table and the buttonconfig table, to provide any button entries.
Please check your buttonconfig table.

[2019-10-09 20:33] rofferman commented on #483
Yes it had been working fine. Then today one of the users had the time wrong on the phone and reset it and it never came back up fully. Now whrn a phone reboots it does not come back up

Can you refresh me on how to drop and regenerate the sccpdeviceconfig view

[2019-10-09 20:33] rofferman commented on #483
ok ill check the button config table now

[2019-10-09 20:34] dkgroot commented on #483
Depends on which database backend are you using ?

[2019-10-09 20:35] rofferman commented on #483
button config table is empty
Not sure how that happend. Can it be regenerated. I am using maraidb/mysql

[2019-10-09 20:35] dkgroot commented on #483
mysql:
[code]
postgresql:
[code]

[2019-10-09 20:36] dkgroot commented on #483
Ooh that is ... unfortunate, sorry to hear that :-(. I don't know. I think you would have to check the mariadb logs, to see what is going on there. You might have to repair the table or something.

https://mariadb.com/kb/en/library/repair-table/ might help

At least this issue report can serve as a good way to analyze realtime db issues :-)

[2019-10-09 20:38] rofferman commented on #483
Ok I will look at the logs and see where they all went.

[2019-10-09 20:39] dkgroot commented on #483
myisamchk --recover tbl_name
or
maria_chk --recover tbl_name
Might do the trick

[2019-10-09 20:39] ksivramkrish opened #484 "Asterisk Crashed"
Hello,

I am using chan_sccp but some reason asterisk got crashed and unable to find the cause from the core dump. I am trying to simulate the issue but not sure in which scenario it's causing.

I am using Asterisk 13.16.0 with chan_sccp 4.3.2 develop - ad141e4M
[code]

[2019-10-09 20:40] dkgroot commented on #483
After you get everything back up and running, it might be a good idea to start planning some FS and DB backup.

[2019-10-09 20:44] dkgroot commented on #484
@ksivramkrish
Based on the backtrace it looks like an asterisk sipsock issue. Which makes this completely unrelated to chan-sccp.

Please do note, that latest asterisk-13 is 13.29.0 (since today), so you are quite a bit behind. This means that reporting the issue will not be taken up / fixed. First step would be to update your asterisk version.

Sorry i can't help you in this case :-( And sorry fo

[2019-10-09 20:51] rofferman commented on #483
The repair did not work, I am using Sccp manager also is there any way to recreate the tables with either of these softwares

[2019-10-09 20:53] ksivramkrish commented on #484
Thanks for your quick response. I will check it out.

[2019-10-09 20:53] #484 closed, assigned to dkgroot

[2019-10-09 20:55] dkgroot commented on #483
Were you able to find any reason in the mariadb logs that would help ?

Is the buttonconfig table still there, or is it empty ? If is there, it might have just been cleaned out for some reason (although normally the relationsships in other table should have prevented that). If this is the case, we may have to check with Alex (@PhantomVI) to see how this could have occured.

If the whole table is n

[2019-10-09 20:55] dkgroot commented on #484
Thanks for closing the issue, and sorry to see this happen and not being able to help out !

[2019-10-09 21:00] dkgroot commented on #483
**!! It would be a good idea to first make a FS and DB backup before continuing and doing any restoration work. There might be another cause that we have not found yet. !!**

To recreate the table:
[code]
Note: this would only work if there is no such table (it will not auto-drop it), and if there are not backing db files in the way, preventing mariadb from writing there.

[2019-10-09 21:02] rofferman commented on #483
the table is there it just has no data in it

[2019-10-09 21:02] dkgroot commented on #483
I just noticed that there is a 'DELETE CASCADE ON UPDATE CASCADE' in the buttonconfig table definition, so if you have recently dropped any devices and then recreated it, the entries for that device would also be removed from the buttonconfig table.

Maybe that was not such a good idea in retrospect. I personally like automatic cleaning, but not everyone is aware of this.

[2019-10-09 21:05] dkgroot commented on #483
if you have trouble recreating/remembering the data for the buttonconfig table, there might be some information we can retrieve from the asterisk message log, depending on your default sccp debug settings.

And please prepare yourself for the last message in this issue report, which is going to reprimand you for not making a backup :-)

[2019-10-09 21:07] rofferman commented on #483
Yeah I do not remember the setup for button config

[2019-10-09 21:08] rofferman commented on #483
I have a back up that is a few weeks old from an old phone server.. I just switched to a virtual machine..
most of the entries would be correct

[2019-10-09 21:21] rofferman commented on #483
I have this and I think it has the sql tables inside

[sccp_instal_backup20190709.zip](https://github.com/chan-sccp/chan-sccp/files/3709480/sccp_instal_backup20190709.zip)

[2019-10-09 21:44] rofferman commented on #483
I finally got it back up, Thank you for your help..
I issued a fwconsole ma install sccp_manager command and it reinstalled sccp manager and recreated the buttonconfig.. actually it was sccpbuttonconfig but it worked
Still not sure how this all happened

[2019-10-09 21:47] dkgroot commented on #483
Congrats on getting everything back up and running.

Now start working on a little backup script and put it on your crontab. It sjhould be simple to do, nothing fancy required.
Maybe there is a module for freepbx that can take care of this ? If not that is a little strange, it tries to do everything else.

Closing the issue report.

P.S. Maybe tell Alex (PhantomVI) about the incident, he might kno

[2019-10-09 21:47] #483 closed, assigned to dkgroot

[2019-10-10 00:38] dkgroot commented on #476
@anutator
I pushed another fix to the 'issues/476' that will make sure that channels are ended correctly, even if/when codecs are not able to be handled correctly. So let's say you have:
[code]
Which would be something we are not able to understand (even with the new parser '!' rules which were added recently).
In that case we should still make sure the newly created channel is hungup and removed

[2019-10-10 01:52] dkgroot commented on #438
@anutator
Can you show me the call to your mobile device with 'sccp debug core, channel, pbx, codec, indicate' set, maybe there is something in there.

[2019-10-10 08:30] anutator commented on #482
Today when SCCP and Asterisk reloaded. It was during incoming call to SCCP phone 4471.
SCCP phone 4472 - call forward all calls to 4471.
[code]

[2019-10-10 08:37] dkgroot commented on #482
This does not look like a reload, but more like an asterisk crash. We would need to have a look at the backtrace from the coredump left behind  (hopefully you have dumpcore enabled).

From the last line of the debug log before the crash, it looks the new 'callforward shared line' code might be involved. This change only recently got merged.

Can you please have a look at my answers regarding the f

[2019-10-10 09:41] anutator commented on #482
Image version SCCP11.9-4-2SR3-1S.
It doesn't show russian letter «Г» in label :
[code]
[code]

[2019-10-10 09:43] dkgroot commented on #482
Ok did you update it recently or was it running this firmware before the 'reloading phones' issue. Is the reloading this happening at the moment ?

[2019-10-10 09:47] dkgroot commented on #482
If the reloading/restarting is still happening, we will have to start a tcpdump to monitor them + `sccp debug core, socket, device` then when the issue occurs we should be able to figure out, what is causing it. The question is, if we are sending something to the phones causing them to restart or if the phone is sending us something we don't know how to handle.

[2019-10-10 09:56] dkgroot commented on #482
I don't know where the `> ` in front of it is coming from. I don't know exactly what is going on there.
Can you send me the linedefinition and the device button definition, so that i can see how that might be happening. If you like you can e-mail me your complete sccp.conf (or attach it here).

[2019-10-10 09:59] anutator commented on #482
I loaded this firmware on CUCM. And this is the only image which I put to /tftpboot on Asterisk server. So I didn't test with other firmware image (I tested old firmware several years ago on Asterisk 13).

[2019-10-10 10:04] anutator commented on #482
sccp.conf (two phones with one number):

[code]

[2019-10-10 10:32] dkgroot commented on #482
Ok thanks for the config file, I will check that out later today. Nice to see such a short and clean sccp.conf !

How often does the device restart happen. Would it be ok, to run a tcpdump on your system for today, so we can catch the problem when it happens ?

[2019-10-10 12:30] anutator commented on #482
coredump - Asterisk crash 11:26 today attached.
[astdump.tar.gz](https://github.com/chan-sccp/chan-sccp/files/3712503/astdump.tar.gz)

And I also will try to make tcpdump.
It doesn't happen often because we have only several phones registered on asterisk and a little amount of calls.

[2019-10-10 16:19] dkgroot commented on #482
@anutator
It's good that you have the core.dump, but sadly I can't do anything with a dump file on my machine, you need to run a gdb backtrace on your local machine using the coredump (it depends on your local versions and source files).

1. Make sure the gdb program is installed
2. You move to where the core.dump file is.
3. You run `gdb asterisk core.dump`, wait for it to finish loading and you

[2019-10-10 18:13] dkgroot commented on #482
If you like i could help out over an ssh connection, if that makes things a little easier. We could then look into both issues at the same time.

[2019-10-10 19:17] anutator commented on #482
Tomorrow I can give you access to my comp using TeamViewer.  Or I can give you remote access (VPN) so you would have access to ssh and web 9090 cockpit. I'll send details to info@talon.nl tomorrow.

[2019-10-10 19:19] dkgroot commented on #482
I don't have nor like teamviewer to be honest. We can however work together using `ssh` + `screen` so we can both interact with the system. The ssh might be a better fit.
You can contact me via dkdegroot@gmail.com to send me the VPN & ssh details.

[2019-10-10 19:20] anutator commented on #482
I'll add user details for vpn on OpenBSD and send you info.

[2019-10-10 19:21] dkgroot commented on #482
Thanks ! :-)

[2019-10-10 21:10] dkgroot commented on #482
You can still start the tcpdump though, than we have something to use.

[2019-10-11 04:54] snuffy44 opened #485 "sccp_enum generation fails with 'mawk' NOT-A-NUMBER"
Using Debian 8.11 with default mawk/awk.
\[:xdigit:\] is not recognized causing compile error.

**Reproduction Steps:**

1. Force use of mawk
2. Try to generate sccp_enum.[ch]
3. Resulting sccp_enum.[ch] produces whole lot of NOT-A-NUMBER

**chan-sccp version:** develop branch

**asterisk version:** (include revision and/or branch if relevant)

**Expected behavior:**

Should correctly create the .

[2019-10-11 04:58] snuffy44 commented on #485
Related to this new commit I believe: ee1087e656f4561419f68506c9b86f587dfd7947

[2019-10-11 04:58] dkgroot commented on #485
@snuffy44
The enum generation script is based on the GNU awk version (gawk). Can you check if `gawk` is available on your system.
You can run the generation script manually from the command line, using:
`gawk -f "tools/gen_sccp_enum.awk" < src/sccp_enum.in`

[2019-10-11 04:59] snuffy44 commented on #485
Tested - Works fine with gawk

[2019-10-11 05:00] dkgroot commented on #485
Aah ok, super. Then we need to fix the configure script, to search for gawk instead of awk/mawk. This will be a little annoying on other platforms like BSD though.

We can have another look at making the script generic awk compatible later.

[2019-10-11 05:02] snuffy44 commented on #485
mm wouldn't doing just [0-9a-fA-F] work instead of xdigit?

[2019-10-11 05:04] dkgroot commented on #485
I think you are right.
Can you give that a go ? And see if it works with standard awk/mawk ?
BTW: You might have to allow for 0xAbc123bD to cover hex

[2019-10-11 05:10] snuffy44 commented on #485
changing line 27 to  /^0[xX][0-9A-Fa-f]+$/ works fine..
Have actual values again.

[2019-10-11 05:11] dkgroot commented on #485
Looks like your fix works. Will make the change in a couple of seconds.

FYI: It's so easy to fall for these nice little `enhancements` provided by some tools, and they slowly lure you away from the minimal standards.

[2019-10-11 05:13] #485 closed, assigned to dkgroot

[2019-10-11 05:13] dkgroot commented on #485
Pushed your fix ! Thanks a lot

Always nice to get help fixing an issue from the issue owner.

[2019-10-11 08:03] anutator commented on #482
I sent you email with credentials,
Should I enable tcpdump for everything going through ens192 interface or only dump packets for some ports (2000, etc.).

[2019-10-11 14:28] dkgroot commented on #482
Only the traffic between the server and the phones should be enough. You can include port 2000 but that is a little tricky.

[2019-10-11 20:14] dkgroot commented on #482
BTW: i added a CLI function to generate a wiki page, that shows all the sccp.conf options and their description. [See sccp.conf options page](https://github.com/chan-sccp/chan-sccp/wiki/sccp.conf-options), it might be helpfull when fixing your `module load chan_sccp` warnings later on.

[2019-10-12 11:48] dkgroot commented on #482
Problems related to the crash + coredump are possibly linked #455 ( 'callforward on shared line')

[2019-10-14 12:38] anutator commented on #482
Today I installed sccp again. Old and new chan_sccp versions make Asterisk crush during call to phone that is call-forwarded when it has second phone with the same number registered (7911 and 7925 phones) - 'callforward on shared line'
Should I generate other chan_sccp from temporary branch "issues/cfwdsharedline"?
[code]

There is a **workaround**: register 7925 phones with other numbers and give

[2019-10-14 14:18] dkgroot commented on #482
@anutator If i had the segfault you got with the develop branch i would have been able to figure out what was going on by now. Let's focus on fixing the problem, instead of making new ones

BTW: The branch/cfwdshareline does not exists anymore, it was dissolved during a previous merge.

Can you check the VPN situation (replied to your mail).

[2019-10-15 13:40] anutator commented on #476
[code]

Could release channel with command channel ....
Now now ringing tone.

I'll get rid of this module and register only 7925 as sccp. It can't work with new Asterisk version.
I don't want to find new errors anymore.

[2019-10-15 13:57] dkgroot commented on #476
Where did this issue come from.
Is this with the "issues/476" branch i provided, or a seperate issue ?

I cannot keep track of this many problems at the same time.

[2019-10-15 13:59] anutator commented on #476
Channel is stuck. I don't want to find this errors. I'll register most phones as pjsip and only 7925 as sccp.

[2019-10-15 14:02] dkgroot commented on #476
There is no way to remove it, if you already tried hanging it up.

I don't know what is causing the issue though, i need the call history (debug log) to see what went wrong.

I am sorry that i don't have any 7925, to help figure this out.
When i do have access to your machine i will look into all the issues. So let's see if we can fix the VPN / SSH stuff.

[2019-10-15 14:04] anutator commented on #476
channel request hangup SCCP/4471-000000FE - command to remove channel

[2019-10-15 14:07] dkgroot commented on #476
If it is not causing any problems, you can just leave it. It should not have any side effects.

I created the "issues/476" branch to fix one of these issues, with channels left open. But i'm not sure if you are running on that branch now or not.

[2019-10-15 17:59] #476 closed, assigned to dkgroot, anutator

[2019-10-15 18:31] anutator commented on #476
Thank you for helping online! I think everything would work))

[2019-10-15 18:32] dkgroot commented on #482
Thanks for helping out resolving the cfwdall issue on sharedline ! Let's hope the fix will be enough !

[2019-10-15 18:33] dkgroot commented on #482
We still have to analyse the phone reloading issue.. We have not cleared that one up. Or did you get that to stop ?

[2019-10-15 18:34] dkgroot commented on #476
Issue resolved

[2019-10-16 01:15] dkgroot commented on #438
@anutator

Can you please set:
- core set verbose 4
- core set debug 4
- pjsip set logger on
- sccp.conf:
 - earlyrtp=progress
 - debug=core, channel, pbx, codec, indicate'
- sccp reload

maybe there is something in there that will show the reason for missing inband ringing sounds. I would like to figure out why this is happening.

[2019-10-16 07:32] anutator commented on #438
Hi!
I made tests with earlyrtp=progress.
If I delete option **r** from Dial application, everything is working:

The option R has no influence on progress tone when calling to pjsip trunk, I hear progress tone with and without this option. But it has influence on progress tone during calls to SCCP phones.

I attached file with option r when I don't hear progress
`Dial("SCCP/4416-00000038", "PJSIP/

[2019-10-16 07:38] dkgroot commented on #438
@anutator
Thanks for including the Flag Descriptions. Re-reading the flag description, it looks like 'R' is exactly what we want in this case. We want simulated ringing as long as there is no inband (earlyrtp) yet. If/when earlyrtp is coming in, we want to stop simulated ringing and get the actual audio.

'R' is what you want. And when that works, we are all ok.

I will look at the debug log outpu

[2019-10-16 07:45] dkgroot commented on #438
In line 269 the log says:

But chan-sccp never seems to get that message. I am going to look at the pjsip source to see what is going on there. Without a notification of 'Progress' we are never going to be starting actual earlyrtp at 'progress'.