[2019-10-16 07:53] dkgroot commented on #438
While reading the code, 'r' is prevent the Progress indication from being delivered. Can you send me the same debug log with only 'r' removed, so keeping the 'R'.

[2019-10-16 07:58] anutator commented on #438
I removed R option also - it influences calls to other sccp phones but doesn't influence calls to pjsip trunk.
In log my call from sccp 4416 to sccp 1127 phone (I don't hear progress tone)
[call-with-option-R-to-SCCP.txt](https://github.com/chan-sccp/chan-sccp/files/3733085/call-with-option-R-to-SCCP.txt)

[2019-10-16 08:02] dkgroot commented on #438
You can and maybe should keep the 'R' Flag. I am interested in a call from SCCP to PJSIP in the debug log, so i can see if 'Progress' is being delived this time :-)

For inbound calls to sccp phones the 'R' Flag should not make much of a difference (I think).

[2019-10-16 08:04] anutator commented on #438
Call with option R to PJSIP trunk (I hear progress tone).
`Dial("SCCP/4416-0000005A", "PJSIP/89160239103@Beeline,,TtRU(record^4416^989160239103)")`
[call-with-option-R-to-PJSIP-trunk.txt](https://github.com/chan-sccp/chan-sccp/files/3733101/call-with-option-R-to-PJSIP-trunk.txt)

[2019-10-16 08:06] dkgroot commented on #438
Nice: With the 'R' option in place. We see:
[code]
So Dial( ) passes the 'Progress' indication to chan-sccp. We check the rtp receptionstate to make sure it is open. And switch from simulated ringing to actual .. Perfect.

I think that concludes/solves this issue report, right ?

I am not sure if we should make a note of this on our wiki somewhere. Maybe on the [Frequently Asked Questions](https:/

[2019-10-16 08:15] anutator commented on #438
New test - call to PJSIP trunk when phone is busy (earlyrtp=progress, R and r are deleted).  Maybe I should leave R for PJSIP and delete both R and r for calls to SCCP. I didn't test calls with R to busy phones. We don't hear any busy tone, call is disconnected and we don't understand if it was the error or the phone was busy:
[code]

[2019-10-16 08:20] dkgroot commented on #438
I created this wiki page
[Early-RTP - Inband-Ringing - Progress](https://github.com/chan-sccp/chan-sccp/wiki/Early-RTP---Inband-Ringing---Progress) and linked it the the `Frequently Asked Questions` page

[2019-10-16 08:25] dkgroot commented on #438
I have a macro like this in my (AEL) dialplan

[code]

On conf format that would look something like:
[code]
(Note: Used automatic conversion here, so it looks a little ugly)

After i the Dial() command, i call this macro to check the ${DialStatus} and see what to do next. So if you want to hear busy, you generate a Busy tone. If the channel was unavailable -> congestion. Or if you need to handle

[2019-10-16 12:00] dkgroot commented on #438
So this is something we leave to the administrator to implement in his/her dialplan. You might want to dial some other extension if the first one was busy, but if the first one had a congestion, you might want to try another provider and reach the same destination via another route. You see, these are things we cannot decide for you in the channel driver. Other phone types might have a default act

[2019-10-17 09:15] bknv opened #486 "CallForward by timeout"
Hello all.
I did not find the option to enable forwarding by timeout. Is it possible to implement this in the module chan-sccp in CLI?

Right now I'm doing it like this, i added options and enable forward in module followme:

Enable:
database put AMPUSER/2327/followme grplist  89123456798# - mobile number
database put AMPUSER/2327/followme prering  10 - timeout callforward
database put AMPUSER/232

[2019-10-17 15:41] dkgroot commented on #486
I created a branch for this to work on it, called "feature/cfwd_noanswer"

***Git***
_Checkout this temporary branch_
[code]

_move back to develop afterwards:_
[code]

[2019-10-17 16:43] dkgroot commented on #486
Note: Because this is an implementation of a new functionality, please take care when testing. If you have a test server (instance) than that would be a good place.

Addition to sccp.conf:
[code]
I have added `cfwdall`, `cfwdbusy` and `cfwdnoanswer` to the `onhook`/`offhook` softkeyset entries.

Channel Variable `BYPASS_CFWD` / `CFWD_NOANSWER`:
If you set a channel variable `BYPASS_CFWD=1` chan-sc

[2019-10-21 16:06] dkgroot commented on #486
Quote: @bknv

It looks correct.
Did you check if the callforward was actually performed (sccp show line 2883). I set the cfwdnoanswer on the phone.
If you set 'sccp debug core, channel, pbx' you should be able to see that the cfwdnoanswer is being schedule while the call is ringing, and later the scheduled command should be executed.
On thing is important, namely that 'DIAL(xxx, timeout, xxx) outl

[2019-10-21 17:41] dkgroot commented on #486
Found the issue.
Pushed:
Fix CLI: show device/line callforward info
Fix CLI: callforward handling
Fix Database update handling related to callforward

[2019-10-22 02:24] dkgroot commented on #438
@rolakron / @anutator

Created a temporary branch to work on inband signalling and simulated RINGOUT by asterisk core.

***Git***
_Checkout this temporary branch_
[code]

_move back to develop afterwards:_
[code]

Please give this branch a try both with and without the 'R' flag in DIAL(xxxx, 20, R);

[2019-10-22 06:50] anutator commented on #482
Today I had problems with chan_sccp again. Channel stack in Ringing state.
Other phones (except 4471) were good. But when I released channel using command "channel request hangup..." all phones didn't work - no Ringing tone, But all of them where registered. Reloaded chan_sccp.so, didn't help. So I had to reload Asterisk.

[code]

[2019-10-22 06:54] dkgroot commented on #482
Hi Anna,
Can you please filter out everything related to this device, it's lines and channels from your debug logs and send them to me. I would like to figure out what happened before this moment, to cause this type of behaviour.

[2019-10-22 07:03] anutator commented on #482
Where can I find logs? I didn't expect the error.
In sccp debug = core, channel, pbx

[2019-10-22 07:04] dkgroot commented on #482
If you had debug=core,channel,pbx that would be perfect. You can find the logs in /var/log/asterisk/full.
I hope you can do some of the filtering for me. If not just compress the file and mail it to me.

[2019-10-22 07:25] anutator commented on #482
I tied to tar this log because in tail -n3000 I didn't get ny interval but now it is binary. So I can't get this log.
Only in /var/log/messages:
[code]

[2019-10-22 07:33] dkgroot commented on #482
From the piece that you send, i can't really figure out what is going on here. I had hoped you still had a higher log level something like "sccp debug core, device, line, channel, pbx". Maybe you can set that. And please check that full log is being written and rotated regularly (check to see if CLI> `logger rotate` works). It should switch log files and compress old ones using gzip.

Does SEP30F7

[2019-10-22 07:37] anutator commented on #486
4471 never activated call forward. He sad he had call on second line, he answered second line and then tried to come back to the first line. But softkey was "not assigned".

[2019-10-22 07:41] dkgroot commented on #482
Are you able to replicate that behaviour on one of your phones in the test environment ? If we can reproduce the situation, we can fix it.

[2019-10-22 07:46] dkgroot commented on #482
Please run your production system with a higher debug setting like the one suggested above. The impact of a higher debug setting is quite minimal, it only prints during call setup and tear down, not when the call is established. You just need to make sure you have enough filesystem space (so do keep any eye on that). If you like you can set /etc/asterisk/logger.conf to rotate more frequently.

[2019-10-22 16:52] anutator commented on #438
You can close this case. Busy tone is ringing.
I had to delete both R and r for calls to PJSIP because I didn't hear ringing while calling trunk to CUCM.
So now I only have option U in dial application for record gosub.

[2019-10-22 17:42] dkgroot commented on #438
There were some issues with 'earlyrtp=progress' and Dial(xxxx, xx, ) not ringing or only once. With this new branch it should work with or with R/r correctly, that's why i created it and i would love for you to give it a go.

[2019-10-22 18:05] anutator commented on #438
Just a few munites ago installed sccp. It seems ringring with and without R.
[sccp-new-test.txt](https://github.com/chan-sccp/chan-sccp/files/3757607/sccp-new-test.txt)

[2019-10-22 18:36] anutator commented on #473
I also have an issue with softkey - softkey "Answer" during ringing.
When I try to press it nothing happens and I see "this line is not active"
Phone - 7911
softkeyset - [softkey2]
....
ringin=answer,idivert

I pressed two times and could answer only when offhook phone.

[softkey-answer.txt]
(https://github.com/chan-sccp/chan-sccp/files/3757734/softkey-answer.txt)

[2019-10-22 19:12] dkgroot commented on #438
Looks like a good/working solution right ? I will await rolakron and daljit's responses and then merge if nothing negative is found. Thanks for giving it a go.

Wow pjsip is producing a lot of PROGRESS updates :-) Should not be a problem, just a little surprising. I am still using chan_sip for the most part.

[2019-10-22 19:19] dkgroot commented on #473
@rofferman

That does not really sounds like a sensible way of having to do things, i agree. Did your bisect have any result ?

[2019-10-22 19:22] dkgroot commented on #473
@anutator
That is completely unrelated to this issue, and could be very confusing (and get lost easily).

Please let's create a new issue for it. Please include some answers to these questions:

Does it only happen on the 7911 Phone. Was this also present in older chan-sccp versions ? Can you show the output of 'Answer' key not working  ( with 'sccp debug core, device, line, channel, softkey, acti

[2019-10-23 14:52] daljitparmar commented on #438
With the initial testing, the issue appears to be resolved.  We now hear a ringtone on internal calls from the source handset.

[2019-10-23 20:02] dkgroot commented on #438
Hi Daljit,
Thanks for testing/checking i am going to merge the change into develop, and will close this issue at the same time.
Thanks guys !

[2019-10-23 20:05] #438 closed

[2019-10-23 20:07] dkgroot commented on #438
Thanks @anutator/@rolakron and @daljitparmar for the issue report/testing and follow up.
Fix has been committed and pushed.
The issues/438 branch has been merged into develop, and does no longer exist. Please move back to the develop branch.

[2019-10-24 15:47] anutator commented on #473
I found info on Cisco forum - Answer key depends on model:

Group Pickup button works and I can answer call from my callgroup with button. I'll think. It's not sccp problem as soon as I understand.
Speakerphone is on but there is no microphone. I'd like to answer with softkey even if it doesn't enable microphone and I have to on hook phone after answer but I think it's **impossible by design**.

F

[2019-10-24 16:03] dkgroot commented on #486
should have been:
 `sccp callforward 2883 noanswer 2881`
or
`sccp callforward 2883 SEPxxxxx noanswer 2881`

[2019-10-24 16:22] dkgroot commented on #473
@anutator

:-)
i never thought about or realised that there were skinny phones without speaker mode. But without a speakermode it makes sense to also suppress the 'answer' softkey. I guess that answers that question. I will have a look at the source code to see if any ajustments should be made to suppress the creation of the Answer SoftKey in this case.

Would you mind create a little entry on our

[2019-10-25 11:29] dkgroot commented on #486
wiki pages to check/update
https://github.com/chan-sccp/chan-sccp/wiki/Button-Configuration
https://github.com/chan-sccp/chan-sccp/wiki/CLI-Functions
https://github.com/chan-sccp/chan-sccp/wiki/sccp.conf-options
https://github.com/chan-sccp/chan-sccp/wiki/Softkeys

[2019-10-25 11:37] dkgroot commented on #486
Branch "feature/cfwd_noanswer" has been merged back into the "develop" branch, and will be deleted shortly.

@bknv thanks you for reporting the feature requirement and checking/testing,

But please do check our wiki and see if there is something that needs a little work.

Closing the issue report for now.

[2019-10-25 11:37] #486 closed, assigned to dkgroot, bknv

[2019-10-26 19:50] tabbertmj opened #487 "Caller ID only sending cid_num field"
When calling another SCCP extension, The called extension number shows as caller ID if cid_num is set to the extension number.  If I is set to a name and number, it displays properly.
I am using the realtime configuration with MySQL.  This is a new build.  I have not run an aterisk box for several years so I am not sure when this started.

Skinny Client Control Protocol (SCCP). Release: 4.3.2 deve

[2019-10-27 03:14] dkgroot commented on #487
@tabbertmj

Is the phones display information also wrong ? Or are you just looking at this bit of the logging ? If the information on the phones display is wrong, then we really need to know. When just the logging looks a little strange to you, that would be somewhat 'fine'.

Looking at your debug:
Outgoing:
[code]
Incoming side:
[code]
calledParty on the incoming side: is the incoming side
callin

[2019-10-27 14:29] tabbertmj commented on #487
It is displayed wrong on the phone.  It shows as coming from it's own extension.

Here is the output from the debug.
https://pastebin.com/a3ixYhPe

Everything is correct on the outbound portion of the call starting on line 106.
When the new channel is created starting on line 116 it has lost the calling party information.

Thanks.

[2019-10-27 19:09] dkgroot commented on #487
@tabbertmj Ooh that's not good. I will check to see if i can reproduce the issue and see what needs to be altered to fix. Thanks for reporting the issue.

[2019-10-28 15:16] rofferman commented on #473
I did a bisect and was unable to get to find a working commit
I just got back from vacation and will dig in and try to find some helpdul info in the logs that may point in the right direction.. It is a weird issue.

I did find I think before I left where it is treating the blind transfer as an attended transfer in the debug logs. I tried changing the transfer on hangup option and got the same resu

[2019-10-28 15:29] rofferman commented on #487
This sounds kind of like the issue I am also having

[2019-10-28 17:26] tabbertmj commented on #487
I can open another issue if needed, but when a call is ongoing between two SCCP endpoints, should it be the "connected" softkeys showing?  Currently it displays the list from "conntrans".

Thanks,
Mike.

[2019-10-28 18:43] dkgroot commented on #487
@tabbertmj / @rofferman
I am seeing this : SEPE0D1 with line 98031 calls SEP0023 on line 98041
[code]
Which looks ok to me. Currently running asterisk-17 + chan_sccp develop/8580e808.
I wll retest asterisk-13 later tonight.

Can you send me your sccp.conf and extensions.conf (if not running freepbx) so i can have a look, and maybe use your config to see what is going on. Maybe i am missing somethi

[2019-10-28 19:07] tabbertmj commented on #487
I am running FreePBX.  Version 14.0.13.6.

Strange, your's appears fine.

sccp.conf is here.
https://pastebin.com/6aibQX9A

[2019-10-28 19:09] dkgroot commented on #487
FreePBX dialplan is really complex and convoluted, so i am not 100% what it is doing to cause this.
Had a look through your sccp.conf, nothing really wrong with it. Except the section `[settings]`  is not known to me, the content can be removed. The names for the realtime tables are normally defined in the `[general]`, and because they aren't we are using the defaults (same as what you have in the

[2019-10-28 19:18] dkgroot commented on #487
`Conntrans` is used when we have a connected call that is transferable. When we are in transfer, we switch to `OffhookFeat` (bit of a misnomer, but helps 69xx phones, notice that we are in a transfer).

_SideNote the newer phones like 69xx and 89xx have altered the way we have to do things quite a bit. The old phone would just do what the server tells them to do. The new phones expect certain even

[2019-10-28 19:27] tabbertmj commented on #487
Here is the full debug output.
https://pastebin.com/QCK9Se3M

As for the settings in the sccp.conf, I used this as a reference.
https://github.com/chan-sccp/chan-sccp/wiki/Realtime-Configuration

For the softkeys, I have not worked with these phones, (79xx), or Asterisk in a few years.  It's not like riding a bicycle.  I'll try to update my softkey sets appropriately for  Conntrans.
I see this, ht

[2019-10-28 19:29] dkgroot commented on #487
Ooh my bad, I will fix that in a minute :-) Thanks for pointing it out to me,
I will have a look at your debug output in a little bit.

If you are only using 79xx phone, you can remove all the softkeysets and just use the defaults normally.

[2019-10-28 19:33] dkgroot commented on #487
Had a little peek already:
And we now can be sure it is freepbx messing with the caller id info:
[code]
Not saying they are doing anything wrong. It is just hard to deal with all these possible dialplan interactions from a channel perspective. Will come back to this in 1-2 hours and see if there is someting simple we can do (appart from adding a custom dialplan entry in freepbx :-))

[2019-10-28 19:34] dkgroot commented on #487
Can you have a look in freepbx to see if there is a way, not to set this cid information on this freepbx extension ? Maybe removing 'REALCALLERID` etc might fix things.

[2019-10-28 19:50] tabbertmj commented on #487
Ok, let me look to find out how to remove it.

[2019-10-28 19:52] dkgroot commented on #487
[code]
That's really confusing, first they set it to "Mike T <25>" and then in the next line they set it to "31", that looks just wrong to me.

I am sorry to say, i don't know how to go about reading and interpretting all of this. It's just a long jumble of '....dialplan stuff....'. If you look at my example, those three lines of DIALPLAN was all the dialplan stuff did on my machine, i did not cut

[2019-10-28 20:00] tabbertmj commented on #487
It doesn't do that if I have text for the cid_num field.  The problem with that workaround is when you hit the messages button, the extension doesn't match and you have to enter it.

[2019-10-28 20:03] dkgroot commented on #487
Then that is not a good work around :-). We should be able to add some debugging on the chan-sccp side to see what callerid information we are receiving on an incoming call, maybe we can figure out what they are trying to tell us that way. In the meantime you might want to have a look at the freepbx manual to see if there is any way to suppress changing the callerid on incoming calls.

Note: main

[2019-10-28 20:11] tabbertmj commented on #487
I hear you.  It makes it easy to get started, but they manipulate things a bit too much.
I think it is odd that they are defaulting to the called number if only numbers are present.  I'm not sure what they were trying to fix wit that.

[2019-10-28 20:34] dkgroot commented on #487
Yes they suck you in and then you are left to fend for your self, without knowing anything about how asterisk actually works. I thought that looked really confusing too.

[2019-10-28 20:36] dkgroot commented on #473
Hope you enjoyed your vacation !
I see you are also using freepbx ? That might explain somethings and might actually help towards a solution as well, if we find out what they are trying to achieve.

`git bisect` also has a `skip` option if/when you end up on a non compiling revision. Also if the compile issue was related to the recent asterisk changes in mwi, i can provide a work around for that (

[2019-10-28 20:59] tabbertmj commented on #487
I see that musicclass is also not being handled properly from the database.  Line 25 is set to Office.  If it is set to default, it handles it fine.

-- Executing [s@macro-dial-one:40] ExecIf("SCCP/25-00000054", "0?Set(CHANNEL(musicclass)=)") in new stack

[2019-10-28 22:10] dkgroot commented on #487
@tabbetmj / @rofferman

I added a little debug output during initial call setup, to find out what FreePBX has changed in the meantime. This has been put separate branch (see below)

You need to set `sccp debug core, channel, pbx, callinfo` during debug  + `core set debug 1` and `core set verbose 5`

***Git***
_Checkout this temporary branch_
[code]

_move back to develop afterwards:_
[code]
give i

[2019-10-28 22:17] dkgroot commented on #487
Which database are your talking about, the asterisk realtime db (mysql/postgresql) or the astdb (CLI: `database show`) ? If the dialplan (FreePBX) pushes/presses a new musicclass we should follow that during the the current call. We will however use the musicclass defined in sccp.conf/realtime if nothing is set during dialplan execution or fallback to the asterisk default.

[2019-10-29 02:25] tabbertmj commented on #487
Here is the latest output.
https://pastebin.com/6eTZz7M9

Thanks!

[2019-10-29 02:56] dkgroot commented on #487
Thanks: That's just messed up:
[code]
I am getting this information directly from asterisk not from chan_sccp. It/They broke their own calling party as far as i can tell. I have altered the patch (ie: `git pull` please on `issues/487`) to get a view even earlier in time, to see if we are the ones or freepbx.

[2019-10-29 03:00] dkgroot commented on #487
If this last update also shows the same state, then there is not much we can do (I would not know what). If it shows the correct data, then chan_sccp is messing up, and we can find out where.

[2019-10-29 03:10] tabbertmj commented on #487
I have an error when running the make command.

https://pastebin.com/5Yph7sx3

[2019-10-29 05:14] dkgroot commented on #487
Woops. i messed up. Pushed a fix. sorry

[2019-10-29 14:49] tabbertmj commented on #487
No worries.  Here is the latest output.

https://pastebin.com/XHaXMvg2

[2019-10-29 17:35] dkgroot commented on #487
Ok i have some sad news:
[code]
This is the information available in asterisk when we receive notification of an upcoming incoming call. This is even before the create the sccp channel plus it's callinfo structure. Before this moment we do 0 manipulation of the callerid information. So this is what is left after the sccp outgoing call and the dialplan 'mangling' by freepbx. Zero usefull informatio

[2019-10-30 10:19] dkgroot commented on #487
@tabbertmj I see in the [sccp_manager chat](https://gitter.im/sccp_manager/community) that @PhantomVl is not able to reproduce the behaviour you are seeing. Maybe the two of you can figure out where the difference between your systems is.
Please close this issue when the problem is resolved. I will keep the changes made in the `issue/487` branch, but remark them out, so they can be used if ever ne

[2019-10-30 22:05] rofferman commented on #473
I am not sure what happened, maybe a freepbx update but my caller id is transferring now like it should.
I have not made any changes or pulled any updates from chan sccp, just freepbx and today it is transferring as it should. Very Strange.
So when a caller calls (A) and the receptionist answers the call (B) when the receptionist pushes the transfer softkey, then presses  the BLF (C) to transfer i

[2019-10-30 22:35] dkgroot commented on #473
I guess they fixed something upstream which corrected the issue. Chan-sccp and FreePBX do quite a bit of massaging of the callerid information to try and get the right information. I guess we differ in who we think should be responsible for this though :-)

I had already updated the statement above where i said 'enjoy your vacation' after re-reading your previous comment :-)

I guess we can close

[2019-10-31 19:08] tabbertmj commented on #473
I'm on FreePBX 14.0.13.6.  I do not see an update listed.  @rofferman, What version are you on?

[2019-11-04 19:50] rofferman opened #488 "error compiling develop branch / Device disconnect during Call / Looping / Refcount"
I get the following error when I compile the latest develop branch
Freepbx 15.0.16.22
Asterisk 16.6.0
CentOS 7

make -j4
[code]

[2019-11-04 19:55] dkgroot commented on #488
@rofferman Aaah mann, is Centos still using these lame old compilers. I will revert the change (for now). But centos should get the behind in motion and move toward the 21 century.

[2019-11-04 19:56] rofferman commented on #488
Ok, its acutally Sangoma OS lol.
Can I install the correct compilers on Centos?

[2019-11-04 20:00] dkgroot commented on #488
Reversion is done... Latest version should compile again, even with the compilers you had/have already.

And yes you can if you want to. We have had issues with old compilers on Centos before: See [Update-Compiler---Devtools-on-CentOS](https://github.com/chan-sccp/chan-sccp/wiki/Update-Compiler---Devtools-on-CentOS). Same repo should still apply (i hope).

'\_\_auto_type' has been supported in gcc

[2019-11-04 20:05] dkgroot commented on #488
Pretty happy with the turn around on this issue report though.. 9 minutes, not bad :-). And thank you for including the correct information to make that possible.

[2019-11-04 20:35] rofferman commented on #488
Yes that is awesome, thank you so much

I have a weird issue also and I can create another ticket if need be , but what Is registration rejected: crossover session mean. I have just encountered this on one phone so far. I changed the switch port and still get it?

Phones are 7975 and 7942

From: Diederik de Groot <notifications@github.com>
Sent: Monday, November 04, 2019 2:05 PM
To: chan-sccp/chan

[2019-11-04 20:44] rofferman commented on #488
Yes that is awesome, thank you so much

I have a weird issue also and I can create another ticket if need be , but what Is registration rejected: crossover session mean. I have just encountered this on one phone so far. I changed the switch port and still get it?

Phones are 7975 and 7942

[2019-11-04 21:30] dkgroot commented on #488
@rofferman
I normally stop looking at closed issues :-)
A crossover session should be resolved automatically. It happens when the connection between the server and phone gets seperated, but the device information has not yet been cleaned up. We start the cleanup process at that moment, and tell the phone to return 60 seconds later and try again.

It's existence is something that i am not to happy

[2019-11-04 21:32] dkgroot commented on #488
If this issue is persistent and not just a question, then yes we should open a new issue report for this, instead of continuing on an existing (and already closed) one.

[2019-11-04 21:53] rofferman commented on #488
Its not going away. I will try and restart asterisk in abit and see if that fixes it..
If not I will open a different ticket

I also updated my compiler on Centos

[2019-11-04 21:54] dkgroot commented on #488
Ok then a reset will 'fix' it for sure, the question is how we got in this state. What sccp debug level were you running before it happened ?

[2019-11-04 21:56] rofferman commented on #488
Debug was set to all I believe

[2019-11-04 22:06] dkgroot commented on #488
Ooh that's good (in this case) Can you find the stop in the debug log file just before it started happening and then send me an excerpt of what went on (let's say 15 before and 15 min after the first case)

[2019-11-04 22:32] rofferman commented on #488
Here is some of the debug log when the clean was not working on extension 3525
[new 1.txt](https://github.com/chan-sccp/chan-sccp/files/3806363/new.1.txt)

[2019-11-04 23:18] dkgroot commented on #488
Just mail me the whole debug log, and tell me the device SEP to look for and the line(s) attached to it, so i can search through it. (ddegroot@talon.nl)

[2019-11-04 23:18] dkgroot commented on #488
After that you can restart the asterisk server and you should be ok.

[2019-11-05 15:46] rofferman commented on #488
I sent the log to you via wetransfer. It was 180 MB.
The offending Sep addresss is SEP00083031F110

A asterisk restart seemed to of fixed the problem.

[2019-11-05 15:50] stoyanmarinov commented on #473
Had the same issue, dug a bit deeper. The issue is with FreePBX, seems to be fixed in git already about 3 weeks ago. It's an issue with macro-dial-one. If you want to patch yours, go edit /var/www/html/admin/modules/core/functions.inc/macro-dial-one.php

Currently at line 93

replace:
        $ext->add($mcontext,$exten,'', new ext_set('D_OPTIONS', '${D_OPTIONS}I'));
with:
        $ext->add($mconte

[2019-11-05 16:18] dkgroot commented on #488
Ok downloading now. You can compress a log file you know :-)
This is going to take me quite a while to sift through. Which line is attached to this device ? And what extension ?

[2019-11-05 16:20] dkgroot commented on #473
@stoyanmarinov Wow nice find !

[2019-11-05 16:22] rofferman commented on #488
The line is 812-492-3525
Ext 3525

And I didn't even think about compressing it.. That was too obvious lol

[2019-11-05 16:24] tabbertmj commented on #473
I will give that a try tonight.  Thanks!

[2019-11-05 16:30] dkgroot commented on #488
If you like you can activate rotate in /etc/asterisk/logger.conf so that log files are broken up every XX Mb's and then compressed automatically. Might save some diskspace and search time in the future.

[2019-11-05 16:49] stoyanmarinov commented on #473
Well actually you could just edit the macro-dial-one in extensions_additional.conf. Look for "Set(D_OPTIONS=${D_OPTIONS}I)" and comment out the whole line, then asterisk -x 'dialplan reload'. It's non-disruptive reload of the dialplan, so the only effect would be having properly working blind transfers :)

[2019-11-05 17:09] dkgroot commented on #487
See updates on #473

[2019-11-05 19:11] dkgroot commented on #488
@davidded
Excerpt from the full log.
[analysis_full_20191105.zip](https://github.com/chan-sccp/chan-sccp/files/3810784/analysis_full_20191105.zip)

We are looking for:
line: 3525
device: SEP00083031F110
linedevice: SEP00083031F110/3525

in the excerpt the refcount is going out of control at [2019-11-04 12:42:28]

[2019-11-05 19:13] dkgroot commented on #488
@rofferman Thanks to your full log with the high debug setting, we may have an inroads to fixing this looping/reset/cleaning cycle.

[2019-11-05 19:35] rofferman commented on #488
That's great. Thanks for the help

[2019-11-05 19:46] dkgroot commented on #488
It will take a while to go through it all, so please give me a couple of days to figure this out !

[2019-11-05 21:06] dkgroot commented on #488
@davidded
might have found the first clue:
[code]

Happens in the middle of a hangup (before it ends)
And then during the device cleanup (we rename the device) so a subsequent sccp_device_findbyid will not be able to find the 'old' reference).
[code]
Pretty sure we do something bad after that, linking them back up again, were we should.
Yep this does not make much sense (yet), referring to the sam

[2019-11-06 01:02] dkgroot commented on #488
Related Issues: #483 / #482 / #333
Finally we have debug log to analyse regarding device restart / looping / reregister.

[2019-11-06 02:38] FoxMcCloud592 opened #489 "Need some help installing and setting up sccp in asterisk"
Hello everyone, I am new to this and don't have much experience with working on command lines. I am trying to get a Cisco 7945 and a 8961 to register to a FreePBX server which is hosted on a VMware Virtual Machine, just so I can make snapshots and have access to the local disk easily.

I get the issue right at the start following these instructions https://github.com/Omid-Mohajerani/SCCP-Asterisk/

[2019-11-06 04:37] dkgroot commented on #489
@FoxMcCloud592
The github url you are using looks to be outdated, and would lead to problems for sure. The first issue is that he is still using the master branch, which has not been updated for a long time (And has been changed so that it generated a warning when you try to compile it).

When running on FreePBX you can follow our [official wiki](https://github.com/chan-sccp/chan-sccp/wiki/FreePBX

[2019-11-06 05:54] FoxMcCloud592 commented on #489
Alright, looks like I got somewhere. I got until step 5.build a sccp.conf config file (look in the conf/ directory for examples). For example you could use the freepbx examples by doing this:

cp conf/sccp.conf.freepbx /etc/asterisk/sccp.conf

mv /etc/asterisk/sccp_extensions.conf /etc/asterisk/sccp_extensions.conf.bak   ; sccp_manager uses realtimedb for line entries
mv /etc/asterisk/sccp_hardwar

[2019-11-06 05:57] dkgroot commented on #489
for that command to work, you need to be still in the /usr/src/chan-sccp/ directory
[code]
The mv command is not required, as you never had chan-sccp installed before.
You should not have to alter the resulting /etc/asterisk/sccp.conf, as far as in know, but you might want to have a quick look through it using `nano /etc/asterisk/sccp.conf`

Also for the future, if the command line is not really y

[2019-11-06 09:25] FoxMcCloud592 commented on #489
We took a short class on Linux essentials when I was taking Cisco Academy my senior year. But I really didn't want to do anything with Linux when I was taking the class because they were also showing router and switch configurations. Honestly, that was far more interesting. Than learning Linux. I think I'm just going to suck it up and learn the command line interface. Thanks for helping and I'll p

[2019-11-06 09:40] FoxMcCloud592 commented on #489
So with all this installed, how do I register the phone with the newly installed SCCP? It has an IP address from DHCP on my router.

[2019-11-06 12:23] nickvsh commented on #394
Hi.
Asterisk **certified/16.3**
Skinny Client Control Protocol (SCCP). Release: 4.3.2 (HEAD - **558d2b6**M)

Hold/Resume functions are OK, ONLY IF use it on ONE device during the call.
If press Hold on both phones simultaneously during the call/one after another (hold on 7912<-> then hold on 7960)  - Resume "resumes" RTP from the last phone only after second attempt.

[2019-11-06 14:18] dkgroot commented on #489
Ok good

Checklist:
1. [ ] is a tftp server installed (make sure it is the one that comes with FreePBX and expect by sccp_manager, use `yum` to check).
2. [ ] is xinetd or inetd installed (normally one should already be installed, use `yum` to check)
3. [ ] have you setup TFTP server to provision the phones (AFAIK sccp_manager does part of this for you
4. [ ] have you setup DHCP to point to your T

[2019-11-06 14:24] dkgroot commented on #394
@nickvsh
I have not been spending a lot of time lately making sure directrtp is still working correctly (sorry). It looked like there was little to no interest, and there were other more pressing matters.

And this branch talked about above, was never tested/checked by anyone, so did not get committed/merged. I would have to spend some time to revive this branch. Once it is actual again then i wou

[2019-11-06 23:58] FoxMcCloud592 commented on #489
Ah, I see. I have DHCP on my router but no way to point it to my PBX. I
have a copy of windows server, so I can install tftp, DHCP clients on the
computer. I will need some help with all thoes things on the check list. I
know it's a lot to ask for wince you have been so helpful already, but
maybe a voice chat would be the easiest way to get help with this. Also,
I'll have to load a new SCCP firmwa

[2019-11-07 00:35] dkgroot commented on #489
For now you can set the tftp-server ip-address manually in the phone-settings-network page. You switch to admin mode on the phone using '**#', then you switch 'alternate tftp server':on and go to the field above to enter the ip-address of the tftp server. If you need a password you don't know, you are out of luck.

Do have a look at our wiki for example [Change-firmware-from-SIP-to-SCCP](https://g

[2019-11-07 00:37] FoxMcCloud592 commented on #489
Yes, unfortunately I'll have to upload a new config to the phone, it has a
password on it. Or is there an easier way to get rid of the password?

On Wed, Nov 6, 2019, 7:35 PM Diederik de Groot <notifications@github.com>
wrote:

[2019-11-07 00:39] dkgroot commented on #489
Nope factory reset is the only way to go, in this case. If need be you can setup a local dhcp/tftp combo on your laptop and connect the phone directly to it, **make sure it boots and get's firmware/config from it**, and when you are absolutely sure it does, perform the factory-reset. You will have to have the firmware for your specific phone ready on your laptop in that case.

[2019-11-07 00:40] FoxMcCloud592 commented on #489
Okay, ill write back when I get home. Thanks.

On Wed, Nov 6, 2019, 7:39 PM Diederik de Groot <notifications@github.com>
wrote:

[2019-11-07 00:42] dkgroot commented on #489
You can run DHCP / TFTP Server on the PBX side by side if that is easier. But setting up two DHCP side by side next to a 'hardware' router is going to be difficult.

[2019-11-07 00:44] dkgroot commented on #489
@davidded / @ojaksch
One of you might be able to help out better regarding windows DHCP/TFTP then i do. I have not used Windows in 15-20 years :-)

@ FoxMcCloud592 We are here to develop & support chan-sccp channel driver. Not help you setup all kinds of other servers/services etc. We will help with other stuff to some extend, but cannot be expected to go above and beyond.

[2019-11-07 03:01] FoxMcCloud592 commented on #489
Ah then lets use something that we all understand. Would Tftpd64 be a
familiar thing?
So my gateway address is 10.0.161.223
My host is 10.0.161.134
And the phone address is 10.0.161.118
Im going off to download the SCCP firmware. How do I upload it to the phone
with tftpd64

On Wed, Nov 6, 2019 at 7:44 PM Diederik de Groot <notifications@github.com>
wrote:

[2019-11-07 03:22] FoxMcCloud592 commented on #489
Or lets run the one on the PBX

[2019-11-07 06:19] dkgroot commented on #489
Skim through this page, and read the DHCP/TFTP ones. They explain in detail how the process works, and gives serveral examples of possible setups. LInux has multiple versions of DHCP and TFTP services so you need to pick the one that fits your needs/distro/preference/etc. Regarding DHCP it even includes an (older) example for Windows how to add 150/66 dhcp custom options to redirect the client to

[2019-11-07 14:57] FoxMcCloud592 commented on #489
Here is what this release of FreePbx reports as its version.
https://imgur.com/a/ReHne1x . I understand that getting your assistance is
a privilege, therefore I'd completely understand If you no longer would
like to walk me through the steps. My inexperienced is probably a tad
annoying =)

On Thu, Nov 7, 2019 at 1:19 AM Diederik de Groot <notifications@github.com>
wrote:

[2019-11-07 15:04] dkgroot commented on #489
@FoxMcCloud592 Please join the [chat](https://gitter.im/chan-sccp/chan-sccp) to speed up the proces. You have not tired me out just yet :-) ! Getting a little help from some other people is not a shame. Have you had time to read the pages i mentioned, to have some background information about what is required for the phones to get the appropriate tftp server information ?

You are lucky that /proc

[2019-11-07 16:36] anutator commented on #475
Forgotten...
You must add a line to delete old links:
`find ${TFTPDIR} -maxdepth 1 -type l -delete`
This will help if we deleted phone from sccp.conf
Besides, if you want to delete phone you must delete line with [SEP....] because if you only comment lines with phone description your script will make the symlink again. Or you must change the script to parse only lines which begin with **[SEP** and

[2019-11-07 17:28] nickvsh commented on #405
Hi.
I have:

- Asterisk certified/16.3
- Skinny Client Control Protocol (SCCP). Release: 4.3.2 (HEAD - 558d2b6M)

As far as I can tell DirectRTP between SCCP endpoints on asterisk (7912/7940/7960) working correctly.

But there is No DirectRTP in call between SCCP and PJSIP endpoint.
RTP flow goes through the PBX for each call leg.

Is it possible at all, in case of different signaling protocols?
I

[2019-11-07 18:09] dkgroot commented on #475
Nice addition ! What line should the `find` go on ?
Added '^' to the front of the egrep, that should take care of the remarking.

[2019-11-07 18:12] anutator commented on #475
I added line with find...  before pushd.
[code]
But I think we can add it after pushd and find in current directory
[code]
Besides we must be shure that we have only links created by Asterisk in tftpboot directory. If we created other links ourselves we must add -name "SEP*" to find command.

[2019-11-07 18:19] dkgroot commented on #405
Ooh nice... then fixing hold/resume should not be a whole lot of work !

Yes it is possible. Both sides of the channel need to line up, regaring selected codec (DTMF etc).
And:
- sccp.conf device's:deny/permit must line/match up with
- sip.conf directmediadeny/directmediapermit
When they line up, we allow direcrtp between both endpoints (this has been tested with chan_sip and chan_sccp).

 To be h

[2019-11-07 18:24] dkgroot commented on #405
Can you do a small test of  'issues/394_2' branch to see if it is still works (and potentially fix the hold/resume issue already) ?

***Git***
_Checkout this temporary branch_
[code]

_move back to develop afterwards:_
[code]

[2019-11-07 18:27] dkgroot commented on #475
Updated the example file :-) Added `-iname "SEP*.cnf.xml"`  to make sure we don't delete other softlinked files

[2019-11-08 03:14] FoxMcCloud592 commented on #489
Sure, see you guys there!

[2019-11-08 08:14] anutator commented on #475
Today I found special option **-lname**, so you don't have to use two options.

You should change line to:
`find ${TFTPDIR} -maxdepth 1 -lname 'SEP*.cnf.xml' -delete`

[2019-11-08 08:24] dkgroot commented on #475
@anutator
Thanks, updated the script, as you are the originator of this issue report, you should also be able to edit the script above (i think). I hid some of the posts, so the important part is more visible.

[2019-11-11 00:12] FoxMcCloud592 commented on #489
I'll come by, let me read this some more and come back to you guys. Thank
you very much

On Thu, Nov 7, 2019, 10:04 AM Diederik de Groot <notifications@github.com>
wrote:

[2019-11-11 10:14] vregal opened #490 "Freepbx 15 update module issue"
Following Quick Installation guide, point 4b, no way to add modules chan_skinny.so and chan_sccp.so

**Reproduction Steps:**

1. Freepbx 15 web gui, Admin->Asterisk Modules, under Excluded Modules
2. Try to add chan_skinny.so
3. system responds with message: "Call to a member function noload() on null File:/var/www/html/admin/modules/core/Core.class.php:486

[2019-11-11 10:16] dkgroot commented on #490
@vregal
If i interpret that response correctly, than chan_skinny.so is not available on that system, which is fine. Because we want to prevent it from being loaded. So not there would have the same effect.

[2019-11-11 14:08] nickvsh commented on #394
Recently I make a test according to [this](https://github.com/chan-sccp/chan-sccp/issues/405#issuecomment-551203324)
[code]
**Call between Cisco 7912 devices - is almost OK. Phone's firmware - CP7912080004SCCP080108A**

Hold on 1-st device, then hold on 2-nd -> Then Resume on each = the voice is OK in both directions.
But Moh while 1 device is on Hold is only in one direction. I assume it depends

[2019-11-11 14:11] nickvsh commented on #405
Recently I tested "issues/394_2 - 558d2b6M " branch.

[code]
The results of this test are posted [here](https://github.com/chan-sccp/chan-sccp/issues/394#issuecomment-552459573), cause I think this is more appropriate place for this issue (Hold/Resume related troubles)

[2019-11-11 18:48] dkgroot commented on #394
@nickvsh Ok pretty good news. I normally don't test putting both sides on hold, because that is a bit of an edge case (TBH). Thank you very much for testing this and reporting your findings in this detail, that is very helpfull going forward.

The next step will have to be to rebase the changes made in 394_2 on top of the current develop tree to see if the solution is still upheld. This will be a

[2019-11-12 12:00] nickvsh commented on #394
Hi, @dkgroot

You are 100% right! Just saying about the issue :)

You are always welcome! I am trying to help as possible as I can.

I am using Release: 4.3.2 - 558d2b6M at the moment.

RTP in calls between the SCCP devices flows directly!
The "indirectrtp" is only the case when calling pjsip-endpoints on asterisk (like trunks to ITSP, Cisco CUCM) or sip-voice gateways (Cisco CUBE/OpenVox).
As I d

[2019-11-12 12:13] dkgroot commented on #394
@nickvsh
DirectRTP makes the most sense if you have multiple devices on remote sites. For local phones to a local asterisk server, the minimal amount added network bandwidth and processing should be negligent.

__sccp reload__:
You can get rid of having to perform `sccp reload` for the most part if you switch to using a realtime database for the devices and lines. Only changes to the [generic] sec

[2019-11-12 12:49] dkgroot commented on #394
BTW: Working on the rebase now, should be done shortly.

[2019-11-12 12:50] nickvsh commented on #394
Exactly! Multiple phones in multiple branch VPN-networks, that connects to the headquarters, where asterisk is located. That is why DirectRTP was 'a must have' feature for my setup. Now all internal SCCP-calls have direct media flow, except sccp <-> pjsip calls.

Thank you for hint! In fact, planning to migrate to FreePBX 15 + [sccp_manager](https://github.com/PhantomVl/sccp_manager/wiki) + yours

[2019-11-12 12:57] dkgroot commented on #394
Rebase has been done. Please keep a copy of your current 558d2b6 based directory (because it has been overwritten and removed as a side effect of the rebase). Then clone a new copy of chan-sccp using branch `issues/394_2` to test the current behaviour. I have not made any changes except for rolling the 558d2b6 changes on top of the latest develop branch.

We should progress from that stance to see

[2019-11-12 15:32] rofferman commented on #488
This happened to me again this morning, I have other installations of chan sccp that I use and they do not have this issue. Is there a trigger that causes this to happen?

[2019-11-12 15:36] dkgroot commented on #488
@rofferman
I have not had time to fully analyze the log and come up with a possible fix yet. I have been down with the flu over the weekend. Also 'this' is not very clear on an issue report containing more than one issue, so i don't if you are talking about a compile issue or the last problem you reported, regarding looping/cleanup cycle (that's one of the reasons i don't really like having multip

[2019-11-12 15:38] rofferman commented on #488
The looping/cleanup cycle,
Came  in this morning to phones stuck in crossover session
I hope you are feeling better and don't mean to bother, just wanted to checkin on the issue

[2019-11-12 15:41] dkgroot commented on #488
No problem. Sorry you ran into the same issue again. I will report back as soon as i have had time to go over the log in detail and figure out the cause. In the meantime, you might want to compare the logs and see if you can see if there is some similar behaviour before running into the issue (for example the same device/line combination being involved or doing a callforward or transfer). Sorry i

[2019-11-12 17:56] nickvsh commented on #394
@dkgroot thank you for quick response!

Thanks for hint! In fact I am storing all chan_sccp versions that I tested :)

[code]

I have tested the mentioned branch
[code]
DirectRTP between SCCP endpoints works.

But today I found out, that even on old **issues/394_2 558d2b6M** branch code with **directrtp=on** option , there is  a "single directional RTP" issue after attended transfer:

- NO RTP **f

[2019-11-12 19:21] dkgroot commented on #394
Thank you for checking the new version of the branch (happy to see there are no further regressions). Also transfer and hold/resume are sort of related, because during a transfer a hold is being issued so we can call the new destination).

Looking at your debug logging, i notice that you are using a Local Channel and having multiple destinations in the Dial() command. This is making analysis unnec

[2019-11-12 21:51] dkgroot commented on #394
BTW
[code]
This at least is propably wrong, normally two different phones should be using two different ports, we do normally try to use the same port on the phone and the server side, but not reuse the same port for both devices. In this case that would lead to problems when the phones are remote, because the ports would map to the same address on the firewall. To be able to tell more about how t

[2019-11-13 09:25] nickvsh commented on #394
Maybe, but that is what I see in logs.
![image](https://user-images.githubusercontent.com/22931670/68748548-4f1b1700-0605-11ea-84c2-93e4e51aa8be.png)

OK

Got it!

[2019-11-13 14:45] nickvsh commented on #490
In fact, it is.
![image](https://user-images.githubusercontent.com/22931670/68771832-6b34ad80-0631-11ea-9c19-a32be4d0fcee.png)

I suppose it's a bug of FreePBX 15 (on v14 was OK), because it's now working even on modules that was already there like `chan_alsa.so`, or anything like `app_test.so, chan_sip.so, app_dial `etc. You can't **Add** or **Delete** anything from **Excluded/Loaded/Preloaded**

[2019-11-13 14:49] dkgroot commented on #490
@nickvsh  Thanks for reporting back to this thread on this matter !
Looks like some errors in processing the page are occuring, has anyone checked if these were reported to the FreePBX developers ?
Should we update the wiki, or just wait until it is fixed upstream ? Instead of deleting the skinny module, you can also just edit /etc/asterisk/module.conf of course ?

[2019-11-13 19:37] Idkwhattocallme commented on #490
is there a workaround to this?

[2019-11-13 22:56] dkgroot commented on #490
@Idkwhattocallme
Just edit /etc/asterisk/modules.conf manually, that should work. Or delete the chan_skinny.so module as @nickvsh mentioned (See above)

[2019-11-14 02:54] bfranske commented on #479
FWIW we have now gotten past this point in the class and all my students were able to successfully download, install the dpkg, and configure chan-sccp with a mix of 79x0, 79x1, and 79x2 phones.

[2019-11-14 02:58] dkgroot commented on #479
Nice, great to hear ! Looking forward to hearing how you and your students are progressing :-)

[2019-11-14 11:31] ErmakovDmitriy commented on #487
Hi,
I believe I have the same problem with my FreePBX distro installation (FreePBX 14).
When somebody calls affected phone incoming side sees only his/her phone number but not outgoing's number.

I use:
[code]
and static files configuration.
In FreePBX interface I just create "Extension => Other Extension" and type into dial string "SCCP/146".

I have phones which are the same model Cisco 7911 and

[2019-11-14 11:32] dkgroot commented on #487
@ErmakovDmitriy  Have a look at #473, it contains a possible solution to the issue toward the end

[2019-11-14 11:47] ErmakovDmitriy commented on #487
Thank you
I did as stoyanmarinov said [](https://github.com/chan-sccp/chan-sccp/issues/473#issuecomment-549908171) before sending the information.

I will try to fix the php code in FreePBX as mentioned here [](https://github.com/chan-sccp/chan-sccp/issues/473#issuecomment-549882633) tomorrow and reload the PBX (I can not reload it now).

[2019-11-14 11:48] dkgroot commented on #487
Ooh ok, I don't know if it is directly related or not, so we will see tomorrow, if more is needed. Thanks for checking it out !

[2019-11-15 06:07] ErmakovDmitriy commented on #487
Today I applied fix to macro-dial-one.php and reloaded FreePBX.
I also added Verbose output of CALLERID(all) and make a test call.

Here is the call full log [call-180-to-146.log](https://pastebin.com/GLzxC4df).
The call was made from line 180 to line 146 so I think CALLERID must be <username> 180.

Here is caller id output:
[code]
As I can see there is something strange with CALLERID value.
I wil

[2019-11-15 07:41] ErmakovDmitriy commented on #487
I finally found the problem.
It was with FreePBX dialplan (sorry for disturbing you here).

There is a macro [macro-user-callerid] in extensions_additional.conf.
It contains a string:
`exten => s,n,ExecIf($["${DB(DEVICE/${ARG2}/tech)}"="custom"]?Set(CALLERID(all)=${IF($[${LEN(${DB(AMPUSER/${ARG2}/outboundcid)})}]?${DB(AMPUSER/${ARG2}/outboundcid)}:${ARG2})}))`

which sets CALLERID for all devices

[2019-11-15 15:35] dkgroot commented on #487
@ErmakovDmitriy
Thank you so much for finding and solving the problem !
Please do report the issue to FreePBX.
I don't mind if you include a link to the issue here, but i am not sure if it will help.

[2019-11-15 15:36] dkgroot commented on #487
@tabbertmj Can you replicate the solution ?

[2019-11-16 04:30] tabbertmj commented on #487
I will try to test it tomorrow.

[2019-11-16 10:13] bknv opened #491 "Incoming call reloads cisco phone 7912"
Hello.
When an incoming call arrives on the second line of the phone cisco 7912, It suddenly reboots. I also noticed that the problem appears if a call arrives from chan_sip.

Log (core, channel, pbx, rtp, socket, action) in attach
[cisco7912.txt](https://github.com/chan-sccp/chan-sccp/files/3854069/cisco7912.txt)

After rebooting the phone, the module not available for:

load

asterisk*CLI> modul

[2019-11-16 17:03] dkgroot commented on #491
@bknv
From a first look it looks like we might be sending something to the phone which causes it to reset.
Can you perform another call (with sccp.conf `debug=core,channel,pbx,action,rtp,indicate,message`), so we can see the messages being send. Can you retrieve the phone debug logs from the phones web interface during these last moments ?

@jozzus / @nickvsh Have you seen anything similar on your

[2019-11-16 17:05] dkgroot commented on #491
@bknv The 7912 has turned out to be quite hard to setup exactly right, they have quite a number of quirks: for example : [Troubleshooting-7912G-Keeps-Rebooting-event-after-Successfull-Registration](https://github.com/chan-sccp/chan-sccp/wiki/Troubleshooting-7912G-Keeps-Rebooting-event-after-Successfull-Registration)

[2019-11-16 17:46] tabbertmj commented on #487
That resolved it!  It also resolves calling from one context to another with a custom device showing a CID assigned to a trunk.

[2019-11-16 17:49] dkgroot commented on #487
@tabbertmj Thanks for reporting back.
@ErmakovDmitriy Thank you so much for figuring this out and helping to resolve the issue.

Can you make a small announcement to the sccp_mananger user community on gitter, about the issue and it's resolution ? Any ideas about what else to ? Should we close the issue, or leave it open for others to find ?

[2019-11-18 03:06] dkgroot commented on #491
@davidded / @ojaksch Didn't you guys figure out how to resolve this one a while ago ?

[2019-11-19 05:38] ErmakovDmitriy commented on #487
I do not mind closing the issue because the problem was solved for my installation. I commented closed bug at [FreePBX.org](https://issues.freepbx.org/browse/FREEPBX-19451) so I hope the FreePBX developers will fix it.

Thank you for your help!

[2019-11-19 06:41] dkgroot commented on #487
Ok let's close it for now, and i will try to remember that it was fixed (my memory is hopeless in this regard :-))

Note:
- chan_sccp issue is closed
- FreePBX issue: [19451](https://issues.freepbx.org/browse/FREEPBX-19451) closed
- FreePBX issue: [20805](https://issues.freepbx.org/browse/FREEPBX-20805) newly opened

[2019-11-19 06:41] #487 closed, assigned to dkgroot

[2019-11-19 06:49] ErmakovDmitriy commented on #487
I am sorry, I have not updated my response.
Here is a new issue: [FREEPBX-20805](https://issues.freepbx.org/browse/FREEPBX-20805) (just for information).

[2019-11-20 20:36] dkgroot commented on #491
@bknv You have updated chan-sccp and now multiple incoming calls to 7912 phones work, correct. Can we close this issue report ?

[2019-11-21 13:13] mpaland opened #492 "SPA 524G phone resets after startup"
I upgraded asterisk from 13.20.0 to 16.6.1 and the same time I updated the chan-sccp driver from an older (around begin of this year) version to the actual one of last weekend.

All phones (7970 and 7975) are working fine as expected except for the (older) SPA 524G phone.

Behavior:
After loading all necessary files via tftp it resets and starts again.
Loads all files again and restarts.

Here is

[2019-11-21 17:50] dkgroot commented on #492
@mpaland
My SPA524G works perfectly well with the latest version, so there is no reason to throw it out at all. I love the little spa's !
I looks like you have a cross over session, and it's not clear why.  Something is preventing the cleanup from removing the device completely, before it comes back. The question that has been there for a while not, is what is prevent it. I am looking for a soluti

[2019-11-21 18:04] mpaland commented on #492
@dkgroot, thanks a lot for giving such fast feedback!

I tried to unload/reload the module and restart asterisk several times, no success, result the same.
Here is a more detailed log:
[code]

I don't see an obvious reason.

[2019-11-21 18:51] dkgroot commented on #492
Could it be that you have two CUCM entries in your SPA config ? It would then send a second token to the second CUCM. if that is the same ip address as the first, you would get something like this. Can also happen if you have srst active.

Can you show the timing between:
[code]
and:
[code]
When is the config finished loading and when does the new connection come in ?

BTW: from the new debug log,

[2019-11-21 21:51] dkgroot commented on #492
Ooh btw i have a SPA504 not a SPA524. So i can be that they are slightly different and that we accidently introduced a regression for the SPA524 without noticing.

[2019-11-22 14:26] bknv commented on #491
@dkgroot I update main server and problem saved...
I also noticed that the problem remained on the test server

[2019-11-22 17:14] mpaland commented on #492
I'm pretty sure, that I don't have two CUCM entries active.
What do you mean by "srst" active and the debug log times?
I'll make a complete trace on monday. Thanks a lot!

[2019-11-22 20:35] dkgroot commented on #491
I guess you will have to do a little digging and find the difference between the two machines.

[2019-11-22 20:39] dkgroot commented on #492
Ok

srst is a failover system from cisco, where remote routers can take over phone server tasks for central CUCM when the connection is lost. I can have the same effect as a second CUCM entry in the config. I am not 100% sure SPA's phones even support SRST to be honest.

Ok looking forward to that. Maybe set sccp.conf 'debug=core,device,action,socket,message' so we can also see the messages being

[2019-11-25 16:44] nickvsh commented on #490
@vregal @Idkwhattocallme @dkgroot
I don't recommend editing **/etc/asterisk/modules.conf**, because it is auto-generated by FreePBX.
Any manual modifications will be erased after first "Apply" in FreePBX GUI!

Updated FreePBX "core" module was released to fix this issue (27/Sep/2019)
But it's in the so called "edge" truck.

More detailes here
https://issues.freepbx.org/browse/FREEPBX-20599?focused

[2019-11-25 17:15] dkgroot commented on #490
@nickvsh As you have experience with this, would you mind editing out freepbx wiki pages ? Thanks
@vregal Does this solve your issue and can we close this issue report ?

[2019-11-26 08:50] dkgroot commented on #488
@rofferman I have rewritten some of the hangup handling. Note sure if this is going to help fix the issue, but from analyzing the debug log, i noticed that when the hangup failed at some time, all the subsequent hanging up caused new and more problems. I have added a debug log, to print the variables related to channels and hangup under the sccp log 'pbx' keyword.

***Git***
_Checkout this tempora

[2019-11-26 13:10] nickvsh commented on #490
Done.

[2019-11-26 15:55] rofferman commented on #488
Great,, So you want me to pull that version. Run Debug for a while on it, Send you the Debug log from that version, then switch back to develop.
Is that correct?

[2019-11-26 15:56] dkgroot commented on #488
Please make sure you run a couple of tests before putting in production  (if in corporate environment). If it works without side effects, we should merge the changes, so don't switch back to develop just yet, only when encountering more issues

[2019-11-26 15:57] dkgroot commented on #490
@nickvsh Thank you !! Looks good to me :-) !

[2019-11-26 15:59] dkgroot commented on #490
@vregal Closing this issue report for now. If there are still problems, reopen the issue report.

[2019-11-26 15:59] #490 closed, assigned to dkgroot

[2019-11-26 16:02] rofferman commented on #488
Ok do you want the debug log or part of if it when or is that not necessary if there are no issues

[2019-11-26 16:03] dkgroot commented on #488
If you have the space, yank the debug up nice and high :-) Especially in the beginning to see if there are negative side effects. Once it stabilizes we need to figure out if the old looping issues still occur. I only need the debug log when/if it goes wrong :-)

[2019-11-26 17:28] billsimon opened #493 "What is "empty" softkey supposed to do?"
On ring-out, a softkey labeled "Empty" appears in the first softkey slot. Pressing the key during ring-out causes the phone to display "No channel to perform empty on!" and the call fails. The phone is also rendered unusable for about 30 seconds (all buttons inoperative). What is the purpose of this softkey? I intend to adjust the template to remove it, but would like to understand its meaning fir

[2019-11-26 17:32] dkgroot commented on #493
@billsimon
An empty softkey should normally not popup on a phone, and just leave an empty spot, used to line up softkeys nicely. It shoud not have any side effects when pressed either. I am wondering what type of phone you are using, that has this peculiar behavior. You can create a specialize softkeyset if necessary (for now) until we figure this out.

[2019-11-26 17:32] rofferman commented on #488
Ok its implemented and I will keep you posted, Debug is set to all.
instead of make reload can you do a chan_sccp module reload.
I cant take the system down right now

[2019-11-26 17:34] dkgroot commented on #488
You can do a module unload / load but the sccp phones will have to be dropped and reregister. If that is not allowed at the moment, then you will have to wait.
In the meantime it might be a good idea to clone the machine and setup a test server (if you are running on a VM).

[2019-11-26 17:36] rofferman commented on #488
Yes i am doing a clone right now

[2019-11-26 21:33] Idkwhattocallme opened #494 "cant setup realtime"
help i cant set up realtime im following the instructions here
 https://github.com/chan-sccp/chan-sccp/wiki/Realtime-Configuration

but none of the commands work

i am using asterisk 16 with freepbx

[2019-11-26 21:36] dkgroot commented on #494
@Idkwhattocallme Can you give me some more details:
- the platform/version/cpu-arch you are using
- Which commands don't work
- What error you get back
- Please be specific, i am very bad at guessing
- Show the files you have been editing
- If you are using freepbx, you should use the [freepbx guide](https://github.com/chan-sccp/chan-sccp/wiki/FreePBX). Installation of the sccp_manager will take c

[2019-11-26 21:48] Idkwhattocallme commented on #494
i am using freepbx and following the guide but when i try to install sccp_manager i get a error cannot find sccpdevice table

[2019-11-26 21:51] dkgroot commented on #494
Which freepbx version. Have you seen the notice in FreePBX_Installation:4b ?
Please log in to the gitter chat make this process a little easier
For help with sccp_manager you might need some help from @PhantomVl and he can be reached in the chat as well.
Note i don't use FreePBX or the sccp_manager plugin, so i don't have much/any experience with it.

[2019-11-26 22:05] Idkwhattocallme commented on #494
what is gitter chat

[2019-11-26 22:06] dkgroot commented on #494
https://gitter.im/chan-sccp/chan-sccp

[2019-11-27 20:21] dkgroot commented on #488
Pushed another little update, to get more information when something does go wrong.

[2019-11-27 20:27] rofferman commented on #488
great. I just pulled it
so far so good

[2019-11-27 20:28] dkgroot commented on #488
Ooh good news. This is on production or your test-clone ?
What was your previous 'uptime' compared to now ?

[2019-11-27 20:30] rofferman commented on #488
Production.. and Its not active yet, I have not had a chance to do a make reload. I will do it tonight

[2019-11-27 20:31] dkgroot commented on #488
You do know you can schedule a reload using `core restart when convenient` right. It will restart asterisk when there are zero active calls :-) But it would be recommended to have tested the module before doing something like that.

[2019-11-27 20:32] dkgroot commented on #488
If your uptime is this important, you might want to look into clustering your asterisk server and make two identical copies next to one another. With quick failover.

[2019-11-27 20:32] rofferman commented on #488
yeah I know, its that when it restarts all the phones go down any my users freak.

[2019-11-27 20:33] rofferman commented on #488
I do have a warm spare that is backed up to every night thru freepbx

[2019-11-27 20:33] dkgroot commented on #488
Push an `SCCP System Message "server maintenance planned at 1:00AM"`  :-)

[2019-11-27 20:34] dkgroot commented on #488
Ooh nice, already a good start in that sense. Active/Active clustering is also possible of course, but a little more work.

[2019-11-27 20:34] rofferman commented on #488
LOL I should , tomorrow is a holiday though so not problem getting it done soon

[2019-11-27 20:35] dkgroot commented on #488
Ooh enjoy you 'partial' day off then :-)

[2019-11-27 20:35] rofferman commented on #488
I have only had one or two other instances with the crossover section error since I started this ticket

[2019-11-27 21:18] dkgroot commented on #488
But without the problem of it getting stuck ? So should we call that a slight improvement ?

[2019-11-28 14:51] mpaland commented on #492
So far I'm not using any Cisco routers anymore, the asterisk and system setup is pretty plain.

I attached a full log file, but it's not very informative.
[log.txt](https://github.com/chan-sccp/chan-sccp/files/3902088/log.txt)
I guess we need a wireshark or tcpdump trace to see what's going on.

I had a test version (a27a98cc7785ea3e0d5d8cfe23fc9952776b3411) from May which I tried, but it shows th

[2019-11-28 15:21] mpaland opened #495 ""Temp Fail" displayed when call is connected"
Tested with asterisk 16.6.1 and latest dev chan-sccp as of today.

I have a button as line monitor for a group of other phones belonging to Manfred on my desk phone like:
`button = speeddial, Manfred, 12, 81@ext-hints`

hint 81 in the dialplan is like:
`exten => 81,hint,PJSIP/11&SCCP/12&SCCP/13`

When a call is coming in on the this line it shows in my display:
2132232 ->Manfred

When the call is

[2019-11-28 21:36] dkgroot commented on #492
Hi Marco,

Ok the reset time between registering and restarting is pretty fast, my guess would be that we are sending the phone something that it does not like at all. Might be a faulty message.

The phone debug log might be able to tell us something about that. Best way to collect it would be via the phones ssh interface. You can try and grab the debug log from the webinterface, but that would be

[2019-11-28 21:38] dkgroot commented on #495
Ooh that is not good. To be honest i did a little bit of 'optimization' in the sccp_hint.c file a couple of 1-2 weeks ago. But i don't remember if i checked the result, i just looked logical. I will look it up and revert the change and give it a look. Sorry about this  and thanks for reporting the issue.

[2019-11-28 21:59] dkgroot commented on #492
I am actually having difficulty finding the SPA524 model on the cisco website. Also could not find firmware for it :-)  Maybe you can provide a link or 2 ?

[2019-11-28 23:01] dkgroot commented on #492
Can you do a quick test using the same chan-sccp version but backed by asterisk-13, because i don't see how asterisk-16 could be the cause. I don't know if this is an easy switch for you or not (i have multiple asterisk versions installed, but that is not as easy for everyone). We use one source base for all asterisk version, so there should not be any difference in the messages we send the device

[2019-11-28 23:06] dkgroot commented on #495
Reverted commit 8239b6d
Please let me know if this took care of the problem, assuming it does.

[2019-11-28 23:20] dkgroot commented on #492
I just found this site:
http://www.shanekillen.com/2012/08/cisco-spcp-register-token-rejected1.html
About firmware issues, also related 'Tokens' etc. Maybe you can downgrade/upgrade the firmware to see if that does anything. Might be hard to find the firmware though, so make sure you have everything in place.

[2019-11-29 00:37] dkgroot commented on #488
@rofferman:
I forced a rebase + push, if you want to get the latest version, you need to:
[code]
it is not absolutely crucial, if you already got the latest from before, the functionality has not changed, i just improved the reporting a little.

Hope to hear if the latest version has improved the situation on your side, and you are not seeing the stuck devices any more.

[2019-11-29 09:25] mpaland commented on #492
Thanks a lot for the link, very interesting. From my past UC5xx times I still have several firmware versions for the phones. But the 524 has the latest one, cp524g-8-1-17.bin
Because it worked perfectly fine before the upgrade/update, the cause must be something else.
I already tried to enable ssh on the phone, but without success.

Switching the asterisk version back to 13 is possible, but takes

[2019-11-29 09:28] dkgroot commented on #492
If you can switch firmwares back and forth that might already check of one thing.

[2019-11-29 09:30] dkgroot commented on #492
Do you know the revision you were using, when it still worked. If so we can do a git bisect to figure out where it went wrong.

[2019-11-29 09:33] mpaland commented on #495
I reviewed your changes, all the fall-through optimizations should be fine. Must be some other change.
Anyway I retest the actual version.

By the way, is the explicit number display configurable?
Sometimes, it would be better not to expose the call details on a monitoring phone, the status of the hint (LED, Line symbol) would be sufficient.

[2019-11-29 09:36] dkgroot commented on #495
That's what i thought as well. It was just supposed to be a little cleanup.

Eeh yes, but currently it's an all or nothing `./configure --disable-dynamic-speeddial-cid` option. It could be made into a per line, per device or per button kind solution, but that is not present at this time. Would need some discussion and work i guess.
If we want to go there, question one would be, do we suppress it f

[2019-11-29 09:37] mpaland commented on #492
The phone was working the past 4 years with the same firmware, 1-17.bin, no changes, so I was really wondering about this reset.

[2019-11-29 09:38] dkgroot commented on #492
Me too :-)

[2019-11-29 15:12] rofferman commented on #488
Got both updates applied and have not had any issues yet
Is there anything I should look for specifically in the debug logs that would help?

[2019-11-29 19:30] dkgroot commented on #488
@rofferman
How many calls and how much uptime with the new version ? Should the issue have presented itself yet, if on the old version ?
Look for crossover, followed by a series of crossovers, re-register over and over (ie: looping & stuck) A single crossover and recover is not the issue, this fix was concentrating on. The objective was not to get stuck.

[2019-11-29 21:07] dkgroot commented on #488
You can do something like:
`grep -i -e "Connection reset by peer" -e "Sending hangupRequest" -e "is registering -e "Cleaning previous session, come back later" /var/log/asterisk/message`
And see if a device is continuing to have trouble, or it is just a one of re-register.

[2019-11-29 21:20] dkgroot commented on #495
@mpaland
Had another look at the current code. There is the device->privacy sccp.conf entry. It controls hint cid information. privacy=full means all call info is hidden on remote hinted speeddials, privacy=on means it can be controlled using the 'private' softkey. privacy=off means call info is always shared. I forgot this was added something like 2 years ago. Maybe having this at the device leve

[2019-12-05 12:05] ErmakovDmitriy opened #496 "Unexpected phones disconnect"
Hi, everybody.
I noticed the problem some weeks ago. Sometimes (no obvious reason) Cisco phones disconnect/loose session from Asterisk server.
Some weeks ago we (my colleague and me) thought that the situation was related to some incorrect logic during config reload (we thought that it happened just after "sccp reload").
Today we saw the problem without any obvious reason.

**Reproduction Steps:**

[2019-12-05 13:57] dkgroot commented on #496
@ErmakovDmitriy
Thank you for you issue report. The Unexpected Disconnect and Register has been in chan_sccp for quite some time, and we have not been able to figure out the real reason for this yet. We have made a little progress, fixing the looping behaviour after the initial disconnect in Issue #488. I have however not hear back from @rofferman yet on the latest findings. But his initial result

[2019-12-05 13:57] dkgroot commented on #488
@rofferman  Any updates ?

[2019-12-05 14:32] rofferman commented on #488
@dkgroot  So far so good. I have not had any problems as of yet..

[2019-12-05 15:17] dkgroot commented on #488
I think that means we should merge it back to develop as an improvement.
Should be done in a couple of minutes.
Please move back to develop in 10 min.

[2019-12-05 15:19] dkgroot commented on #496
@rofferman just reported back on the issue/488 that it looks like it fixed the devices getting stuck in an infinite loop. So merging issue/488 back to develop. You can pull the latest develop branch.

[code]

[2019-12-05 15:21] #488 closed, assigned to dkgroot

[2019-12-05 15:23] dkgroot commented on #488
Merged and Pushed. Please switch back to develop branch:
[code]

[2019-12-05 15:24] dkgroot commented on #496
Closing the issue report for now. If the issue does continue please reopen this one or issue/488

[2019-12-05 15:25] dkgroot commented on #496
Closing this issue report for now.
If the issue does come back / is not resolved, then please reopen this issue or issue/488.

[2019-12-05 15:38] rofferman commented on #488
Ok thanks, and I will keep an eye on it

[2019-12-06 12:50] dkgroot commented on #489
Switched to chat

[2019-12-06 12:50] #489 closed, assigned to dkgroot, ojaksch

[2019-12-10 08:14] ErmakovDmitriy commented on #496
Thank you @dkgroot.

I tested the changes you offered.
It worked from Friday evening to Tuesday morning (its important to notice that my PBX restarts every night at 00:00).

Today my colleague got the same problem.
Here is the [log and status](https://pastebin.com/uZZxs43S).

`sccp show ...` outputs are stripped to include only some phones (for which I got "Cleaning previous session, come back lat

[2019-12-10 08:59] dkgroot commented on #496
@ErmakovDmitriy Darn. I was hoping it was resolved !
It looks like the stuck channels are the cause for the continues restarts. We are having trouble cleaning them up, and getting in this loop
You can send mail to ddegroot@talon.nl if you like.

Please include 'sccp show refcount' as well if you still have it.
I will review the log.

[2019-12-10 09:24] ErmakovDmitriy commented on #496
Thank you. I have just sent full log to ddegroot@talon.nl

[2019-12-10 15:37] dkgroot commented on #496
Thanks i will dig through it tomorrow !

[2019-12-10 15:54] anutator opened #497 "Asterisk stops working after Cisco 7925 (WiFi) tries to reregister."
[newSccp.txt](https://github.com/chan-sccp/chan-sccp/files/3945774/newSccp.txt)
After you made changes in chan_sccp the problem we also had great problems with Asterisk and shared lines, but 3-4 times in a month. I decided to make separate phones without shared lines and we still have problems - all phones don't work, IVR not working — nothing.

alarm:
[code]
Asterisk 16.6.0-rc2.
Skinny Client Con

[2019-12-11 08:33] dkgroot commented on #496
Problem regarding 7911 phones:

Regarding: I"SCCP11.8-4-2S : Invalid SCCP message! : ID :87:"
Please read #424 issue report.
This phones problems seem to be solved by changing/upgrading the phones firmware.

Also referencing: #482

[2019-12-11 09:11] dkgroot commented on #496
Problem 2: "Debug Log"
`sccp_actions.c: SEP6886XXXXXXX: Cleaning previous session, come back later, state:**OK**`

The state "OK" is causing an endless loop. Fix: We change the registration state to FAILED during cleanup and disconnect the session from the device forcefully. Committed a fix in a separate branch:

***Git***
_Checkout this temporary branch_
[code]

_move back to develop afterwards:_

[2019-12-11 09:12] dkgroot commented on #482
@anutator Can you switch to issue #496 as you are having the same/similar trouble. Closing this issue report for now, so we can keep a little bit of overview.

[2019-12-11 09:12] #482 closed, assigned to dkgroot, anutator

[2019-12-11 09:13] dkgroot commented on #497
@anutator
In issue #496 i have committed an fix for the issue you report above.

***Git***
_Checkout this temporary branch_
[code]

_move back to develop afterwards:_
[code]

This should at least take care of the endless looping.

I don't know yet what is causing the 7925 phones to react so differently just yet.

[2019-12-11 09:20] ErmakovDmitriy commented on #496
Thank you for the fix.
I will try it as soon as possible.

[2019-12-17 08:41] ErmakovDmitriy commented on #496
Thank you @dkgroot for your help!

I compilled issues/496 branch about 5 days ago.
I have not noticed any problems with sessions since the update.

Now I can see:

[code]

and after that the phone registers.

[code]

I believe that the problem is solved.

[2019-12-17 10:28] dkgroot commented on #492
@mpaland Have you been able to make any progress in figuring out what might have happened ?

[2019-12-17 10:29] #496 closed, assigned to dkgroot

[2019-12-17 10:30] dkgroot commented on #496
I have merged issues/496 back into the develop branch.
Thanks you for reporting the issue and testing the solution.

[2019-12-17 10:31] #333 closed

[2019-12-17 10:34] #299 closed

[2019-12-17 10:34] #344 closed

[2019-12-17 10:35] dkgroot commented on #497
@anutator The issue/496 branch was merged, which apparently solves some of the re-register/looping issue. Closing this issue report for now. Please re-open if/when necessary.

[2019-12-17 10:35] #497 closed, assigned to nobody

[2019-12-17 12:11] dkgroot commented on #493
@darkponay helped clarify the problem :-)

@billsimon Thanks for reporting the issue. Just committed a fix for the problem
The empty button is not suppressed again but still leaving an open space.

[2019-12-17 12:11] #493 closed, assigned to dkgroot

[2019-12-17 13:07] dkgroot commented on #479
Noticed the links in http://wiki.ihitc.net/w/Franske_ITC-2300_Schedule pointing to chan-sccp :-)

[2019-12-17 15:28] billsimon commented on #493
Confirmed, problem solved on my phones. Thanks!

[2019-12-17 15:53] dkgroot commented on #473
Closing this issue, as it seems to have been resolve in FreePBX (correct). Please reopen if/when necessary.

[2019-12-17 15:53] #473 closed, assigned to dkgroot

[2019-12-17 15:55] dkgroot commented on #493
Sorry if took 3 weeks for me to finally understand the problem :-))

[2019-12-19 17:51] j217 opened #498 "chan_sccp fails to start when tcp is enabled in chan_sip"
If "tcpenabled=yes" is in sip.conf then chan_sccp fails to start and loops with errors like
[Dec 19 18:44:38] ERROR[100371] sccp_session.c: Error accepting new socket Software caused connection abort on accept_sock:11
[Dec 19 18:44:38] ERROR[100371] sccp_session.c: Error accepting new socket Bad file descriptor on accept_sock:11

**Reproduction Steps:**

1. [First Step]
2. [Second Step]
3. [Other

[2019-12-19 18:00] j217 commented on #498
sorry, attached files were lost

[2019-12-19 18:08] j217 commented on #498
OK, I can't attach files here, so let it be on pastebin:
https://pastebin.com/raw/VqE2vNAB

[2019-12-19 20:20] j217 commented on #498
Confirmed also on fresh packages in FreeBSD:
aster-sccp*CLI> core show version
Asterisk 16.6.2 built by root @ 120amd64-quarterly-job-01 on a amd64 running FreeBSD on 2019-12-10 09:56:14 UTC
with asterisk-chan_sccp-4.3.2_1 :
aster-sccp*CLI> sccp show version
Skinny Client Control Protocol (SCCP). Release: 4.3.1 TRUNK - unknown (built by 'wheel' on '2019-12-10 22:47:09 UTC')
and even with chan-sccp

[2019-12-19 21:34] j217 commented on #498
Not reproduced on asterisk13.
On asterisk13 chan-sccp starts without errors no matter what is the value of tcpenable in sip.conf.
Also tried noloading of different modules but it still starts fine.
aster-sccp*CLI> core show version
Asterisk 13.29.2 built by root @ 120amd64-quarterly-job-11 on a amd64 running FreeBSD on 2019-12-10 04:42:26 UTC
aster-sccp*CLI> sccp show version
Skinny Client Control

[2019-12-20 01:24] j217 opened #499 "cisco 6901 one-way audio"
Cisco 6901 only receives audio, does not send.

**chan-sccp version:**
Skinny Client Control Protocol (SCCP). Release: 4.3.2 TRUNK - unknown (built by 'wheel' on '2019-12-19 20:45:51 UTC')
built from chan-sccp-chan-sccp-v4.3.2-epsilon_GH0.tar.gz

**asterisk version:**
13.29.2, 16.5.0, 16.6.2

**Expected behavior:**
Two-way audio

**Observed behavior:**
The phone plays audio received from asterisk

[2019-12-20 14:16] dkgroot commented on #498
I don't understand how that could be caused ?
Except if chan_skinny is also loaded or chan_sip is using port 2000.
Please check:
[code]
can you set: sip.conf
[code]

[2019-12-20 14:22] dkgroot commented on #499
Can you set/check sccp.conf:
[code]
And do
[code]

[2019-12-20 14:26] dkgroot commented on #499
Looking at your log i notice:
[code]
Could it be that your phone is running in ipv6 mode and the server is in ipv4 ?

Getting "getnameinfo" back from asterisk normally means we have trouble resolving a name/address.. But if the family is mentioned, then that indicates ipv4/6 issues.

You can set sccp.conf
[code]
To switch the server to ipv6 mode, just to make sure/test.

[2019-12-21 09:54] j217 commented on #498
Chan_skinny is noload. That was the first thing I checked. Settings in sip.conf are as you show except port is now set in tcpbindaddr after as 1.2.3.4:5060.
The additional important detail is that chan-sccp fails only if the SIP phone on TCP is reachable when asterisk starts.
1) Start Asterisk when SIP phone on TCP is reachable, tcpenable=yes - chan-sccp fails to start.
2) Start Asterisk when SIP

[2019-12-21 11:03] dkgroot commented on #498
Are you running a SIP softphone on the asterisk server ? What port is it using ?

You can turn of module autoloading and load all the modules using "load=", that should load them in order (i think), but would be quite a bit of work to figure out the required order.

Might be better to figure out what is blocking port 2000. Maybe have a look at `lsof`

It's not obvious to me what is going on here.

[2019-12-21 11:12] j217 commented on #499
1) Setting
debug = core, channel, pbx, rtp, codec
directrtp = off
earlyrtp = progress
does not help. Still no sound. I've also tried other options of earlyrtp with no success.

2) My server has no IPv6 address on LAN, only on Loopback. 6901s are provided with IPv4 DHCP, TFTP and callmanager address in config is of course v4. Maybe this warning is because there is no DNS available?

3) I've built t

[2019-12-21 11:20] dkgroot commented on #499
When i looked at the debug log, after the error i mentioned there was no attempt to start the auto sending part of the rtp stream, so it makes sense that the audio would be one way. We need to figure out where the error is coming from though. And if this issue is at all related to the #498 problem. I am sorry but i am a little stumped by both issues at the moment.

Do you have other skinny phones

[2019-12-21 11:22] dkgroot commented on #499
Setting `bindaddr=::` should not have negative side effect, it just switches the server to Dual IPv4 and IPV6 mode, supporting both. It might get us past the 'family' issue.

You are running inside a KVM instance. How did you setup the ip-address routing between host and vm-instance ? Bridge/nat/forward/device-passthrough.

[2019-12-21 11:46] dkgroot commented on #499
Ooh maybe we are getting an invalid ip-address/port combination back from "OpenReceiveChannel". We should set 'sccp debug core, channel, rtp, message, codec' to check that out. If necessary we can add some extra debug statement in the function parsing the 'OpenReceiveChannel' message.

[2019-12-21 16:32] j217 commented on #499
If I set bindaddr to :: then 6901s do not connect to asterisk. sockstat -v shows the following:
USER     COMMAND    PID   FD PROTO  LOCAL ADDRESS         FOREIGN ADDRESS
asterisk asterisk   10169 6  stream /var/run/asterisk/asterisk.ctl
asterisk asterisk   10169 9  udp4   *:30843               *:*
asterisk asterisk   10169 10 udp6   *:25010               *:*
asterisk asterisk   10169 11 udp4   *:5

[2019-12-21 16:38] dkgroot commented on #499
Oh i did not realize you were running FreeBSD. I thought it was just a typo (and you meant FreePBX), i am so sorry for that faulty assumption.
The sockstat is that from before of after chan_scccp module is loaded. If before, then we know the problem (2000 is already being used by something).
Ok there might be a difference in running DualStack in BSD. I have done most of by BSD testing on DragonFly

[2019-12-21 16:44] dkgroot commented on #499
[code]
Ok the openReceiveChannelAck come through nicely, and it has an appropiate ipv4 address and port. So that part is good.
And this time we are starting MediaTransmission:
[code]
But the last line (and the message) is missing some information, namely the destination of the rtp packets, where the should be send to (the rtp-port:10244 of the server).

And the phones seems to be accepting it thou

[2019-12-21 16:48] j217 commented on #498
Here are open sockets when SIP phone was turned on after sccp-chan started successfully:
USER     COMMAND    PID   FD PROTO  LOCAL ADDRESS         FOREIGN ADDRESS
asterisk asterisk   10228 6  stream /var/run/asterisk/asterisk.ctl
asterisk asterisk   10228 9  udp4   *:20721               *:*
asterisk asterisk   10228 10 tcp4   192.168.220.71:5060   192.168.220.171:51294
asterisk asterisk   10228 13

[2019-12-21 16:54] dkgroot commented on #499
Having another look at the beginning of the call, it seems to already go wrong here, when asking asterisk to setup an rtp port instance for us.
[code]
This is the first part we should look into. Something is definitly wrong here, fixing this might solve the whole issue, or at least might bring a clue for the rest.

Would it be possible to get a connection to you machine so we can analyze this on t

[2019-12-21 17:28] dkgroot commented on #499
Note: I had not realized we had been talking about FreeBSD all this time. I just assumed it was a typo for FreePBX, sorry :-)

[2019-12-21 17:34] dkgroot commented on #498
Note: I had not realized we had been talking about FreeBSD all this time. I just assumed it was a typo for FreePBX, sorry :-)

But also handle 14 is still open, when the module is not loaded, that is very curious. Looks like the client port is not being shutdown  / terminated correctly.
This could be caused by some of the subtle differences between ip model implementation i guess.

If i can get a

[2019-12-21 18:54] dkgroot commented on #499
1. Improvement Suggestions: We need to check these return values more precisely and fail early. So if the rtp instance creation fails we should have given up immediately at that point.
2. i think the difference between BSD and Linux might be causing this. We are not using all the asterisk netsock library and they might have already dealt with this issue in the past. I will have a look if i can see

[2019-12-21 22:14] j217 commented on #499
I've left you a message in gitter about ssh access.

[2019-12-22 11:44] j217 commented on #498
bindaddr=192.168.x.x solved it for now
and also fixed the one-way audio
Fixes for 0.0.0.0 binding coming

[2019-12-22 11:46] j217 commented on #499
bindaddr=192.1x.x.x fixed the one-way audio
Fixes for 0.0.0.0 binding coming

[2019-12-22 23:01] ApertureDevelopment opened #500 "extension could not be found in context 'default'"
Hello,

First of all, this: https://github.com/chan-sccp/chan-sccp/issues/204 is related but didn't help me.

I am using chan-sccp and tried to add my phone to the config, while the phone connects and accepts incoming calls, outgoing calls are always rejected. ``extension could not be found in context 'default'`` is the error message I get in the asterisk debug log.

I am using FreePBX btw.

**Rep

[2019-12-22 23:38] ApertureDevelopment commented on #500
Off topic:
Happy #500 issue!

[2019-12-23 12:39] dkgroot commented on #500
@ApertureDevelopment

Which chan-sccp revision are you using & which FreePBX version, just to get the required information, and we are not trying to figure something out that was already fixed ? Note: I am not a freepbx user, but "default" is not a context that should be used, you should be using 'from-internal' as the standard context in the sccp.conf [general] section. See: https://github.com/ch

[2019-12-23 13:16] ApertureDevelopment commented on #500
The issue is that the context is set to from-internal.
I built the develop branch yesterday, but if you want the revision, I am at commit:
88cc7bbc9390814bd3a7b46bd201004410a68461
And I am using FreePBX 15

Here are the command returns:
https://gist.github.com/ApertureDevelopment/5dc098e87eccca8330349083580db798

[2019-12-23 13:37] dkgroot commented on #500
As you can see in the `sccp show line` excerpt at line 12, the line is using 'default' context and not 'from-internal' or 'from-internal-xfer'. If you correct that, then the phone should start working.

I am not sure if you are using the FreePBX `sccp_manager` plugin. If you are using config files, check them. If you are using sccp_manager, you have to have a look at the realtime db and the sccp_m

[2019-12-23 13:41] ApertureDevelopment commented on #500
omg I am sooo stupid. I didnt see that even thought it was right before my nose.

Thanks for the help and have a great day

[2019-12-23 13:41] #500 closed, assigned to dkgroot

[2019-12-23 13:44] dkgroot commented on #500
Also funktioniert es jetzt ? Wenn ja, dan viel spass mit chan-sccp !

[2019-12-23 13:48] ApertureDevelopment commented on #500
Naja ich bin jetzt in das alte problem mit dem ton gestoßen ( ich benutze chan-sccp seit jahren, aber ein Update der telefonanlage hat eben diese zerstört, jetzt benutze ich freepbx, vorher habe ich Wazo benutzt ) aber das problem war wenn ich mich richtig erinnere nur das nicht genug ports offen waren für sccp

[2019-12-23 13:50] dkgroot commented on #500
Welches 'alte problem' mbz. ton ? Vielleicht besser wenn wir das uber der gitter chat machen.

(Stupid me, would be better to keep the issue list in english, so others can also follow :-))

[2019-12-26 13:27] #498 closed, assigned to dkgroot

[2019-12-26 13:27] #499 closed, assigned to dkgroot

[2019-12-26 13:28] dkgroot commented on #498
Hi John,
The issues/bsd branch has been merged back into the develop tree (and has been deleted). So please checkout develop and ths issue should be resolved.
Thanks you for reporting the issue and creating a test machine for me to fix the issue.

[2019-12-26 13:29] dkgroot commented on #499
Hi John,
The issues/bsd branch has been merged back into the develop tree (and has been deleted). So please checkout develop and ths issue should be resolved.
Thanks you for reporting the issue and creating a test machine for me to fix the issue.

[2020-01-03 12:42] hedgehog1029 commented on #471
hi, sorry for disappearing for a long time! other commitments got in the way! i've got a basic tcpdump of the problem but haven't matched it up to a debug log yet - hopefully the problem occurs again today and I can get those logs combined :)

[2020-01-03 23:19] dkgroot commented on #471
No need to be sorry :-)

[2020-01-04 01:45] hedgehog1029 commented on #471
i've got both the logs matched up now:
SCCP debug log: https://paste.dimdev.org/ovukekeleb
tcpdump: https://paste.dimdev.org/bijahinivi

the tcpdump definitely looks abnormal; I compared it to a normal, working session and there definitely seems to be a lot more null bytes

[2020-01-04 13:57] dkgroot commented on #471
@hedgehog1029 I was hoping for a pcap file, so i could run in through wireshark :-)

I don't have a clue were to start with plain tcpdump output, does this include the ip-header, the tcp-header or only the tcp message content. If the data is interpreted as sieve-filter messages it might be portrayed completely wrong.

Can you please do another tcpdump and provide me with the raw / binary format in

[2020-01-04 16:14] hedgehog1029 commented on #471
oh no problem! did another capture this morning, here's the pcap file: [phone.pcap](https://witch.press/phone.pcap)

corresponding log: https://paste.dimdev.org/isucekibij.sql

[2020-01-06 01:18] philis opened #501 "Error loading module 'chan_sccp'"
Asterisk starts allright but fails to load module "chan_sccp"

In the logs you find
`ERROR[20617]: loader.c:170 module_load_error: Error loading module 'chan_sccp': /usr/lib/asterisk/modules/chan_sccp.so: undefined symbol: ast_mwi_unsubscribe_and_join`

**Reproduction Steps:**

1. clone repository
2. .configure, make, make install
3. reload Asterisk

**chan-sccp version:** (include revision and/or

[2020-01-06 11:52] dkgroot commented on #501
@philis
Ooh this was a regression i introduced yesterday. I will add an extra check, to make sure i use the right version, depending on the asterisk-17 revision.
Will post a commit later today.
Sorry for the inconvenience. If need be you can use the revision before last.

[2020-01-06 13:36] dkgroot commented on #501
Ooh i missed you are running asterisk-16 and it got misdiagnosed as asterisk-17. correcting that now.

[2020-01-06 13:55] dkgroot commented on #471
Looking at the logs and pcap, everything looks normal. Except for the "Update Capabilities Message" entry. That is a bit unexpected. Normally we only get that message when the device has just registered, not in the middle of a call. I think the device might be in power save mode and takes a long time to wake up. When it finally wakes up, we are already stopping the call because of timeout.

Can yo

[2020-01-06 13:56] dkgroot commented on #501
Pushed an update, can you check if this fixes the ./configure recognition of your asterisk-16.

[2020-01-06 18:17] philis commented on #501
Hey Diederik,
thanks for the update. It installs nicely now.
Grüße Phili

[2020-01-06 23:27] dkgroot commented on #501
Kein problem, Dank für das issue report und den feedback !
Closing the issue.

[2020-01-06 23:27] #501 closed, assigned to dkgroot

[2020-01-08 11:16] hedgehog1029 commented on #471
is there documentation on the power save features somewhere? I don't think I have any enabled. I do know that the problem can occur even after browsing the settings menu, loading services, etc. so not sure how to detect if the phone is in a power-save state.

[2020-01-08 13:04] dkgroot commented on #471
@hedgehog1029
These are some of the power save values your can set in SEPxxxx.cnf.xml
[code]
I am not sure if this is related, but it could be based on seeing the 'UpdateCapabilities' message.

Are you using PowerOverEthernet (POE) to power your phones ? In that case the switch might have off-hours and reduce power output.

If you have time, please sign up to our [gitter chat](https://gitter.im/ch

[2020-01-10 03:00] dkgroot commented on #494
Closing issue because of lack of reply

[2020-01-10 03:00] #494 closed, assigned to dkgroot

[2020-01-10 03:02] dkgroot commented on #475
Closing issue. Not sure what to do with the script atm

[2020-01-10 03:02] #475 closed, assigned to dkgroot, anutator

[2020-01-10 03:02] dkgroot commented on #474
@anutator Any update ?

[2020-01-10 03:03] dkgroot commented on #474
Closing issue for the moment, because of lack of response.

[2020-01-10 21:37] anutator commented on #474
Hi… I registered all phones on pjsip and use smartphone with Grandstream wave instead of..7925… ..

[2020-01-11 00:29] dkgroot commented on #474
Ooh ok. I guess we can close this issue for now then. Sorry to hear you are not using chan-sccp anymore. But thanks for reporting back !

[2020-01-17 16:42] #474 closed, assigned to dkgroot, ojaksch, anutator

[2020-01-17 16:43] dkgroot commented on #465
Regarding "_Recording button icon_" I don't think there is a way to correct this. This is a firmware issue. We should only reduce the use of the 'Boxes Icon' on feature button like record.

[2020-01-17 16:46] dkgroot commented on #436
Closing this issue report for now.
Note the only two version we are going to be carrying forward are asterisk-13, asterisk-16 and asterisk-17. We will currently also maintain asterisk-14/15 if they don't hinder progress, even though they are deprecated.

[2020-01-17 16:46] #436 closed

[2020-01-17 16:48] dkgroot commented on #426
in 9410ed89 a crash issue was fixed. Also SCCPSetCalledParty was fixed and should work like before. As there has not been any further feed back, closing this issue for now.

[2020-01-17 16:48] #426 closed

[2020-01-23 15:28] Stevehans opened #502 "UNDEFINED! displayed when cycling DND on 7690"
When I cycle the DND button on a test 7960 I'm seeing UNDEFINED! rather than >>>DND(Busy)<<<

**Reproduction Steps:**

1. Press DND

**chan-sccp version:** 4.3.2 develop - 63fe478

**asterisk version:** 13.29.2

**Expected behavior:**

DND status displayed.

**Addition / Optional Information:**
- Problem started happening recently, didn't happen in an older version of Chan-SCCP: Unknown, upgrade f

[2020-01-23 17:21] dkgroot commented on #502
@Stevehans Thanks for reporting the issue, I guess i overlooked that when implementing the new version of the DND Feature button. Will fix it tomorrow

[2020-01-23 17:22] Stevehans commented on #502
Long time no speak!

Many thanks for that.

[2020-01-23 17:24] dkgroot commented on #502
Happy to hear from you
I don't understand how that would have happened, but i will figure it out :-)

[2020-01-23 22:08] dkgroot commented on #502
Can you do
[code]
To see if the issue was present 3 revisions ago ? I don't currently have a 7960 attached, so having some difficulty figuring out where it might be going wrong.

Questions:
- Does the issue also present itself on other devices ?
- Can you run with `sccp debug core, action, device, event, feature, message` and press the DND button a couple of time. So i can see what is being sent.

[2020-01-24 11:13] Stevehans commented on #502
Done:
Skinny Client Control Protocol (SCCP). Release: 4.3.2 (detached - da3fadf (built by 'root' on '2020-01-24 11:06:12 UTC')

1. I only have 7960's but it's the same on all (they are all at P0030801SR02)
2. Debug below:
3. I only configured the new server the other day so the first git clone was the latest release, the only other version I have running is from years ago.

<<<Press of DND to cycl

[2020-01-24 17:46] dkgroot commented on #502
Thanks for the debug output, analyzing...

[2020-01-24 18:10] dkgroot commented on #502
**where is dnd set in config**
Do you have `dnd=reject` set at global level or at device level ? global:`dnd=reject` was deprecated some time ago, in favor of dndFeature=on/off. You can now only set dnd=reject at device level and/or at line level.
Please check `sccp show device xxxx` and `sccp show line xxx` after reloading to see if the change was picked up.

**Fixing deprecation errors**
You men

[2020-01-31 15:04] Stevehans commented on #502
Checking this now.

[2020-01-31 15:09] Stevehans commented on #502
Can confirm the dnd settings are correct, dndFeature=on at the global level and dnd=reject at both the device and line level.

[2020-01-31 15:12] Stevehans commented on #502
Adding the debug in now in [general]

[2020-01-31 15:13] dkgroot commented on #502
If you know your previous approximate checkout date, i would be able to guide you through the `git bisect` process. We can also just guess (let's say 01-01-2014 or something). It normally would take between 7-9 compiles before finding the causing commit, that will show the first time the issue popped up.

[2020-01-31 15:14] Stevehans commented on #502
I'll go back a few revisions and see what I can see.

Strange that nobody else with 7960's is seeing it?

I'll also grab a tcpdump and see if there's any other information there.

[2020-01-31 15:15] dkgroot commented on #502
To get the revision at 01-01-2014 you would do
[code]

[2020-01-31 15:17] dkgroot commented on #502
The tcpdump will have the same binary data you showed me with "sccp debug core,message" before, so there is not much we can find out from there.
There could be an issue with the locale files, not containing a translation for the "1E 39" status bar message. That would also cause an undefined. So if you are using locale files for your language, please check the locale files to see if "do not Disturb

[2020-01-31 15:20] Stevehans commented on #502
I don't believe we have any locale files

[2020-01-31 15:20] dkgroot commented on #502
Maybe we you can make a couple of jumps (by year) to see when the issue was not there, that would be our starting point. If you like i can explain the bisect process (pretty simple).

This is a pretty good and simple explaination:
https://apiumhub.com/tech-blog-barcelona/git-bisect/

If you have any questions about the process, let me know.
Also we have [chan-sccp chat](https://gitter.im/chan-sccp

[2020-01-31 15:42] Stevehans commented on #502
Ok, I'll pick this up Monday and figure out which change caused the issue.

BTW do you happen to have a set of English locale files I could drop on my tftp server?

[2020-01-31 17:40] dkgroot commented on #502
Yes i do, you can find them at https://github.com/dkgroot/provision_sccp under tftpboot/locales

[2020-02-03 11:36] Stevehans commented on #502
Locale was the issue, I was previously running without locale files, adding the locale files has resolved this issue.

I'm guessing that, as you said, the message doesn't exist in the default load so we now must have the locale files.

Thanks.
Steve

[2020-02-03 11:36] #502 closed, assigned to dkgroot

[2020-02-03 17:05] dkgroot commented on #502
Hi Steve,

Thanks a lot for checking out the locale files and closing the issue.

Would you mind checking our Wiki and see if you can fit in a Q-A message about the issue somewhere (for example: https://github.com/chan-sccp/chan-sccp/wiki/Troubleshooting-Software or maybe a new page about Language / Locale with a link to the firmware/locale files for example).

[2020-02-07 09:33] nickvsh commented on #491
I have no such problem with incoming calls on 7912 devices.

[code]

Maybe @bknv just need to upgrade to the latest available version of sccp_firmware for 7912 + asterisk version 16 + latest chan_sccp from develop branch.

[2020-02-07 12:35] dkgroot commented on #491
@nickvsh Thanks for reporting this ! I have not had any further feedback from @bknv so far, not sure what the status is. Will give it another month and close the issue.

[2020-02-11 08:57] bknv commented on #491
I think you can close.
I disconnected the second line on devices, now I have no problems

[2020-02-11 08:57] #491 closed, assigned to dkgroot, ojaksch, jozzus

[2020-02-11 16:15] dkgroot commented on #491
@bknv Not really a solution but nice to hear you got everything stabilized.
@nickvsh have you tried running multiple lines on one of these devices ?

BTW: sorry guys for not having direct access to one of these phone (i don't have a large pile of all the phone types out there).

[2020-02-13 11:02] nickvsh commented on #491
@dkgroot
No, my 7912 devices don't support 2-nd line.

My config

[code]

[2020-02-13 13:33] hsynynrdg opened #503 "segfault caused by racecondition in channel_answer on incoming call"
Hello there,

We have a production Asterisk installed with hybrid, some of IP phones and some of SCCP (Cisco 7925G) phones on system. Any time of the day asterisk crashes and restarting himself.
Here is some informations;

1. updated chan_sccp to latest branch
2. configured with  ./configure --with-asterisk=/opt/asterisk/ --with-astmoddir=/usr/lib64/asterisk/modules/
3. make -j2 && make install &&

[2020-02-13 15:03] dkgroot commented on #503
@hsynynrdg Hi Huseyin,

Is there any chance you could switch to Asterisk-13.31.0 ? The issue might have already been resolved.

The backtrace provided is a little minimal, and we cannot see if it's caused by chan-sccp or some other channel driver. The asterisk built-in backtrace is a little sparse. Did you get a core dump and if so, would you might create a gdb backtrace from it (See: [Reporting-B

[2020-02-13 17:47] hsynynrdg commented on #503
Hello @dkgroot , first of all thank you for your fast response. I have compiled asterisk with DONT_OPTIMIZE and DEBUG_THREADS enabled and also compiled chan_sccp with —disable-optimize parameter. But i dont know where to get core dump never did before :( would you lead me to how can i do? Should i do when the error occurs?

Best regard,

[2020-02-13 18:20] dkgroot commented on #503
Hi Huseyin,
Ok very nice,
It depends a little on your OS/system/setup. Check asterisk.conf and set dumpcore=yes. Make sure your /etc/defaults/asterisk or /etc/sysconf/asterisk has DUMPCORE=yes. And restart asterisk.
After that you can check if `ps ax | grep asterisk` shows asterisk running with '-g'... the '-g' means that it should dump a core file.
Once we are sure it does that, we can figure out

[2020-02-13 18:27] dkgroot commented on #503
@hsynynrdg We also have a [chat](https://gitter.im/chan-sccp/chan-sccp) that might make it easier to talk and figure out how to help you. BTW what distribution are you running ?

[2020-02-13 22:50] dkgroot commented on #503
Hi Huseyin,

I have just committed a potential fix to the hard-hangup issue you reported above into a separate branch. This is not really tested yet.

**So please only run this, when you guys have some downtime (like evening or weekend) or on a dedicated test server. If you are on a Virtual Machine, you can clone your current production server, to run the tests.**

***Git***
_Checkout this tempora

[2020-02-15 16:58] hsynynrdg commented on #503
Hello @dkgroot thank you again,
How can i simulate issue on test server? Because its only happening randomly. I really dont know what is causing to trigger that issue.
We did chat with you and updated Asterisk to 13.30 and will check on Monday for any issue. Afterwards can you lead me to how to trigger this issue on test side?

Best regards,

[2020-02-16 07:09] dkgroot commented on #503
@hsynynrdg
Hi Huseyin,

Because it's random, you would need to generate lots and lots of test calls which can be scripted, but we don't know they exact circumstances of the failure yet, so let's not go there yet. I would however be nice to test the new branch, just to see if it doesn't make things worse.

To be honest, I don't know exactly what triggers the issue (yet), that's why we were hoping t

[2020-02-18 13:13] hsynynrdg commented on #503
Hello Diederik,
I am at office now. Sorry for late response. On monday its happened again. Now its just only
Asterisk 13.30 and sccp debug statements. Didn't tried new branch yet.
At now which files should i upload to you or maybe if its available to check with remote session?

Best regards,

[2020-02-18 17:32] hsynynrdg commented on #503
Now i have compiled with issues/503. Its late night here. Tried with some minor calls i think its working. Will try on morning with all circumtances. But anyway we got some debug logs when you lead me to enable sccp debug statements. When you available i can show you maybe its give you an idea.

Best regards,

[2020-02-18 18:06] dkgroot commented on #503
You can upload the last part of the debug logs until the crash here. So i can have a look, and then see if the new issues/503 version should have a positive effect.

[2020-02-18 18:10] hsynynrdg commented on #503
Here is the last call before crash/hangs asterisk.

[full18022020.txt](https://github.com/chan-sccp/chan-sccp/files/4220889/full18022020.txt)

[2020-02-22 20:15] dkgroot commented on #503
Reworked sccp_channel_answer

Now running in a separate thread and using sccp_channel_syncOpenReceiveChannel to wait for the rtp channel to be opened successfully before continuing. The new channel_answer thread will be joined during hangup, so that we cleanup afterwards (in case of huntgroup being answered at the same time).

Updated pickup/gpickup/auto_answer accordingly, to copy with new sccp_c

[2020-02-24 17:22] dkgroot commented on #503
Currently running on site: f11d965
Current call count 13.250

[2020-02-25 10:23] hboetes opened #504 "https://asterisk/admin/config.php?display=sccp_phone does not show DN after bulk import"
After a bulk import the https://asterisk/admin/config.php?display=sccp_phone list does not show the Display name (DN).

After opening the entry and saving it again —without having made any changes, the DN is show.

Am I missing something or is this a problem?

[2020-02-26 02:22] dkgroot commented on #503
@hsynynrdg
Hi Huseyin,

I have completely re-engineered my solution and come up with a much better one. I have committed it to a separate branch 'issues/503_1' to split from the previous branch. If you have a test server available, i would like you to start testing during the week. Including:
- [ ] simple call answer
- [ ] multiple phones answering the same call
- [ ] call gpickup with modeanswer

[2020-02-27 15:25] dkgroot commented on #504
@hboetes Hi Han,
I don't really know what you are talking about to be honest.

Is this related to FreePBX | sccp_manager maybe ? In that case the issue should be reported to https://github.com/PhantomVl/sccp_manager which is where the sccp_manager plugin is maintained.

The chan-sccp project is only involved in the chan-sccp asterisk module, which is separate. I personally don't use FreePBX so i h

[2020-02-27 15:59] hboetes commented on #504
Ah, sorry for the confusion. I'll report it over there.

[2020-02-27 15:59] #504 closed, assigned to dkgroot

[2020-02-27 21:04] dkgroot commented on #504
No problem. And thanks for closing the issue :-)

[2020-02-28 04:29] dkgroot commented on #503
I have now replicated the asterisk-16 specific changes to the other asterisk version 11->15

[2020-02-28 07:01] dkgroot commented on #503
@hsynynrdg
Hi Huseyin,

I have completely re-engineered my solution and come up with a much better one. I have committed it to a separate branch 'issues/503_1' to split from the previous branch. If you have a test server available, i would like you to start testing during the week. Including:

standard calls:
- [x] sccp call answer to single line
- [x] sccp call answer to sip channel
- [x] sccp ca

[2020-02-28 16:54] mpaland commented on #492
Sorry, time passed, with a disabled G524...

Okay, today I tried commit ad6cd243463957bb28649adca9833cce45170198 with asterisk 13.31.0.
Same result, phone crashes, so I switched back (forward) to 16.8.0, still same result.
Something in chan-sccp must have changed which causes this behavior.
Next I try is to take an much older version to narrow down the problem.

[2020-02-28 20:29] dkgroot commented on #492
Hi Marco, sorry for this ! We need to do a bit of backtracking to figure out where it went wrong. If you can provide a link to the first occurrence (ballpark date/time is fine) we should be able to `git bisect pretty quickly.

BTW if you did a `git pull` instead of a new `clone`, then the information about your previous revision is still there. You can use `git reflog` to look it up.

[2020-02-29 04:39] dkgroot commented on #503
@hsynynrdg
Before testing / debugging, please set sccp.conf
`debug = core, channel, pbx, rtp, socket, feature`

[2020-02-29 05:06] dkgroot commented on #503
Change report so far
[code]

[2020-03-01 03:42] #252 closed

[2020-03-01 03:42] #374 closed

[2020-03-05 13:17] hboetes opened #505 "Inconsistent DND output between DB and CLI output"
In the sccp_manager I disabled DND for line 315,  only to find the CLI output say it was in reject mode:
[code]
The database states it is off though.
[code]

[2020-03-05 15:49] hboetes opened #506 "Group pickups fail if I call with a SIP phone to an SCCP phone."
Group pickups fail if I call with a SIP phone to an SCCP phone.

The 192.168.254 is the range at home. The 10.10.20 is the companies voice VLAN

[code]

[2020-03-05 16:26] hboetes commented on #506
I also tried with a sip phone connected to our WIFI LAN, so no NAT, same problem.

[2020-03-05 19:06] dkgroot commented on #505
I just ran through the `dnd` permutations in sccp.conf:line and that all worked out correctly.
on my system i tried:
[code]

To see why this is not parsed correctly over there, would require:
sccp.conf
[code]
and `sccp reload line 315` to see what we get from the database and how this is handled.

Some DND backgroup information, that might be helpfull:
Help line provided by the source in sccp_conf

[2020-03-05 19:09] dkgroot commented on #506
@hboetes I will try to replicate the circumstances tomorrow, to see what is going on, I will test this on both 'develop' and 'issues/503_1' (as call answering has changed). Note: I cannot reproduce your dialplan, but logically that should not be involved.

[2020-03-05 20:58] sdstorts commented on #503
Here are some debugs for the one way audio issue.   https://0x0.st/iTZv.txt

[2020-03-05 21:42] dkgroot commented on #506
Added a bit of debug output, so we can see what is being tried
[code]
There might be a context or callgroup/pickupgroup mismatch between pjsip and sccp in your dialplan. Meaning that pjsip calls are running in a different context then the sccp calls. causing a pickup to fail. It should however have reported this back to the user and logged the incident in the messages log.

[2020-03-06 08:29] dkgroot commented on #505
Can you show me what `realtime load sccpline name 315` returns, that is the actual value returned to chan-sccp when we ask for it. I need to know if mysql is not returning an enum value instead of the enum string for example.

[2020-03-06 09:14] hboetes commented on #505
Most certainly!
[code]

[2020-03-06 14:50] hboetes commented on #506
It's almost a shame that the bug has appeared to have gone since changed a few apparently unrelated settings...
We'll keep it open for now. And do a few more tests and check the console output.

[2020-03-07 01:35] dkgroot commented on #503
@sdstorts @matthoskins1980_gitlab
Created a patch for the even order in issues/503_1. Can you give this a go in your test environment
If/when simple call works, please go through the list provided above to run the other tests mentioned.
(please set: `sccp debug core, channel, pbx, rtp, codec, feature` to make sure we get enough detail incase of a problem). There is a slight chance of locking issue

[2020-03-07 01:42] dkgroot commented on #506
Thats a good idea, i am little shocked it just went away as well. Maybe the wipping out of astdb has something to do with it (don't know).

[2020-03-07 01:45] dkgroot commented on #505
OK that looks fine, hmmm. Time to check the config parse then: Please set
sccp.conf
[code]
and run `sccp reload line 315` to see how that get's parsed.

[2020-03-08 02:04] tensi0n519 opened #507 "Cisco 8945 Record/Monitor Softkey Issue"
Continuation of an issue that started on
https://github.com/PhantomVl/sccp_manager/issues/61

Images to show the issue:
![default](https://user-images.githubusercontent.com/61072954/76133381-be5db200-5fcc-11ea-9044-12f60eeb51b6.jpg)
![red](https://user-images.githubusercontent.com/61072954/76133385-c0277580-5fcc-11ea-963c-996613bc6896.jpg)

[2020-03-08 03:01] dkgroot commented on #507
@tensi0n519

I did some more testing. If i change the lamp color to amber/orange for this button, the text also changes to 'amber'. So clearly this is some debug info accidentally send out the display, during the development of this firmware. which nobody has noticed or reported.

I have found a way to fix it.
Instead of using colorfull dynamic feature buttons (allowing the control over the blinki

[2020-03-08 03:02] dkgroot commented on #507
Little heads up, i changed the colors and rythms on the other 79xx series phones for recording, which make make sense to me this way.
Please give the branch a go, when it's all ok, we merge it.

[2020-03-08 05:22] tensi0n519 commented on #507
Great work! The 8945 line button label now makes sense. The 7975 works as well. No issues there. Only suggestion is on the 8945...The "Conversaion is being recorded" is cut off. Maybe you know this already? See the screen shots below.

![IMG_4458](https://user-images.githubusercontent.com/61072954/76157158-fd1d6600-60b9-11ea-98b0-c783d58ff35f.jpg)
![IMG_4459](https://user-images.githubusercontent.

[2020-03-08 05:30] tensi0n519 commented on #507
@dkgroot
I have moved back to develop.

[2020-03-08 05:37] dkgroot commented on #507
@tension, cannot do anything about the cut of, the screen on the 8945 is split in a left side and a right side, so longer mesages get truncated. I only sent the label 'Recording" but this is what that turns into :-(
On the 79xx series that looks fine (of course).
I guess with the popup you know what it says,.. We could instead send a string but then we dont have translation
So lets keep this. if t

[2020-03-08 05:38] dkgroot commented on #507
Pushed to develop, you can pull again to get the new version
Thanks a lot for letting me know about the problem (i never realized).
I will keep an eye on the monitor softkey, to see if i can figure that out, at some point.

[2020-03-08 05:41] dkgroot commented on #507
Actually now that i think about it, we are getting tripple feed back about the recording being done on the 8945, that is a bit much. We should drop the label extension there.

[2020-03-08 05:42] tensi0n519 commented on #507
Ok should I wait to pull then?

[2020-03-08 05:57] dkgroot commented on #507
Ok committed patch

[2020-03-08 06:03] dkgroot commented on #507
@tensi0n519
Ok I committed patch 41ab5b. Go ahead.
New version provides a cleaner quieter display
Thanks for testing and the feedback !

Happy recording !
If you do have some time and you could hookup the 89xx to the CME you have, that would be perfect. There are quite a couple of things i would like to figure out about these things (including what is and isnt' broken :-))

[2020-03-08 06:03] tensi0n519 commented on #507
Applied the update and all is working well. Good work on your end. Tomorrow I should have some time and I'll fire up cme and see if the 8945 will register. Either way I will let you know. Would you like me to pm you or report back here?

[2020-03-08 06:06] dkgroot commented on #507
You can switch to the https://gitter.im/chan-sccp/chan-sccp and talk there, would be better. And thanks for helping with these. I have been searching for a while for someone with a CME/CUCM and a 8945, which seems to be rare.
Note: you might have to upload the latest (cop) firmware to the cme first. it contains load information for the cme, which it inserts into it's database, to gain knowledge ab

[2020-03-08 06:14] tensi0n519 commented on #507
Sounds good. Looking forward to working with you more! Talk to you soon.

[2020-03-09 12:59] sdstorts commented on #503
I am seeing an issue with multiple phones answering the same call.  The call is placed from an SCCP phone and I pick it up at the same time on the dialed extension(both SCCP phones).  One of the phones will grab the call, however, there is only one way audio(the phone making the call can hear but not the other way around).  The other phone that answered the call shows that it has the call as well(

[2020-03-09 15:14] dkgroot commented on #503
@sdstorts / @matthoskins1980_gitlab

Ooh this is a sharedline you are calling, is that right ? That seems to be messing everything up. Can you confirm this is a sharedline ?
I was testing Dial(SCCP/123&SCCP/432); like in the original issue report. I was only aiming to fix that issue first.

Both devices sharing the line, is completely messing up the rtp traffic as shown in
[code]
Where one device

[2020-03-10 02:32] dkgroot commented on #503
@sdstorts / @matthoskins1980_gitlab / @hboetes
Patch committed for the shared line issue, should be a lot cleaner now in behaviour. Note: I did test the standard dial / ringing / connected call flow using sharedline, however i did not check/simulate the faxcallflow (where the call is answered, ringing and then dialing). If need be i will check this tomorrow.

Let me know how the testing goes (you

[2020-03-10 10:52] hboetes opened #508 "lots of logfile warnings."
Regularly a blurb of this appears in the logfiles. Can you make it go away?

[code]

[2020-03-10 12:09] dkgroot commented on #508
Does not look like a chan-sccp issue, from the logs provided

[2020-03-10 12:11] dkgroot commented on #508
Something is calling a sip related channel function, but the log is not clear what that is, the message or command coming before this is missing.
Stuff that starts with "chan_pjsip" is normally not my concern. Also "Warnings" and "Notices" at not errors.
FYI: And apparently someone is running both chan_sip and chan_pjsip. Normally that does not makes sense, except when migrating.

[2020-03-10 12:18] #508 closed, assigned to dkgroot

[2020-03-11 07:40] dkgroot commented on #402
Thanks to @tensi0n519 we figured out how CME manages to have DND on the displaylabel continuesly. Instead of actually fixing the problem with the phones, they just send a displaylabel with 35 second timeout. And then clear the display and send the same message again 34 seconds later. It's an awefull kludge, but i guess it does work. I am considering this solution, but i am not happy about having t

[2020-03-13 07:50] dkgroot commented on #507
tensi0n519 : Ran a test on CME + 8945 and added the `LiveRcd` softkey to the `connected` softkeyset

![8945_LiveRcd](https://user-images.githubusercontent.com/1935794/76603338-120c5600-650d-11ea-87fd-4a290ee2e0c8.png)

So we need to fix chan-sccp and add this button

[8945_liveRcd.pcapng.gz](https://github.com/chan-sccp/chan-sccp/files/4328562/8945_liveRcd.pcapng.gz)

[2020-03-13 07:57] tension commented on #507
？？？

[2020-03-13 08:00] dkgroot commented on #507
Does the link not work ?

[2020-03-13 08:04] tension commented on #507
Did you contact the wrong person?

[2020-03-13 08:25] dkgroot commented on #507
I am really sorry !

[2020-03-19 13:42] SeSti4 commented on #467
Hello.
Again an error occurs

Asterisk | 13.22.0
Sccp ver.4.3.2 r432 Revision :10678 Hash :3dbf2ce

[2020-03-15 10:02:20] VERBOSE[15547][C-00003b92] pbx.c: Executing [1144@from-queue:1] Set("Local/1144@from-queue-0001f640;2", "QAGENT=1144") in new stack
[2020-03-15 10:02:20] VERBOSE[15547][C-00003b92] pbx.c: Executing [1144@from-queue:2] Set("Local/1144@from-queue-0001f640;2", "__FROMQ=true") in n

[2020-03-19 13:47] dkgroot commented on #467
@SeSti4
That's  a lot of dialplan output to go through.

However:
[code]
So it's the Local channel and app_dial code that's causing troubles here.

And in the backtrace these is no mention chan-sccp at all. So chan-sccp does not seem to be involved.

Also not, the output and backtrace, don't match the original issue report.

Time to update you asterisk release ? As the dialplan is unknown/unclear,

[2020-03-19 13:52] SeSti4 commented on #467
thanks

[2020-03-19 15:27] dkgroot commented on #467
Sorry i  am not much help in this case.

[2020-03-21 17:19] #503 closed, assigned to dkgroot

[2020-04-03 13:07] Zw1d opened #509 "Hang up button unresponsive in Cisco 7937 / Unable to make calls with Cisco 7937"
Cisco 7937 allows to make a call only once after registering (sometimes not even once), but does receive calls without issues.

**Reproduction Steps:**

1. Make a call using Cisco 7937
2. If it worked, try again
3. Call fails

**chan-sccp version:** v4.3.2_DEV

**asterisk version:** 16.6.1

**Expected behavior:**

Regular calling and hanging up from Cisco 7937

**Observed behavior:**
Below you can

[2020-04-03 13:15] dkgroot commented on #509
@Zw1d
Thanks for reporting the issue. Sorry to see you are running into an issue.

Is this a recent regression (maybe since merging issue #503), if it is would mind going a `git checkout 7d2ea9` to see if this older version has the same issue.

Please set `sccp debug core, channel, rtp, indicate, pbx, codec` So we can see what is going on with such a call (in either case).

[2020-04-03 13:48] Zw1d commented on #509
@dkgroot
First of all, thank You for responding so quickly.
I have reinstalled the version you suggested and unfortunately the problem persists. But I might have narrowed it down to that particular hangup button (both physical and softkey), which seems to act up. First pick up and hang up works just fine, second pick up is good, but hangup lags and executes after console displays
`[2020-04-03 14:4

[2020-04-03 18:06] dkgroot commented on #509
@Zw1d I will have a good look at your looks tomorrow, I think your might have already partially solved it by finding the: "waitForPendingRequests" message. Give me a little bit of time to figure out the cause and possible solution.

Apparently with the new code (since #503 was merged), we are sending a request to the phone which never get's answered not cancelled because of the hangup. We need to

[2020-04-04 06:42] dkgroot commented on #506
@hboetes Closing the issue for now. Hope that is ok

[2020-04-04 06:42] #506 closed, assigned to dkgroot

[2020-04-04 07:23] hboetes commented on #506
Yes, I couldn't really test it because we now all work from home. But my last info is it's working so let's go with that. Otherwise I'll open up a new one.

[2020-04-04 07:48] dkgroot commented on #506
You can reopen this issue if/when it becomes necessary

[2020-04-04 10:22] Zw1d commented on #509
@dkgroot unfortunately I don't have access to the phones on the weekend. Unless there's a way to simulate it remotely? I have access to the network.

[2020-04-04 11:52] dkgroot commented on #509
You can control the phone from remote via the asterisk CLI
[code]
For the last line use the `tab` key to complete the channel name.
Do note that not all the actions will be exactly the same as if they were coming from the phone, so this simulation of a call, might not be an exact match and potentially prevent the issue reported from occuring.

[2020-04-06 07:26] Zw1d commented on #509
Okay, here we go:
successful call: https://pastebin.com/792VcKeJ
unsuccessful call: https://pastebin.com/x16qaSDd

[2020-04-06 10:07] dkgroot commented on #509
@Zw1d
I am sorry i said "session" where i meant "socket" in the debug string. Can you do:
[code]
Sorry about that.
We need the output from the device restart as well, as the event might have been send before the first call is made.
I think we are definitely on the right track to find this.

[2020-04-06 10:22] mpaland opened #510 "Possible memory leak when closing session"
I'm running multiple asterisk 16 environments with pjsip. On the one which is running pjsip and chan sccp I can observe increasing process memory usage.
Have a look at this graph:
![sccp process memory](https://user-images.githubusercontent.com/763140/78547339-3c48ef00-77ff-11ea-991c-041e31c4ee42.png)
In October the router crashed, after the downtime in Nov asterisk was upgraded to v16 and chan sc

[2020-04-06 10:48] Zw1d commented on #509
All good,
I've restarted the phone from console, but dialed manually, I hope that doesn't matter.
successful call: https://pastebin.com/Na1BCaYq
unsuccessful call: https://pastebin.com/8T6QSeyN

Since we restarted the device, first call is fine.

[2020-04-06 12:36] dkgroot commented on #509
Nope manual dial is perfect
Looking into the issue now

I see "Waiting for pendingRequests" in the debug log, but that is not a current log message in the latest development branch. Which revision are you on: `sccp show version` ?
I think you might be on a revision that has a broken request/response counter from the messages i am seeing.

[2020-04-06 13:34] dkgroot commented on #510
This is a problem that needs to be fixed. It can lead to serious problems on smaller machine. Thank for monitoring this and telling me about it. I was planning to run some valgrind anyway, so we will have to figure out where the leak is occuring.

[2020-04-06 13:41] Zw1d commented on #509
@dkgroot
`Skinny Client Control Protocol (SCCP). Release: 4.3.2 develop - c8af12d`
upgraded to:
`Skinny Client Control Protocol (SCCP). Release: 4.3.2 develop - dc5466b`
issue looks the same to the end user

regenerated logs:
successful call: https://pastebin.com/bbdJu36u
unsuccessful call: https://pastebin.com/9WK21NpH

[2020-04-06 14:08] dkgroot commented on #509
Sorry for the confusion. I am normally just looking at the latest source, trying to match it up to the debug log. Having another look in a bit.

[2020-04-06 14:56] dkgroot commented on #509
Found the cause:
`grep -e Request -e Response successful.call`
Shows
[code]
Looks like the SEP0004F2EB452A never sends back a Statistics Response. Causing our pendingRequest counter to increase and never go down.
Fixes:
1. Reset the pendingRequest counter if we timeout while waiting for it
2. Add an exception for this phone type.

[2020-04-06 15:03] dkgroot commented on #509
***Git***
_Checkout this temporary branch_
[code]

_move back to develop afterwards:_
[code]

[2020-04-06 15:09] Zw1d commented on #509
Yup, now it works as expected!

[2020-04-06 15:11] dkgroot commented on #509
Ok merging the branch back into develop. So you can switch back to develop in a minute or two.

Thank you for reporting the issue and being a patient with me while fixing it..

[2020-04-06 15:12] #509 closed, assigned to dkgroot

[2020-04-06 15:13] Zw1d commented on #509
@dkgroot thank You for such a fast fix!
Best regards

[2020-04-06 16:37] dkgroot commented on #510
I found a refcount issue in realtime lines causing device memory leak.
trying to trace it down

[2020-04-06 22:53] dkgroot commented on #510
Found the cause for the memory leak(s). There were a couple of minor ones and one bigger issue. When using realtime db for the lines, they would not be cleaned up, causing major leakage over time.

***Git***
_Checkout this temporary branch_
[code]

_move back to develop afterwards:_
[code]

[2020-04-07 09:04] dkgroot commented on #510
I ran several tests and don't see a reason why not to merge it right now. So i am going to go ahead and do so.
@mpaland Thank you Marco for reporting this and keeping a close eye on memory consumption, much appreciated.

[2020-04-07 09:18] dkgroot commented on #505
@hboetes Was this resolved in the meantime ?

[2020-04-07 09:20] #495 closed, assigned to dkgroot

[2020-04-07 09:22] dkgroot commented on #492
@mpaland Have you had any luck finding an old revision that worked fine with the 524G for bisecting ?

[2020-04-07 09:42] mpaland commented on #492
Hi Diederik,
thanks for asking. No, not yet, this is not so easy, cause chan sccp is running on a secure router in my office and software changes require a distro recompilation.
This week I'll setup a second asterisk on a virtual box just with chan sccp to track down the problem finally.
Saying "not so easy" above means, that the mwi struct in asterisk (13 and 16) changed, so that I cannot take an

[2020-04-07 09:45] mpaland commented on #510
Again, thanks a lot.
I'll compile the latest develop version and have an eye on it the next days/weeks and let you know here if it works well.

[2020-04-07 09:49] hboetes commented on #505
Bah, I locked myself out of github. :-(

[2020-04-07 12:34] dkgroot commented on #492
I know what you mean, the simple fix i used for that, is cleaning out the MailboxSubscribe function in sccp_mwi.c (ie: make it non-functional) or checkout an old asterisk to compile against. But i have had the same issue as well.

[2020-04-07 20:42] mpaland commented on #510
I applied latest https://github.com/chan-sccp/chan-sccp/commit/abfda3e719377d61745e233b3480658375ef6243 , but just after 3 hours I can still observe increasing memory.
Too early for a trend, but there still seems to be something left. 😞

[2020-04-08 08:03] dkgroot commented on #510
Are you sure this leak is in chan-sccp ? Ok i will have another look. I used the memory debug in asterisk to find the previous leaks, by loaded/unloading the module. Increase over loaded time, is a little more difficult to find, but i will try.

My tests focused on loading/unloading the module to look for leaks. I did not take calls into account.

@mpaland: If you compiled asterisk manually on you

[2020-04-08 09:52] mpaland commented on #510
Here is the log of last night, there weren' any incoming or outgoing calls, but memory is increasing constantly.
![chan-sccp2](https://user-images.githubusercontent.com/763140/78769539-c8891c80-798d-11ea-93fc-5a9c12f9c150.png)
Tonight I'll unload chan-sccp to verify if this is really the cause.

Meanwhile, you could try this without any calls:
1. Physically disconnect one registered phone
2. Comme

[2020-04-08 13:18] dkgroot commented on #510
I have tried closing the port on my switch + resetting the device + disconnecting the cable + physical powercycle of the phone, but that seemed all ok. I have not tryied commenting out a device (i take it you reloaded the config after commenting (right?)).

[2020-04-08 13:28] dkgroot commented on #510
I copied my sccp.conf to sccp.conf.withoutSEPExxxxx
`sccp reload file sccp.conf.withoutSEPExxxxx`
waited untill device tried to reconnect
`sccp reload file sccp.conf`
to switch back to the original
result:
[code]
So sccp reload is causing another small memory leak. Looking into it.

[2020-04-08 13:39] dkgroot commented on #510
Note: the memory leak I have been able to find since the initial patch is really tiny. For them to show up in your graph would take a long long time i would assume. Not sure what the current resident memory of your asterisk process is, but i would guess something like >1Mb. This might suggest the issue is in one of the other asterisk modules. Can you have a look at the asterisk changelog to see if

[2020-04-08 13:45] mpaland commented on #510
These actual tests were made with 16.9.0, the lastest LTS one.
I'm using the very same compiled version on 4 similar systems, 3 are stable concerning process memory. The only one with the problem has chan-sccp loaded, therefore my report.
I'm doing some overnight tests with the unloaded driver the next days. to track down the problem.

Yes, I restarted asterisk every time the configuration changed

[2020-04-08 15:34] dkgroot commented on #510
Created another issues/510 branch for further testing. This includes the fix for the config_file_name string not being freed during a reload.

***Git***
_Checkout this temporary branch_
[code]

_move back to develop afterwards:_
[code]

[2020-04-08 15:36] dkgroot commented on #510
Ok, that is good to know.

If you could run asterisk with DEBUG_MALLOC enabled, that would make finding the cause a lot easier i think.

I am expecting that you are running into a bigger leak that i currently cannot reproduce locally (for some reason).

[2020-04-10 12:47] Jed-Giblin opened #511 "Outbound Calls do not play ringing tone to caller"
Using a 7962, when an outbound call is placed, the caller doesn't hear the ringing tone from the phone. The call connects fine and voice quality is not an issue.

**Reproduction Steps:**

1. Place an outbound call via a SIP trunk

**chan-sccp version:** develop @ c8af12d4f

**asterisk version:** 13.18.3~dfsg-1ubuntu4

**Expected behavior:**

Ringing sound can be heard by caller

**Observed behavio

[2020-04-10 23:07] dkgroot commented on #511
@Jed-Giblin / @rolakron / @
Turned out the be a firewall RTP/UDP forwarding issue in this case.

Internal calls where producing simulated ringing as normal. External Calls never received a 180 RINGING from the provider but immediately went from DIALING to 183 Progress, indicating we should start receiving RTP packet with remote ringing sounds (inband). These packets were however being blocked.

We

[2020-04-11 23:54] dkgroot commented on #511
The issues seem to be cause by firewall blocking rtp flow. In the 509 branch that was merged a while back, i had removed some code, that would automatically punch a hole through the firewall from the inside, to allow traffic back in through that same port. I guess some people started relying on this behavior even for other channel drivers like chan_sip and chan_pjsip. So i decided to re-add the ho

[2020-04-12 13:16] Jed-Giblin commented on #511
I would love to test this, but I don't have any phones for my test system right now, and it will probably be a while before I can get any with everything going on right now

[2020-04-12 13:55] dkgroot commented on #511
@Jed-Giblin No problem, i think @rolakron might be able to help

[2020-04-13 20:57] clone-hash opened #512 "Creating a custom phone book Cisco ip phone"
Made the  custom phone book work on my PC following the Wiki,   but would like to make this work whit my USB drive   on my Router, did check to see if the address  works whit a browser and it is Ok , the phone seems to be able to navigate to the USB drive because when y hit the directories key on the phone y don't see the Request Prompt looking for a connection ,it would seem that the phone is fin

[2020-04-14 09:03] hboetes commented on #505
Looks a lot better now. :-)
[code]

[2020-04-14 09:04] #505 closed, assigned to dkgroot

[2020-04-14 09:25] dkgroot commented on #512
I would say no. A file:// URI is always local to the machine on which the URI is entered (https://en.wikipedia.org/wiki/File_URI_scheme).  So the phone has no way to reach it over the network. I don't see how a browser is able to do this, but it might actually trying to help and "fix" the uri you have given.

However if your router is also running the tftp server to provision the phones you can us

[2020-04-15 18:32] clone-hash commented on #512
Hello Diederik , and thank you for your help,
I forgot to mention the router detail, so here it is , it is an  Asus RT-AC68U  Wifi router  loaded whit  Asuswrt-Merlin vers.384.15 ,  the USB drive that is attached to  one of the Asus port is shared to everyone on my Lan network whit no user, password , so like i mention if i browse the URL address of the router whit the path to the USB drive and th

[2020-04-16 02:31] bwhiteford opened #513 "Error compiling on Centos 6.6"
Greetings chan-sccp community!

We've been a loyal user of this wonderful module for years for our business phone system, and decided today to run an upgrade on packages on our PBX that were very old, including Asterisk. I expected to need to recompile chan-sccp, but we're running into a compile error.

 **This is the output of configure**:

[code]

**And here is where make fails:**
[code]

Are yo

[2020-04-16 09:17] dkgroot commented on #512
@clone-hash I don't know how you are sharing the content of the usb stick to all PC's but i am guessing SMB (or samba). Cisco phones don't know how to access a SMB drive and do therefor have not way to participate in this sharing. Simple answer this will not work.

You can re-share the file via your TFTP64 to the phone or setup a webserver on your PC to do the same. The Cisco Phones are embedded d

[2020-04-16 09:29] dkgroot commented on #513
Look like there is an issue with this somewhat ancient compiler and the source code. But first things first, which version of chan-sccp is this and where did you get it from.

I have pushed a potential fix in revision: 7cfe28a6

If this does not help i would need a full compile with debug (ie: `make V=V`) to see what might be causing the issue. Do take into account that your compiler is 18 years o

[2020-04-16 14:56] bwhiteford commented on #513
Wow Diederik, thank you for the amazing support! That fix was all we needed. I apologize for not trying the new compiler first. I saw the current compiler version met the build requirements, so I thought I'd give it a try. I will use a newer version in the future. Everything's working great now!

Much appreciated,
Brooks

[2020-04-16 15:06] DL3KB opened #514 "Just a little reminder, that in the installation guide for freePbx the dhcp service in centOs is called dhcpd"
[Short description of problem here]

**Reproduction Steps:**

1. [First Step]
2. [Second Step]
3. [Other Steps...]

**chan-sccp version:** (include revision and/or branch if relevant)

**asterisk version:** (include revision and/or branch if relevant)

**Expected behavior:**

[Describe expected behavior here]

**Observed behavior:**

[Describe observed behavior here]

**Screenshots**

(Screenshots

[2020-04-16 15:07] DL3KB opened #515 "DHCPD instead of DHCP on CentOS"
Just a little reminder, that in the installation guide for freePbx the dhcp service in centOs is called dhcpd

[2020-04-16 16:33] dkgroot commented on #515
@DL3KB Hi Karim,
Can you change/fix the wiki where it is required. I don't use FreePBX myself, so have not much experience what they use or name stuff.

[2020-04-16 16:33] #514 closed, assigned to nobody

[2020-04-16 16:35] dkgroot commented on #513
Ok thanks for the update !! Closing this issue for now

[2020-04-16 16:35] #513 closed, assigned to dkgroot

[2020-04-20 19:11] justinkoby opened #516 "CID Issue"
Yep, another CID issue here. I've been trying to go through the issue 487 to see if that resolves my issue, but it doesn't seem to be helping me figure mine out.

I am running FreePBX 15 with Chan-sccp 4.3.2.

When Outbound CID has any value in it, that value is displayed for internal calls (SCCP --> SCCP as well as SCCP --> SIP).

Here's the log of sccp debug core,channel,pbx,callinfo & core set

[2020-04-23 16:04] justinkoby commented on #516
Any thoughts on this?  I'm still reading through the logs and trying to make sense of it.

On this line (329 of my pastbin):

`Executing [s@macro-user-callerid:2] Set("SCCP/109-00000078", "AMPUSER=9999999999") in new stack`

Is the AMPUSER=9999999999 how the pbx looks up the caller's information in the AMP database?

[2020-04-23 16:42] justinkoby commented on #516
OMG. Using this page:
https://pbxinaflash.com/community/threads/different-callerids-for-different-outbound-routes-with-sccp.18883/

I tried changing the CID_NUM value in the sccpline table in the database to be the internal CID for the phone. It appears to work when I make that change.

Internal to Internal shows the extension number & name of person calling.

Internal to External shows the extern

[2020-04-23 16:46] dkgroot commented on #516
@justinkoby Does that mean you figure out a way to fix the problem, and we just need to update/fix sccp_manager to reflect this finding ?

I cannot fully follow what you are changing in the database and what the change in sccp_manager/Freepbx would have to be/look like, to be honest.

Read the link as well, and yes we need cid_num and cid_name set in the sccpline table. Is this not the case when y

[2020-04-23 16:55] justinkoby commented on #516
I may have figured out a way to fix it.

Ok. So, here's what I observe with some basic/dummy data (looking only at the three columns I'm really worried about in this situation (ID, CID_NUM, & Name).

Initially extension 109 is in the database as
ID: 200
CID_NUM: 99999999
Name: 109

If I run an update sccpline set CID_NUM=109 where ID=200 sql command it changes the database to read:
ID: 200
CID_NUM

[2020-04-23 18:05] dkgroot commented on #516
Thanks for explaining what you found and thanks for reporting the issue to sccp_manager !

It does clear everything up for me (I am assuming you are using "Name" it refers to the "cid_name" column in the database, right ?).

Apparently sccp_manager is doing three things not quite right/wrong in this case:
-  it should never use a delete/create cycle, merely to update a value or record, instead it

[2020-04-23 18:07] justinkoby commented on #516
No, there is a separate CID_NAME column that I'm not including in my description here. In SCCPLINE, "NAME" is the extension number. Not sure why its called that, but that's whats populated in the field.

[2020-04-23 18:13] dkgroot commented on #516
Ok, thanks for clearing that up. Yes name might/could be a little confusing, but in chan_sccp we call lines the thing you attach to a phone and the extension the entry in the dialplan to dial that line. I guess the names depends a little on your perspective.

[2020-05-04 11:29] patrickkeys opened #517 "Random hangup on token refresh"
I have been having a curious problem - I am experiencing random hangups during calls on my SPA504G phones. Some calls will work fine - over an hour of talking time with no issues. Others will hang up 13+ times in the same period. In each case, it is necessary to re-dial the call, with obvious frustration. This seemingly random issue has been difficult to log and reproduce.

**Reproduction Steps:**

[2020-05-06 16:39] dkgroot commented on #517
@patrickkeys Hi Patrick,
thanks for logging the issue. SPCP Phones (this is the specific protocol SPA phones use (similar to SCCP)), send a so called Token before they try to connect to a server. I think there are two issue here that need to be addressed:
1. We should not be accepting or denying a token request when there is an ongoing call. We should back off and not respond to the request for a

[2020-05-06 19:35] patrickkeys commented on #517
@dkgroot Hi Diederik - many thanks for your quick reply!

In answer to (2) above, I only have a single member server configured in the configuration file, and it is specified by IP address. The IP address is specified twice - in the <name> tag, and also in the <processNodeName> tag. I can upload the full file if you like, but from what you've said, it probably isn't part of the problem.

In terms

[2020-05-06 23:09] dkgroot commented on #517
You can attach/link/email the cnf.xml file so i can have a look, just to make sure. Please do also check the XMLDefault.cnf.xml, just to make sure.

If you only have a single member server in the cnf.xml then you should only see a single tokenrequest before it attempts to register and we should respond to that using an Ack. Once it is registered it should not send another. Except if it is loosing

[2020-05-07 07:44] patrickkeys commented on #517
I've managed to do a bit more investigation. Firstly, there is no XMLDefault.cnf.xml in use at present - although all phones use the same configuration file on the TFTP server. I have simply simlinked each phone's SEPxxxxxxxxxxxx.cnf.xml to the same file. I've included it here (SEP-spa50x-30x.cnf.xml).

I managed to catch one phone doing this last night with the additional debug types enabled. I a

[2020-05-07 11:44] dkgroot commented on #517
Thanks for the files. Always nice to have a pcap side by side to the debug log.

One thing to know, the SPCPtoken request/ack/rej messages are used a little differently on the SPA phones (compared to the normal token request message in the SCCP protocol). Cisco decided to make the phone send a token request before registration so that the SPA phones cannot be used on CUCM servers and are only allo

[2020-05-07 12:06] dkgroot commented on #517
Hi Patrick,

Created a temporary branch for you to try. It will return a SCPCTokenAck when we receive a TokenRequest during an established connection. I am not sure how the phone will react, it might still re-register which would defeat the purpose or it will just continue. If it does re-register, we might just skip the acknowledgement altogether and see how the device reacts then.

***Git***
_Che

[2020-05-07 12:09] dkgroot commented on #517
Can you send me the phones debug log from SEP580A20877756. I would like to know why this device is sending the TokenRequest. Maybe it does have SRST enabled and is looking for a fallback server (We can switch that off using the SEPxxx.cnf.xml file). Or there might be some other reason we don't know about yet.

[2020-05-07 12:10] patrickkeys commented on #517
I'll be sure to install and test the new version after business hours today - we have a long weekend in the UK, so should give me some time to look at it in more detail. For the phone debug log - how does one access this?

[2020-05-07 12:13] dkgroot commented on #517
Ok :-)

You can setup syslog (via port 514) on the SPA phone. But it can be a little tricky to get up and running. My SPA504 used to run syslog just fine, but some time ago it stopped and have not been able to get the syslog up and running since. Maybe you have more luck.

1. Configure your phone by directing  your browser to:
    http://<IP_address_of_Phone>/admin/advanced
    Example: http://192

[2020-05-07 12:48] patrickkeys commented on #517
I've just checked the web interface for the phone - sadly all read only at the moment, which means (I suspect) that I'll need to add a syslog server to the XML configuration file, and somehow get the phone to re-read it. I'll see if I can get a syslog server set up - there used to be a time when this was easy, but now all of my Linux machines use systemd ;-)

[2020-05-07 13:21] dkgroot commented on #517
You can enable the webinterface via the SEP file and restart the phone

[code]
Another way to enable the webinterface from the phone is going into the settting menu on the phone UI and entering the "Security Configuration", then press "**#" and select "Web Access Enabled".

If you don't want to use the webinterface you can create a profile file called: SPA504G-cfg.xml containing something like thi

[2020-05-08 09:10] patrickkeys commented on #517
I've tested using the new code this morning - and although I can see the SPCPRegisterTokenAck now, the phone immediately responds with an Alarm, and then a RegisterReq message. The channel driver then sets everything to 'failed', tears down the session and resets as before, which would result in a dropped call. I've attached the asterisk log and packet capture below.

I'm still trying to see if I

[2020-05-08 09:43] dkgroot commented on #517
Ok that was one of the possible responses i was expecting and commented about. So the second solution might be to not react at all and see how the device responds.

I only got syslog working once and cannot get it back in to that state. I would love to figure out how to make it do that again though.

Can you insert the SEPxxxx.cnf.xml lines i mention above, to see if turning off srst will make a d

[2020-05-08 09:47] patrickkeys commented on #517
I can definitely try inserting the srst lines - will do that shortly. All phones are running the latest 7.6.2f firmware. In terms of configuration, all are configured using that same file that I sent before - I perform a factory reset on each one, and that file is downloaded... so identical configuration everywhere.

I'm still working on syslog - no joy yet though!

[2020-05-08 09:51] dkgroot commented on #517
Updated the source, to not respond to the request at all.

Q: Is the asterisk machine also the firewall and gateway for these phones ? Because that would automatically designate this machine as the phones srst host, and would/might require the forceful disablement of srst (using those extra lines).
Please do also add the other lines, like the keepalive value etc.

It's curious how phones of the sa

[2020-05-08 10:16] patrickkeys commented on #517
OK, I'm trying the updated source now - haven't changed the config file yet, as I wanted to make a single change at a time so that we can tie down exactly what has worked, and what hasn't. In answer to your question: the asterisk machine does not function as a firewall or default gateway for the phones, but does function as the DNS (unused) and TFTP server.

My experience is that all of the phones

[2020-05-08 11:26] dkgroot commented on #517
Good idea, to make one change at a time !

Ok I thought it was only some of them :-).
Maybe set the cnf.xml connectionMonitorDuration to 120 and update your sccp.conf keepalive to 120 and see if that makes a difference. From the pcap files you provided, the phones do send a keealive and we respond to them in time, within the next keepalive window, they already send the TokenRequest, so it's somewh

[2020-05-08 11:55] patrickkeys commented on #517
I'm running your new code version at the moment - has been running for an hour now with precisely zero token requests. Which in itself is strange - I would have expected to see at least one phone send a request by now. I'll keep an eye on it and post logs if/when it does.

[2020-05-08 12:04] dkgroot commented on #517
Ok :-)
BTW: We also have a chat server at https://gitter.im/chan-sccp/chan-sccp which might make frequent communication a little easier ?

[2020-05-08 18:02] dkgroot commented on #517
Curiouser and Curiouser :-)
(Free after Alice)

[2020-05-12 12:14] dkgroot commented on #511
Finally made some headway with all of this in a new branch:

Looks like the ringing issue has been resolved (AFAIK):

Note: Some FreePBX outbound trunks might require "R" to be added to the Dial_options, which can be done per trunk or globally (settings->advanced settings->outbound_trunk_dial_options), so that simulated ringing will be performed by asterisk when the remote end of the trunk does no

[2020-05-13 08:57] dkgroot commented on #511
@Jed-Giblin Don't worry about it. Already sent a message to rolakron :-) Thanks !

[2020-05-14 11:00] dkgroot commented on #517
@patrickkeys Any progress ?

[2020-05-17 10:49] bknv opened #518 "Not make outgoing call. Config file ' 7C' not found"
Hello

Problem:
Cisco phone not make outgoing call, and vanish button on display (clwdall)

**When i enter command asterisk -rx 'core reload' i get error message ERROR**:

sccp_config.c: Config file ' 7C' not found, aborting (re)load.
chan_sccp.c: Error reloading from ' 7C'
chan_sccp.c: Config file ' 7C' not found, aborting reload.

P.S> What is it "' 7C'"?

**if i reload sccp module** :

aste

[2020-05-17 12:46] dkgroot commented on #518
@bknv
@rofferman already reported the issue and it was fixed yesterday. If you pull the latest version, the problem should be resolved. Thanks for posting an issue report though !

Nothing, it was an error in chan_sccp, caused in a recent commit, which has now been dealt with.

(Closing the issue for now, if the issue does continue, please reopen).

[2020-05-17 12:46] #518 closed, assigned to dkgroot

[2020-05-17 17:08] dkgroot commented on #515
@DL3KB Any update ? Have you made any changes to the wiki (and if yes, which pages ?).
Can this issue report be closed ?

[2020-05-18 09:35] Zw1d opened #519 "Some calls from queue have to be picked up twice"
At first I wanted to make it clear that I think this is quite likely NOT chan-sccp fault! However I wanted to ask advice on how I could diagnose it. Any hints would be much appreciated!

**Reproduction Steps:**

1. Call external number
2. I don't know, get lucky I guess

**chan-sccp version:** Skinny Client Control Protocol (SCCP). Release: 4.3.2 develop - 33da090

**asterisk version:** Asterisk 1

[2020-05-18 09:44] dkgroot commented on #519
@Zw1d

We did change the 'call answer' logic quite substantially recently. So to confirm if the issue is caused by this somewhat recent change, can you see 8faf32 if has the same effect (`git checkout 8faf32`) ? We have done quite a bit of testing with this new "call answer" logic, but in retrospect we might have skipped over the use of "Local Channels" and "optimizing out". If we can establish th

[2020-05-18 10:16] Zw1d commented on #519
Since the issue can be tested only on my production system I will start with the latest version and report back.
But do you really think this could be sccp-chan module fault? Why isn't caller hearing music from the queue?
What do you mean by

Channels are local to that queue.

[2020-05-18 10:20] dkgroot commented on #519
It would help if you show me the queue definition on the CLI (`queue show [queuename]`), so i can try an reproduce the issue. Also setting the debug level as requested should make it possible to analyze what is going on, and potentially point the finger at the case, it being chan_sccp or not.

See: https://wiki.asterisk.org/wiki/display/AST/Local+Channel

Note:
AstDevBox*CLI> queue show Queue1
Que

[2020-05-18 10:37] Zw1d commented on #519
Okay here's my queue:
[code]

Yeah I use FreePBX, asterisk wasn't simple enough on the first glance to dive right in, but I'm slowly getting there.

[2020-05-18 10:43] dkgroot commented on #519
Ok so we are using "Local" channels which is fine. And that means i should run a couple of tests, to see if i can reproduce the issue on `vanilla` asterisk you are seeing. Being able to reproduce the problem makes it much easier to fix any potential issue.

- Note: If i cannot reproduce the issue on vanilla asterisk, it doesn't mean the problem does not exist, or/and is not produced by chan_sccp.

[2020-05-18 10:57] Zw1d commented on #519
All right, I will try to do that. So far I can confirm that the issue just occured on:
`Skinny Client Control Protocol (SCCP). Release: 4.3.2 develop - 81f140a`
I will try to catch logs from it.

[2020-05-18 12:59] dkgroot commented on #519
I just set up a Queue on my vanilla asterisk and on a remote FreePBX machine and ran some tests with both (running latest chan_sccp). So far i have not seen what you are reporting. You mentioned "luck" which is not great when trying to reproduce the issue, that might indicate we have a timing issue on our hands (different hardware will react very differently in that scenario).

Note: please set `c

[2020-05-18 20:00] Zw1d commented on #519
Okay, I will change the debug. I think I will just hunt for that buggy call and try to pin down the logs.

[2020-05-20 18:09] SlashBuster commented on #515
Yes the problem is dismissed. I updated the instructions

[2020-05-20 18:12] DL3KB commented on #515
Problem is resovled I've updated the instructions

[2020-05-20 18:13] #515 closed, assigned to dkgroot

[2020-05-20 19:51] Terrabytee opened #520 "Paging/Intercom dialing causes phones to briefly ring"
I do not know when exactly this started, but for some reason, whenever I try to page my phones, they briefly ring before the auto-answer kicks in on the Cisco handsets I have (one 7945G and two 7965Gs). This did not used to happen.

**Reproduction Steps:**

1. Follow instructions as per this page: https://github.com/chan-sccp/chan-sccp/wiki/FreePBX_Intercom-HowTo
2. Dial paging extension as set in

[2020-05-21 08:38] dkgroot commented on #520
@Terrabytee This must have happened after the change in the "call-answer" project a few weeks ago. We had a problem in the way calls were answered, and there might be a slight delay in the "auto-answer" system because of that.
If you don't want the ringing to occur, you can set:
`Set(ALERT_INFO=Off);`
or:
`Set(ALERT_INFO=Silent);`
or use:
`Dial(SCCP/98041/ringer=off/aa=1wb,5,A(beep));`

If that do

[2020-05-21 13:11] Terrabytee commented on #520
Thanks for the response! Just for clarity, which file would I insert those into?

[2020-05-21 13:14] dkgroot commented on #520
I don't know which solution you are running, if you are running the simple one at the top, the change would go into: /etc/asterisk/extensions_custom.conf`

For the multicast solution i would have to have a look

[2020-05-22 17:13] Terrabytee commented on #520
Running FreePBX 14 right now, but I do have the ability to access and make changes to files in /etc/asterisk and execute them.

I do not use multicast paging at the moment, just the macro 2-way option (2b in the wiki page), for intercom communication as well.

I added all three of those options into my extensions_custom.conf file and restarted Asterisk, but those didn't work. Just to make sure I a

[2020-05-23 11:30] dkgroot commented on #520
Doing it that way would never be able to work. The new dialplan you created doesn't even compile and should generate errors.

I falsely assumed that if you were editing dialplan logic, you would know what you are doing :-) sorry i was not clear enough.

You need to do something like this
[code]
or
[code]

[2020-05-26 12:50] Terrabytee commented on #520
Hey, sorry about that confusion!

Anyways, I tried the first one above and that did the trick! :) Thanks again!

[2020-05-26 12:50] #520 closed, assigned to dkgroot

[2020-05-26 12:52] dkgroot commented on #520
Ok thanks for checking and testing. I will update the wiki, to include the optional line.
Thanks for closing the issue report.

[2020-05-29 11:16] #511 closed, assigned to dkgroot, Jed-Giblin, rolakron

[2020-06-01 11:22] Zw1d commented on #519
A week ago I have changed register string in my primary sip provider. I removed (I think) timeout \~90 from the end of the string. So changed from:
1234@host.com:password:1234@0.0.0.0~90
to:
1234@host.com:password:1234@0.0.0.0
And since then haven't experienced that particular issue, so hopefully that was it.

[2020-06-01 11:22] #519 closed, assigned to dkgroot

[2020-06-01 12:47] dkgroot commented on #519
@Zw1d Thanks for reporting back and closing the issue. If the issue does pop up do open it up again.

[2020-06-09 20:13] dunhill52 opened #521 "Cisco 7920 limited to 4 lines"
The old Cisco 7920 supports up to six lines (The screen can display only four lines but you can scroll down).

Currently chan-sccp only allows you to set up 4 lines and discard the additional 2 lines. The problem is in sccp_device.c and quite straightforward to fix it seems:

[code]

Changing that for 6, I checked that all lines appear in the 7920 and seem functional.

PS: Thank for the great job

[2020-06-09 20:15] dkgroot commented on #521
@dunhill52 Thanks for reporting the issue, and figuring out the solution as well. Will make the change right now and commit.

[2020-06-09 20:17] #521 closed, assigned to dkgroot

[2020-06-22 10:32] muradbrotecs opened #522 "Segmentaion Fault on Chan_SCCP"
Segmentaion Fault on Chan_SCCP

_asterisk[18001]: segfault at xxx ip xxxxxxxxxx sp xxxxxxxxxx error 4 in chan_sccp.so[7f678e700000+10a000]_

**chan-sccp version:** Release: 4.2.3 STABLE - 6728M

**asterisk version: 13.17.2

Kernel / Linux version
3.10.0-327.10.1.el7.x86_64 #1 SMP  x86_64 x86_64 x86_64 GNU/Linux

OS CentOS Linux release 7.2.1511 (Core)

Any help will be much appreciated

[2020-06-23 17:28] dkgroot commented on #522
@muradbrotecs Hi Murad

I recognise this revision "4.2.3 STABLE - 6728M" as a pretty ancient svn based revision number. Please checkout the current develop branch from git instead and test with that.

Note: if you are running into a segfault like this, we normally need a backtrace (check out wiki: https://github.com/chan-sccp/chan-sccp/wiki/Reporting-Bugs to see how to produce these). But before d

[2020-06-24 14:30] abradfordcms opened #523 "Implement transfer call / auto select fix"
If a phone does not have the following within it's .cnf.xml file, call transfer attempts wind up facing issue with the "transfer" softkey disappearing

<vendorConfig>
<autoSelectLineEnable>0</autoSelectLineEnable>
<autoCallSelect>0</autoCallSelect>
...
</vendorConfig>

**Reproduction Steps:**

1. Have an existing caller (internal or external) on an active call
2. Attempt transfer to internal or ex

[2020-06-24 14:41] dkgroot commented on #523
We should set/add two variables to the calls involved in the transfer and use them as marker. We can point them to the linkedid of the call destination

In the first step of transfer process we set the transferee and transferer on the first call.
[code]
Then put it on hold and create the second channel
The second channel will be marked with
[code]
During transfer completion, we match know exactly

[2020-06-24 14:44] dkgroot commented on #523
Without this new implementation we still require the user to set
[code]
in their cnf.xml

[2020-06-29 05:56] danielw0581 opened #524 "Rollover on Line Buttons"
Running FreePBX 15 with the latest Chan-SCCP module and SCCP Manager which works very well. However, is it possible to have 2 line buttons for the default extension of a phone on that same phone and have the second call ring the second button? So have ext 101 on buttons 1 and 2 and if the first button is in use have the second call ring on button 2?

Also, is there a way to have the SCCP Manager m

[2020-06-29 11:11] dkgroot commented on #524
Hi @danielw0581

Short Answer: No not at the moment. You can assign a line two times to a single device, that works, but there is no automatic rollover. You could implement something like this with some extensive dialplan logic, but i am not sure how natural that will fell..

I know of the existence of "Rollover Line Buttons" in CUCM and have thought about adding them in the past (But never saw a

[2020-06-30 23:46] billsimon commented on #487
Hey, I think this is fixed on FreePBX with https://issues.freepbx.org/browse/FREEPBX-21582 - for FreePBX 15 at least.

[2020-07-01 01:30] dkgroot commented on #487
@billsimon Thanks for closing this open issue

[2020-07-01 19:07] darkponay opened #525 "Directed/SingleLine barge displays the wrong callerid info (aesthetics)"
Hi,
First, please let me thank Diederik for what he is doing. Managing a project like this must be very complicated, and when we see all the features we can have in Chan-SCCP, i can only be very thankful for all of this.

I am sorry because i tested this feature approx. 1.5 year ago when it appeared and i probably missed the point.

There is a wrong behaviour on the barger display, let me explain

[2020-07-01 19:48] dkgroot commented on #525
@darkponay
Thanks you for the praise and the clear issue description. Directed Barge (aka: Single Line Barge) has an added difficulty because it allows you to barge in on channels by other channel-drivers (SIP/IAX etc) as well. Making it harder to retrieve callinfo correctly. Apparently i never pay much attention to the information displayed and mainly focus on the functionality. However the issue

[2020-07-07 23:54] dkgroot commented on #522
@muradbrotecs ?
If you have updated/upgraded and the issue i no longer present, please close this issue report.

[2020-07-10 05:26] danielw0581 commented on #524
Hi @dkgroot ,

Thanks for your quick reply!

Its been a long time since I have used a Cisco system. IIRC the lines would act as call appearances. Put two of the same line key in the phone and you can make/receive two calls. If the first line key was in use the second call would ring on the second key. If line/call appearance 1 was on hold and the phone was on hook, when you picked up the handset i

[2020-07-10 12:25] dkgroot commented on #524
@danielw0581

Sounds very practical on devices with no or a very small display. Less usefull on the phones with bigger (or even smaller) displays.

The rollover line button was never really a consideration in the current implementation and the amount of work to retrofit it in, looks to be a somewhat major overhaul. Also not sure how this would fit in with our current shared line implementation (an

[2020-08-05 14:53] bknv opened #526 "Random end call"
Time to time

, i have problem with phone cisco (7911,7912,7940,7945 and more). Call end random

Find the cause or what is causing the problem - I could not

About my servers:
1)
Virtual Machine on VMware ESXi, 6.5.0, 10884925
Version 6.5
FreePBX 14.0.13.23
Asterisk 13.27.1 built by mockbuild @ jenkins7 on a x86_64 running Linux on 2019-09-06 21:11:59 UTC
Skinny Client Control Protocol (SCCP). Rel

[2020-08-05 15:07] dkgroot commented on #526
@bknv
Thanks for reporting the issue. I understand the issue reported.

When i look at the full.txt log, i see INVALIDNUMBER in line 1014. Which seems to be the reason for the failed call. We need to figure out where this is coming from.

Can you make sure that the issue is still present with the latest revision (8f9abc2) ? Also when reporting further debug regarding this problem, we don't need th

[2020-08-11 07:06] CRCinAU opened #527 "Can't answer incoming call from SIP peer"
When my folks call me from their Cisco SIP phone connected to the same asterisk server, my SCCP phone rings, but when trying to answer, does not answer and continues ringing.

[code]

Attached is the asterisk log with requested debug levels enabled.

There are two SCCP phones in a shared line config, IDs replaced with SEPxxxxxxxxxxxx and SEPyyyyyyyyyyyy.

This log includes:
* Calling from the SIP

[2020-08-12 06:18] bknv commented on #526
Tommorow i update second server to version 8f9abc2 and will watch for problem

[2020-08-12 13:57] dkgroot commented on #527
Hi Steven,
The first thing i notice in the debug output, is that we are talking about huntgroup, not a simple call.
[code]
Also we seem to be dealing with a shared line as well.

Line 91: `[2020-08-11 06:56:03] ERROR[24215][C-00000003] sccp_channel.c: SCCP/101-0000000F: (sccp_channel_openReceiveChannel) Channel already hanging up` Seems to be the start of the issues.

I have extended the debug log

[2020-08-13 06:11] CRCinAU commented on #527
Added log with the same endpoints.

[messages-issues-527.txt](https://github.com/chan-sccp/chan-sccp/files/5067378/messages-issues-527.txt)

[2020-08-13 09:40] dkgroot commented on #527
As suspected it was the answered_elsewhere check preventing the rtp setup. Pushed an update, please pull latest and retest

[2020-08-13 11:13] CRCinAU commented on #527
Have done so - will report back tomorrow when I can get my folks to ring that phone...

[2020-08-14 07:29] CRCinAU commented on #527
Can confirm - this seems to answer calls fine now in that scenario.

[2020-08-14 20:29] dkgroot commented on #527
Have not merged the change yet, need to check if there would be a regression when/if merged.

[2020-08-15 10:55] #527 closed, assigned to dkgroot

[2020-08-15 10:56] dkgroot commented on #527
Thanks for reporting the issue.
Branch has been merged

[2020-08-20 19:05] drtmk opened #528 "Parking doesn't play announcement and end the call"
When parking a call by pressing soft key button, the parked extension number is not announced through audio, and the call doesn't end on the phone on which soft key button was pressed. [**Demo**](https://drive.google.com/file/d/1L7nHGessS-HhtqUi1Bbnodx0aCDlYTlB/view?usp=sharing)

chan-sccp version: 4.3.2 develop 8f9abc2
asterisk version: 16.12.0 x86_64
phone model: 79xx

Expected behavior:
After p

[2020-08-27 09:20] drtmk opened #529 "Missing party information in dynamic speed dials"
Sometimes dynamic speed dials don't show party information during calling or connected state. This is a random problem and was observed on 7942 phones.

In all 3 of the following cases, Alice (100) is calling Bob (120) by pressing Redial soft key button. Bob has Alice extension configured as dynamic speed dial.

The first case shows how the phone should behave. Bob answers the call and speed dial

[2020-08-27 13:42] dkgroot commented on #529
@drtmk I have been trying to get the announcement to work (again) but so far no success.. The changes in asterisk seem to make this pretty hard with the current code. I can make a simple change to at least perform the hangup and we rely only on the display of the parking location. Maybe that would be a good first step. I would like to figure out a way to get the announcement of the parkingslot aga

[2020-08-27 13:43] dkgroot commented on #528
@drtmk I have been trying to get the announcement to work (again) but so far no success.. The changes in asterisk seem to make this pretty hard with the current code. I can make a simple change to at least perform the hangup and we rely only on the display of the parking location. Maybe that would be a good first step. I would like to figure out a way to get the announcement of the parkingslot aga

[2020-08-27 13:45] dkgroot commented on #529
Thank you for the issue report and the clear description and log files. It will take me a little longer than usual to have a look and find out how to fix this, because of spine/back problems i am experiencing at the moment (typing this while lying down).

[2020-08-27 14:37] dkgroot commented on #529
Checking the first two log files, it looks like we might have a race condition:
ok.txt:
[code]
`== 100 (hint_devstate_cb) Got new hint event SCCP/100, state: 1 (InUse), cidname: Bob, cidnum: 120` happens before `-- Got new hint event SCCP/100, cidname: , cidnum:` -> ok

connected.error.txt:
[code]
`-- Got new hint event SCCP/100, cidname: , cidnum:` happens before `== 100 (hint_devstate_cb) Got ne

[2020-08-27 14:47] dkgroot commented on #529
@drtmk I assume you have `--enable-distributed-devicestate` in your `configure` statement when compiling chan-sccp. Which seems to have this side effect. Can you reconfigure (and recompile) chan-sccp to see if that stops the issue for occuring ? We still need to fix the problem, but it would be good to know, that this is the part that's causing the race.

[2020-08-27 15:06] drtmk commented on #529
I will try this tomorrow.

[2020-08-27 15:12] dkgroot commented on #529
Created a fix to prevent "enable-distrubuted-devicestate" causing empty cidnum/cidname if a race occurs. This should remedy the problem in general.

***Git***
_Checkout this temporary branch_
[code]

_move back to develop afterwards:_
[code]

[2020-08-27 15:24] dkgroot commented on #529
BTW: Thanks again for putting in the time to report the issue and providing the debug log files, images etc.. It really helps !

[2020-08-27 17:48] drtmk commented on #528
I think hangup with text message is enough. Audio announcement is good for old analog phones.

[2020-08-28 06:01] drtmk commented on #529
By eliminating `--enable-distributed-devicestate` from `configuration`, I wasn't able to reproduce above behavior. Messages in dynamic speed dials are working fine. I don't know what this option actually do.

And when it comes to temporary branch you have created, I'm not sure I'm doing this right. I made a copy of `chan_sccp` directory to `chan_sccp2`. But git doesn't download any files.

[code]

[2020-08-28 12:24] dkgroot commented on #529
@drtmk
1. Ok so you confirmed that --enable-distributed-devicestate on asterisk-16 was causing the issue. Good
2. distributed-devicestate is only required when you have a cluster of asterisk machines and would like share the devicestate across multiple machines (not used by most people)
3. Looking at the git output, it looks like it worked just fine. Just run ./configure and make on that new direc

[2020-08-28 12:56] drtmk commented on #529
I've tried `issues/529` branch with `--enable-distributed-devicestate` and without it. Both are running fine. No issues with missing parties in speed dials.

[2020-08-28 13:26] #529 closed, assigned to dkgroot

[2020-08-28 13:28] dkgroot commented on #529
Thanks for checking ! Nice job. I have merged the change back to the `develop` branch.

[2020-08-28 13:29] dkgroot commented on #528
Ok going with that. Having a look at the code to make that happen.Thanks for the feedback

[2020-08-29 14:36] dkgroot commented on #528
@drtmk I managed to get parking + announcements to work (I think)
Can you help me out to check if this is working as one would expect. I have not been able to get to the phones to test parking on the physical phone. I have done all the testing from the CLI using `sccp set channel SCCP/1234-000001 park` (new CLI command to enable parking).

***Git***
_Checkout this temporary branch_
[code]

_move b

[2020-08-29 16:30] dkgroot commented on #526
@bknv Have you had any chance to collect some debug log for this issue ?

[2020-08-29 16:30] dkgroot commented on #522
@muradbrotecs Any progress ?

[2020-08-31 05:38] drtmk commented on #528
I'm getting error during compilation:

[code]

[2020-08-31 06:36] bknv commented on #526
At the moment, I have not yet managed to catch this error after updating
Users also did not handle a similar problem
I will definitely report the results

[2020-08-31 10:48] dkgroot commented on #526
We should close the issue report 1-2 weeks from now, if the issue does not occur anymore.

[2020-08-31 10:51] dkgroot commented on #528
Pushed a fix for the compile error.

[2020-08-31 12:19] drtmk commented on #528
Audio announcement works and the call is being hang up. I can continue it by dialing parked extension (from any phone). This simple scenario works fine. But there are other issues.

Parking extension is now random number from the pool from res_parking.conf. Before it was first free extension (I think).
Asterisk always shows this error when pressing [Park], even if it's the first Parking since aste

[2020-08-31 13:05] dkgroot commented on #528
Thanks for checking / testing !!

Asterisk always shows this error when pressing [Park], even if it's the first Parking since asterisk restart.

The parking order being random can be controlled with the "findslot" entry in features.conf.
The error you mentioned should be fixed/removed (Current park code is a little extra verbose).

I will check this out tomorrow. Should not be to hard to correct (

[2020-08-31 13:19] drtmk commented on #528
I did test that. The call was returning to the phone that made the parking.

[2020-08-31 17:33] bknv commented on #526
I agree with you

[2020-08-31 19:41] dkgroot commented on #528
This was not the case in the past (i think), so we made some progress :-)

Also do you like the random slot assignement, or would you like "first" or "next" instead. I think i might have hardcoded the "random" case at the moment.

[2020-09-01 07:27] dkgroot commented on #528
Fix: Use regular (non random) parking slot selection
Fix: Remove error report about event not handled in parking_event_cb
Fix: Do not attempt to park a channel that only has one bridge channel connected to a dialplan application (ie: parking a parked channel) -> return failure to user
Fix: Only show the parking slot message on the phone once (will require a little more work)

Not handled yet: Dyna

[2020-09-01 08:28] drtmk commented on #528
Works as expected. First free extension is selected from the pool.

Fixed. There are no errors/warnings during parking.

Now you cannot park already parked call. Soft key button is available but pressing it causes failure in parking and asterisk shows warning. Music continues to play. I guess that is fine.
[code]

Fixed.

I also tested two simultaneous parked calls. They were working fine. After g

[2020-09-01 12:13] dkgroot commented on #528
Thanks for checking everything.

I will still have to work on connected_line / callerid information displayed and the dynamic speeddial information connected to that. I am not sure if we should attempt to display the parkingslot to the parked caller (we don't want to tell incoming external callers to much about our dialplan). Also the dynamic speeddial is not that important, most of time you will

[2020-09-01 14:40] dkgroot commented on #528
Added a called party name update to show park:[parkinglot] on the party being parked, and forcing an update off the indication including remote ones (aka: dynamic speeddials)
Have not had time to fixup the callerid update when the parked call is resumed yet (Not sure how/when/where to do that).

[2020-09-02 08:50] drtmk commented on #528
Right now, when you press [park] on a phone that answered a call the calling party gets "To: park:default" on his call plane. Also speed dial of that line shows: "park:default <=> Name". And it stays there when call returns.
[Video](https://drive.google.com/file/d/164ZY6NKL-jr63cr5NP8WHP01Z2T2FTDI/view?usp=sharing)

When you press [park] on a phone that initiated a call, parked phone doesn't chang

[2020-09-02 09:34] dkgroot commented on #528
True and i am not happy about the last part. Also i should have been using the Park Label (Parkuj) instead of "park:"

That should be easy to fix (I hope).

To be honest i am not sure we should be going down this road though. Asterisk has nothing in place in the call-parking code to update caller id's etc. So there is no expectancy for any of this to be happening. I am not 100% what would be the b

[2020-09-02 09:50] drtmk commented on #528
I think the caller shouldn't see his call was parked. It should look like he's on hold.
The speed dial that shows his line on other phones, could just show that he's busy (red light + line name without party).
So before parking speed dial could display: [Bob <=> Alice], and after parking just [Alice]. That would mean that Alice line is busy but not connected with anyone.

[2020-09-02 09:51] dkgroot commented on #528
Sounds really easy i know, but it really isn't. I am looking for a way, but haven't found it yet

[2020-09-02 10:20] dkgroot commented on #528
Pushed some new code to handle callparking and dynamic speeddials a little nicer.
- Using CHANNELSTATE_CALLPARK to convey the status of a parked call
- Added new function sccp_indicate_force to be able to force remote indication updates even if the state did not change
- Handle CHANNELSTATE_CALLPARK in sccp_hint to show the DISP_PARK label on the dynamic speeddial
- Force an update to CHANNELSTATE

[2020-09-02 21:05] dkgroot opened #530 "incominglimit"
Calculation for line->incominglimit comparison is incorrect. Needs adjusting for both single and shared line. See: #476

[2020-09-02 21:18] dkgroot commented on #530
@drtmk

***Git***
_Checkout this temporary branch_
[code]

_move back to develop afterwards:_
[code]

[2020-09-02 21:52] dkgroot commented on #530
Note: Currently it does not add calls that are on HOLD to the number of active calls, meaning that an incominglimit=1 + a single call on hold would allow another incoming call to be processed.

[2020-09-03 05:59] drtmk commented on #530
It looks like this.

When A establishes a call with B, you cannot make a call to them because you get busy tone (as it should be).
You can still call a phone that pressed [Hold] soft key. But you cannot call the other phone, which plays music on hold.
You can invoke 2 incoming calls on a single line (single phone) and answer both of them.

[2020-09-03 07:00] drtmk commented on #528
Right now when you park a call, the phone that was parked does not update a call plane and looks like his on hold. (i think that's ok). When you dial parked extension, call planes on both phones show correct names. The one that was parked updates his call plane with correct new name.

After parking a call, dynamic speed dial shows 'Parkuj <=> Name', which is really nice. When a call returns and is

[2020-09-03 07:38] dkgroot commented on #530
Not sure what that last part means, to be honest

[2020-09-03 07:42] dkgroot commented on #528
Ok nice !

It's not the phone making it a call, it's the asterisk parking application, calling the other phone. The parked call has no idea what is happening (on it's behalf).

I will have another look at this one, a little later on.

We are getting closer though :-)

[2020-09-03 07:54] drtmk commented on #530
You can dial from two phones (two lines) into one line (one phone). It will show 2 incoming calls.
During one incoming call, you shouldn't be able to call that line.

[2020-09-03 09:06] DL44227 opened #531 "Unknown Number while originating call via asterisk call files"
When I originate a call via callfiles (/var/spool/asterisk/outgoing) the given Caller ID name and number are not displayed on the Cisco 7970 phone. However the same callfile used to originate a call with a SIP phone causes it to display the caller ID correctly.

**Reproduction Steps:**

1. Create a call file, e.g. /tmp/callfile:

Channel: SCCP/290
Callerid: "CIDName" <206>
MaxRetries: 0
WaitTime:

[2020-09-03 12:04] dkgroot commented on #530
Ooh i guess i did not take into account calls that are not established yet. Will have a look, to see where to do that.
Thanks for being way better at testing then i am :-)

[2020-09-04 08:38] dkgroot commented on #530
Pushed an update

[2020-09-04 09:17] bknv commented on #526
Today user reported me about our problem.
[log.txt](https://github.com/chan-sccp/chan-sccp/files/5173787/log.txt)
Start call 10:42:29
Answer 10:42:32
Break(started problem) 10:42:48

uptime server 3 week 1 day
free -m -w
                     total        used        free      shared     buffers       cache   available
Mem:           3789         940         143         235           0        2705

[2020-09-04 11:01] dkgroot commented on #526
Am i right to be checking/tracing this device: SEPA4563041D7FC and call:SCCP/2812-000023F2 on asterisk call thread "C-0000012a" ? Just to make sure before i start looking into it.

[2020-09-04 11:19] dkgroot commented on #526
(Filtered your log tile using: `grep "C-0000012a" log.txt |grep -v "refcount.c"`)

Looking at this part of the log:
[code]
We can see that the device/phone is sending us :
[code]
Which translates to `Accessory 'Handset' is 'On Hook'`. And it is coming from the phone the user is using to dial out. The question is did the call break before 10:42:48 (potentialially caused by RTP/audio issue) and did

[2020-09-04 12:30] bknv commented on #526
10:42:32 both user joined channel and started RTP. Talk among themselves
after 00:00:12:341 disappear outbound RTP from SCCP/2812
further user SCCP/2817 does not hear abonent SCCP/2812 but there is an outgoing RTP from SCCP/2817

to say for sure whether user 2812 put down the phone at this time (10:42:48) or not - I cannot

sorry if i do something wrong

![image](https://user-images.githubusercont

[2020-09-04 12:40] drtmk commented on #530
This is fixed.

This is fixed too.

Everything looks good. I also made tests with `incominglimit=2` and that looked fine.
I haven't tested shared line.

[2020-09-04 21:02] dkgroot commented on #530
Thanks again for bringing the issue to my attention and checking my work !
Sounds like we can merge it. I don't think incominglimit is used a lot by people using shared lines tbh.

[2020-09-04 21:04] #530 closed, assigned to dkgroot

[2020-09-04 21:06] dkgroot commented on #526
@bknv Is there a NAT firewall of some kind between the asterisk server and one/both of these phones, that might explain the loss to rtp traffic ?

[2020-09-06 14:56] dkgroot commented on #531
Ran a test on vanilla asterisk-17:
[code]
Which produces
[code]
[code]
So on asterisk-17 it seems to produce exactly what you expected (and the phone's display and phonebook entries reflect this information as well). I will run another test on asterisk-13 to make sure this is also the case. I am not sure if you are using FreePBX or not, but i do know that FreePBX does quite a bit of manipulation o

[2020-09-06 17:53] dkgroot commented on #531
Ran the same test on latest asterisk-13 revision with the same result. Seems to work just fine.

[2020-09-07 09:32] gfreccia opened #532 "Codec issue (one way audio) with Cisco 6911"
Hi All,

I've 4.2.3 STABLE on Asterisk 13.12.1 with a bunch of Cisco 6911.
Sometimes I've codec issues (one way audio).
Do I've to set something on config?
Is there an updated version that solves the issue?
Below my sccp.conf file.

Thank you!

[code]

[2020-09-07 11:03] DL44227 commented on #531
My environment seems to differ from yours. I have tested it on again fresh compiled asterisk-13.36.0/chan_sccp_develop (2020-09-01) and also on asterisk-16.13.0/chan_sccp_develop (2020-09-01). In both cases the phones are showing "Von Unbekannte Nummer". My phones are Cisco 7970 (and 7975) with firmware version SCCP70.9-4-2SR13-1S (SCCP75.9-4-2SR2-2S).

Maybe I should create a log. Can you tell me

[2020-09-07 11:39] dkgroot commented on #531
@DL44227
I guess that must be the case. The phones and firmware are not really important in this case, as this is not the location where callerid's are set or changed.

Just set `debug=core,channel,pbx,callinfo` and all the information should hopefully be there. Do make sure to set `core set verbose 5` and `core set debug 1` so we also get the dialplan entries that are being executed.

Join me on

[2020-09-07 12:30] DL44227 commented on #531
This is the CLI log after setting the above debug levels:

[code]

[2020-09-07 12:46] dkgroot commented on #531
@DL44227 I am missing the rest. Can you include the complete call log from beginning to end (with both call legs shown). And do include the callfile used, as you are using different extensions in your debug example (it seems).

The callerid is used when calling the destination (ie: when the calling party has lifted the receiver to start the outbound call). The CallerID field is applied to calling

[2020-09-07 14:08] dkgroot commented on #532
@gfreccia I would say start by updating/upgrading your chan-sccp version, by checking out the latest version from github. The addition of 6911 support came long after the 4.2.3 release, and the old version cannot be trusted to do the right thing. The 4.2.3 version has been out of support for quite a while and will not undergo any updates.

From the sccp.conf alone i am not able to tell what may or

[2020-09-07 15:12] DL44227 commented on #531
I had to rewrite the call file because I am using the test environment (Asterisk-16) now. The content of the call file is:

[code]

Here the full log:

[code]

[2020-09-07 15:23] dkgroot commented on #531
Can you make the callfiles destination a Dial() command to some other SCCP phone, instead of doing VoiceMailMain. And you will see the callerid of the calling phone will have been set to "CIDName". Or print the channel information using `core show channel SCCP/206-0000000x` during the call.

[2020-09-07 15:43] DL44227 commented on #531
Here is the channel information while dialing the first phone:

[code]

[2020-09-07 16:28] DL44227 commented on #531
Thanks @dkgroot for a workaround with local/ channel:

Callfile:

[code]

Dialplan:

[code]

This way the callerid will be presented on the phone as expected by me.

[2020-09-07 16:32] #531 closed, assigned to dkgroot

[2020-09-07 19:47] bknv commented on #526
NAT - no, these both users locate in one network.
Firewall - yes, but i think if the problem would be with it, both users did not hear each other initially

[2020-09-07 19:51] dkgroot commented on #526
So there is a firewall between asterisk and/or both phones ? If so the firewall may simply be timing out, causing the interruption in RTP flow. From the information provided it does not look like chan-sccp is actively doing anything to interrupt the call (if it did, it would have logged something, it's pretty chatty as you may have noticed). I think it might be time to look at other potential reas

[2020-09-07 20:05] bknv commented on #526
I can offer the next version:
I can switch off all iptables on server, enable tcpdump and send it when the problem will appear.
What you think about it?

[2020-09-07 21:08] dkgroot commented on #526
If your server is outward facing (ie: exposed to the internet), then removing all firewallrules might not be such a good idea. If not, and it's safe to do so, then i guess why not. You can start and stop the tcpdump every 15/30 min, after checking there was no incident to safe some room. Having multi megabyte dumps is not a nice thing to have to hunt through.
Note: If something else is causing the

[2020-09-09 05:47] drtmk opened #533 "2 small problems with dynamic speed dials"
Invalid speed dial lamp change during ringing state

**Reproduction Steps:**
Alice calls Bob (ringing state)
All speed dials that have Alice extension configured show: `Bob<-Alice` (and blinking orange)
Charlie dials Alice and gets busy tone (as it should under incominglimit=1), but all speed dials that monitors Alice extension, turns solid red instead of blinking orange although Alice line is sti

[2020-09-09 07:03] dkgroot commented on #533
@drtmk They are pretty much cosmetic as you mentioned. The first one is interesting and i will have to have a look. The second one might be out of our control, but it's interesting to see if we can do anything about it.
Thanks for reporting both of them.

[2020-09-09 08:37] dkgroot commented on #528
50d9b14 should take care of updateing the remote hinted speeddial monitoring a parked call, upon auto-return. When you can confirm this one, i think we can wrap everything up and get it ready for merge.

[2020-09-09 13:21] drtmk commented on #528
I don't have time to check this today.

[2020-09-09 23:00] dkgroot commented on #533
Had a look at the first case and came up with a possible solution. We are dealing with an event attached to a line change, which has multiple channels and therefor multiple channelstates. There is no way to aggregate these channelstates into anything sensible by default.

With the new implementation we will set the callerid information on the hinted speeddial to "In use remote" and set the last st

[2020-09-09 23:47] dkgroot commented on #533
Committed a somewhat simple fix for the second issue. It seems to work, although i don't think it's the nicest way to solve the issue.

[2020-09-10 07:27] drtmk commented on #528
Parking and dialing parked extension works ok.

Problems starts to happen when nobody calls parked extension and call returns.

Alice calls Bob, Bob answers a call, Alice parks it. So far everything is ok: speed dials, call plates.
When call returns, Bob is calling Alice. Alice's phone has incoming connection from Bob (that's ok). Speed dials with Alice's extension also works ok.
The problem is th

[2020-09-10 08:08] drtmk commented on #533
The first problem still exists. Nothing has changed.

The second problem is fixed. After answering a call with Group Pickup by Charlie, the speed dial for a moment shows `Alice -> Charlie` but it quickly updates to `Alice <=> Charlie`.

[2020-09-10 09:29] dkgroot commented on #533
A lot has changed for the first case, but i checked the callwaiting version. I will check again with calllimit=1

Ok so second one closed.

[2020-09-10 09:32] dkgroot commented on #528
We will have to wait a little bit for #533 to finish, before going back to this one, The bigger/major change for #533, could cause some sideeffects for parking and dynamic speeddials.

I don't understand why the first one is not working for you (maybe because i was running in experimental mode), i checked it several times. But i will come back to this when #533 is closed.

[2020-09-10 09:54] dkgroot commented on #533
I retested and case one seems to work for me, both with and without hitting the incomingcalllimit. Note: Currently i only have two sccp phones connected, so for the third (Charlie) i am using a sip soft phone. Can you check to make sure you are/were running in the issues/533 branch and recheck the first case. If debug is required, set "sccp debug core, channel, pbx, indicate, hint" so we can see w

[2020-09-10 10:18] drtmk commented on #533
I'm running 4.3.2 issues/533 - 26b79e6 with incominglimit=1.
When I call from A to B and during ringing state call A again from 3rd phone, speed dial with A extension shows `Bob <- Alice` but lamp becomes solid red.

[issue533.txt](https://github.com/chan-sccp/chan-sccp/files/5200820/issue533.txt)

https://drive.google.com/file/d/1iZeG3EFs7P98Ek1mm-hIgr2Kj3FYWsxc/view?usp=sharing

[2020-09-10 11:32] dkgroot commented on #533
I recreated you dialplan with the "handle_dialstatus" macro, returning BUSY(x) to the caller. I reproduced the events in your call sequence, but i am getting a different result on the dynamic speeddial. Not sure but it might be a race condition, which in the case of hints is pretty much impossible to prevent.

I am not to worried to much about this exact case, to much, you are getting signalled ab

[2020-09-10 11:39] drtmk commented on #533
I think we can merge it to development branch. It's so small bug that probably nobody will even notice it.
https://en.wikipedia.org/wiki/Alice_and_Bob

[2020-09-10 11:41] dkgroot commented on #533
Merged, branch does not exist anymore.
Hmmm not to sure nobody will notice, i activated some experimental code (that was long overdue), which significantly changed the devicestate -> channelstate conversion. We will see :-)

[2020-09-10 11:42] dkgroot commented on #528
Rebased on top of last develop branch (to include the changes made for #533)
Resting cases.

[2020-09-10 15:21] dkgroot commented on #528
Fix: continued ringing during ParkedCallTimeout calling back
Fix: change the call direction when handling ParkedCallTimeout
Fix: Update indication and dynamic speeddial when handling ParkedCallTimeout

Hopefully we are making a little progress here

[2020-09-11 07:31] drtmk commented on #528
The first case is almost perfect (Alice calls Bob, Bob answers a call, Alice parks it.)
One thing is left to fix: When Bob makes a return call, his phone and speed dials with his extension show that he's making a call to himself. (`To Bob` and `Bob <- Bob`). He's actually makes a call to Alice. Alice's phone behaves ok.

The second case (Alice calls Bob, Bob answers and parks it.) is almost 100% f

[2020-09-11 07:35] dkgroot commented on #528
I am a little afraid that i might be making to many changes, to fix this. I made a late change yesterday, that may have had some impact.
1. What do you mean "makes a return call" . Do mean when he times out and start calling alice back ? I will check again. i guess.
2. I will check again.

[2020-09-11 07:40] drtmk commented on #528
Yes.

[2020-09-11 07:46] dkgroot commented on #528
Confirmed case 1. Checking what's going on.

[2020-09-11 07:53] drtmk commented on #533
It's interesting. I'm not getting that red lamp from first case using 4.3.2 issues/528 - fd7d562. Still blinks orange. Tried many times. Maybe it's fixed.

[2020-09-11 08:14] dkgroot commented on #528
Confirmed both
Fixed both
Only a minor patch was required.
Sorry for being so bad at testing/checking !

(Do we want to recheck #533 now ?)

[2020-09-11 08:51] drtmk commented on #528
First one is fixed.
The second one is hard to tell. It sounds to me like there are still 2 outgoing sounds. But they're aligned so I can only distinguish it because beep tone is a little louder and it starts and ends more harder? But it's no big deal.

As for issue #533 branch 4.3.2 issues/528 - a78dea3 resolves the problem with lamp going from orange to red. The second problem (Invalid speed dial

[2020-09-11 08:58] dkgroot commented on #528
I stopped producing a second ringout tone, when we already have inband audio. So the double ringout tones should not be happening. I will add a little debug, to check and make sure this is not the case. Others will start reporting the issue pretty fast if we would be producing double ring sounds, as it is more pronounced on some phones/system then others.

Regarding #533 the changes made to the hi

[2020-09-11 18:07] dkgroot commented on #533
I had that fixed, but i forgot to push the change last time you checked :-) Woops

[2020-09-15 19:38] dkgroot commented on #528
@drtmk Have you had a chance to check the double ring again ? I think it should be fixed as well. I would like to close this issue and merge it into develop.