[2020-09-16 11:18] drtmk commented on #533
Can you check again that second problem (Invalid speed dial direction after answering Group Pickup). I'm gettin "Alice->Charlie" speed dial again after Group Pickup.

It's happening on 4.3.2 issues/528 - a78dea3 where this problem should be solved.

[2020-09-16 11:20] drtmk commented on #528
I'm not sure if it's one or two calling tones. But if you fixed it we can assume it's one.

[2020-09-16 11:30] dkgroot commented on #533
I will merge #528 first so that it's code is in develop and then re-open and rebase this branch, so that i can have a look

[2020-09-16 11:37] #528 closed, assigned to dkgroot

[2020-09-16 14:10] dkgroot commented on #533
***Git***
_Checkout this temporary branch_
[code]

Note: i made a somewhat significant change, so we may have to re-check all dynamic speeddial indications.

_move back to develop afterwards:_
[code]

[2020-09-16 20:52] dkgroot commented on #528
@drtmk Thank you very much for your patience and testing work !

[2020-09-17 06:29] drtmk commented on #533
Standard dialing and Group Pickup works ok. Call plates and dynamic speed dials behave fine. So both problems are resolved in this issue #533.

I tested parking again, and there are 2 problems. Dialing parked extension shows `701 <=> Alice` in a speed dial when Alice called parked extension. There should be a name of parked party. (call plate is ok, it shows the name).
After parking a call, dynami

[2020-09-17 06:35] dkgroot commented on #533
:+1:

I will check both

Note: At the moment we don't have a lot/any control over the party being parked (They can be any channel type like sip). So changing the callerid direction an information depends mainly on what asterisk sends us in this case. I have not looked into it, to see if there is a little wiggleroom there.

[2020-09-18 06:22] pnlarsson opened #534 "./configure --disable-pickup on ast13 fails to build"
configure --disable-pickup make build fail with:

ast113.c: In function ‘sccp_astwrap_allocPBXChannel’:
ast113.c:1308:28: error: ‘sccp_line_t {aka struct sccp_line}’ has no member named ‘namedcallgroup’; did you mean ‘callgroup’?
  if (!sccp_strlen_zero(line->namedcallgroup)) {

**Reproduction Steps:**

1. git checkout develop
2. ./configure --disable-pickup
3. make

**chan-sccp version:** develop

[2020-09-18 06:57] pnlarsson opened #535 "./configure --disable-park fails to load in ast13 - undefined symbol: sccp_channel_park"
configure --disable-park don't load in asterisk:

[code]

**Reproduction Steps:**

1. git checkout develop
2. ./configure --disable-park
3. make

**chan-sccp version:** develop - eb9d8c8346767f3927a7794fa5ec91749ee062ee

**asterisk version:** 13.35.0

**Observed behavior:**
[code]

**Addition / Optional Information:**
Debian 10
Asterisk 13.35.0

[2020-09-18 09:49] #534 closed, assigned to nobody

[2020-09-18 09:49] #535 closed, assigned to nobody

[2020-09-18 09:50] dkgroot commented on #534
Thanks for reporting this one @pnlarsson

[2020-09-18 09:50] dkgroot commented on #535
Thanks for reporting this one @pnlarsson

[2020-09-22 10:28] dkgroot commented on #533
I do not know how to fix the second issue, to be honest (also i don't find it that problematic). The way remote hints is currently implemented, we don't have that precise controle about what and how remote calls are displayed.

[2020-09-23 09:57] drtmk commented on #533
Ok. Works fine.
We can leave the second issue. It's not that problematic.

[2020-09-23 10:16] #533 closed, assigned to dkgroot

[2020-09-23 10:17] dkgroot commented on #533
Merged into develop
Thanks again for reporting and testing !

[2020-09-24 09:16] bknv commented on #526
Hello @dkgroot .
I disable iptables and problem repeat.

In 09:44:34 between user 2867(sccp) and 3128(sip) created channel
[code]

and both user talk between themselves

in 09:44:36 i see state:INVVALIDNUMBER and next 2867 SCCP device stop all media
[code]

and 09:44:37 channel left 2867
`[2020-09-24 09:44:37] VERBOSE[5032][C-000001b3] bridge_channel.c: Channel SCCP/2867-00004516 left 'simple_brid

[2020-09-25 10:21] drtmk opened #536 "Wrong dynamic speed dials information during call transfer"
Speed dials show incorrect information at different stages of a call transfer.

**Consult Transfer**

1. Alice calls Bob, Bob answers and presses [Transfer] soft key button. Alice is put on hold. Bob gets a dial tone.
At this moment speed dials with Bob's extension show **Used remotely -> Bob**. It would be better to have just  **Bob** and red lamp at this stage. Used remotely is misleading.
2. Bo

[2020-09-25 10:40] gfreccia commented on #532
Thanks dkgroot!

So I've just to follow the Wiki? (https://github.com/chan-sccp/chan-sccp/wiki/Building-and-Installation-Guide)

        _git clone https://github.com/chan-sccp/chan-sccp chan-sccp
        cd chan-sccp
        git pull

    Compiling:

        To get started with configure please run (run "./configure --help" to get a list of all the possible configure flags)

        Note: Some of

[2020-09-25 10:41] dkgroot commented on #536
@drtmk I was afraid making changes to the way hints and dynamic speeddials were handled would have negative side effects in other parts of the code, and here they seem to be. It might be that transfer was not 100% mapped correctly on the dynamic speeddials before (don't remember).
Currently i am working on directrtp, so this will have to wait a little bit.

[2020-09-25 10:43] dkgroot commented on #532
Yes, good luck !

[2020-09-25 11:00] drtmk commented on #536
Speed dials during call transfer were also not working properly even before you made changes.

[2020-09-25 22:33] dkgroot opened #537 "Directrtp broken"
Working on fixing directrtp

References: #405
References: #532
References: #394
References: #391

[2020-09-26 05:54] gfreccia commented on #532
Hi!
The phone is the 6901 (not 6911), but I think it's the same.

[2020-09-26 07:18] dkgroot commented on #532
Why are you using directrtp=on in your default device config ? Is that actually required in your case. Currently directrtp seems to be quite broken (working on it). Please switch off directrtp, if you can for now (and check to see if you actually need it).

Note: i don't have a 6901 to test with (FYI).
Note1: I only linked to this issue report because yours mentioned "directrtp=on".

[2020-09-26 22:34] dkgroot commented on #526
@bknv I think there might be some issue with one of the schedulers not being cleared, producing the INVALIDNUMBER indication on timeout.

According to the log you provided the scheduled digittimeout should have been cancelled, but it was not 100% clear if this was actually succeeded.
[code]
On the first call it ought to have printed: "SCCP/2867-00004516: stop schedule digittimeout XX", but i did n

[2020-09-28 12:48] drtmk commented on #537
After holding a call, I cannot resume it. Softkey doesn't do anything, and on the console I'm getting warnings:

[code]

 ver. 4.3.2 issues/537 - 5fac962

[2020-09-28 14:20] dkgroot commented on #537
@drtmk Hmmm, i did not get that, but i will check it out in a bit, to see what would cause this. I take it that a simple call using directrtp does now work again (correct ?).

[2020-09-28 15:32] drtmk commented on #537
Before you made changes, I had no audio at all in both ways.
Now in a simple call scenario, audio works in both ways. I can hold a call and music on hold plays on the second phone, but I cannot resume it. Phone stops responding.

[2020-09-29 06:21] bknv commented on #526
Yesterday i switched to issues/526
I will write when the problem arises

[2020-09-29 12:28] dkgroot commented on #537
Can you set "sccp debug core, channel, rtp, pbx, socket" during testing ? I was not able to reproduce the 'resume' issue you saw, and you debug log was a little short for me to figure out what was going on in this instance.

[2020-09-30 06:21] drtmk commented on #537
Right now when running  4.3.2 issues/537 - f415823, asterisk shuts down when phone is trying to register:

[code]

I tried many times. Asterisk always shuts down.
I also restarted phones, to be sure they're not in some weird state.

Update:
When running asterisk -f, I can see an error:
```asterisk: sccp_utils.c:1504: sccp_copy_string: Assertion `NULL != dst && NULL != src' failed.```

[2020-09-30 09:59] dkgroot commented on #537
Ooh crap i guess this might be related with work i did in the last couple of days.
I just tested on mine, and it doesnt' crash here.

Logically it must be one of these lines:
[code]
Educated guess would point to "sccp_copy_string (cntxt, GLOB (regcontext), sizeof (cntxt));" as the culprit. It was using GLOB(regcontext) before checking if it was zero_length or not -> committed fix.

If the problem

[2020-09-30 12:55] drtmk commented on #537
Asterisk works now.
So this is the log when Alice calls Bob. Bob holds a call, and tries to resume it.
[alice, bob, hold, resume.txt](https://github.com/chan-sccp/chan-sccp/files/5305578/alice.bob.hold.resume.txt)

I was able to resume it, but it worked after few seconds after pressing [Resume]. And audio worked only from Alice to Bob.
Same thing happens, when Alice holds a call and tries to resum

[2020-09-30 13:37] dkgroot commented on #537
@drtmk Thanks for checking and testing. I will have another look at the resume.txt to see what is different between your system and mine. The delay during resume is a bit of an issue, but i am not yet sure how to prevent it. During directrtp we need to start and new openReceiveChannel and have to wait for it to come back, to see the ip-address and port used, before we can continue the handling of

[2020-09-30 13:58] dkgroot commented on #537
I have changed the handling slightly. Have not looked at the one way audio for now, just trying to get rid of the delay first.

On my machine it looks like:
[directrtp_hold_resume.log](https://github.com/chan-sccp/chan-sccp/files/5306061/directrtp_hold_resume.log)
note1: i am performing hold/resume from the commandline, to show the actions taken
note2: my test server is pretty slow and the timing

[2020-10-01 01:40] dkgroot commented on #537
Pushed another update making call resume asynchronous, so the waitForPendingRequest can be processed in a separate thread. This should take care of the timeout events you were seeing. Apparently my machine was slow enough for the phones to beat the race condition :-)

[2020-10-01 05:54] drtmk commented on #537
Good job. There's no delay right now. Phone behaves ok.
In a call transfer audio also works ok.
There's still a problem in one way audio after resume in cisco phones.
There's also one way audio between 79xx and SIP phone (using direct_media=yes in pjsip). Audio goes only from SIP to cisco. Direction of a call doesn't matter. Both phones are using g722.

Here's a log from a call from 100 (10.100.0.

[2020-10-01 10:20] dkgroot commented on #537
Ok will look into the one way issue. Looks like sip is declining the directrtp request while chan-sccp is still thinking that directrtp will succeed. The actual remote bridging is never started.

Also my solution to the delay, still needs a little tweaking

[2020-10-01 13:59] dkgroot commented on #537
Made some smaller changes. Fixed the resume function so the channel lock was taken and released correctly. Updated codec framing and ip-address/port updating. Ran a couple of tests with chan_sip. which seemed ok.

When posting your debug log, please grab it from /var/log/asterisk/full with core set debug 3 set, so we can see how/when asterisk is performing the remote bridging part.

[2020-10-01 16:48] dkgroot commented on #537
Still have not got resume back in working order. All the code is starting to get so convoluted :-(

[2020-10-01 17:43] drtmk commented on #537
Don't put a pressure on yourself. Most people will not use directmedia. It's not a big deal.

[2020-10-02 06:19] drtmk commented on #537
The only difference I see is that I can hear audio in both ways calling SIP phone. But I guess that doesn't use direct connection.
[sip.txt](https://github.com/chan-sccp/chan-sccp/files/5316251/sip.txt)
Any idea why they don't want to talk directly?

And here's a log from resume function taken from /var/log/asterisk/full. It's still one way audio.
[resume.txt](https://github.com/chan-sccp/chan-scc

[2020-10-02 10:16] dkgroot commented on #537
I think i finally figured it out. and al lot of stuff i did in the last week might have been superfluous  but we will see. I will have a look in a couple of hours and see what can be done.

[2020-10-02 13:44] bknv commented on #526
Sending log

[log.txt](https://github.com/chan-sccp/chan-sccp/files/5318293/log.txt)

[2020-10-03 07:10] dkgroot commented on #526
@bknv Thanks for the log. I have created a patch that should fix the issue in the current "issues/526" branch. Can you pull it and see if that solves the issue.

[2020-10-03 17:42] dkgroot commented on #537
@drtmk
Had to do quite a bit of moving code about and rethinking the solution to make it clean and nice again. Had to remove some of the earlier changes i made etc.
Have not dared to check how all these changes may have impacted "in-directrtp" to be honest :-). I hope i have done an ok job. I will check the fall out tomorrow.

[2020-10-03 18:08] drtmk commented on #537
I will be in my phone lab on monday.

[2020-10-03 18:10] dkgroot commented on #537
I had to test indirect-rtp with my new code, and low and behold it also works (with a tiny little patch)... => progress !

Now we just have to run a slew of test cases (simple call/hold/resume/park/transfer/pickup etc) to make sure they all work as well. Both direct and in-direct and see if we have any regressions.

actino | in-direct | direct | direct sip | direct + nat (remote office)
------- |

[2020-10-05 06:06] drtmk commented on #537
Using 4.3.2 issues/537 - 64a1b08 and directrtp enabled, there's no audio in both ways in a simple call.
But it starts working correctly when I make a hold and resume.
[call.txt](https://github.com/chan-sccp/chan-sccp/files/5325498/call.txt)

I would like to ask about above tests.
By call forward you mean use the CFwdALL softkey?
By conference you mean ConfBridge or that which is created from visua

[2020-10-05 06:18] dkgroot commented on #537
@drtmk I did not have simple call issues.

[code]
Media transmission should have been started during the SRCCHANGE Phase (Which is the new way of doing things in the latest commits). Something seems to be preventing this.

Oooh i only made the changes for asterisk-16/17 and none of the others. Not sure what you are using ?

Pushed another change to alter the if condition in AST_CONTROL_SRCCHANGE h

[2020-10-05 06:49] drtmk commented on #537
I will not have much time today to make these tests.

[2020-10-05 06:50] dkgroot commented on #537
That last change i made is not a good idea. I have not slept yet :-(. I think your system is preventing directrtp during bringing, but we can only review that in the `full` log.
No problem. I need some sleep first anyway.

[2020-10-05 09:33] bknv opened #545 "Cannot allocate memory. Failed to create new channel thread. Failed to start PBX :("
Hello.
After 3 week uptime on the server appears problem where all calls not created and in log i see Error/Warning:
`[2020-10-05 09:09:40] WARNING[2818][C-00003345] pbx.c: Failed to create new channel thread
[2020-10-05 09:09:40] WARNING[2818][C-00003345] chan_sip.c: Failed to start PBX :(
[2020-10-05 09:09:57] ERROR[2811] tcptls.c: TCP/TLS unable to launch helper thread: Cannot allocate memory
[

[2020-10-05 09:34] bknv commented on #526
Okey. Today i updating

[2020-10-05 20:13] dkgroot commented on #537
Figured out the cause, if the directrtp fails to be setup (for any cause) it will not fall back to in-direct like it should. Will need extra work. You can skip testing for now.

[2020-10-06 22:01] dkgroot commented on #545
This looks like an asterisk issue. Not (directly) related to chan-sccp.
Most C applications that run into memory allocations problems will exit/quit/give up, because once you run into a memory allocation issue, there is not easy way to get out of it. How would a user space program be able to control freeing some memory for it to use.
Even though you system does still have "free" memory, it might n

[2020-10-17 13:44] dkgroot commented on #526
@bknv Any new results ? Does the new branch fix the issue ?

[2020-10-19 08:24] bknv commented on #526
Hello, after update (14 day last) we are not see problem.
In the end of week i suggest to close issue if we will not get problem.

[2020-10-19 08:32] dkgroot commented on #526
@bknv In that case we should merge the changes. When changes are merged, the issue is automatically closed by the merge. I wlll wait until the end of the week, but it looks like we are pretty confident that the two small changes took care of the issue.

[2020-10-23 07:57] bknv commented on #526
It's all right. I don't see problem any more

[2020-10-23 13:15] dkgroot commented on #526
ok mergnig the change ! Thanks for reporting and testing !

[2020-11-09 23:24] ghost opened #546 "make runs into error: unknown field 'nonoptreq'"
Fresh Install of Asterisk 18 from Source on an ARMBIAN Stretch.

**Reproduction Steps:**

1. Download, compile and install Asterisk 18 including samples -No DAHDI or Other
2. Download current release of CHAN_SCCP from GH
3. Run configure with "--with-asterisk=[path to source files]"
4. run "make"
5. get error

**chan-sccp version:** chan-sccp-4.3.1
**asterisk version:** asterisk-18.0.1
**Expected

[2020-11-09 23:31] dkgroot commented on #546
Hi xJustmy2cents,

On 10-11-2020 00:25, xJustmy2cents wrote:

This is the issue. It's using "ast114" instead of "ast118".
Which git revision are you one. Should/Ought be one of the latest,
because asterisk-18 support was only added 2 weeks ago. From the result
you are showing asterisk-18 is not being recognised and the wrong ast114
directory/file is being used.

Please check your revision and bran

[2020-11-10 08:01] ghost commented on #546
Hello,
I took it from the GH WEbsite at this link:
![image](https://user-images.githubusercontent.com/44211254/98646086-25d5b980-2333-11eb-9b91-4552fdf3ffab.png)

I will check for your version and report back.
Thanks

[2020-11-10 09:13] ghost commented on #546
Solved.

I was able to download the "zeta" preRelease and it run w/o any issue.

Nevertheless I had to use "--with-asterisk" and point to the downloaded source folder.

Remark: For some user it is a hurdle to understand, that "asterisk-devel" is nothing else, than the source code libs provided on GH. Maybe you think about the error message, as the search results at the all-knowing-heap-dump return

[2020-11-10 10:40] dkgroot commented on #546
Hi xJustmy2cents,

Good to hear that !

Yep that is the one ! I would suggest you use git clone instead of a
prepared "zip" release though. I don't create (pre) releases often enough.

Aah you compiled asterisk manually, i see. A while ago digium change the
asterisk "make install" and it does not include the header files
anymore. You need to use "make install-headers" separately now, to
install th

[2020-11-10 10:42] #546 closed, assigned to dkgroot

[2020-11-10 10:53] dkgroot commented on #546
I updated the warning generated by the configure script hopefully the new one is a little more clear.
([See changes 8c04e4a](https://github.com/chan-sccp/chan-sccp/commit/8c04e4adf242688b4204211fface25b92947de47#comments))

Note: Running the bleeding edge asterisk-18 but using a chan-sccp release file does not make that much sense to me. I strongly recommend you switch to using the git develop bra

[2020-11-12 09:15] dkgroot commented on #545
Have you seen any more reports of this kind. Did you managed to resolve the issue ?

[2020-11-12 09:16] #526 closed, assigned to dkgroot

[2020-11-12 10:54] bknv commented on #545
Hello @dkgroot.
I did't recompile my asterisk with enabled malloc, because on this server use distro FPBX. I don't know how recompile FPBX with enabled malloc.
But...
I did update (FreePBX Framework and Core FPX to latest version) server 1 week last, because in log i seen Warning:
ast_expr2.fl: ast_yyerror(): syntax error: syntax error, unexpected '=', expecting $end; Input:

Today uptime server 1

[2020-11-12 11:14] dkgroot commented on #545
ast_expr2.fl: ast_yyerror(): syntax error: syntax error, unexpected '=', expecting $end; Input:

That is mostly likely caused when parsing dialplan logic i think...
Thanks for reporting and being willing to check/test.

[2020-11-12 11:17] bknv commented on #545
Link to issue https://issues.freepbx.org/browse/FREEPBX-20659

[2020-11-12 11:18] dkgroot commented on #545
I guess i guessed corectly. Seeing: `ast_yyerror()` was enough of a clue for me :-)

[2020-11-12 23:35] #545 closed, assigned to dkgroot

[2020-11-27 06:56] kuchka506 opened #548 "SCCP: Device 'SEP000000000000' not found in realtime table 'sccpdeviceconfig'"
Cisco 7940 registration rejected.
Do I've to set something on config?
Thank you!

### Log asterisk
[2020-11-27 09:28:40] NOTICE[5403]: sccp_session.c:386 session_buffer2msg:     -- SCCP: (session_dissect_msg) Incoming message is smaller(76) than known size(184).
[2020-11-27 09:28:40] NOTICE[5403]: sccp_actions.c:240 sccp_handle_message:     -- 192.168.4.75:2000: >> Got message Register Message (0x

[2020-12-17 23:06] TheROFL98 opened #549 "Unable to run ./configure on Raspberry Pi 4 Model B running Arch Linux, "ASTERISK_VERSION could not be established""
When running ./configure with or without options `--enable-conference --enable-video --enable-distributed-devicestate --enable-advanced-functions` it terminates with the message "ASTERISK_VERSION could not be established"

**Reproduction Steps:**

1. Install Asterisk, either through the AUR or from source.
2. Attempt to install chan-sccp from source following instructions on Readme (installing thr

[2020-12-18 07:12] dkgroot commented on #549
"-fstack-fno-fsigned-char" definitely looks wrong. I did a grep through the configure sources but could not find any reference to this string or "signed-char". I had though it would have been a faulty string concatenation but that does not seem to be the case.
We do re-use any CFLAGS set in the current environment being run. Can you check your CFLAGS and  CXXFLAGS ?

Or run:
[code]
To prevent reus

[2020-12-18 10:27] pnlarsson opened #550 "Segfault in ast_format_cap_append_from_cap"
Segfault with latest develop branch:

[2020-12-18 09:24:23] VERBOSE[15594][C-0000004e] app_dial.c: PJSIP/ngcore-00005786 is making progress passing it to SCCP/wid19985-00000174
[2020-12-18 09:24:37] Asterisk 13.38.0 built by root @ uc168 on a x86_64 running Linux on 2020-12-15 22:09:31 UTC

**chan-sccp version:** Skinny Client Control Protocol (SCCP). Release: 4.3.2 (HEAD - 76000de (built by 'root

[2020-12-18 12:44] dkgroot commented on #550
Hi Niklas,
I have been working on this exact problem for the last three weeks and we finally had a break through earlier this week.

***Git***
_Checkout this temporary branch_
[code]

_move back to develop afterwards:_
[code]

That should fix the issue. Please let me know if there are any side effects etc. It is a problem that seem to be very sporadic and takes the other company that reported it e

[2020-12-18 22:09] TheROFL98 commented on #549
Running the command with what you provided has given me the same error, so it would appear that this might not be an environment problem. Running the command with the flag `--with-asterisk-version=18.1` bypasses the version check, however this time it errors again with `Couldn't find asterisk/lock.h. No need to go any further. All will fail.` When checking the config.log I can see the same gcc err

[2020-12-18 23:00] dkgroot commented on #549
@TheROFL98

Have you tried to see which of the environment flags is the culprit ? You can use `set` to view the current environment flags provided.

If asterisk/lock.h is missing that would mean you do not have the asterisk-devel package installed or if you installed asterisk manually you have forgotten to run `make install-headers` when installing the asterisk binaries (This make command was adde

[2020-12-18 23:24] TheROFL98 commented on #549
I couldn't find anything useful by running `set` with and without grep, and I've already installed the headers with that method. I've actually been able to find the file under /usr/include as well as ast_version.h but still won't register with ./configure.

[2020-12-18 23:28] dkgroot commented on #549
Maybe you could find a way for me to get access to your sysyem over ssh and i might be able to figure out what is going on. We can try that tomorrow or so.

[2020-12-19 03:59] TheROFL98 commented on #549
That should work. Do you have or use an instant messenger?

[2020-12-19 09:54] dkgroot commented on #549
@TheROFL98
We have https://gitter.im/chan-sccp/chan-sccp if that helps (private dm are available there as well) and you will be on the main chan-sccp related chat at the same time. Or i have google hangout/email etc if need be.

[2020-12-19 11:19] dkgroot commented on #550
@pnlarsson
In regard of the seriousness and testing already done, i have decided to merge the changes into the develop branch. This will be done a couple of minutes from now. So the issues/segfault branch will be discontinued. You will only have to pull latest develop revision.

[2020-12-19 11:25] #550 closed, assigned to dkgroot

[2020-12-31 20:04] billsimon opened #551 ""ICONV_CONST" build error on latest develop"
Build fails on Debian 10 source install.

[code]

`configure` output is as follows:

[code]

[2020-12-31 20:44] dkgroot commented on #551
@billsimon I will look into this tomorrow. Need to figure out how to reproduce the error.
Do you have "gettext" and "gettext-base" (containing the "iconv" implementation) installed, including it's header files (/usr/include/iconv.h) ? Normally when the configure script finds the gettext/iconv installed files, it will generate an entry in src/config.h containing something like:
`#define ICONV_CONST

[2020-12-31 21:05] billsimon commented on #551
It's my mistake; I did not have gettext installed.

configure had shown this, which scrolled away and did not cause the script to abort:

./configure: line 18232: AM_ICONV: command not found
checking for main in -liconv... no

[2020-12-31 21:08] billsimon commented on #551
[config.log](https://github.com/chan-sccp/chan-sccp/files/5758277/config.log)

[2020-12-31 21:20] dkgroot commented on #551
Ooh ok so issue "fixed", but i should still make sure the configure script aborts when it detects the missing gettext issue.

Good luck setting up and using chan-sccp.

I will leave the issue open until tomorrow so i can commit a fix for the configure script.

[2021-01-01 00:03] #551 closed, assigned to dkgroot

[2021-01-01 12:37] dkgroot commented on #549
@TheROFL98
The cause for the issue was a broken asterisk.pc file in /usr/lib/pkgconfig containing a non existing compiler flags:`-fstack-fno-fsigned-char`. After manually editing the file the compilation of chan-sccp worked without a hitch. We need to figure out what/who is responsible for the broken asterisk pkg-config file and inform them.

I am guessing that [mkpkgconfig](https://github.com/ast

[2021-01-01 12:51] dkgroot commented on #548
Sorry i overlooked your issue report and i took a while longer to get to it. Is the issue still present or was it already resolved ?

The problem is in sccp.conf:
`devicetable=sccpdeviceconfig`
devicetable should be refering to the name `extconfig_custom.conf` name of the entry which is `sccpdevice`. It should not be pointing at the view in the database.

So update sccp.conf to use:
`devicetable=s

[2021-01-01 12:52] #512 closed, assigned to dkgroot

[2021-01-01 12:55] dkgroot commented on #510
@mpaland Can you check with the latest develop version to see if the issue is already resolved, I managed to find a couple of small potential leaks a couple of weeks/days ago (mostly related to phone re-registering over and over).

If the issue is already resolved, please close the issue report. If not we need to spend a little more work on reproducibility.

[2021-01-01 12:56] #522 closed, assigned to dkgroot

[2021-01-03 14:26] mpaland commented on #510
Test with 066a14a is in progress.

[2021-01-03 18:09] mpaland commented on #510
While installing this update, I rechecked the memory graph. Have a look:
![chan-sccp memory](https://user-images.githubusercontent.com/763140/103485192-ebe5d880-4df4-11eb-83ad-7ca199a9672c.jpg)
I installed ad4e0deae676ef97525eada867a8ba6a7dc2220a on Nov 14th and as you can see it improved the memory issue significantly! The zigzags represent asterisk restarts, mostly together with an update.
I obs

[2021-01-03 19:25] dkgroot commented on #510
Thanks Marco,
That really does confirm the issue looks to be resolved.

[2021-01-03 19:43] dkgroot commented on #549
@samalero As you seem to be working on raspbian as well, have you noticed a similar issue and/or broken /usr/lib/pkgconfig/asterisk.pc file ?

[2021-01-05 12:45] mpaland commented on #510
Compared to older versions, it's way better, but a small memory leak problem is still present.
Have a look, the pink area is increasing slowly:
![chan-sccp memory 2021-01-05](https://user-images.githubusercontent.com/763140/103647560-ccb58b00-4f5b-11eb-8204-f5a7d7cd211f.jpg)
On machines with a similar setup, but without chan-sccp, the pink memory line is absolutely flat.

[2021-01-05 17:28] dkgroot commented on #510
Hi Marco,
Ok i will try to figure out where the leak might be. I might need a little help in form of configure options used and of a sccp.conf if i cannot find it with mine. Thanks for keeping an eye on this !

[2021-01-05 19:06] mpaland opened #553 "No audio on both sides with devices on different subnets"
This is a bug I observed after upgrading from asterisk 13 to 16. I don't use this scenario very often, so this bug is not so hard for me, but it may result in other RTP problems somewhere.
Two different subnets are involved here, so localnet is set to `localnet = 192.168.0.0/255.255.0.0`, but other settings didn't change the result.

The setup is:
[code]
**Reproduction Steps:**
1. <23> is calling

[2021-01-05 19:10] mpaland commented on #510
Compiling and setting up a testversion for the production system with DEBUG_MALLOC to identify the cause.

[2021-01-05 19:12] dkgroot commented on #510
Hi Marco,
I think i found one if i do:
[code]

[dkgroot:/data … rces/chan-sccp/src] develop(+1/-1)+* 😊> ./collect_memleak
[code]
Simple guess is that we are subscribing but not unsubscribing. I will loook into this one tomorrow.

The collect_memleak script is nothing fancy and depends on asterisk:DEBUG_MALLOC:
[code]

[2021-01-05 19:19] mpaland commented on #510
This system is mostly idle, no restarts/reloads etc for days/weeks. Just a few external calls.

[2021-01-05 19:21] dkgroot commented on #553
@mpaland I will review the log tomorrow, to see what is going on. Sorry i have no quick idea. I am guessing we are using a wrong RTP source or destination somewhere in the flow. Thanks for reporting the issue and providing a detailed log.

[dkgroot@devserver:/data … rces/chan-sccp/src] develop(+1/-1)+* 😊> grep "192.168" mpaland.log
[code]

[2021-01-05 19:24] dkgroot commented on #510
You might be able to use the same script (or a version that collects multiple captures, 1 per hour and diffs against previous).
The devstate subscription might leak on a device re-register. If that is the case, we could could the number of occurrences and see if they add up to 144 bytes per re-register to confirm it's only the devstate subscription or if there is another somewhere else.

[2021-01-05 19:32] dkgroot commented on #553
Ooh you already figured out the cause.

chan-sccp is creating the rtp instance on the wrong interface. It should have created something like 192.168.1.210:36518 instead.

A quick fix on your server would/might be, if you would allow ip_forwarding between the two local interfaces in sysctl.conf: `net.ipv4.ip_forward = 1`.

But chan-sccp has to be fixed to do the right thing. I will have to do a lit

[2021-01-05 22:35] #549 closed, assigned to dkgroot

[2021-01-05 22:39] dkgroot commented on #548
This should resolve the issue (if you did not fix it already). Closing the issue report for now. If you are still running into a problem after making this change, please reopen the issue.

[2021-01-05 22:39] #548 closed, assigned to dkgroot, kuchka506

[2021-01-05 22:40] mwllgr opened #554 "Phone freezes after it receives 2-way auto-pickup call from another phone"
I observed this behaviour several times now. A Cisco 7970 just kinda "freezes" and I have to restart my Asterisk server to get everything working again when I call it using auto pickup. I currently don't know if it's only because of the aa2w and will get some more debug information when the problem occurs again.

**Reproduction Steps:**

1. _203_ calls _2202_ (which is _202_ with `aa=2w`)

**chan-

[2021-01-05 22:44] dkgroot commented on #554
@mwllgr Assuming the state is not easily reproducable it might take a while for the issue to re-occur and it might take a while for us to figure out the cause. Please report back when the state occurs again. If possible do not reset the device immediately so we may collect a little extra data.

[2021-01-05 23:47] mwllgr commented on #554
The bug just reappeared. This time I am calling from another 7970 with extension 201. Here's an Asterisk log with `sccp debug core, channel, pbx, action`: [https://p.kll.li/?f44e0837a369be53#EFho1UqWG9NymT98gXesU1GgJsSmrRgx4upMjza6z35d](https://p.kll.li/?f44e0837a369be53#EFho1UqWG9NymT98gXesU1GgJsSmrRgx4upMjza6z35d)

This time, the softkeys on 202 just disappeared after some time and I wasn't able

[2021-01-05 23:53] dkgroot commented on #554
@mwllgr I will look into this tomorrow or the day after, to see what i can find. The softkey translations are not really need btw, i do speak and read German just fine, but thanks anyway :-)

If the chan-sccp was not up that long, maybe you can attach the full log from the moment the server or the chan-sccp module was loaded.

[2021-01-06 00:27] dkgroot commented on #554
As this is an auto answer call, it might be a simple matter of an unreleased refcount that is incremented on the first call and then causing trouble on subsequent calls. The incremented refcount would cause the first channel not to be hungup completely, and it would remain attached to the line. I think that should be easy to check and hopefully equally easy to fix. We can check `core show channels

[2021-01-06 12:37] dkgroot commented on #554
I see this in your error report
[code]
And "DIALING" is clearly the wrong state, because the call was auto answered and should be in the CONNECTED state instead. I am having a little trouble reproducing the issue though.

[2021-01-06 12:59] mpaland commented on #553
`net.ipv4.ip_forward` was/is already set, as the system is mainly a router, but a good idea anyway.
The whole issue is a bit strange, I attach a second log, where <23> is calling an outside party via PJSIP.
This is working as expected. [23 to ext party log.txt](https://github.com/chan-sccp/chan-sccp/files/5775842/23.to.ext.party.log.txt) So the tunnel interface seems not to be the problem here.
Un

[2021-01-06 13:06] dkgroot commented on #553
I assumed as much, and net.ipv4.ip_forward should of course not be a requirement for things to work. What is a little strange is that asterisk is receiving packets, but not relaying them. Even if the rtp_instance is connected to the wrong interface.
Steps to fix:
1. figure out a way to reproduce the effect / network situation. Might be as simple as setting up two ip-addresses on one interface and

[2021-01-07 15:04] mpaland opened #555 "Problem with configuration template"
I'm observing a (IMHO confusing) behavior in the configuration when using a template.

**Reproduction Steps:**
Following template (codec selection is relevant) ;
[code]

Looking at the device:
[code]

**chan-sccp version:**
Latest

**asterisk version:**
16.15.1

**Expected behavior:**
[code]

**Observed behavior:**
IMHO the detailed/specific device config should override the general default templa

[2021-01-07 15:05] mpaland commented on #553
Seems to be codec selection problem, somehow. I'm still testing.

[2021-01-08 11:37] mpaland commented on #553
Adding codec setup in the [general] section fixed the problem.
[code]
It seems, that without these lines alaw is taken as default codec, which leads to the rtp problem.
I leave this issue open to investigate this a little further.

[2021-01-08 12:00] dkgroot commented on #553
Hi Marco,

Some sections and entries have defaults and they do have an inheritance tree, to propagate defaults and or settings. If i understand correctly you had no codecs set in the [general] section so that would default to `allow=ulaw, alaw` i presume. I take it you did not have disallow/allow on the device level and only set it on the line level (correct).

I do not understand how that could c

[2021-01-08 12:11] dkgroot commented on #555
Hi Marco,

I agree with you that if disallow is repeated in the derived section, it should cancel out all previously set values. I did run several tests in the past to make sure this happens, apparently this is not the case at this moment (based on your tests), and it should be fixed.

Note: disallow/allow has move to the line level as of the beginning of last year, to allow you more control over

[2021-01-08 12:26] dkgroot commented on #555
Partially related to #553

[2021-01-08 17:03] dkgroot commented on #555
Branch: `issues/555`

Tested
[code]
Parsing result:
[code]
sccp show line 98031
[code]

Logically this should also correct the behaviour you found. Please let me know if that fixes both #555 (and #553 as a side effect)

[2021-01-09 18:19] mpaland commented on #555
Hi Diederik,
thanks a lot for this useful information. I didn't know, that codec selection in the device section has been deprecated. Good to know (and makes sense).

My old setup was just an entry in the device section and as this is deprecated, I don't treat it as an valid setup anymore.

New setup is now:
[code]
I run several tests with branch/555, and from the point of the config parser is loo

[2021-01-09 18:24] dkgroot commented on #555
Hi Marco,
Thanks for switching to line level codecs and testing the config parser change. I will merge the change in a little bot. I will still have to figure out the 553 issue with default values in the general block.

[2021-01-09 18:25] #555 closed, assigned to dkgroot

[2021-01-09 20:44] mpaland commented on #553
You are right, I had no codecs in the [general] or in the [line] section, just in the device section template.
I assumed, the device would override the [general] level.
Okay, this was wrong an therefore an invalid setup, my mistake.

But I don't understand, like you, why one way RTP happened.

Anyway, for the following test, I'm using this (valid) config:
[code]

Line 21 status gives only the ilbc

[2021-01-10 12:37] mpaland commented on #553
Seems to be an ilbc codec related problem. Other codecs work fine.

[2021-01-10 16:20] bknv commented on #423
@dkgroot Hello.
I have the same problem, but on phone 7940
I can help you?

Skinny Client Control Protocol (SCCP). Release: 4.3.2 develop - 76000de

[2021-01-10 16:25] dkgroot commented on #423
@bknv I never heard back from the previous person who reported this issue.
- "Private Call" in the caller's phone or the destination ?
- Running FreePBX as well ?
- is "private" enabled and or used on the phone
Can you collect some sccp debug logging with "sccp debug core, channel, pbx, indicate, callinfo" that will show the issue ?

[2021-01-10 16:26] dkgroot commented on #553
Hi Marco,
I never really used/test with ilbc. I need to make a little time, to research this. I did have less this weekend then i hoped.

[2021-01-10 16:50] bknv commented on #423
@dkgroot
- "Private Call" show in incoming and outgoing call. Send you photo
![photo_2021-01-10_19-39-30](https://user-images.githubusercontent.com/49523505/104128985-9329b900-537b-11eb-8cf0-1f777e4a0913.jpg)
- Yes, FPBX 14.0.13.40
- I use sccp_manager, and switch "Private Calling" to Off. Right? In /etc/asterisk/sccp.conf also private=off
[sccpdebug.txt](https://github.com/chan-sccp/chan-sccp/fil

[2021-01-10 18:12] mpaland commented on #553
Hi Diederik,
no rush. I used ilbc a lot over VPN connections, cause it has a good sound quality while having low bandwidth, a fairly goog jitter / packet loss tolerance and is supported out of the box on most Cisco phones.
I have no G729 license (therefore I removed it from the codec list), so that g722, alaw, ulaw and ilbc remained. To test transcoding, I locked the line to ilbc - which is not wo

[2021-01-11 15:26] dkgroot commented on #553
Hi Marco,

I think we might have a mapping issue with asterisk ilbc and cisco ilbc. Most to the codec mapping has been done based on the name only, without knowing for sure. For example is asterisk ILBC the same as what Cisco calls "G.729B Low/ILBC", that is a bit of a question (also both ilbc20 and ilbc30 seem to exist, but asterisk doesn't make that distinction). When both sides use the same, it

[2021-01-11 16:23] mpaland commented on #553
Interesting, I didn't know, how codecs are mapped - my first guess would have been by a fixed codec code.
I don't understand why Cisco calls iLBC "G.729B Low/ILBC", as iLBC is not related to G729.
Anyway, I see the problem. Can you substitute Cisco's name by "ilbc" before processing it any further in asterisk?
Perhaps we should open a new issue for that.

I still think this issue here is/was the r

[2021-01-11 16:38] dkgroot commented on #553
It's complicated :-)

as you know we don't have any of the cisco source code, so we don't really know what they call it. Most off these values are based on somewhat educated guesses, phone debug output, asterisk output etc. Maybe because the ILBC codec was added later and inserted in the middle of an existing enum (first free position) and we didn't know exactly what it was yet i guessed that it m

[2021-01-11 17:23] dkgroot commented on #553
@mpaland You did run asterisk-13 + latest chan-sccp develop  + ilbc without trouble correct ? If so i can see what it does differently. Note codec parsing on the asterisk side has changed quite a bit since that time. The codec mapping between skinny and asterisk for ILBC seems to be correct, even thought the string "G.729B Low/ILBC" was a little confusing. The payload mapping between skinny and as

[2021-01-11 18:47] mpaland commented on #553
Jeeez, I see.
Unfortunately I haven't used ilbc that explicit like in the test, it was always in the list among the others, so I don't know what coded was finally chosen, but I guess it wasn't ilbc.
I used it explicit a few years ago with my old UC520 but not since then. I just had the idea to test and use it again, therefore the test.
I didn't intend to open up a huge problem/programming session

[2021-01-11 19:24] dkgroot commented on #553
Hmm ok. I can run a short asterisk-13 test tomorrow. Maybe ilbc never really worked in combination with chan-sccp and asterisk. It's not a supported codec in chan_skinny (so cannot cheat a look how they do it).

I would like ilbc to work as it sounds like a good tradeoff between size and quality. I just never looked into it that much. I have a couple of idea, but i just tested sip (jami)-sip (ikeg

[2021-01-11 19:31] dkgroot commented on #423
It's interesting that this only happens to a small amount of people. Maybe it's firmware related or something in the SEPxxxx.cnf.xml file. I am not sure where to start to figure this out. You sccpdebug contains:
`presentation: CallerId Presentation Allowed` in every block of callinfo. So it's telling the phone to show the callerid information. I would assume that when you look in the Phonebook His

[2021-01-11 23:17] dkgroot commented on #553
I besides the codec & payload it looks like cisco also sets certain parameters for some of the codecs (like max bitrate / frames size / etc). I currently don't know what they are but someone might be able to capture some tcpdumps.

I also set the payload number to 86 for ilbc on the asterisk side to use the cisco number, instead of the asterisk value for the payload which is 97. I am not sure if t

[2021-01-12 06:09] bknv commented on #423
Firmware 8.1(2)SR2, name P0030801SR02
[SEP000750AC6141.cnf.xml.zip](https://github.com/chan-sccp/chan-sccp/files/5800076/SEP000750AC6141.cnf.xml.zip)

[2021-01-12 11:04] mailanetworks commented on #423
You can update your firmware and it'll fix it.

Att,

[2021-01-12 14:14] bknv commented on #423
@mailanetworks This is latest version firmware
You think problem in firmware?

It device work with Cisco Unified Communications Manager Express version 10.5 normaly

[2021-01-12 16:15] mpaland commented on #553
I tested branch/553 and it's not working, no RTP flow.
Below is the trace from <23> to *43, device to device is the same.
[code]

[2021-01-12 17:28] dkgroot commented on #553
Hi Marco,
I was not expecting it to work / change anything. It's a work in progress. Sorry about making your test it. I think we might need some tcpdump from a work call manager to see how cisco sets up ilbc on the phones.

[2021-01-12 17:30] dkgroot commented on #423
I don't know to be honest. Can you make a packet-capture/tcpdump/wireshark for this device when it is connected to a CME so we can see what it might be doing differently ?

[2021-01-12 18:08] mpaland commented on #553
Ah, I see. Okay, that's no problem, I grab my old Cisco UC520, hope that any Flashcard is still working, create an iLBC call and record it.
By the way, if you have any usage for further analyzing this PBX, I can donate it to you.

[2021-01-12 18:30] dkgroot commented on #553
Hi Marco, Thanks for gathering that capture information. I am not really looking to collect more hardware at the moment :-) Also to keep keep to the reverse engineering state, it might be best not to have direct access to any cisco hardware like that.

[2021-01-13 07:15] bknv commented on #423
@dkgroot
[G.zip](https://github.com/chan-sccp/chan-sccp/files/5806971/G.zip)

[2021-01-14 00:05] dkgroot commented on #423
@bknv:

Thanks for the tcpdump, that makes live a lot easier.
[code]
Asterisk CallInfo Packet:
[code]
So "partyPIRestrictionBits" field is the cause, and that makes sense, that what these fields are for. Somehow we are converting "CallerId Presentation Allowed" to "F00000000" instead of "00000000". I already looked for that yesterday, but apparently i missed something. If i cannot find it, i will

[2021-01-14 00:19] dkgroot commented on #423
I have reverted a previous patch which logically solves the issue. Based on the data you provided this should just work as it was originally. I left the previous code in place in case there are issues with some 7920's in the future for which the original change was made.

[2021-01-14 00:19] #423 closed

[2021-01-16 17:01] dkgroot commented on #532
No response for some time ! We closed this issue for now.
If/when necessary, do reopen the issue please.

[2021-01-16 17:01] #532 closed, assigned to dkgroot

[2021-01-18 11:42] mpaland commented on #553
I'm really sorry, my old UC520 doesn't exist anymore, I wasn't able to find it, probably it got trashed in the last cleanup. 😞
Perhaps someone else with access to a call manager could provide the necessary trace, we should ask on the mailing list.

[2021-01-20 00:53] dkgroot commented on #553
I guess we will have to ask around. Sorry to hear you misplaced your UC520

[2021-01-20 06:41] bknv opened #556 "Unable to build realtime line. line 1702 does not exists"
Hello. I Have is 4 device cisco 7965. SEPA4563041E538,SEPA4563041E763 Link to line 1 extension 1702 and SEPA4563041DDB8,SEPA4563041E3C9 Link to line 1 extension 1623. After start asterisk i get problem with connected line to device.

For example:

After start server, device SEPA4563041E538 (link to 1702) and SEPA4563041E3C9 (link to 1623) load normaly, but device SEPA4563041E763 (link to 1702) and

[2021-01-20 10:38] dkgroot commented on #556
@bknv
Just like you check the sccpdevice information, can you run:
`realtime load sccpline name 1702`
`realtime load sccpline name 1623`

[2021-01-20 21:11] tomquinn04 opened #557 "Access visual parking lot by the 'Park' softkey"
Following a conversation with @dkgroot in [gitter](https://gitter.im/chan-sccp/chan-sccp?at=60089286cae490555f58cf92)

For using the visual parkinglot without taking up a BLF key for phones such as the 7940 with limited BLF keys.

[2021-01-20 21:19] dkgroot commented on #557
We could re-use the standard 'park' softkey to show the visual parkinglot information when there is no call present on the phone. It would be similar to the visualparkinglot button functionality with 'RetrieveSingle' park turned off.

[2021-01-21 19:28] bknv commented on #556
@dkgroot result realtime load sccpline name 1702
https://pastebin.freepbx.org/view/7f471a55

[2021-01-21 20:31] dkgroot commented on #556
If that does generate output like it seems it does, then the registration process should just work. I don't understand why chan-sccp would not be able to find the sccpline table in question. What does sccp.conf: 'devicetable' and 'linetable' in the [general] section contain. You should normally not have them in your sccp.conf to get the default values. If you set linetable= to something else then

[2021-01-25 07:07] bknv commented on #556
[chan-sccp.zip](https://github.com/chan-sccp/chan-sccp/files/5864768/chan-sccp.zip)

[2021-01-25 12:07] dkgroot commented on #556
@bknv
The extconfig_custom.conf is wrong
[code]
should be:
[code]
Notice: asterisk uses "=>" not "=" to indicated a path or reference.

[2021-01-25 17:20] dkgroot commented on #557
posted a first attempt to implement visual parkinglot feature using the park softkey (in branch: "feature/visualpark").

Seems to be working nicely, except when dealing with multiple parked calls on a 8945. The cXML doesn't seem to be processed correctly. This needs a little more research.

- Added sccp.conf new parkinglot field for device to set the parkinglot name, standard-value:"default"
- Add

[2021-01-26 14:35] npanagiotidis81 opened #558 "ast111.c: SEP00235EB6C453: Asked to transmit frame type 2 ('dahdi_read') with no samples."
[Short description of problem here]
hi , while my pbx is working without issues i can call i can recieve calls , on logfile i got this message for every phone (7960g) that got a live line  , my logs is flooding from this , can we think what can be ?
[2021-01-26 15:59:03] NOTICE[20962][C-0000023a] ast111.c: SEP00235EB6C453: Asked to transmit frame type 2 ('dahdi_read') with no samples.
[2021-01-26

[2021-01-26 16:13] dkgroot commented on #558
@npanagiotidis81
I guess this would do the trick:
[code]
it's  a bit of a simple patch, but tbh that debug message is not really adding anything to the process either.

[2021-01-26 17:09] npanagiotidis81 commented on #558
well its easy for you , its not easy for me , im a starter ! thanks for the reply but
as my pbx is issabel the location of ast111.c is /usr/src/chan-sccp-chan-sccp-968caa4/src/pbx_impl/ast111/ast111.c
i guess that if i gonna add this lines below it will be ok ? at line 840
![image](https://user-images.githubusercontent.com/78032162/105878624-e81b2f80-6009-11eb-9cae-b357c21a9264.png)

[2021-01-26 17:24] dkgroot commented on #558
@npanagiotidis81
Hi there,
Sorry about making assumptions.
In the sccp_astwrap_rtp_write function you can remove lines 860 and 861, which contain:
[code]
That should suppress the extra logging.I hope that makes a little more sense ?
In the meantime i will think about removing them in general.

Note: asterisk-11 support has been dropped by digiium some time ago and chan-sccp support for asterisk-11

[2021-01-26 17:36] #558 closed, assigned to dkgroot

[2021-01-26 17:38] dkgroot commented on #558
@npanagiotidis81
I have reconsidered the issue, and committed a patch to the repository.
You can do:
[code]
Thanks for reporting the issue and making me aware

[2021-01-26 19:08] npanagiotidis81 commented on #558
thanks for the support !

[2021-01-27 11:18] steve-lad opened #559 "AMI SCCPShowSoftkeySets returns duplicate ActionID in first table entry"
Using AMI

_Action: SCCPShowSoftkeySets
ActionID: 123123_

The first SCCPSoftKeySetEntry has the ActionID field duplicated.

_Event: SCCPSoftKeySetEntry
ChannelType: SCCP
ActionID: 123123
ChannelObjectType: SoftKeySet
ActionID: 123123
Set: default
Mode: ONHOOK
Description: On Hook
LblID: 0
Label: Redial_

All subsequent SCCPSoftKeySetEntry  are correct with only a single ActionID

_Event: SCCPSoft

[2021-01-27 11:25] steve-lad opened #560 "AMI SCCPShowSoftKeySets : No correlation between TableName and subsequent entries."
_action: SCCPShowSoftkeySets
actionid: 123123_

returns as the first message:

_Event: TableStart
TableName: SoftKeySets
ActionID: 123123_

and subsequent entries are

_Event: SCCPSoftKeySetEntry_

It would facilitate subsequent parsing and verification of message integrity if the event was directly linked to the TableName. ie

TableName: SoftKeySet
Event: SoftKeySet_Entry

[2021-01-27 13:30] npanagiotidis81 opened #562 "NOTICE[6113][C-00000001]: ast111.c:860 sccp_astwrap_rtp_write: SEP0011BB30A993: Asked to transmit frame type 2 ('RTP') with no samples."
[Short description of problem here]
hello again !!!!
i did what u proposed me , the previous notice stop to appears but now it appears this one , my machine is issabel pbx , with asterisk 11 and the latest version of sccp
i got some plans to update to asterisk 16 but till then any help is appriciated .

this appears in log while every sepxxxxx is on active line and for every second that passes

[2021-01-27 14:05] dkgroot commented on #562
@npanagiotidis81
Line 860 currently does not have that message any more. Make sure you are on revision:e0cb339 or revision:bbeed397 using
`git log -n1`

If need be, do a clean clone of chan-sccp and run configure/make again.

:+1:

[2021-01-27 14:18] #560 closed, assigned to dkgroot

[2021-01-27 14:19] steve-lad commented on #560
Please close this issue - it will give enormous backward compatibility issues with SCCP Manager.

[2021-01-27 17:40] dkgroot commented on #559
Created a branch https://github.com/chan-sccp/chan-sccp/tree/issues/559 can you have a look:
Have not found the stack overflow yet.

[2021-01-28 14:45] dkgroot commented on #560
Provided a backward compatible solution that is available for you to use as of this commit.

Enh: Added support for AMI Query Field "TableFormatVersion: 2" on table generating AMI Queries.

This will cause the TableStart Event to output the "TableFormatVersion: 2" when requested, like:
[code]

And will change the generated AMI Table output to use: "Event: SoftKeySet_Entry" instead of "Event: SCCPS

[2021-01-28 14:47] dkgroot commented on #559
I know you closed #560 but i came up with a nice solution that will allow use to make modifications like this, without to much trouble in the future.

Enh: Added support for AMI Query Field "TableFormatVersion: 2" on table generating AMI Queries. A request like:
[code]

This will cause the TableStart Event to output the "TableFormatVersion: 2" when requested, like:
[code]

And will change the gene

[2021-01-28 14:49] steve-lad commented on #560
Thanks but this is not necessary. Either way have to create a new eventClass so please put on hold for the moment

If you look at the present method, I already handle dynamic event types, but do not manage new event classes. I am working on this

[2021-01-28 14:51] steve-lad commented on #559
This is a nice format, but unnecessary. I am working on the receiving end and when I have it right, will ping you

[2021-01-28 14:52] dkgroot commented on #559
@steve-lad It does provide an optional path forward, in case we have more Format Changes that need to be made compatible on both ends. Also it's OPT-IN, so if you don't request it, you get the old behaviour, like expected.

***Git***
_Checkout this temporary branch_
[code]

_move back to develop afterwards:_
[code]

[2021-01-28 15:56] dkgroot commented on #559
Please let me know if everything is working correctly now and if we can merge this change. Thanks for making the issue known to me.

[2021-01-28 20:48] dkgroot commented on #559
@steve-lad I had to rebase the latest commit and force the subsequent push, to make sure the travis.org->travis.com transition was included (which is besides the point). It you did not pull the previous commit (6hrs ago) you should be fine. If you did pull the previous commit, there might be a slight issue, when trying to pull. You can delete the local branch (using `git branch -d issues/559`) in

[2021-01-29 18:36] bknv commented on #556
@dkgroot Hello, you are right.
I cannot understand how this could happen ...
I will be watching this file. If I find a reason then I will definitely inform you

[2021-01-29 18:53] dkgroot commented on #556
Ok closing the issue for now

[2021-01-29 22:19] gfreccia opened #563 "Error on installation"
Hi All,

I'm trying to install SCPP on Centos 6.6 with Asterisk 13.29.2 and FreePbx 13.0.
I've some error on configure, e.g. _astsbindir could not be found in /etc/asterisk/asterisk.conf.
done_ and on make j2:

_In file included from ast.c:17:
../../../src/sccp_session.h:18: error: redefinition of typedef ‘sccp_servercontext_t’
../../../src/sccp_globals.h:19: note: previous declaration of ‘sccp_se

[2021-01-30 08:44] #563 closed, assigned to dkgroot

[2021-01-30 08:45] dkgroot commented on #563
@gfreccia
To fix the astsbindir message you could edit /etc/asterisk/asterisk.conf and add a line to the first section declaring:
[code]

That will suppress the configure script complaining, but should not have an effect on the second issue. Centos' asterisk.conf has been broken in this way for a long time.

The compiler complaining about unrecognized "-Wno-format-truncation", would indicate an ol

[2021-02-01 17:19] dkgroot commented on #559
@steve-lad Thanks for reporting the issue(s). Change has been merged into develop now.

[2021-02-01 17:19] #559 closed, assigned to dkgroot

[2021-02-02 10:21] sgofferj opened #564 "7960s don't register completely when devstate button is configured"
I installed asterisk and chan-sccp after a hardware failure on a new Raspberry Pi. My 7960s don't register completely. sccp show devices show their regstate as "Progress" and depending on the asterisk version, interacting with the phones leads to deadlocks of the asterisk. My 7970 registers and works fine. I'll dig out an 7905 and an ATA for testing later.

**Reproduction Steps:**
unclear

**chan-

[2021-02-02 10:55] sgofferj commented on #564
![image](https://user-images.githubusercontent.com/3258466/106590567-e72c5580-6555-11eb-99bd-3b042c13a0e9.gif)
![CIP_0_2](https://user-images.githubusercontent.com/3258466/106590827-32deff00-6556-11eb-9df8-9c95e6bcb016.gif)

[2021-02-02 11:25] sgofferj commented on #564
7905 registers fine and works but the speeddials from the config don't show up in the phone.

Edit: On a hunch I removed a devstate feature button I had on the 7960 and they register and work fine now. The same devstate button works fine on the 7970 though.

[2021-02-02 13:08] sgofferj commented on #564
Recompiled now with asterisk 18.2.0 and latest git and same symptoms.Without the devstate button, the phones register fine. With the devstate button, they hang. I captured a full asterisk startup with the requested debug params:

[asterisk_start.log](https://github.com/chan-sccp/chan-sccp/files/5911296/asterisk_start.log)

About using a release from earlier this year - I actually used the 4.3.3 re

[2021-02-02 17:44] dkgroot commented on #564
After the devstate changes (middle last year), i ran all the tests on > 7961 and 89xx. Which would explain why it was not uncovered.
The registration process getting as far as it does would indicate the devices don't like one of the messages being sent to them.
Sorry it will take me a little bit of time before i can have a look and test it out on a physical 7960. Happy to see that without the devs

[2021-02-02 20:35] bknv commented on #556
Hello @dkgroot I was a little hasty with conclusions. I apologize
See what i found.

When asterisk start, device SEPA4563041E538 get line 1702, before device SEPA4563041E763 can't get line because "Line '1702' already exists."

`[2021-02-02 22:44:51] VERBOSE[18439] :     -- Added line '1702' to Glob(lines)`
`[2021-02-02 22:44:51] VERBOSE[18439] :     -- SEPA4563041E538: Sending ConfigStatMessage,

[2021-02-03 04:12] sgofferj commented on #564
If you tell me how to get a debug log from a 7960, I can probably produce one.

[2021-02-04 10:58] dkgroot commented on #556
@bknv Could it be you have two entries for this line, like one in the database and one in the sccp.conf file or something ?

[2021-02-04 11:03] Zw1d opened #565 "Is video over IAX trunk possible?"
Hi!
This is most likely not an issue with chan-sccp. I'm just hoping to get some clarification.
I have two PBXs in two locations (A and B) connected via IAX2 trunk. Local video calls work in both site A and in site B, but they do not work across the trunk (eg. call from site A to site B):

`SCCP => IAX-Trunk => SCCP`

This is the message I managed to pick up on receiving end:

`[2021-02-04 11:54:2

[2021-02-04 11:33] ojaksch commented on #565
Never tried this due to the lack of video phones. There was a parameter "videosupport=yes" in iax.conf on older versions of Asterisk but seems to be gone. Also, check the allowed/disallowed codecs in iax.conf. There are some in the [general] section as well in the friends/peers section.
To name a few possible codecs: h263, h263p, h264
Just my 2c.

[2021-02-04 11:39] Zw1d commented on #565
@ojaksch Thanks for the input. `videosupport=yes` is available in general IAX configuration and I think it works okay, but something happens to the stream that goes through the trunk so it's not accepted on the other end.

[2021-02-04 11:48] bknv commented on #556
In sccp.conf no device records.
Can they be duplicated somewhere else?

[2021-02-04 11:50] dkgroot commented on #556
I don't see how/where. You can restart asterisk and make sure no devices register. then do `sccp show devices` and `sccp show lines` it should return an empty list for both, if so you are only using realtime db. If you do get output, then lines/devices are stored in somewhere in /etc/asterisk/sccp*.conf or included into it.

[2021-02-04 12:30] bknv commented on #556
![image](https://user-images.githubusercontent.com/49523505/106892716-83dd2780-66fd-11eb-9617-43b67d78d387.png)
I use sccp_manager. Can it influence?

[2021-02-04 15:09] dkgroot commented on #556
That should not matter. sccp_manager only uses realtime db, And only having "Hotline" in there is perfectly fine. You can switch hotline off, if you don't use it.
So on the first register the line is not found and then on a restart of the phone it is. Very strange. but don't know exactly how that could happen to be honest.

[2021-02-04 22:10] sgofferj opened #566 "No speeddials for 7905"
I installed asterisk and chan-sccp after a hardware failure on a new Raspberry Pi. My 7905 doesn't show any speeddials although they are configured in sccp.conf. That used to work.

**Reproduction Steps:**
Setup speeddails for a 7905

**chan-sccp version:** (include revision and/or branch if relevant)
Tested with release 4.3.3 and latest git

**asterisk version:** (include revision and/or branch i

[2021-02-05 07:02] dkgroot commented on #566
@sgofferj I think i know which revision caused it.
I think the problem comes from revisions: bbeed39 and 31c25a. Both of them have to do with message parsing and little/big endianess.
Could you checkout e0cb339 to confirm that. If that works i should start by reverting these two changes.
Sorry for the inconvenience !

[2021-02-05 08:36] bknv commented on #556
I don't use hotline. It disable
![image](https://user-images.githubusercontent.com/49523505/107009138-af1b5180-67a5-11eb-8ab5-b215a4c24dc0.png)
Maybe there is a check for duplicate devices with lines in the sccp code?
Suspicious that it swears SCCP: Line '1702' already exists.

[2021-02-05 11:27] dkgroot commented on #556
@bknv Maybe we can setup a little ssh connection in the coming days, so i can do a little checking ?

[2021-02-05 17:18] Zw1d commented on #565
No progress so far, but I can confirm that it does work over SIP trunk. However SIP trunk config is a nightmare and I hate it.

[2021-02-06 07:47] dkgroot commented on #566
I think this might be directly related to #564. If you can confirm that everything was fin in this regard when you use revision: e0cb339 we should be able to undo those changes quickly and get everything back on track. To test it, it should be as simple as:
`git checkout e0cb339` and then `make -j2 && make install && make reload`

[2021-02-06 07:49] dkgroot commented on #565
@zipiju Can you run a little video test using two sip softphones over that IAX trunk. If that doesn't work either, we know it's an iax problem and chan-sccp is not involved. If it does work, then it points to a problem in the way chan-sccp and iax work together, to figure out codec support. Thanks for reporting this issue and testing it out.

[2021-02-09 14:04] bknv commented on #556
@dkgroot Yes. I can 10.02. If you will be restart asterisk, then only after 21:00 (+3) or saturday,sunday any time

[2021-02-09 20:57] sgofferj commented on #566
Will do. Going to take a few days, though - lots on my list atm.

[2021-02-10 09:02] dkgroot commented on #562
@npanagiotidis81 Any update ?

[2021-02-11 08:54] dkgroot commented on #556
I have committed the patch against the latest version of the develop branch. I will wait for your tests to see if the race condition during realtime line creation is fixed before merging it back into develop.

Я применил патч к последней версии ветки разработки. Я буду ждать ваших тестов, чтобы увидеть, исправлено ли состояние гонки во время создания линии в реальном времени, прежде чем объединять

[2021-02-12 20:17] bknv commented on #556
@dkgroot Hello. I switch to branch issue556
Skinny Client Control Protocol (SCCP). Release: 4.3.3 issues/556 - 85868e5 (built by 'root' on '2021-02-12 19:40:05 UTC')
Line not adding and now in log vanished message about error `sccp_line.c: SCCP: Unable to build realtime line '1702'`
in log has only
[2021-02-12 22:55:48] WARNING[5110] sccp_actions.c: SEPA4563041E763: line 1702 does not exists

[2021-02-13 07:23] dkgroot commented on #556
@bknv If everything works fine and you only see this message, then it might just be a spurious warning,  I did not make any change to the source in sccp_action.c. If it doesn't work correctly, let me know.
Note you switching to branch issues/556 will mean you are open to the AGI issue you have seen before.

[2021-02-13 13:34] abradfordcms opened #567 "[spurious issue] FRACK! / res_agi / hangup / segfault"
Asterisk crashes with ERROR[24577][C-00000058]: pbx_variables.c:1084 pbx_builtin_setvar_helper: FRACK!, Failed assertion bad magic number 0x0 for object 0x7fc4d0020330 (0)

**Reproduction Steps:**

1. End call via hang up on a Cisco 7975 on commit 16fd7da

**chan-sccp version:** (include revision and/or branch if relevant)

4.3.3 develop - 16fd7da

**asterisk version:** (include revision and/or br

[2021-02-13 14:10] bknv commented on #556
@dkgroot This is doesn't work. Line not adding

[2021-02-19 20:32] Ahh6483 opened #568 "Cisco 7912 Connection Help"
Hello there! I've got all my phones connection to the chan-sccp server working amazingly. I am having some trouble configuring the Cisco 7912, could someone help me out?
I'm struggling flashing the sccp firmware to the phone.

[2021-02-24 06:58] dkgroot commented on #556
@bknv Oh sorry it wasn't 100% clear. I am not sure what is causing your issue or what exactly is going on or how to help.

[2021-02-24 07:06] dkgroot commented on #568
@Ahh6483 I have no direct experience with setting up a 7912 phone myself. Can you tell me how far you have gotten ?
Do you have the `CP7912080004SCCP080108A.sbin` firmware file ? Is the phone still booting ? Is it requesting ip-address from DHCP ? Is it trying to retrieve some firmware files or non at all via tftp ?

Do you have a XMLDefault.cnf.xml file containing a line for the 7912 to find it's

[2021-02-24 07:44] dkgroot commented on #567
@abradfordcms
I am working on this issue. it was reported before and has been pretty hard to reproduce. We are closing in on the source of the problem though. It will take a while to figure out how to fix it though.

[2021-02-24 14:08] dkgroot commented on #567
Based on quite a bit of work and testing by @tomgilabert the most likely candidate of the cause for this issue was revision: 375ef06d91. To test this assumption i would like you to test this hypothesis using:

***Git***
_Checkout this temporary branch_
[code]

_move back to develop afterwards:_
[code]

The issue was also reported by @tomgilabert, @rofferman and @bknv

[2021-02-24 14:15] dkgroot commented on #567
backtrace (provided by @rofferman)
[code]

Logical analysis:
Because ast_pbx_run has been called we are dealing with a live channel, on which ast_hangup would be a no go. The new code introduced in revision 375ef06 does however introduce a new location for a potential ast_hangup. The agi handler is called by a hangup handler (see (bt16) : `macro-hangupcall`), which is happening after the channel h

[2021-02-27 02:29] Ahh6483 commented on #568
Thank you for your reply!
Sure, I first had the 7912 running SIP, before I found the chan-sccp. I am unable to get it into the mode where it will retrieve the firmware files. I've tried to reset the phone many times, it gets assigned an IP address from the DHCP server, but it is not looking for the files. In the TFTP root is CP7912080004SCCP080108A.sbin, XMLDefault.cnf.xml, gk0014f28dd38a, and the

[2021-02-27 07:40] dkgroot commented on #568
@Ahh6483
Ok so your XMLDefault.cnf.xml should contain the firmware reference from above, so the phone knows that to load.

## gkdefault
the gkdefault.txt file would have to contain something like:
[code]
And then you need to use cfgfmt.exe or ./cfgfmt.linux to convert this gkdefault.txt file to the actual gkdefault.cfg file.
[code]

The 7912 phone series is a little different in this compared to o

[2021-02-27 20:59] dkgroot commented on #568
Would you mind writing a little wiki page about the 7912 process, once you get it up and running ?

[2021-03-09 20:34] evazzoler commented on #568
It seems that 7912 don't like the config ti be repeated, specially the one with the callmanager IP. It reboots in a loop... Just remove it from SEP<MAC>.XML...
And about gkdefault.cfg it must contain upgrade info and connect mode only. Search chan-sccp wiki for 7912 for the correct config.
You will reset the phone (search the **2 exact procedure) in order to let it read the gkdefault.cfg and it wi

[2021-03-09 21:00] evazzoler opened #569 "Black screen on video call, but only in SIP -> SCCP direction"
Hi,
I have a Grandstream GXV3240 as SIP and a Cisco 8945 as SCCP.
All is working good except video.
When I videocall the SIP phone from the SCCP, all is good and normal (but the aspect ratio on the SCCP).
When I videocall the SCCP phone from the SIP phone, I get (not always) one frame then the screen comes black (the call remains in video mode).
The SIP phone writes ”poor network" on the display.

[2021-03-10 11:11] pnlarsson commented on #567
I might have run into the same issue:

[code]
[code]

[2021-03-11 18:16] evazzoler commented on #569
I activated the sccp rtp debug and this is the cli log:

  _-- SEPAABBCCDDEEFF: Got Start MultiMedia Transmission ACK. Status:'Media Status: OK' (0), Remote RTP/UDP:'192.168.1.37:21560', Type:DirectRTP, PassThruPartyId:4294967260, CallID:35/CallID1:35
    -- SEPAABBCCDDEEFF: Multi Media Transmission Started (State: CONNECTED[30])
[2021-03-11 19:08:15] WARNING[2927][C-0000002f]: res_rtp_asterisk.c:

[2021-03-14 16:02] dkgroot commented on #567
@pnlarsson Yes that looks like the same issue, can you try/test the branch i mentioned above ?

[2021-03-17 12:40] pnlarsson commented on #567
@dkgroot  - I now use that branch on this customers pbx and before I had one segfault a day - no segfaults since using this branch.

So it looks promising.

[2021-03-23 08:46] pnlarsson commented on #567
Yepp - no segfault since I used this branch - so it has fixed that bug.

[2021-03-25 17:46] pheinemeyer commented on #567
I believe I'm experiencing the same issue on two of my sites.

dmesg result:
asterisk[25877]: segfault at 10 ip 000000000058ca64 sp 00007f4631d06f20 error 4 in asterisk[400000+2e9000]

When this error occurs, the pbx resets on it's own within 1 minute. extensions are back up and running.  The issue happens about once a day when one user hangs up, but if other extensions were active on a call, they

[2021-03-26 06:13] bknv commented on #567
@pheinemeyer Hello. I also have a problem with the asterisk stopping after 1 week, but this was the case in previous versions as well. I have not yet been able to find out what affects this.
Do you have in the moment problem message Error or Warning in /var/log/asterisk/full?

WARNING[2818][C-00003345] pbx.c: Failed to create new channel thread
WARNING[2818][C-00003345] chan_sip.c: Failed to start

[2021-03-26 06:48] pheinemeyer commented on #567
@bknv Hello.  I have not seen the logs you identified.

When I checkout issues/567, after 4 days, the pbx hangs.  I have no logs when this happens.  I can ssh login and issue the fwconsole restart command to restore service.

For the segfault issue, I have the following var/log/asterisk/full log:

[2021-03-25 10:03:20] VERBOSE[25877][C-00000017] pbx.c: Executing [s@crm-hangup:1] NoOp("SCCP/203-000

[2021-03-26 07:26] bknv commented on #567
@pheinemeyer What happens in / var / log / asterisk / full when the server stops? Take a look at the previous files.
In order not to make a big discussion, I propose to contact me by mail bukan_pss@mail.ru or telegrams ID: nakuB

[2021-03-28 11:00] dkgroot commented on #567
Thanks guys for testing and reporting back. I have been abroad for three weeks and had little time to look/check back. From what i am reading above we had some mixed results but non that made the issue worse. @pnlarsson @pheinemeyer  Reported improvement. The memory leak was expected to be honest, because the original commit was created to combat that. I rather have a memoryleak then a crash. The

[2021-03-31 06:50] dkgroot commented on #569
@evazzoler Hi Enrico
Sorry that i have been so busy these last couple of days, i have just started a new job and have not had much time available. I have run some video tests in the past SCCP->SCCP and SCCP->SIP which mostly worked. You last post seems to indicate that `res_rtp_asterisk.c:7506 ast_rtp_read: RTP Read too short` invokes a safety measure shutting down video a little to early. I will

[2021-04-05 22:02] evazzoler commented on #569
It seems to be something linked to the screen definition. If I use a very low resolution, video will start. The strange thing is that both resolution and ratio will be different depending on the direction the call is made.
[OT] Do you think video preview is possible on a Cisco 8945 phone? I'm asking for using it in a door system. If that's not possible, maybe 8945 is not the right choice for me...

[2021-05-10 15:42] duartero84 commented on #496
Hello guys!
I am having this kind of issue too. I am running freepbx with chan-sccp and I would like to apply this fix.

The phone not full restarted, just the sccp session restarted ( according to the attached photo).
![IMG_5410](https://user-images.githubusercontent.com/83091733/117686012-d4e13980-b18c-11eb-92e2-3eeb71b820a4.jpg)

Please, can you guide me to apply this fix?
Rodolfo.

[2021-05-13 06:39] dkgroot commented on #567
Sorry it took a little longer to merge this branch. It has been pushed now though

[2021-05-13 06:39] #567 closed, assigned to dkgroot, pnlarsson, abradfordcms, pheinemeyer

[2021-05-13 07:27] dkgroot commented on #496
Please do these steps manually

#
***Git***
_Checkout this temporary branch_
[code]

_move back to develop afterwards:_
[code]

Report back when you got it working and the issue was fixed (or not), so that i can close this issue report and merge the "fix"

[2021-05-15 01:26] duartero84 commented on #496
Thanks for your supporting!

I have applyed the fix and than I will have monitoring so far for about the next three days.
Soon I will let you know to close this issue.

[2021-05-16 13:20] dkgroot commented on #568
@Ahh6483 Did @evazzoler comments help ?

[2021-05-16 21:52] Ahh6483 commented on #568
Yes they did! After a little bit of messing around with TFTPd I was able to get it successfully connected.

Thank you all!

[2021-05-24 12:57] dkgroot commented on #568
@Ahh6483 Would it be worth a little hardware 7912 article on our wiki ? Or was it just a case of RTFM ?

[2021-05-24 12:59] dkgroot commented on #496
@duartero84 The fix mentioned above has been applied to the develop branch and it no longer available separately. I am hopeing everything is ok with it. You should be able to switch back to the develop branch.

[2021-05-26 15:47] duartero84 commented on #496
Thanks @dkgroot for helping! All phones are working fine! I have a question for new installation of freepbx and chan-sccp. Should I apply the fix or will the released for the next version?

[2021-06-02 09:07] jkyawesome opened #570 "Cisco 7941 always shows GMT time"
[Short description of problem here]

**Reproduction Steps:**

1. [First Step]
2. [Second Step]
3. [Other Steps...]

**chan-sccp version:** (include revision and/or branch if relevant)

**asterisk version:** (include revision and/or branch if relevant)

**Expected behavior:**

[Describe expected behavior here]

**Observed behavior:**

[Describe observed behavior here]

**Screenshots**

(Screenshots

[2021-06-02 09:16] jkyawesome commented on #570
The 7941 is defaulted to factory setting (hold the # key 123456789*0#) and the phone resets but in the config(signed) there is SRST server entry that I can not get rid of. The ip address is the same as my TFTP server. If someone knows how to get rid of that config(signed) please respond. If there is another solution please let me know.

Thanks
James

[2021-06-02 09:16] #570 closed, assigned to nobody

[2021-06-06 13:40] TerAnYu opened #571 "Segmentation fault -"
**Reproduction Steps:**

[code]

**chan-sccp version:** 4.3.4_develop_r278be366

**asterisk version:** Asterisk 16.2.1~dfsg-1+deb10u2

**Expected behavior:**

[code]
[code]
Unfortunately, I do not know how to draw a more detailed conclusion.

**Addition / Optional Information:**
- Problem started happening recently, didn't happen in an older version of Chan-SCCP: [Yes]
- Problem can be reliably re

[2021-06-10 23:00] vaDrn opened #572 "sccp manager install error"
Error during installating of sccp_manager on FreePBX
![image](https://user-images.githubusercontent.com/48777021/121603986-d8265880-ca9d-11eb-82f2-3503e9dbb9de.png)

how to replicate:
1. download iso from https://www.freepbx.org/ and install as usual
2. run `yum install git asterisk16-devel autoconf automake gcc`
3. run `yum install tftp tftp-server* xinetd*`
4. download and install sccp-chan:
`cd

[2021-06-11 08:12] steve-lad commented on #572
@vaDrn Thanks for creating this issue. Unfortunately, it should be in chan-sccp/sccp_manager. Please can you move it there, if @dkgroot has not already done.

[2021-06-11 09:11] steve-lad commented on #572
@vaDrn  Thanks for very clear reporting. Issue was easily identified with this.

Issue is  fixed and merged into Develop. Please close this issue after verification.

[2021-06-11 22:35] vaDrn commented on #572
Got same error. Sccp manager download link I used:

https://github.com/chan-sccp/sccp_manager/archive/refs/heads/develop.zip

![image](https://user-images.githubusercontent.com/48777021/121754909-e9d53200-cb69-11eb-8191-dcc649c23c47.png)

[2021-06-11 22:51] vaDrn commented on #572
still got same error. I'll close issue here, and post on https://github.com/chan-sccp/sccp_manager/issues/12

[2021-06-11 22:51] #572 closed, assigned to nobody

[2021-06-21 07:24] vaDrn opened #574 "Cyrillic symbols support issue"
The phone displays gibberish instead of Cyrillic characters.
Was tested on phone cisco 7960

[2021-06-21 12:45] vaDrn commented on #574
cnf file of the phone generated by the `sccp manager`
[code]

[2021-06-22 02:45] vaDrn commented on #574
Device button settings:
![image](https://user-images.githubusercontent.com/48777021/122854425-d5621800-d367-11eb-8a4f-e3338780601b.png)

contents of the `sccpdeviceconfig ` sql table:
[code]

output of the `realtime load sccpdevice name` command:
[code]

[2021-06-22 02:49] vaDrn commented on #574
And just in case
asterisk log messages after trying to connect phone:

![image](https://user-images.githubusercontent.com/48777021/122855142-e19aa500-d368-11eb-9e6c-f3b8bac48194.png)
![image](https://user-images.githubusercontent.com/48777021/122855165-ebbca380-d368-11eb-98aa-c9003d504909.png)

[2021-06-24 09:36] steve-lad commented on #574
@vaDrn Please can you provide the output of ```realtime load sccpdevice name```  and the contents of the sccpdeviceconfig table from a server/device that correctly displays cyrillic text.

[2021-06-24 12:32] vaDrn commented on #574
`realtime load sccpdevice name xxx` command output:
[code]

CNF file contents (only removed ip):
[code]

[2021-06-24 15:25] steve-lad commented on #574
Thanks @vaDrn . I also need the contents of ```sccpdeviceconfig``` for this phone

``` SELECT * FROM sccpdeviceconfig WHERE name like 'SEP003094C3CA7E'\G ```

and finally, are there any associated errors in the asterisk log?

[2021-06-24 20:28] vaDrn commented on #574
sccpdeviceconfig table contents:
[code]

On phone connection to old FreePBX I only got this error message:
[code]

[2021-06-25 05:22] steve-lad commented on #574
@vaDrn Thanks for your input. Could you try one more thing please.

For the test phone that displays 'gibberish' instead of cyrillic, could you update the ```version stamp``` in its SEP file (INCREASE its value) ie change ```<versionStamp>1624279375</versionStamp>``` to ```<versionStamp>1624279376</versionStamp>```

and then restart the phone manually (via a power off for example).

You should see

[2021-06-25 07:21] steve-lad commented on #574
@vaDrn The problem that you are facing is that you are missing a required package for chan-sccp on your install (if you want to use cyrillic).

Please install ```libiconv ```  and then  rebuild chan-sccp;  the configure should report that it has found it.

Let me know if that works by closing the issue

[2021-06-25 23:15] vaDrn commented on #574
Not sure if I'm doing it right, but still got the same issue.
What I did:

following install instructions on `https://www.gnu.org/software/libiconv`:
[code]
`ls -la /usr/local/lib` shows that `libiconv` files are there
after that:
[code]

Still got gibberish. Couldn't find any `libiconv` mentions in chan-sccp install output

I also tried to install `libiconv` into `/usr`:
[code]
`ls -la /usr/lib`

[2021-06-26 05:44] steve-lad commented on #574
@vaDrn chan-sccp I think that there is a bug in the installer. Are you using the latest version of chan-sccp?

[2021-06-26 06:00] vaDrn commented on #574
No it wasn't latest version. I just made `git pull` on `usr/src/chan-sccp` folder (`develop` branch)
and run config, make, make install. Still no mention of `libiconv` in output. I don't have physical access to phone itself to reconnect it and check. But I will be able to test it 15-16 hours later.
sccp version I have rn:
![image](https://user-images.githubusercontent.com/48777021/123503746-f51b78

[2021-06-26 07:34] steve-lad commented on #574
@vaDrn OK - using that latest version:

Make clean
Then edit configure

at line 24053 you should see

```$as_echo "#define HAVE_ICONV 1" >>confdefs.h```

change this to

```$as_echo "#define CS_HAVE_ICONV 1" >>confdefs.h```

then ./configure etc - now should work

[2021-06-26 07:49] vaDrn commented on #574
Done. Will check I soon as I can, and reply here

[2021-06-26 08:11] steve-lad commented on #574
@vaDrn Moved issue to chan-sccp/chan-sccp

[2021-06-26 15:36] steve-lad commented on #574
@vaDrn Before testing, forget the post and redownload chan-sccp and build again

This issue has now been fixed in chan-sccp and should be resolved

Thanks for reporting this issue and please close this issue if it is effective

[2021-06-26 22:45] vaDrn commented on #574
@steve-lad @dkgroot
Getting error during last update install of `chan-sccp`.

What I did:
1. I updated `sccp manager` via FreePBX GUI
2. Installed libiconv:
[code]

3. Updated `chan-sccp`
[code]

results in error:
[code]

I also tried to install `libiconv` into `/usr` like this:
[code]

as result - same error during `chan-sccp` build.

I'll try to roll back to previous `chan-sccp` update and try c

[2021-06-26 23:40] vaDrn commented on #574
I found info that `iconv` is included into `glibc-common` package for centos7
this package is preinstalled on Sangoma FreePBX
![image](https://user-images.githubusercontent.com/48777021/123528551-36a93300-d73c-11eb-9178-5509303a4b77.png)

do I still require to install `libiconv` manually?

[2021-06-27 03:02] vaDrn commented on #574
I'm using Sangoma FreePBX rn, and command `yum provides */libiconv.so.2` output shows that there are no package that provides this library. And searching for CentOs forums I found info like this, quote:
[code]

do I really need this library?
Cuz I have 2 year old install of Sangoma FreePBX without any 3rd party `libiconv` installs and Cyrillic symbols work just fine there.

[2021-06-27 04:50] vaDrn commented on #574
I updated `sccp-chan` without installing `libiconv` on sangoma FreePBX. Cyrillic symbols seems to be working without issues.
Thank you for the help

[2021-06-27 04:50] #574 closed, assigned to nobody

[2021-07-09 05:37] dkgroot commented on #571
@TerAnYu
Can you do the following steps:
- edit /etc/asterisk/asterisk.conf and set `dumpcore=yes`
- stop the asterisk service
- start the asterisk server manually from the commandline using `cd /tmp; asterisk -f`
- when the segmentation fault happens a core file should be produced in the /tmp folder
- start the debugger using `gdb asterisk core`, wait for it to start up and enter `bt full` when y

[2021-07-10 22:11] stergios1 opened #576 "Unable to load module chan_sccp on Asterisk 18.5"
Unable to load module chan_sccp on Asterisk 18.5

**Reproduction Steps:**

1. asterisk -rvvvvvv
2. raspi4-pbx*CLI> module load chan_sccp
Unable to load module chan_sccp
Command 'module load chan_sccp' failed.
[2021-07-11 00:24:08] ERROR[9501]: loader.c:283 module_load_error: Error loading module 'chan_sccp': /usr/lib/asterisk/modules/chan_sccp.so: undefined symbol: stasis_subscribe

**chan-sccp ve

[2021-07-11 04:41] dkgroot commented on #576
@stergios1

`stasis_subscribe` should be available in both asterisk-16 and asterisk-18 as far as i know.

Did you compile asterisk-18 manually or downloaded it a a prepackaged binary ?
- It being raspbian i assume you manually compiled asterisk (correct?).
  - Did you run `make install-headers` during the asterisk install process. This is a required step which might be missing from some of the ins

[2021-07-11 04:45] dkgroot commented on #569
@evazzoler
At the moment we do not have much control about the resolution in use.
I don't think preview (video transmission during early rtp) is possible, i would not know how to achieve that.

[2021-07-11 04:46] dkgroot commented on #496
@duartero84 This branch was already merged

[2021-07-11 06:55] stergios1 commented on #576
Thank you Diederik!

Yes, I did compile the asterisk 18.5 manually.
Yes, It was an asterisk-16 installation and I performed an upgrade to 18.5.

This, finally, did the trick:  **make install-headers** (btw: the mwi.h file was missing)
Now the module is loaded and phones are back to normal.

[2021-07-11 06:55] #576 closed, assigned to dkgroot

[2021-07-11 07:54] dkgroot commented on #576
@stergios1 Thanks for the update...Note when you do an upgrade like this and you still have  the old sources available before you start, then run `make uninstall` before you remove for the old sources. Make sure the /usr/include/asterisk directory is empty and then start the upgrade process. You do not want to end up with mixed headers files.
Congrats on getting it to work.
Congrats on making it w

[2021-07-16 09:38] TerAnYu commented on #571
@dkgroot , I apologize that I answered for a long time.
[code]

[2021-07-16 09:47] dkgroot commented on #571
@TerAnYu
- You seem to be missing some symbol table information. Can you check if you have asterisk-dbg or asterisk-debuginfo packages available on your platform ?
- I am not 100% sure how `#1  0xb3949546 in sccp_reload () at chan_sccp.c:362` would be able to produce a segfault like this. When you are online and have a little time, would you be willing to come into https://gitter.im/chan-sccp/chan

[2021-07-16 10:26] TerAnYu commented on #571
@dkgroot, sorry, in Armbian 21.05.6 this ``asterisk-dbg`` or ``asterisk-debuginfo`` is missing :(
Yes, I am online now and can correspond to this address.

[2021-07-16 19:38] dkgroot commented on #571
Issue resolved:
chan_skinny.so was still loaded, causing chan_sccp.so to choke.

[2021-07-16 19:38] #571 closed, assigned to dkgroot

[2021-07-30 14:03] cww2697 opened #577 "Module Load Failed"
When loading the module in asterisk 16 the following error occurs:

loader.c:170 module_load_error: Error loading module 'chan_sccp.so': /usr/lib64/asterisk/modules/chan_sccp.so: undefined symbol: ast_manager_check_enabled

no errors occur during ./configure or make stage.

**Reproduction Steps:**

1. Install using v4.3.4
2. attempt to load module using "load module chan_sccp.so"

**chan-sccp vers

[2021-07-30 14:24] cww2697 commented on #577
Issue resolved after restart of server

[2021-07-30 14:24] #577 closed, assigned to nobody

[2021-07-30 18:20] dkgroot commented on #577
@cww2697 Thanks for closing the issue on your own. Good luck / Enjoy !

[2021-08-07 05:09] jeremyy294 opened #578 "Not enough calls to transfer"
Receiving "Not enough calls to transfer" when trying to use "DirTrfr" and not seeing "Transfer" when engaged in a call / hold.

**chan-sccp version: (include revision and/or branch if relevant)**
Using latest version from git

**asterisk version: (include revision and/or branch if relevant)**
Asterisk 16.19.0

**Expected behavior:**
Can transfer a call

**Observed behavior:**
No "Transfer" availab

[2021-08-14 08:42] dkgroot commented on #578
@jeremyy294
Is tranfer enabled for this phone ? `sccp show device XXXXX` should have `Can Transfer : on`. What is the `Softkeyset                                   ` set to for this phone ?
If you have an active call from 1234 to 2345 on SEPxxxxxx, which you have answered, you should see the 'Transfer' button on the phone as one of the softkeys. If you have changed the softkeyset then this button

[2021-08-14 08:46] jeremyy294 commented on #578
@dkgroot

Strangely, transfer is enabled and using default softkey set, but still cannot see Transfer when engaged in a call.

Can Transfer : on
Softkey support : yes
Softkeyset : default => default (0x33b05f0)

[2021-08-14 09:15] dkgroot commented on #578
Ooh that is strange.
Can you set `sccp debug core, action, device, line, channel, pbx, softkey, indicate` in the CLI  and perform one of these calls ? Would like to see what is going on. What type of phone are we talking about btw?
Might be easier to deal with this via https://gitter.im/chan-sccp/chan-sccp so we can communicate directly

[2021-08-19 08:29] bknv opened #579 "Group Pickup does not always pick up the call"
I found strange behavior in work softkey group pickup.
I cannot pick up the call time to time. Link on video https://youtu.be/MDFFB1GJqAI
All calls maked from 2327 (SIP) to 2311 (SIP) and intercepted from 5578 (SCCP).

Problem with interception SCCP to SCCP i does not see, it only SIP to SCCP

I enabled  "sccp debug callinfo channel device"
[sucessful.txt](https://github.com/chan-sccp/chan-sccp/fi

[2021-09-12 23:37] EvilBox opened #580 "Devices not registered"
Hi all, i installed clean FreeBPX 15 (SangomaOS) and Asterisk 16.20.0
Build chan-sccp (4.3.4 develop - b0b3cdb) and install Sccp Manager V.14.0.0.2

First
/etc/asterisk/extconfig.conf on freepbx must not be changed. Because it is overwritten.
Consequently, the advice from here is harmful - https://github.com/chan-sccp/chan-sccp/wiki/Realtime-Configuration
My extconfig.conf looks like this:
[code]

[2021-09-13 14:00] EvilBox commented on #580
Updating Sccp Manager to the latest branch, solved the problems

[2021-09-13 14:00] #580 closed, assigned to nobody

[2021-09-28 07:11] cagriaksu opened #581 "7975 + 7916 BLF not all buttons are working"
On SCCP Phone screen, a total of 31 buttons are shown and can be configured without any error thrown.

But only a total of 24 (excluding line button) is shown on devices.

Here is the output of SCCP SHOW DEVICE:

--- SCCP channel driver device settings ----------------------------------------------------------------------------------
MAC-Address                                    : SEPD0D0FDD5F1F0

[2021-09-28 08:37] #581 closed, assigned to nobody

[2021-09-28 08:38] cagriaksu commented on #581
For all who are experiencing this issue, this was caused by the firmware of 7916. I fixed the xml file and let the 7916 pull the correct SBN file, and now everything works as designed.

[2021-09-29 06:33] cagriaksu opened #582 "Call Transfer Issue"
Hello,

When I try to transfer a call by pressing the transfer soft button "Key is Not Active" is displayed on the screen.

I tried re-compiling from source with --enabled-advaned-functions, but to avail, still getting the same result on both a 7962 and 7975.

[2021-10-19 12:00] astifr opened #583 "Unable to register first SCCP phone"
Hi all, I'm testing chan_sccp with a fresh install FreePBX. I follow the guide from https://github.com/chan-sccp/chan-sccp/wiki/FreePBX and I think that I have my system properly configured.
I have one Cisco phone 7965 configured under SCCP Connectivity -> Phone Manager -> SCCP Phone
But I think that i'm missing something because I can see an error under fail2ban log,
[2021-10-19 11:41:50] NOTICE[

[2021-11-18 20:22] luna-xenia opened #585 "Assigning a line to a phone doesn’t work"
When the phone registers with chan SCCP (on FreePBX), the phone (Cisco 7962G) doesn’t seem to receive any lines or proper button layouts. On SCCP manager, the line doesn’t show up in the line column and my phone only has the buttons redial, new call and more.

**Reproduction Steps:**

1. Install chan-SCCP and SCCP manager
2. First attempt to register phones fail as the database doesn’t have anythi

[2021-11-18 21:30] luna-xenia commented on #585
I fixed this by reinstalling SCCP manager through FreePBX. Don't know why it didn't work before but it works now.

[2021-11-18 21:30] #585 closed, assigned to nobody

[2021-11-18 22:09] luna-xenia opened #586 "Keyset layouts don't work"
I have setup 2 Cisco 7962G phones and they keyset layouts don't seem to be applied. On hook, all I see is redial, new call and more. There is now call forward and the more button only shows things like private calling.

**Reproduction Steps:**

1. Connect Cisco phones
2. Register phones

**chan-sccp version:** SCCP manager 14.2.0.11, installed only a few hours ago

**asterisk version:** 16.2, FPBX

[2021-11-18 22:15] #586 closed, assigned to nobody

[2021-11-18 22:15] luna-xenia commented on #586
I am stupid once again, didn't select the correct things in the actual phone settings

[2021-11-21 09:36] dkgroot commented on #585
@slipdip123 This was an sccp_manager issue and should ought to be reported on it's issue list, otherwise it might not receive much attention, sorry for responding a little late. Congrats on getting it working and good luck.

[2021-11-21 09:40] dkgroot commented on #586
Happy to see, some people can manage nice issue reports and still fend for themselves and close the ticket on the next day ;-)

For future reference, use: https://github.com/chan-sccp/sccp_manager/issues to report FreePBX + sccp_manager issues. So that the team can pick them up quicker. Also for quick questions you might wanna try out the [gitter](https://gitter.im/sccp_manager/community) chat.

[2021-11-25 23:06] waffle-stomper commented on #583
@astifr

**Edit: I managed to solve the 'Rejecting device: Device Unkown' error by doing the following:**

Adding this to /etc/asterisk/extconfig_custom.conf:

[code]

Adding this to /etc/asterisk/res_config_mysql.conf (note that I also created this DB user and granted it full permissions for the asterisk db):

[code]

~~I'm having the same issue with a Cisco 7962G running the cmterm-7942_7962-scc

[2021-11-27 10:41] dkgroot commented on #583
@astifr @waffle-stomper
It sounds like you might be using and older version of sccp_manager. You ought to be clone https://github.com/chan-sccp/sccp_manager or download it's latest release from https://github.com/chan-sccp/sccp_manager/releases/tag/v14.2.0.3. This newer version should automatically check and setup realtime for you and would make the same changes described by @waffle-stomper . The

[2021-11-28 05:04] waffle-stomper commented on #583
@dkgroot

Thanks for the quick response, and for all of your hard work on this project.

I think you're right - I was using Legacy-v2.tar.gz which was recommended on this page in the wiki: https://github.com/chan-sccp/chan-sccp/wiki/FreePBX_SCCP-modules

I considered v14.x but I read that it would require upgrading PHP to v7 and I was worried that might break my FreePBX install.

[2021-11-28 08:50] dkgroot commented on #583
@waffle-stomper Yes the php update/upgrade is a requirement, but if you don't already have it, i would assume your FreePBX install is in need of a little update as well. If you are running on a VM, you should be able do a bulkexport on your current install, start a new installation with updated OS and FreePBX and then proceed to use bulkimport to get everything back up and running.

Note: I am not

[2021-11-28 09:23] steve-lad commented on #583
FreePbx 16 is now GA, and there is an upgrade tool from 15, so the best path is to upgrade FreePbx, and then install 14.3. That will resolve any issues with the flat file configuration.

@astifr Normally you do not need a new db user - just use the freepbx user. 14.3 will take care of this

[2021-11-28 09:25] dkgroot commented on #583
@steve-lad Thanks for your guidance !
@astifr If you are running on/in a VM, it's always wise to snapshot or clone before making modifications, just so you have something to fall back on. Backup's are a good thing :-)

[2021-11-29 06:02] waffle-stomper opened #587 "Wiki contains redundant page(s) about Realtime Configuration"
The wiki contains two very similar pages, both of which might be unnecessary now that SCCP Manager takes care of the Realtime DB setup:

https://github.com/chan-sccp/chan-sccp/wiki/Realtime-Configuration

https://github.com/chan-sccp/chan-sccp/wiki/using-realtime-database

[2021-11-29 15:56] astifr commented on #583
Thank you all for your support. I´ll try as soon as possible.

[2021-11-29 15:56] #583 closed, assigned to PhantomVl, steve-lad

[2021-11-30 15:16] choanhemnhe opened #588 "Resume a call take to Asterisk crashing"
Hello,
I caught the following problem in current SCCP driver. (SCCP 4.3.4 develop - 52ed8b2)

Here is the story.
If you are on the phone with the first call, then the second call coming. You answer the second call, the first call be putted on hold. Now you finished the second call, then Resume the first call. At this moment the Asterisk will crash. This will occur for the CISCO 7940 only.

Follow

[2021-12-05 15:24] smlrrlms opened #589 "Binary repo for Raspbian 11"
Please create a binary repo for Raspbian 11

[2021-12-05 15:39] #589 closed, assigned to nobody

[2022-01-08 21:47] BrunoVicious opened #590 "Unable to turn on EarlyRTP"
I am unable to turn on EarlyRTP even when it's configured in the sccp.config.

SEP64168D5028C1: (getEmptyChannel) on line:101, maybe_c:
    -- SEP64168D5028C1: Getting the active channel on device.
    -- SEP64168D5028C1: No active channel on device.
    -- SEP64168D5028C1: Set the active channel 1 on device
    -- SCCP/101-00000001: (setEarlyRTP) OFF
    -- 13: New channel number: 1 on line 101

[2022-01-10 15:21] samam9911 commented on #568
I am in same situation where the phone is going into loop mostly stuck at configuring IP. DHCP server shows and IP assigned and the tftp server shows: Jan 10 10:17:10 freepbx.sangoma.local in.tftpd[25712]: RRQ from 192.168.20.129 filename SEP001646CB4791.cnf.xml
but still unable to connect to the server. Would you please elaborate on what changes you made to tftpd to get it to work? Thanks!

[2022-01-29 08:49] dkgroot commented on #587
@waffle-stomper
- sccp_manager users should be made aware that they should not do any of this (maybe at the top of the page), as sccp_manager will take care of this
- Would you be able and willing to merge these two pages into one (picking the best information from the two) ? Most of the time users are must better at writing helpfull wiki pages then developers are
- After that would have to do a q

[2022-01-29 08:54] dkgroot commented on #588
@choanhemnhe Sorry it took so long to get to your issue ticket. My new job has been taking it's toll. Interesting issue, which i have not run into before.
Can you still reproduce this issue, if so could you provide [a backtrace](https://github.com/chan-sccp/chan-sccp/wiki/Reporting-Bugs) of the crash and a bit of debug log from the console (with 'sccp debug core, channel, indicate, pbx' set, befor

[2022-01-29 09:05] dkgroot commented on #590
@BrunoVicious
- In the log above, the message "-- SCCP/101-00000001: (setEarlyRTP) OFF" is a little disconcerting, and i am wondering where this is coming from.
- Getting earlyrtp to work on outbound calls has proven to be a little tricky in the past, it requires carefull cooperation between all channels on the path (phone, sccp, pbx, sip/pjsip, provider, endpoint)
- Are you using chan-pjsip or ch

[2022-01-29 09:19] dkgroot commented on #579
@bknv
Sorry it took me a while to get to this ticket, new job has been quite demanding. From the problem.txt it looks like the call is picked up, and the previous partner is hungup on. But no new mediapath can be established between the parties. I will be back in NL in a couple of weeks and should be able to re-test/check this. So the issue only happens with:
- SIP(calling)-> SCCP(ringing) <- SCCP

[2022-01-31 06:13] bknv commented on #579
@dkgroot Hello.
Only SCCP(calling)-> SIP(ringing) <- SCCP(gpickup).. Stealing a call from an SIP phone and connecting to SCCP phone

[2022-02-05 00:20] waffle-stomper commented on #587
- Both pages merged into https://github.com/chan-sccp/chan-sccp/wiki/Realtime-Configuration
- Note added to the top of the page to warn new users
- Links updated

[2022-02-05 00:20] #587 closed, assigned to waffle-stomper

[2022-02-10 14:03] Raikko opened #591 "SPA514 SCCP interrupted calls by re-registrations"
Some of Cisco SPA514G phones have problems with SCCP registrations. They are re-registering 4x per hour, once per minute. It iterrupts calls. This only happens if PC is connected to PC port.

**Reproduction Steps:**

1. Configure switch with CDP enabled, port in trunk mode, native access vlan for data and voice vlan for phone
2. Configure provisioning for phone
3. Configure sccp device and line in

[2022-02-10 14:05] Raikko commented on #591
This issue seems be related to issue #517

[2022-02-24 06:11] dkgroot commented on #587
@waffle-stomper Thank you very much !

[2022-02-25 15:47] stergios1 opened #592 "Error cannot compile chan-sccp-b under Asterisk 18"
issuing make command returns with an error

**Reproduction Steps:**

1. git clone https://github.com/chan-sccp/chan-sccp.git chan-sccp
2. cd chan-sccp
3. ./configure --enable-debug --enable-conference --disable-optimization

**chan-sccp version:** 4.3.5

**asterisk version:** 18.10.0

**Expected behavior:**

make should be able to finish and compile the source code

**Observed behavior:**

  CC

[2022-02-26 20:53] dkgroot commented on #592
@stergios1
The reason is faulty version detection by the current configure script when asterisk-19 support was added. I will try to resolve this tomorrow (might have to undo the asterisk-19 support for the time being).

[2022-03-02 08:12] beom80 commented on #578
I am having a very similar issue. It was working under an older version of Asterisk and chan-sccp (I can't recall the versions) and I updated to Asterisk 16.21.1 and chan-sccp 4.3.5 r433 and SCCP-Manager 14.3.0.13

I get the transfer button showing with either an active call or the call is on hold but when pressed it says 'Key Is Not Active' and DirTrfr shows the same 'not enough calls to transfer

[2022-03-09 08:52] Zw1d commented on #554
I started creating a new issue, but found this one, let me get this in here:
Hello everyone (and Diederik!)
I have recently updated SCCP from 33da09010fa8b9f139fa302df5ac7776a297b0d7 to c1533a6b5ab5aa77fd55f432884a56d1c9601588 (quite a gap - ~2 years), because I was getting some dropped calls. That issue seems to be resolved, however just found out a new, serious one.
I have been using a custom ex

[2022-03-14 15:35] Blancandrin opened #594 "No ringout sound when calling outside"
[Short description of problem here]

When I use a Cisco 7970 ip phone to make an outside call, there is no ringout sound when the outside phone is ringing. When the call is answered, everything works fine.

**Reproduction Steps:**

I just need to make a call outside of my Asterisk server with one of my Cisco 7970 phone to reproduce this issue. I can't hear anything when the outside phone is rignin

[2022-03-26 19:11] rjaiswal commented on #592
@dkgroot  Trying to install on asterisk 18.8.0.  Also getting same error.  any update?

[2022-03-29 13:15] zskadar commented on #592
@dkgroot Trying to install on asterisk 16.8.Cert13. Also getting same error. Is there any news about this issue?

[2022-04-01 07:09] subware opened #595 "error while compiling chan-sccp with asterisk-19.3"
compile-error "sccp_mwi.c: In function ‘pbxMailboxSubscribe’:
pbx_impl/ast/define.h:237:38: error: implicit declaration of function ‘ast_mwi_subscribe_pool’; did you mean ‘pbx_mwi_subscribe_pool’? [-Werror=implicit-function-declaration]
  237 | #define pbx_mwi_subscribe_pool       ast_mwi_subscribe_pool

**Reproduction Steps:**

1. git clone actual version chan-sccp
2. according to manual:
3.  ./c

[2022-04-09 11:21] jeremyy294 commented on #592
Also experiencing same error when compiling on Asterisk 16.25.1

[2022-05-10 18:48] #594 closed, assigned to nobody

[2022-05-17 08:43] mfmkhatri commented on #594
Were you able to solve this issue? I am facing the same issue. I have spent several days trying different configurations, but I still haven't been able to solve this issue.

[2022-06-06 09:14] sagaciouszu commented on #595
Also encountering this error on IncrediblePBX 2021/Asterisk 19 on armhf/Pi4.

[code]

----

[code]

[2022-06-06 10:29] sagaciouszu commented on #595
Dove into the closed issues and found the answer. #576

[code]

From your /usr/src/asterisk-x.x.x/ before a `make`.

[2022-06-20 15:22] P110 commented on #592
Still experiencing this issue when compiling for Asterisk 16.1.1 - is there any word on this? Thank you

[2022-06-20 20:35] P110 commented on #592
It's an issue with Asterisk 19.X version checking introduced in chan-sccp v4.3.5, a workaround in the meantime is to use chan-sccp v4.3.4 (https://github.com/chan-sccp/chan-sccp/releases/tag/v4.3.4)

Can't use the latest dev branch but should hopefully get you up and running, thank you @dkgroot & contributors this is really cool functionality <3

[2022-08-20 00:08] bfranske opened #596 "Missing binaries for Asterisk 16/Debian 10/amd64"
It seems like there are no files in the Debain10/Asterisk/16/amd64 folder: https://download.opensuse.org/repositories/home:/chan-sccp-b:/asterisk-16/Debian_10/amd64/

Thanks!

[2022-11-17 01:22] coobic commented on #592
Also experiencing same error when compiling on Asterisk 16.27.
We was temporarily changed the line 25805 in configure from:
`
$EGREP "8.0.0" >/dev/null 2>&1; then :
`
to
`
$EGREP "181.0.0" >/dev/null 2>&1; then :
`

for skip Asterisk 19 version checks.

This is not a solution, but a crutch. If you really want to, you can temporarily use it for compile the project.